body
{
  background: url("images/bg.gif");
}
.memory
{
  overflow: auto;
}
h1, a
{
  font-family: verdana;
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.start
{
  font-family: verdana;
  font-size: 11px;
  color: #fff;
}
.picture
{
  width: 90px; height: 90px;
  margin: 0 5px 5px 0;
  float: left;
  overflow: hidden;
  background-repeat: no-repeat;
  border: solid #263C40 1px;
}
.memory-collapsed .picture
{
  margin-left: -90px;
}
.memory-expanded .start
{
  margin-left: -40px;
}
.picture-1 { background-image: url("images/1.jpg"); }
.picture-2 { background-image: url("images/2.jpg"); }
.picture-3 { background-image: url("images/3.jpg"); }
.picture-4 { background-image: url("images/4.jpg"); }
.picture-5 { background-image: url("images/5.jpg"); }
.picture-6 { background-image: url("images/6.jpg"); }
.picture-7 { background-image: url("images/7.jpg"); }
.picture-8 { background-image: url("images/8.jpg"); }
.picture-9 { background-image: url("images/9.jpg"); }
.picture-10 { background-image: url("images/10.jpg"); }
.picture-11 { background-image: url("images/11.jpg"); }
.picture-12 { background-image: url("images/12.jpg"); }
.picture-13 { background-image: url("images/13.jpg"); }
.picture-14 { background-image: url("images/14.jpg"); }
.picture-15 { background-image: url("images/15.jpg"); }
.picture-16 { background-image: url("images/16.jpg"); }
.picture-17 { background-image: url("images/17.jpg"); }
.picture-18 { background-image: url("images/18.jpg"); }
.picture-19 { background-image: url("images/19.jpg"); }
.picture-20 { background-image: url("images/20.jpg"); }
.picture-21 { background-image: url("images/21.jpg"); }
.picture-22 { background-image: url("images/22.jpg"); }
.picture-23 { background-image: url("images/23.jpg"); }
.picture-24 { background-image: url("images/24.jpg"); }
.picture-25 { background-image: url("images/25.jpg"); }
.picture-hidden 
{ 
  background-image: url("images/hidden.png");
  cursor: pointer;
}