@import "../../../styles/0_variables.styl"

#bg-video
  position fixed
  top 0
  left 0
  min-width 100vw
  min-height 100vh
  width auto
  height auto
  z-index -100
  background-size cover
  background-color #222

  video
    max-width 100%

#bg-video-grid
  position fixed
  top 0
  left 0
  min-width 100vw
  min-height 100vh
  width auto
  height auto
  z-index -100
  background url(assetsUrl + "/images/videogrid.png")
  background-size 5px
