video
  position fixed
  top 50%
  left 50%
  min-width 100%
  min-height 100%
  width auto
  height auto
  z-index -100
  transform translateX(-50%) translateY(-50%)
  background url('/images/9292.jpg') no-repeat
  background-size cover


#glasspane
  position fixed
  top 50%
  left 50%
  min-width 100%
  min-height 100%
  width auto
  height auto
  z-index -99
  transform translateX(-50%) translateY(-50%)
  background rgba(0,0,0,0.5)
  background url('/images/gridder-s.png')
