#bgvid
  position fixed
  top 0
  left 0
  min-width 100%
  min-height 100%
  width auto
  height auto
  z-index -100
  transform translateX(-50%) translateY(-50%)
  background url('/images/9292.jpg')
  -webkit-filter brightness(40%)
  filter brightness(40%)
  background-size cover


#glasspane
  position fixed
  top 0
  min-width 100%
  min-height 100%
  width auto
  height auto
  z-index -99
  background-size 4px
