@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Onze gereedschapskist";
}
<section>
<section>
  <header class="block-text">
    <h1>Onze <b>gereedschapskist</b></h1>
  </header>

  <article class="block-large">
    <div class="bigText introText">
      <p>Muzikanten vermelden altijd op hun website welke instrumenten zij gebruiken. Niet dat wij ons rocksterren wanen (niet hardop tenminste), maar we geloven graag dat het voor sommige mensen (potenti&euml;le Q-ers, potenti&euml;le klanten, concullega's, ...) interessant kan zijn welke tools Q42 gebruikt. Onder andere. Want deze lijst is verre van compleet. En we zijn sowieso niet vies van nieuw spul ontdekken.</p>
    </div>
    <div class="block-small subcontent">
      <h2>Technieken</h2>
      <p><i>Ja maar, Q, vertel eens, welke technieken gebruiken jullie?</i></p>
      <p>Van alles. Wat het beste bij de klus past. Dat is vaak ASP.NET, C#, JavaScript, HTML5, CSS3. En vaak Objective-C. Ook vaak Google App Engine, Play, Java. Maar ook Scala, Python, Coffeescript, MSSQL, MySQL, NoSQL, Hibernate, Castle Windsor, jQuery, WebGL en meer. Zoals ik al zei, van alles.</p>
    </div>
  </article>

  <section>
    <section class="block-large">
      <article class="block-small">
        <figure>
          <a class="visual caption">
            <img src="/Static/Images/google-apps.png" alt="Google Drive"/>
            <p>Alles in de cloud zodat je niks meer kunt vinden!</p>
          </a>
          <figcaption class="body">
            <h2>Google Apps</h2>
            <h3>Al onze mail, afspraken en documenten in de cloud.</h3>
            <p>Ooit in een ver verleden gebruikten we Microsoft Outlook. Maar die tijd hebben we uit onze geheugens gewist, want met Google Apps kijk je gewoon niet meer terug!</p>
          </figcaption>
        </figure>
      </article>
      <article class="block-small">
        <figure>
          <a class="visual caption">
            <img src="/Static/Images/github.png" alt="Git"/>
            <p>Iets met branches en mergen en conflicten enzo</p>
          </a>
          <figcaption class="body">
            <h2>Git &amp; Github</h2>
            <h3>Version management voor echte professionals</h3>
            <p>"Ik werk in index.html, allemaal afblijven!" en "Ik mail je zo een nieuwe zip!" kunnen al jaren niet meer. Een tijdje ging het met SVN nog goed, maar nu is Github het hippe, moderne ding. Dus dan maar die. Kijk maar: <a href="http://github.com/q42">Q42 op Github</a>, het is zelfs een mooi excuus om al onze open-source spullen op &eacute;&eacute;n plek te bewaren!</p>
          </figcaption>
        </figure>
      </article>
      <article class="block-small">
        <figure>
          <a class="visual caption">
            <img src="/Static/Images/ide.png" alt="IDE"/>
            <p>De beste IDE's zijn het minst IDE-ig</p>
          </a>
          <figcaption class="body">
            <h2>Visual Studio, Sublime Text, Xcode en Handcraft</h2>
            <h3>Onze favoriete editors. En soms gebruiken we ook Eclipse.</h3>
            <p>Je moet ergens je code in typen en tegenwoordig zijn er gelukkig meer dan genoeg fijne editors om uit te kiezen. <a href="/producten">Onze eigen Handcraft</a> voor de snelle HTML prototype/mini-site, XCode voor al je iOS projecten, Visual Studio voor als het met .NET moet, en Sublime Text voor everything else.</p>
            <p>Behalve als het Java is. Dan moet je weer Eclipse induiken. En dat wil eigenlijk niemand.</p>
          </figcaption>
        </figure>
      </article>
    </section>
  </section>

  <section>
    <section class="block-large">
      <article class="block-small">
        <figure>
          <a class="visual caption">
            <img src="/Static/Images/continuous-integration.jpg" alt="Hey girl, I wish you'd check in so we could continuously integrate"/>
            <p>Continuous integration is de bom!</p>
          </a>
          <figcaption class="body">
            <h2>Teamcity</h2>
            <h3>Want je kunt niet zonder continuous integration</h3>
            <p>Mark is onze Teamcity-koning en je krijgt eigenlijk geen project live zonder dat het eerst in Teamcity staat. En dan natuurlijk met je kop op het scherm in de tuin als je de build gebroken hebt. Hoort erbij.</p>
          </figcaption>
        </figure>
      </article>
      <article class="block-small">
        <figure>
          <a class="visual caption">
            <img src="/Static/Images/orchard.jpg" alt="Orchard" />
            <p>Gezocht: junior content systeem manager. NOT!</p>
          </a>
          <figcaption class="body">
            <h2>N2 &amp; Orchard</h2>
            <h3>Fijne CMS-en. En nog gratis ook.</h3>
            <p>Soms moet je content managen. Niet zoals nerds dat doen (gewoon lekker HTML'en), maar verantwoordelijker. Met regeltjes en workflows enzo. Daar gebruik je dan een CMS voor. Maar wel eentje waar wij zelf achter staan. N2 en Orchard zijn zulke CMS'en. En daar hebben we best lang voor moeten zoeken, hoor!</p>
          </figcaption>
        </figure>
      </article>
      <article class="block-small">
        <figure>
          <a class="visual caption">
            <img src="/Static/Images/thequre.png" alt="The Qure" />
            <p>Heeft Kars in een weekend geknutseld. Goed he?</p>
          </a>
          <figcaption class="body">
            <h2>The Qure</h2>
            <h3>Ons zelfgemaakte, lekker simpele urenregistratie- en planningssysteem.</h3>
            <p>Omdat we ook graag betaald worden voor al het toffe werk dat we doen, moeten we onze uren bijhouden en verantwoorden. Maar de meeste tools hiervoor zijn niet echt happy-nerd-makend. Dus we hebben er zelf eentje gebouwd. Dat is The Qure en die heeft een hele belangrijke missie: zorgen dat een programmeur er zo weinig mogelijk tijd aan moet besteden om zijn of haar uren in te vullen.</p>
          </figcaption>
        </figure>
      </article>
    </section>
  </section>

  <section>
    <section class="block-large">
      <article class="block-small">
        <figure>
          <a class="visual caption">
            <img src="/Static/Images/trello.png" alt="Trello" />
            <p>Dat hondje is zo schattig...</p>
          </a>
          <figcaption class="body">
            <h2>Trello, Fogbugz &amp; Assembla</h2>
            <h3>Maar eigenlijk voornamelijk Trello</h3>
            <p>Onze bugtrackers en whiteboard-tools. Voor Trello uitkwam was het nog zoeken naar een tool die ons echt blij maakte. Maar Trello is het eigenlijk helemaal. Nu nog van die andere af! ;-)</p>
          </figcaption>
        </figure>
      </article>
      <article class="block-small">
        <figure>
          <a class="visual caption">
            <img src="/Static/Images/dropbox.jpg" alt="Dropbox" />
            <p>Martin serveert er zelfs websites mee!</p>
          </a>
          <figcaption class="body">
            <h2>Dropbox</h2>
            <h3>Prachtig voorbeeld van hoe je iets complex zo simpel kan maken dat je er niet meer over nadenkt.</h3>
            <p>Bijna Dropbox vergeten! En oh wat is Dropbox handig. Spaceventure werd bijna helemaal met Dropbox gemaakt. Als we samenwerken met Fabrique is er een gedeelde map met Fireworks bestanden. Vraag Martin maar eens over Dropbox, hij is hun grootste fan.</p>
          </figcaption>
        </figure>
      </article>
      <article class="block-small">
        <figure>
          <a class="visual caption">
            <img src="/Static/Images/basecamp.png" alt="Basecamp" />
            <p>Je moet toch iets van 37signals gebruiken</p>
          </a>
          <figcaption class="body">
            <h2>Basecamp</h2>
            <h3>Ongeslagen goed voor projectcommunicatie</h3>
            <p>Basecamp gebruiken we al langer, maar vooral nu de vernieuwde versie beschikbaar is merken we dat we er weer mee aan de slag zijn gegaan. Handig om een Flyby conference te organiseren, of een Stephen Anderson workshop. Minder handig voor software ontwikkeling, maar daar heb je dan weer Trello voor tegenwoordig.</p>
          </figcaption>
        </figure>
      </article>
    </section>
  </section>
  
  <article id="theBeginning">
    <article class="block-large">
      <div class="bigText">
        <h2>En ook...</h2>
        <h3>Jungle Disk</h3>
        <p>Zodat wij ons niet druk hoeven te maken om backuppen.</p>
        <h3>LastPass</h3>
        <p>Veilig wachtwoorden opslaan en met elkaar delen.</p>
        <h3>Exact Online</h3>
        <p>Yup, zelfs boekhouden doen we online.</p>
      </div>
    </article>
  </article>
</section>
</section>