@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Ons systeembeheersysteem";
}
<section>
<section>
<header class="block-text">
      <h1>Ons <b>systeembeheersysteem</b></h1>
    </header>
    
    <article id="theBeginning">
      <article class="block-large">
        <div class="bigText">
          <p>Q42 heeft geen systeembeheerders. Q42 heeft een systeem. Wij geloven dat dit beter werkt voor een technische club als wij. Maar het zou ook heel goed bij andere bedrijven kunnen werken.</p>
          <p>Q42 bestaat louter uit programmeurs. Op een aantal uitzonderingen die de regel bevestigen na natuurlijk. Wij vinden dat bij een technisch internetbureau als Q42 programmeervaardigheden onmisbaar zijn voor projectleiders. Wij hebben dus alleen technische projectleiders. Hetzelfde geldt voor interaction designers. Wij hebben dus alleen interaction engineers. Uitzonderingen zijn onze office manager en algemeen directeur. Die functies zijn ook lang door programmeurs vervuld, maar uiteindelijk kwamen zij toch minder aan programmeren toe dan ze lief was. Q wordt groot.</p>
          <p>Dat merkten we ook aan de last die systeembeheer begon te worden.</p>
          <p>Toen Q42 nog klein was hebben hebben een paar programmeurs uit interesse en noodzaak systeembeheertaken op zich genomen. Inmiddels was dat een stuk meer werk dan ze naast hun programmeerwerk aankonden en het waren altijd dezelfden die weer de pineut waren. Hadden we nu een echte systeembeheerder nodig? Zo’n tiran die alles dichtspijkert zodat hij bij ieder simpel verzoekje overdreven kan genieten van zijn machtsmisbruik?</p>
          <p>Nee. We hadden een systeem nodig. En omdat systeembeheersysteem niet lekker bekt, noemen we het Technical Operations, of TechOps. Bij het opzetten dan dit systeem gingen we van het volgende uit:</p>
          <ul>
            <li>Het is geen rotwerk, tenzij het te ad hoc of teveel wordt.</li>
            <li>De kennis is in huis, maar moet beter verspreid worden.</li>
            <li>Niemand kan beter programmeurs ondersteunen en hun wensen begrijpen dan een programmeur.</li>
            <li>Q’ers moeten te allen tijde ergens terecht kunnen met hun vragen en binnen redelijke tijd geholpen worden.</li>
          </ul>
          <h2>Het systeem</h2>
          <p>Wat valt onder Technical Operations? Vanalles. Denk aan beheer van servers, netwerk, security, accounts, bugtrackers, Google Apps, onze time tracking en planningstool, subversion, software, licenties, hardware, installeren van werkplekken, de internetverbinding, WiFi, de telefooncentrale, backups, het alarmsysteem, et cetera.</p>
          <p>Dat is inderdaad veel. Wie gaan dat allemaal doen dan? Wij allemaal. Ja, iedereen, ja. Maar Q’ers hoeven zich geen zorgen te maken, ze zullen niet zomaar een klusje op hun bordje geschoven krijgen als ze er geen tijd voor hebben of niets van het onderwerp weten. In overleg zal het echter zo nu en dan voorkomen dat een Q’er een TechOps klusje krijgt, of een vraag kan beantwoorden. TechOps werk wordt vooral in tweetallen gedaan. Dat is leuker en zorgt automatisch voor kennisspreiding.</p>
          <p>Er zijn een aantal geïnteresseerde programmeurs die vaker dan anderen TechOps werk doen. Dit zijn nog steeds geen systeembeheerders en ook geen support medewerkers. Eigenlijk hebben we geen naam voor ze, maar in de wandelgangen worden ze de TechOps Helden genoemd.</p>
          <p>Het is echter niet de bedoeling dat deze mensen lastig gevallen worden met ad hoc vragen en verzoekjes. Ze hebben het druk genoeg. Hoe krijgt een Q’er dan wel een TechOps vraag of verzoek voor elkaar? Met behulp van een online ticketsysteem. Iedereen kan een ticket met een vraag of verzoek inschieten.</p>
          <p>Eén persoon neemt de werkverdeling en aansturing op zich. Twee keer per week loopt hij door de nieuwe en oude tickets, en filtert en prioriteert de lijst. Van de TechOps Helden hebben er iedere week twee tijd ingepland om een ochtend of middag samen de belangrijkste tickets op te pakken.</p>
          <p>Mocht een vraag of verzoek extreme haast hebben, dan is degene met haast negen van de tien keer een domoor: hij of zij had er eerder aan moeten denken. Is het toch echt nodig dat er direct iets gedaan wordt, dan kan diegene bij de werkverdeler terecht. Hij bepaalt wie dit het beste op kan pakken en let erop dat niet altijd dezelfden de pineut zijn.</p>
          <h2>En?</h2>
          <p>We draaien nu een paar jaar met dit systeem. En het werkt. Er was vooraf de nodige scepsis, maar zowel voor- als tegenstanders zijn blij verrast met hoe goed TechOps werkt. Q’ers voelen zich meer geholpen dan voorheen, er zijn vrijwel nooit vragen met meer haast, TechOps Helden vinden het heerlijk om ongeveer eens in de maand samen een middagje hieraan te besteden en verder niet lastiggevallen te worden, de samenwerking zorgt inderdaad voor kennisspreiding, maar ook betere oplossingen en maakt het veel leuker.</p>
          <p>Daar kan een systeembeheerder niet tegenop.</p>
        </div>
        <div class="block-small subcontent">
          <h2>Reactie van een systeembeheerder</h2>
          <p><i>Beetje zwart wit verhaal met vooroordelen? Systeembeheerders zijn geen tirannen maar servicegerichte mensen die denken aan stabiliteit voor de hele organisatie. Programeurs zijn toch ook niet per definitie autistisch of contact gestoorde nerds?</i></p>
          <p>Daar heb je natuurlijk helemaal gelijk in. Nou ken ik wel een aantal tirannieke systeembeheerders, maar ik scheer ze nu inderdaad allemaal over één kam. Excuus. Desalniettemin biedt het op deze manier inzetten van programmeurs voor systeembeheerwerkzaamheden voor ons veel voordelen ten opzichte van het in dienst nemen van een systeembeheerder. Een programmeur weet immers beter wat programmeurs willen. Na het schrijven van dit artikel kwam ik er overigens achter dat Facebook om die reden voor vrijwel al hun functies programmeurs aanneemt, grappig.</p>
          <p>Maar ik zal niet meer zo lelijk doen over systeembeheerders. Aan de andere kant zijn wij allemaal best wel nerds, hoor. ;-)</p>
          <p><i>Je hebt zojuist een hele afdeling systeembeheer opgevrolijkt :-)</i></p>
        </div>
      </article>
    </article>
</section>
</section>