@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "w00tcamp";
}
<section>
<section>
  <header class="block-text">
      <h1><b>w00tcamp</b>, twee dagen vol passie</h1>
    </header>
    
    <article>
      <article class="block-large">
        <div class="bigText introText">
          <p>Ieder jaar hebben we twee dagen lang <a href="http://w00tcamp.nl">w00tcamp</a>. Zo ook dit jaar.
            En daar zijn weer vreselijk veel leuke dingen bedacht en gebouwd. Op deze pagina hebben we ze voor je tentoongesteld.
            En misschien kom je ze binnenkort nog wel eens tegen als echt spel of product!</p>
        </div>
        <div class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
            <li><a class="external" href="http://w00tcamp.nl">w00tcamp 2012 blog</a></li>
            <li><a class="external" href="http://w00tcamp2011.tumblr.com">w00tcamp 2011 blog</a></li>
          </ul>
        </div>
      </article>
    </article>
    

    <section id="catquest">
      <article class="block-large">
        <figure>
          <figcaption class="body">
            <h2>Huelands Spoor</h2>
            <h3>Vanaf Den Haag HS met de lampen van Q spelen</h3>
            <p>Winnaar van w00tcamp 2012! Philips Hue lampen die door ons hele pand hangen zijn bestuurbaar via een web interface of door een telefoonnummer te bellen. Probeer het zelf maar: 085 888 1942.</p>
            <p><a href="http://huelandsspoor.nl" class="external">Zet je de lichten naar je favoriete kleur?</a></p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/huelandsspoor.jpg" alt="Disqo-time!" />
              <p>Disqo-time!</p>
            </a>
          </div>
        </figure>
      </article>
    </section>
    
    <section>
      <section class="block-large">
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/cookview.jpg" alt=""/>
              <p>Rob that recipe, yarrr!</p>
            </a>
            <figcaption class="body">
              <h2>Recipe Pirate</h2>
              <h3>Rob that recipe, yarrr!</h3>
              <p>Jat een recept van een willekeurig receptensite en tover het om naar een leesbare, scanbare versie die je tijdens het koken kunt gebruiken.</p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/tixi.jpg" alt="Open de poorten met de juiste getallen"/>
              <p>Open de poorten met de juiste getallen</p>
            </a>
            <figcaption class="body">
              <h2>Tixi</h2>
              <h3>Word een meestrixi van getallixi met Tixi!</h3>
              <p>Leer op een leuke manier rekenen met deze web-based game waarin je als tovenaar muntdiertjes ("tixi's") verzamelt om puzzels op te lossen.</p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/skyroads.jpg" alt="Groene tegels boosten, rode ontploffen"/>
              <p>Groene tegels boosten, rode ontploffen</p>
            </a>
            <figcaption class="body">
              <h2>Skyroads</h2>
              <h3>Net zo verslavend als toen je 10 jaar oud was</h3>
              <p>Web-based remake van de original waarin je in een simpele 3d omgeving racet over kubussen die in de ruimte hangen. Met level editor!</p>
              <p><a href="http://skyroads.azurewebsites.net/">Nou okay, een leveltje dan!</a></p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>
    
    <section id="carrrds">
      <article class="block-large right">
        <figure>
          <figcaption class="body">
            <h2>Castle of Madness!</h2>
            <h3>Wil heel graag voor de Wii U worden gemaakt</h3>
            <p>Vier spelers banen zich een weg door een dungeon en één speler werkt ze tegen door de kasteel zelf te zijn en monsters, vallen, en magische effecten op de groep los te laten. Klinkt leuk, toch?</p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/castle-of-madness.jpg" alt="Ik pak z'n linker drie ogen, jij z'n rechter drie!" />
              <p>Ik pak z'n linker drie ogen, jij z'n rechter drie!</p>
            </a>
          </div>
        </figure>
      </article>
    </section>

    <section>
      <section class="block-large">
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/straightshot.jpg" alt="Waar is Christiaan mee bezig?"/>
              <p>Waar is Christiaan mee bezig?</p>
            </a>
            <figcaption class="body">
              <h2>Straightshot</h2>
              <h3>Superfast screenshot sharing</h3>
              <p>Makkelijk laten zien waar je aan werkt aan je collega's is niet zo makkelijk. Straightshot maakt het simpel door je ieder half uur te vragen een veeg over je beeldscherm te maken.</p>
              <p><a href="http://straightshot.meteor.com/" class="external">Installeer de app op je mac</a></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/touchtable.jpg" alt="Benodigd: beamer, tafel zaag, ..."/>
              <p>Benodigd: beamer, tafel zaag, ...</p>
            </a>
            <figcaption class="body">
              <h2>w00table</h2>
              <h3>Met de hand gemaakte Microsoft Surface kloon</h3>
              <p>Die originele Surface was helemaal niet zo indrukwekkend. Hadden we ook zelf kunnen bouwen met wat Ikea spullen, een beamer, een EyeToy, een PC en een spiegel!</p>
              <p><a href="https://vimeo.com/54355508" class="external">Zie de w00table in actie (Vimeo)</a></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/fuq42.jpg" alt="Try to cheat death!"/>
              <p>Try to cheat death!</p>
            </a>
            <figcaption class="body">
              <h2>FUQ42</h2>
              <h3>Een w00tcamp project zonder Q'ers!</h3>
              <p>Het doel: een spel maken zonder te programmeren. Want programmeren is overrated. Het resultaat: euhh... dat laten we aan jou over.</p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>

    <section id="sarien">
      <article class="block-large">
        <figure>
          <figcaption class="body">
            <h2>Tyrian</h2>
            <h3>Voor Windows Phone!</h3>
            <p>Hoever kom je als je twee Q'ers twee dagen lang aan een retro top-down shooter op Windows Phone laat werken in C#? Nou, zo ver dus.</p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/tyrian.jpg" alt="ikwillum ikwillum ikwillum!" />
              <p>ikwillum ikwillum ikwillum!</p>
            </a>
          </div>
        </figure>
      </article>
    </section>

    <section>
      <section class="block-large">
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/zien.jpg" alt="Wat als je deuteranomalie hebt?"/>
              <p>Wat als je deuteranomalie hebt?</p>
            </a>
            <figcaption class="body">
              <h2>Zien</h2>
              <h3>Inzicht in hoe mensen met visuele beperkingen zien</h3>
              <p>Heb je je ooit afgevraagd hoe de wereld eruit ziet voor iemand met staar? Of iemand die kleurenblind is? Met Zien kom je daarachter!</p>
              <p><a href="https://itunes.apple.com/nl/app/bartimeus-zien-app/id485627958?mt=8" class="external">Installeer de Zien iPhone app</a></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/carrrds.jpg" alt="Off to win l00t!"/>
              <p>Off to win l00t!</p>
            </a>
            <figcaption class="body">
              <h2>Carrrds</h2>
              <h3>Het kaartspel van Q42 Games, maar dan digitaal</h3>
              <p><a href="http://q42games.com/post/31456832291/designing-a-pirate-themed-card-game">Een kaartspel voor kinderen</a> over piraten, schatkaarten en muiterij! Kan niet misgaan.</p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/histree.jpg" alt="Waar was ik ookalweer?"/>
              <p>Waar was ik ookalweer?</p>
            </a>
            <figcaption class="body">
              <h2>Histree</h2>
              <h3>Gestructureerd navigeren door je browser history</h3>
              <p>Je browser history zou beter kunnen. Wat als je klikpaden zou hebben op basis van wanneer je bijv. een nieuw tab opent? Histree doet dat in de vorm van een Google Chrome extensie.</p>
              <p><a href="https://chrome.google.com/webstore/detail/histree/lngppkkhjifheiegfeloipgaeomjfgbf" class="external">Installeer de chrome extensie</a></p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>
    
      <section id="sarien">
      <article class="block-large">
        <figure>
          <figcaption class="body">
            <h2>Camperrr</h2>
            <h3>Diapresentaties 2.0</h3>
            <p>Terug van vakantie en je wilt enthousiast vertellen over al die mooie foto's die je gemaakt hebt, maar je kunt je niet herinneren wáár je ze nou gemaakt had.
              Argh! Met Camperrr heb je dat probleem nooit meer, want nu kun je je route vastleggen op een kaart en bij iedere locatie foto's uploaden. En dan de presentatie geven. Probleem opgelost!</p>
            <p><a href="http://www.camperrr.com" class="external">http://www.camperrr.com</a></p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/Static/Images/w00tcamp/camper.jpg" alt="Kijk mam, daar was ik!" />
              <p>Kijk mam, daar was ik!</p>
            </a>
          </div>
        </figure>
      </article>
    </section>


      <section>
        <section class="block-large">
          <article class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/Static/Images/w00tcamp/tinytravel.jpg" alt="Hoe wil jij je vakantie zoeken?"/>
                <p>Hoe wil jij je vakantie zoeken?</p>
              </a>
              <figcaption class="body">
                <h2>Tiny Travel</h2>
                <h3>Vakantiewebsites opnieuw uitgedacht</h3>
                <p>Vakantiewebsites zijn in het algemeen nogal achterhaald, dus dan is er natuurlijk alle ruimte om er opnieuw mee aan de slag te gaan. Tiny Travel is een concept van hoe dat dan zou kunnen.</p>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/Static/Images/w00tcamp/gipf.jpg" alt="Schaak mat! Uhhh verkeerde spel..."/>
                <p>Schaak mat! Uhhh verkeerde spel...</p>
              </a>
              <figcaption class="body">
                <h2>Gipf</h2>
                <h3>Een abstract strategisch bordspel</h3>
                <p>Iedere zichzelf-respecterende nerd zit bij eerste introductie aan Gipf natuurlijk meteen te denken aan de benodigde datastructuur en algoritmiek. En dan krijg je dit.</p>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/Static/Images/soundmatch.png" alt="Hey DJ, turn it up!"/>
                <p>Hey DJ, turn it up!<p>
              </a>
              <figcaption class="body">
                <h2>Soundmatch Spotify app</h2>
                <h3>Je Last.fm recommendations als playlist! Alweer!</h3>
                <p>Winnaar van w00tcamp 2009, Soundmatch, is terug voor de volgende ronde. Nu als Spotify app. En ja hoor, het is ze weer gelukt om er iets vets van te maken! Coming soon to a Spotify near you.</p>
              </figcaption>
            </figure>
          </article>
        </section>
      </section>



</section>
</section>