@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "w00tcamp";
}
<section>
<section>
  <header class="block-text">
      <h1><b>w00tcamp</b>, twee dagen vol passie</h1>
    </header>
    
    <article>
      <article class="block-large">
        <div class="bigText introText">
          <p></p>
        </div>
        <div class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
            <li><a class="external" href="http://w00tcamp.nl">w00tcamp 2012 blog</a></li>
            <li><a class="external" href="http://w00tcamp2011.tumblr.com">w00tcamp 2011 blog</a></li>
          </ul>
        </div>
      </article>
    </article>
    

    <section id="catquest">
      <article class="block-large">
        <figure>
          <figcaption class="body">
            <h2>Huelands Spoor</h2>
            <h3>Vanaf Den Haag HS met de lampen van Q spelen</h3>
            <p></p>
            <p><a href="http://huelandsspoor.nl" class="external">Probeer het zelf!</a></p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt="" />
              <p></p>
            </a>
          </div>
        </figure>
      </article>
    </section>
    
    <section>
      <section class="block-large">
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt=""/>
              <p></p>
            </a>
            <figcaption class="body">
              <h2>Recipe Pirate</h2>
              <h3>Rob that recipe, yarrr!</h3>
              <p></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt=""/>
              <p></p>
            </a>
            <figcaption class="body">
              <h2>Tixi</h2>
              <h3></h3>
              <p></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt=""/>
              <p></p>
            </a>
            <figcaption class="body">
              <h2>Skyroads</h2>
              <h3></h3>
              <p></p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>
    
    <section id="carrrds">
      <article class="block-large right">
        <figure>
          <figcaption class="body">
            <h2>Castle of Madness!</h2>
              <h3></h3>
              <p></p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt="" />
              <p></p>
            </a>
          </div>
        </figure>
      </article>
    </section>

    <section>
      <section class="block-large">
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt=""/>
              <p></p>
            </a>
            <figcaption class="body">
              <h2>Straightshot</h2>
              <h3></h3>
              <p></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt=""/>
              <p>Het meest technische project. Van Fabriquers!</p>
            </a>
            <figcaption class="body">
              <h2>w00table</h2>
              <h3></h3>
              <p></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt=""/>
              <p></p>
            </a>
            <figcaption class="body">
              <h2>FUQ42</h2>
              <h3></h3>
              <p></p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>

    <section id="sarien">
      <article class="block-large">
        <figure>
          <figcaption class="body">
            <h2>Tyrian</h2>
              <h3></h3>
              <p></p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt="" />
              <p></p>
            </a>
          </div>
        </figure>
      </article>
    </section>

    <section>
      <section class="block-large">
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt=""/>
              <p></p>
            </a>
            <figcaption class="body">
              <h2>Kleurenblind</h2>
              <h3></h3>
              <p></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt=""/>
              <p></p>
            </a>
            <figcaption class="body">
              <h2>Carrrds</h2>
              <h3></h3>
              <p></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt=""/>
              <p></p>
            </a>
            <figcaption class="body">
              <h2>Histree</h2>
              <h3></h3>
              <p></p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>
    
      <section id="sarien">
      <article class="block-large">
        <figure>
          <figcaption class="body">
            <h2>Camperr</h2>
              <h3></h3>
              <p></p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/Static/Images/outnumbered-q.png" alt="" />
              <p></p>
            </a>
          </div>
        </figure>
      </article>
    </section>


      <section>
        <section class="block-large">
          <article class="block-small">
            <figure>
              <a class="visual caption" href="http://www.youtube.com/watch?v=72HEef9XZdA">
                <img src="/Static/Images/outnumbered-q.png" alt=""/>
                <p></p>
              </a>
              <figcaption class="body">
                <h2>Tiny Travel</h2>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption" href="http://www.youtube.com/watch?v=ecXrdlW-t5A">
                <img src="/Static/Images/outnumbered-q.png" alt=""/>
                <p></p>
              </a>
              <figcaption class="body">
                <h2>Gipf</h2>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/Static/Images/outnumbered-q.png" alt=""/>
                <p><p>
              </a>
              <figcaption class="body">
                <h2>Soundmatch spotify app</h2>
                <h3></h3>
                <p></p>
              </figcaption>
            </figure>
          </article>
        </section>
      </section>



</section>
</section>