<template name="error404">
  <div class="container">
    <div id="not-found">
      <h1>Don't panic!</h1>
      <p><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn1/t31.0-8/10293711_10152154483061984_3799413084551919052_o.jpg"></p>
      <p>You've encountered a 404. Just stay still and DON'T MOVE. Don't even move the mouse cursor. Just stay calm and wait for help to arrive. Whatever you do, don't panic. You'll be okay.</p>
      <p><a href="http://24hoursofcantina.com/">I'm on fire aaaaargghhhh</a></p>
    </div>
  </div>
</template>