<head>
  <meta charset="utf-8">

  <!--
  Hé nerd!

  "Wáár staat de code?!" vraag je je nu natuurlijk af. Ja, dat is net effe wat anders
  met Meteor. Gelukkig hebben we de broncode van de hele website op Github gezet:

  https://github.com/Q42/q42.nl

  Dan kun je meekijken naar wat we doen (en ons afkraken als het niet goed is). Ach,
  het kan natuurlijk altijd beter. Dat weet jij net zo goed als wij. We zijn allang blij
  dat die site eindelijk live is. Want zoals bij de loodgieter thuis de kraan lekt heeft
  een beetje internetclub natuurlijk nauwelijks tijd voor haar eigen website.

  Vind je toch dat de HTML, CSS en JavaScript echt beter moeten? En denk je dat jíj
  daar de persoon voor bent? Laat je eerste pull request dan meteen je sollicitatie zijn!
  Of kom het maar laten zien. Mail mij maar (chris@q42.nl), dan gaan we even kletsen.

  Lator,
  namens alle Q-ers,
  Chris
  -->

  <title>Q42</title>

  <meta name="description" content="'Een technisch innovatief internetbureau', zeggen sommigen. 'Nerds', zeggen anderen. Wij zelf bijvoorbeeld, als we eerlijk zijn. We houden namelijk heel erg van goed programmeren. Maar dat is niet het hele verhaal. Computers zijn pas interessant met mensen erbij. We vinden het daarom nog leuker om zo te programmeren dat een webapplicatie niet alleen nuttig, maar ook vriendelijk is.">
  <meta name="author" content="Q42">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="google-site-verification" content="4jtA9XMK5IejLo5X_qDHcHKLhO7eY5l-JEm5I_PDzAI">
  <meta name="theme-color" content="#8CD600">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="dns-prefetch" href="//storage.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">

  <meta property="fb:app_id" content="226130564064804">
  <meta property="og:title" content="Q42">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Q42">
  <meta property="og:description" content="'Een technisch innovatief internetbureau', zeggen sommigen. 'Nerds', zeggen anderen. Wij zelf bijvoorbeeld, als we eerlijk zijn. We houden namelijk heel erg van goed programmeren. Maar dat is niet het hele verhaal. Computers zijn pas interessant met mensen erbij. We vinden het daarom nog leuker om zo te programmeren dat een webapplicatie niet alleen nuttig, maar ook vriendelijk is.">
  <meta property="og:image" content="https://storage.googleapis.com/static.q42.nl/images/q42-logo.png">
  <meta property="og:locale" content="nl_nl">
  <meta property="og:locale:alternate" content="en_us">
  <meta property="og:url" content="https://q42.nl">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@q42">

  <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/static.q42.nl/favicon.ico">
  <link rel="icon" sizes="192x192" href="https://storage.googleapis.com/static.q42.nl/images/q42-logo.png">
  <link rel="shortcut icon" href="https://storage.googleapis.com/static.q42.nl/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|RobotoDraft:light,regular,medium,bold|RobotoMono" rel="stylesheet" type="text/css">
  <link href="https://plus.google.com/112933340683830235543" rel="publisher">
  <link rel="alternate" type="application/rss+xml" title="Q42 Weblog" href="https://q42nl.tumblr.com/rss">
  <link rel="manifest" href="/manifest.json">

  <style>
    body {
      background-color: #f0f3ed;
      font-family: "RobotoDraft", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      min-height: 100vh;
    }
    @media (min-width: 480px) { body { border: solid 1rem #80bd42; } }
  </style>
</head>

<template name="main">
  <div id="fb-root"></div>

  <div id="page" class="{{inverted}}">

    <div id="header" style="background-color: {{portfolioItemBgColor}}">
      {{> Template.dynamic template=header}}
    </div>

    {{#if subsReady}}
      {{> Template.dynamic template=body}}
    {{else}}
      {{> loading}}
    {{/if}}

    {{> Template.dynamic template=footer}}

    {{#if openChat}}
      {{> chat}}
    {{/if}}
  </div>

</template>
