
  @font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/Static/Fonts/league_gothic-webfont.eot');
    src: url('/Static/Fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Static/Fonts/league_gothic-webfont.woff') format('woff'),
         url('/Static/Fonts/league_gothic-webfont.ttf') format('truetype'),
         url('/Static/Fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
