<template name="en_footer">
  <footer>
    <div id="footer">
      <div class="block-large">

        <div class="vcard block-small">
          <h2>Contact</h2>
          <a class="visual caption">
            <img src="http://static.q42.nl/images/q42hq.jpg" alt="">
            <p>The clubhouse.</p>
          </a>

          <p>Call us at <strong class="tel">+31 70 445 23 42</strong> or
            <a href="mailto:info@q42.nl" class="email">send us an email</a>!
            We're in:</p>

          <ul>
            <li>
              <h3><span class="locality"><a href="https://www.google.com/maps/place/Q42/@52.069291,4.323498,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5b6e1dbe89f37:0x69602b11196a7df8">The Hague</a></span></h3>
              <address class="vcard body">
                <p class="adr">
                  <span class="fn">Q070</span>
                  <span class="street-address">Waldorpstraat 17F</span>,
                  <span class="postal-code">2521CA</span>, The Netherlands
                </p>
              </address>
            </li>
            <li>
              <h3><span class="locality"><a href="https://www.google.com/maps/place/Q42/@52.375273,4.930484,17z/data=!3m1!4b1!4m2!3m1!1s0x47c6090f52229d1d:0x899366c2c023ec28">Amsterdam</a></span></h3>
              <address class="vcard body">
                <p class="adr">
                  <span class="fn">Q020</span>
                  <span class="street-address">Oostelijke Handelskade 749</span>,
                  <span class="postal-code">1019BW</span>, The Netherlands
                </p>
              </address>
            </li>
            <li>
              <h3><span class="locality"><a href="https://www.google.com/maps/place/Q42/@37.409115,-122.075142,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb75032dd31db:0x10044425cf6e9f60">Mountain View</a></span></h3>
              <address class="vcard body">
                <p class="adr">
                  <span class="fn">QSA</span>
                  <span class="street-address">1045A Linda Vista Ave</span>,
                  <span class="postal-code">94043</span>, USA
                </p>
              </address>
            </li>
          </ul>
        </div>

        <div class="block-small">
          <h2>But who are Q42?</h2>
          <a class="visual caption">
            <img src="http://static.q42.nl/images/kristin-jaap.jpg" alt="">
            <p>Nerds.</p>
          </a>

          <p>Some people call us 'a tech-savvy internet agency'. Others just
            call us nerds. We call ourselves nerds too, to be honest. We just
            happen to really love good programming.</p>
          <p>But that's not the whole story. Computers are only interesting
            when they involve people. So even more than programming, we love
            programming apps to not just be useful, but also friendly.</p>
          <p><a href="/about-q42">More about Q42</a></p>
        </div>

        <div class="block-small">
          <h2>OK but I'm bored</h2>

          <a class="visual caption">
            <img src="http://static.q42.nl/images/0hh1.png" alt="">
            <p>0h h1 Denny!</p>
          </a>

          <p>
            Then play <a href="http://0hh1.com">0h h1</a> or <a href="http://0hn0.com">0h n0</a>, our newest games!
            (Also available for iOS, Android, Windows Phone and Chrome)
            We guarantee you'll not do anything else productive all day.
          </p>
          <p>
            Or check out our other <a href="http://q42.nl/games">games</a>, including
            Quento, Numolition and Carrrds!
          </p>
        </div>

      </div>

      <div class="block-full intro-outro">
        <p>Find more Q42 on:</p>
        <p>
          <a href="https://twitter.com/q42"><i class="fa fa-twitter-square fa-2x"></i> Twitter</a>
          <a href="http://google.com/+Q42DenHaag"><i class="fa fa-google-plus-square fa-2x"></i> Google+</a>
          <a href="http://github.com/q42"><i class="fa fa-github-square fa-2x"></i> Github</a>
          <a href="http://www.linkedin.com/company/q42"><i class="fa fa-linkedin-square fa-2x"></i> LinkedIn</a>
          <a href="http://www.youtube.com/q42bv"><i class="fa fa-youtube-square fa-2x"></i> Youtube</a>
          <a href="http://vimeo.com/q42"><i class="fa fa-vimeo-square fa-2x"></i> Vimeo</a>
        </p>

        <p>Don't forget your towel!</p>

        <p class="q42-logo"><a href="/">
          <object data="http://static.q42.nl/images/q42-logo-white.svg" type="image/svg+xml">
            <img src="http://static.q42.nl/images/q42-logo-white.png" alt="Q42">
          </object>
        </a></p>

        <p><span class="note kvk">KvK 30164662 in The Hague, The Netherlands</span></p>
      </div>
    </div>
  </footer>
</template>
