<template name="en_footer">
  <footer>
    <div id="footer">

      <section>
        <div class="block-large">

          <div class="vcard block-small">
            <h2>Contact</h2>
            <a class="visual caption">
              <img src="http://static.q42.nl/images/lukasschietend.jpg" alt="">
              <p>Who wants to know?!</p>
            </a>

            <p>Whether you're a client or want to become one, looking for an awesome job or just want to get to know us, drop by! We're in The Hague and Amsterdam.</p>

            <p class="fn hidden">Q42</p>
            <p><a class="email" href="mailto:info@q42.nl">info@q42.nl</a></p>
            <p class="adr">
              <span class="street-address"><a href="http://maps.google.com/maps?hl=en&q=Q42,+Den+Haag">Waldorpstraat 17F</a></span>
              <span class="postal-code">2521CA <span class="locality">The Hague</span></span>
              <span>Phone: <span class="tel">070-4452342</span></span>
            </p>
            <p class="adr">
              <span class="street-address"><a href="https://www.google.com/maps/place/Q42/@52.3756647,4.9309405,18z/data=!4m7!1m4!3m3!1s0x47c6090f5acacc29:0x12b10ba999fea9f4!2sOostelijke+Handelskade+749,+1019+Amsterdam!3b1!3m1!1s0x0:0x899366c2c023ec28?hl=nl">Oostelijke Handelskade 749</a></span>
              <span class="postal-code">1019BW <span class="locality">Amsterdam</span></span>
            </p>
            <p><span class="note kvk">KvK 30164662 in The Hague</span></p>
          </div>

          <div class="block-small">
            <h2>But who are Q42?</h2>
            <a class="visual caption">
              <img src="http://static.q42.nl/images/q42hq.jpg" alt="">
              <p>The club house.</p>
            </a>

            <p>Some people call us 'a tech-savvy internet agency'. Others just call us nerds. We call ourselves nerds too, to be honest. We just happen to really love good programming.</p>
            <p>But that's not the whole story. Computers are only interesting when they involve people. So even more than programming, we love programming web apps to not just be useful, but also friendly.</p>
            <p><a href="/about-q42">More about Q42</a></p>
          </div>

          <div class="block-small">
            <h2>Social networking</h2>
            <div id="facebookLikeBox"></div>
            <ul class="iconList">
              <li><a href="https://twitter.com/q42"><i class="fa fa-twitter fa-2x"></i> Q42 on Twitter</a></li>
              <li><a href="http://google.com/+Q42DenHaag"><i class="fa fa-google-plus fa-2x"></i> Q42 on Google+</a></li>
              <li><a href="http://github.com/q42"><i class="fa fa-github fa-2x"></i> Q42 on Github</a></li>
              <li><a href="http://www.linkedin.com/company/q42"><i class="fa fa-linkedin fa-2x"></i> Q42 on LinkedIn</a></li>
              <li><a href="http://www.youtube.com/q42bv"><i class="fa fa-youtube fa-2x"></i> Q42 on YouTube</a></li>
              <li><a href="http://vimeo.com/q42"><i class="fa fa-vimeo-square fa-2x"></i> Q42 on Vimeo</a></li>
            </ul>
          </div>

        </div>
      </section>

    </div>
  </footer>
</template>
