<template name="en_header">

  <div id="headergame">
    {{#if headerGameActive}}
      {{> headergame}}
    {{/if}}
  </div>

  <nav>
    <div id="mobile-menu-icon">menu</div>
    <div class="q42-logo">
      <a href="/">
        <object data="http://static.q42.nl/images/q42-logo-white.svg" type="image/svg+xml">
          <img src="http://static.q42.nl/images/q42-logo-white.png" alt="Q42">
        </object>
      </a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/about-q42">About</a></li>
      <li><a href="/blog/tagged/en">Blog</a></li>
    </ul>
    {{> buttons}}
  </nav>
</template>
