<template name="en_header">

  <div id="headergame">
    {{#if headerGameActive}}
      {{> headergame}}
    {{/if}}
  </div>

  <nav>
    <div class="pos">
      <div id="mobile-menu-icon">menu</div>
      <div class="q42-logo">
        <a href="/">
          <object data="http://static.q42.nl/images/q42-logo-white.svg" type="image/svg+xml">
            <img src="http://static.q42.nl/images/q42-logo-white.png" alt="Q42">
          </object>
        </a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about-q42">About Q42</a></li>
        <li id="lang-switch">
          <a href="http://q42.nl">Dutch</a>
        </li>
        {{#if dev}}
          <li id="toggle-lang"><a href="#">Toggle</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  {{> en_headerlights}}
  <div id="chat-toggle"></div>
  {{> fullscreen}}
  {{> particles}}
  <div id="backgrounds">
    {{#each color}}
      <div class="bg" style="background-image: radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),
     linear-gradient(108deg,#{{col2}},#{{col1}} 90%)"></div>
    {{/each}}
  </div>
</template>
