<template name="en_header">
  <nav>
    <div class="pos">
      <div id="mobile-menu-icon"><i class="fa fa-bars fa-2x"></i></div>
      <div id="logo">
        <a href="/">
          {{#if supportsSVG}}
            <img src="http://static.q42.nl/images/q42-logo.svg" />
          {{else}}
            <img src="http://static.q42.nl/images/q42-logo.png" />
          {{/if}}
        </a>
      </div>
      <ul>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about-q42">About Q42</a></li>
        <li id="lang-switch">
          <a href="http://q42.com">Dutch</a>
        </li>
      </ul>
    </div>
    <div id="hue" class="right">
      {{#if supportsInputTypeColor}}
        <input type="color" id="lights-color" value="{{lightsColor}}" style="background-color: {{lightsColor}}">
      {{else}}
        <div id="lights-color"></div>
      {{/if}}
      <div id="lights-explanation">Control the Philips Hue lights in our office with this color picker!</div>
      {{> colorpicker}}
    </div>
    <div id="backgrounds">
      <div id="bg1"></div>
      <div id="bg2"></div>
    </div>
  </nav>
</template>
