@import "../../../styles/0_variables.styl"

#map-us, #map-nl
  doFlex 1
  height 320px

.get-directions
  color #1D78B4
  text-decoration underline
  cursor pointer

.map-qer
  width 16px
  height 16px

#maps-qers
  display none
