@import "../../../styles/0_variables.styl"

#maps
  &.loading
    background #fff url(http://static.q42.nl/images/pard.gif) center no-repeat
    #map-loading-container
      opacity 0
  #map-loading-container
    opacity 1
    transition ease opacity .5s

#map, #map-loading-container
  width 100%
  height 320px

.get-directions
  color #1D78B4
  text-decoration underline
  cursor pointer

.map-qer
  width 16px
  height 16px

#maps-qers
  display none
