body > #w00tcamp2013 {
	position: fixed !important;
	bottom: 0 !important;
	width: 100% !important;
	color: white !important;
	font: 16px/16px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	padding: 10px 20px !important;
	background: linear-gradient(top, rgba(0,0,0,.4), #000 80%, #000) !important;
	background: -ms-linear-gradient(top, rgba(0,0,0,.4), #000 80%, #000) !important;
	background: -moz-linear-gradient(top, rgba(0,0,0,.4), #000 80%, #000) !important;
	background: -webkit-linear-gradient(top, rgba(0,0,0,.4), #000 80%, #000) !important;
}
body > #w00tcamp2013 #w00tcamp2013-logo {
	display: inline-block !important;
	vertical-align: middle !important;
	margin-right: 20px !important;
}
body > #w00tcamp2013 #w00tcamp2013-logo img {
	height: 70px;
}
body > #w00tcamp2013 .w00tcamp2013-message {
	display: inline-block !important;
	vertical-align: middle !important;
}
body > #w00tcamp2013 .w00tcamp2013-message a {
	color: white !important;
}