@import "../../../styles/0_variables.styl"

#chat-toggle
  background #fff url(assetsUrl + "/images/slacklogo.png") center no-repeat
  background-size 24px

#chat
  position fixed
  top 0
  left 0
  width 80%
  background #eee
  border-right solid 2px #ddd
  z-index 999
  height 100vh
  box-sizing border-box
  displayFlex()
  flexDirection column
  justifyContent space-between
  animation slideInChat ease .2s
  animationFillMode forwards
  transform translateX(-100%)

  &.hiding
    animation slideOutChat ease .2s

  .title
    displayFlex()
    background #fff url(assetsUrl + "/images/slacklogo.png") 16px center no-repeat
    background-size 64px
    padding 8px 16px 8px 96px
    border-bottom solid 2px #ddd
    justifyContent space-between
    alignItems center
    h1
      margin 8px
      font-size 16px
    .close
      text-decoration none
      font-size 24px
      cursor pointer
      padding 0 8px

  .flex-stretch
    doFlex 1
    overflow-y scroll

  .flex-end
    padding 16px
    box-sizing border-box
    displayFlex()
    justifyContent space-between
    border-top solid 2px #ddd

    input
      font-size 16px
      padding 4px 8px
      border none
      doFlex 1

    button
      cursor pointer
      border none
      padding 8px
      color white
      background #0E8FF5
      font-size 14px
      font-weight bold
      fontSmoothing antialiased
      &:hover, &:focus
        background-color #0E8FF5 + #333
      &:active
        background-color #0E8FF5 - #333

  ul
    list-style none
    margin 0
    padding 0

    li
      border-bottom solid 1px #ddd
      padding 8px
      font-size 14px

    .user
      font-weight bold

  #login-dropdown-list
    top -110px // prevent from being drawn offscreen

@keyframes slideInChat
  to
    transform translateX(0)

@keyframes slideOutChat
  to
    transform translateX(-100%)
