@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Don't panic!";
}
<section>
<section>
  <header class="block-text">
    <h1>Don't <b>panic!</b></h1>
  </header>
    
  <article id="theBeginning">
    <article class="block-large">
      <div class="bigText">
        <h2>Something error happen!</h2>
        <p>Geen zorgen. Er zijn nu 42 nerds hard bezig om deze fout te verhelpen!</p>
        <p>...hoop ik.</p>
      </div>
      <div class="block-small subcontent">
      </div>
    </article>
  </article>
</section>
</section>