<template name="en_blog">
  <section class="blog">
    <header class="block-text"><h1>We<b>blog</b></h1></header>

    <div id="blog-posts">
    {{#isolate}}{{#each post}}
      <article class="block-large {{#if description}}reblog{{/if}}">
        <div class="bigText">
          {{#if typeIs "link"}}
            {{#unless description}}
            <!-- link -->
              <h1><a href="{{url}}">{{title}}</a></h1>
              {{> en_postDate}}
            {{/unless}}
          {{/if}}
          {{#if player}}
          <!-- video -->
            {{#each player}}
              {{#ifWidthEquals 500}}
                {{{embed_code}}}
              {{/ifWidthEquals}}
            {{/each}}
            {{{caption}}}
            {{> en_postDate}}
            <p class="block-readmore">
              <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Read more</a>
            </p>
          {{/if}}
          {{#if photos}}
          <!-- image(s) -->
            <div class="figure">
            {{#each photos.0.alt_sizes}}
              {{#ifWidthEquals 500}}
                <img src="{{url}}" alt="">
              {{/ifWidthEquals}}
            {{/each}}
              <div class="figcaption">
                {{{caption}}}
              </div>
            </div>
            {{> en_postDate}}
            <p class="block-readmore">
              <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Read more</a>
            </p>
          {{/if}}
          {{#if text}}
          <!-- quote -->
            <h1>"{{{text}}}"</h1>
            {{#if source}}
            <p>—{{{source}}}</p>
            {{/if}}
          {{/if}}
          {{#if description}}
          <!-- reblog -->
            <h1><a href="{{url}}">{{title}}</a></h1>
          {{/if}}
          {{#if intro}}
          <!-- text post -->
            <h1><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></h1>
            {{> en_postDate}}
            {{{intro}}}
            <p class="block-readmore">
              <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Read more</a>
            </p>
          {{/if}}
        </div>
      </article>
      {{else}}
      <div class="loading"><i class="fa fa-spinner fa-spin fa-2x"></i></div>
    {{/each}}{{/isolate}}
    </div>

    {{> en_blogSidebar}}
    {{> en_pageNav}}

  </section>
</template>

<template name="en_blogpost">
  {{#if post}}
    {{#with post}}
      <section class="blog">
        <article class="block-large">
          <div class="bigText">
            <div style="width:100%;height:1px"></div>
            {{#if player}}
              <h1><b>Video</b></h1>
              {{> en_postDate}}
              {{#each player}}
                {{#ifWidthEquals 500}}
                  {{{embed_code}}}
                {{/ifWidthEquals}}
              {{/each}}
              {{{caption}}}
            {{/if}}
            {{#if photos}}
              <h1><b>Photos</b></h1>
              {{> en_postDate}}
              {{{caption}}}
              {{#each photos}}
                <p><div class="figure">
                {{#each alt_sizes}}
                  {{#ifWidthEquals 500}}
                    <img src="{{url}}" alt="">
                  {{/ifWidthEquals}}
                {{/each}}
                  <div class="figcaption">
                    {{{caption}}}
                  </div>
                </div></p>
              {{/each}}
            {{/if}}
            {{#if description}}
              <h1><b><a href="{{url}}">{{title}}</a></b></h1>
              {{{description}}}
            {{/if}}
            {{#if body}}
              <h1><b>{{title}}</b></h1>
              {{> en_postDate}}
              {{{body}}}
            {{/if}}
          </div>
          {{> en_blogSidebar}}
        </article>

        {{#unless isPhantom}}
          <div class="socialShare" style="margin: 10px 0 40px; height: 50px;">
            <div class="twitterShare" style="float: left;">
              <a href="https://twitter.com/share" class="twitter-share-button"
                data-url="http://q42.nl/blog/post/{{id}}/{{slug}}" data-via="q42" data-text="{{title}}">Tweet</a>
            </div>

            <div class="facebookShare" style="float: left;">
              <div class="fb-like" data-send="false" data-width="80" data-show-faces="false"></div>
            </div>
          </div>
        {{/unless}}

        {{> tags}}

        <section class="comments">
          <h2>Comments</h2>
          <p style="margin-left:-50px">Please visit the Dutch version of this article to <a href="http://q42.nl/blog/post/{{id}}/{{slug}}">leave a comment</a>.</p>
        </section>

      </section>
    {{/with}}
    {{else}}
      {{_404}}
  {{/if}}
  {{{debug post}}}
</template>

<template name="en_postDate">
  <p class="post-date">Written on <abbr>{{prettyDate}}</abbr></p>
</template>

<template name="en_tags">
{{#if tags}}
  <div class="block-tags">
    <ul class="tags">
      {{#each tags}}
        <li>
          <a href="/blog/tagged/{{this}}">{{this}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
</template>

<template name="en_otherPosts">
  <h2>Also on Q42.com</h2>
  <ul>
    {{#each post}}
      <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
    {{/each}}
  </ul>
</template>

<template name="en_latestComments">
  <h2>Latest comments</h2>
  <ul id="latestComments">
    {{#each comment}}
      <li><div><a href="/blog/post/{{blogpostId}}/#comment{{_id}}">{{text}}</a></div></li>
    {{/each}}
  </ul>
</template>

<template name="en_blogSidebar">
  <div class="block-small subcontent" id="blog-sidebar">
    <h2><strong>Web</strong>log</h2>
    <p>This is the Q42 blog, for which Q'ers write about their work, passion and life at Q42.</p>
    <p>Those same Q'ers are also active on Twitter. We made a list, take a look: <a href="https://twitter.com/q42/q-ers">Q'ers on Twitter</a>.
    And you can of course follow us at <a href="http://twitter.com/q42">@q42</a>.</p>
    <p>Some posts on our blog are in Dutch. We recommend Google Translate for those.</p>
    {{#unless isPhantom}}
      <p>
        <iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="128" src="http://platform.tumblr.com/v1/follow_button.html?button_type=1&tumblelog=q42nl&color_scheme=light"></iframe>
      </p>
    {{/unless}}
    {{> en_otherPosts}}
    {{> en_latestComments}}
  </div>
</template>

<template name="en_pageNav">
  <nav id="pageNav">
    <ul class="clearfix">
      {{#each pagination}}
        <li>
          <a href="/blog{{#if tag}}/tagged/{{tag}}{{/if}}/page/{{page}}"
            class="{{#if active}}active{{/if}}">{{label}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</template>

<template name="en_comment">
  <li>
    <div class="user {{service}}-service">
      <img src="{{picture}}">
      <span class="login-image" id="login-buttons-image-{{service}}"></span>
      <span class="name">{{userName}}</span>
      {{#isolate}}<span class="meta"> - {{datediff}} ago</span>{{/isolate}}
      {{#if ownsComment}}
        <span class="meta"> -
          <a href="#" class="edit-link">edit</a>
          <a href="#" class="save-link">save</a>
        </span>
      {{/if}}
    </div>
    <div class="text">{{{mdtext}}}</div>
    {{#if ownsComment}}<textarea class="edit-area">{{text}}</textarea>{{/if}}
  </li>
</template>