<!-- girl code page -->
<template name="en_girlcode">
  <div class="container">
    <header class="block-text">
      <h1 style="display: none;">Page about Girl Code</h1>
      <img src="/images/girlcode/logo-girlcode.png" />
    </header>
    <section>
      <div class="block-large">
        <div class="intro">
          <p>At Q42 we aspire to make the software we build not only useful but also friendly. In fact, we
            want to include literally everyone and make it accessible to all. But, the web, tech in general and
            code specifically, should not only be accessible for all to use, but also accessible for all to build.
              As a company, mainly existing out of developers, we want to make that difference!</p>
            <p>We believe there is plenty of room in the gender gap in tech to make such a difference. After all
            it's called a gap for a reason. Girl Code is our initiative to inspire all women to get into code,
            because we really think the world of code can only benefit from having more women on board
            and creating a more diverse field.</p>
            <p>It's because of this, we organize Girl Code meetups and try to raise more awareness, inside and
            outside our offices, for the gender gap in code.
            Interested in talking about anything Girl Code? <a href="mailto:ineke@q42.nl">Email us</a>!</p>
        </div>
        <aside class="block-small subcontent">
          <h2>See also</h2>
          <ul>
            {{#each post}}{{#if title}}
            <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
            {{/if}}{{/each}}
            <li><a href="/nl/vacatures">Job openings (Dutch)</a></li>
            <li><a href="/about-q42">About Q42</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/toolbox">Our toolbox</a></li>
            <li><a href="/blog/tagged/en">Blog</a></li>
            <li><a href="/interaction-engineering">Interaction engineering</a></li>
            <li><a href="/meteor">Meteor at Q42</a></li>
            <li><a href="/jumpstarts">Jumpstarts</a></li>
            <li><a href="/w00tcamp">W00tcamp, two days of comfort</a></li>
            <li><a href="http://codeuur.nl">Teaching all kids to code (Dutch)</a></li>
          </ul>
        </aside>
      </div>
    </section>
    <section>
      <div class="block-large left">
        <div class="body">
          <h2>Girl Code at Q42</h2>
          <p>Once upon a time Girl Code had yet to be born. Professional coders aren’t necessarily male. That is what we see as an undeniable fact, but also as a statement we want to enforce in the real world. So when Lieke Boon offered to give a talk about unconscious bias in tech, <a href="https://twitter.com/afkatja">Katja</a> (developer) asked <a href="https://twitter.com/FYIneke">Ineke</a> (PR): "Can't we make this bigger than just one talk Q'ers only?". Ineke answered, "We can and we should!". And so they did. Girl Code was born and the first meetup was planned.</p>
          <p>And in our own world of code? Since last year, the share of women at Q42 has risen from just 6% to now 15%, and we're not done! So, check our <a href="/vacatures">vacancies</a> (Dutch) and send us your code!</p>
        </div>
          <div class="visual caption">
            <img src="http://static.q42.nl/images/girlcode/ineke-katja.jpg" alt="">
            <p>Girl Code event</p>
          </div>
        </div>
      </section>
      <section>
        <div class="block-large">
          <div class="block-small">
            <div class="visual caption">
              <img src="http://static.q42.nl/images/girlcode/sue_g.png" alt="Sue Gardner">
              <p>Why women leave tech</p>
            </div>
            <div class="body">
              <h2>Why women leave tech</h2>
              <p>Sue Gardner started collecting everything on the gender gap in tech, because she's invested in a free and open internet for all. She began a collaborative Google doc over a year ago to explore what the research says about why women leave tech in droves. This collaborative doc is only finished for 50% and already practically a book. A must read. And yes, you can still comment and collaborate!</p>
              <p><a href="https://docs.google.com/document/d/1soIYek-YEIvqtu9brv3ecdPbuVzQKp_GhAozC06UrLo/edit">Visit Why women leave tech: what the research says</a></p>
            </div>
          </div>
          <div class="block-small">
            <div class="visual caption">
              <img src="http://static.q42.nl/images/girlcode/male-female.png" alt="Bias test">
              <p>Implicit bias test</p>
            </div>
            <div class="body">
              <h2>Implicit bias test</h2>
              <p>Unconscious bias does not only play a role in the world of tech, but in almost every aspect of our lives. The underlying nuance in our daily terminology does influence the chances of women in for example the world of code. So being aware of your own implicit biases and trying to counter program your own brain to change your terminology will pay off!</p>
              <p>
                <a href="https://implicit.harvard.edu/implicit/takeatest.html">Test your own implicit bias here</a>
              </p>
            </div>
          </div>
          <div class="block-small">
            <div class="visual caption">
              <img src="http://static.q42.nl/images/girlcode/nightwatch-female.JPG" alt="Nightwatch">
              <p>The 'New Night Watch'</p>
            </div>
            <div class="body">
              <h2>The 'New Night Watch'</h2>
              <p>This url is not about the gender gap in tech, but entrepreneurship. Since it's our own <a href="https://twitter.com/duinmarcel">Marcel</a>'s <a href="http://micr.io/">code</a> behind this piece, we still wanted to share it with you. And also, because we are of course supportive of all women in all workplaces where they still are underrepresented. This remake of The Night Watch (in Dutch: De Nachtwacht) emphasizes influential women who stimulate entrepreneurship.</p>
              <p><a href="http://i.micr.io/gXM08">Watch the piece in full detail with Micrio</a></p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="block-large right">
          <div class="body">
            <h2>The very first Girl Code meetup</h2>
            <p>Words without action won't change the world. So, to put our money where our mouth is, we've organized our first meetup right after we started Girl Code. The result was an inspiring night with talks and demos from four professional Girl Coders, a talk by Lieke Boon and a very enthusiastic attendance by all sorts of Girl Coders from Girls in Tech's and our own network.</p>
            <p>Successful in their work, we think of our four speakers as role models to girls who play with the idea to get into code and being inspirational to girls who already are into code. Boys, of course, were welcome too!</p>
            <a href="/blog/post/123023600323/girl-code">Read more about this night and all of the talks on our blog.</a>
          </div>
          <div class="visual caption">
            <img src="http://static.q42.nl/images/girlcode/photo-meetup1.jpg" alt="">
            <p>Girl Code meetup 2015 at Q42</p>
          </div>
        </div>
      </section>
  </div>
</template>
