<!-- girl code page -->
<template name="en_girlcode">
  <div class="container">
    <header class="block-text">
      <h1 style="display: none;">Girl Code at Q42</h1>
      <img src="/images/girlcode/logo-girlcode.png" alt="">
    </header>
    <section>
      <div class="block-large">
        <div class="intro">
          <p>At Q42 we aspire to make the software we build not only useful but
            also friendly; we want to include and make it open to literally
            everyone. The web, tech in general, and code specifically should not
            only be accessible for all to use but also to build. As a company
            comprised mainly of developers, we want to help make that change!</p>
          <p><a href="http://meetup.com/girlcode">Girl Code</a> is our initiative
            to inspire women to get into code and to
            raise awareness, inside and outside our offices, of the gender gap in
            tech. We think the world of software engineering can only benefit from
            having more women on board and creating a more diverse field. We hope
            you'll join us in making this difference.</p>
          <p>
            Interested in talking about anything related to Girl Code?
            <a href="mailto:ineke@q42.nl">Email us</a>!
          </p>
        </div>
        <aside class="block-small subcontent">
          <h2>See also</h2>
          <ul>
            <li><a href="http://meetup.com/girlcode">Girl Code meetup group</a></li>
            <li><a href="http://girlcode.q42.com">Tic Tac Toe tutorial</a></li>
            {{#each post}}{{#if title}}
            <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
            {{/if}}{{/each}}
            <li><a href="http://codeuur.nl">Teaching all kids to code (Dutch)</a></li>
          </ul>
        </aside>
      </div>
    </section>
    <section>
      <div class="block-large left">
        <div class="body">
          <h2>Girl Code at Q42</h2>
          <p>Professional coders aren’t necessarily male. That is what we see as
            an undeniable fact, but also as a statement we want to enforce in the
            real world. So when Lieke Boon offered to give a talk about unconscious
            bias in tech, <a href="https://twitter.com/afkatja">Katja</a> (developer)
            asked <a href="https://twitter.com/FYIneke">Ineke</a> (PR): "Can't we
            make this bigger than just one talk for Q'ers only?". Ineke answered,
            "We can and we should!". And so they did. Girl Code was born and the
            first meetup was planned.</p>
          <p>And in our own world of code? Since last year, the percentage of women
            at Q42 has risen from just 6% to 15%, and we're not done! So, check out
            our <a href="//q42.nl/vacatures">vacancies</a> (Dutch) and send us your code!</p>
        </div>
          <div class="visual caption">
            <img src="{{assetsUrl}}/images/girlcode/ineke-katja.jpg" alt="">
            <p>Girl Code event</p>
          </div>
        </div>
      </section>
      <section>
        <div class="block-large">
          <div class="block-small">
            <div class="visual caption">
              <img src="{{assetsUrl}}/images/girlcode/nerdsonstage.jpg" alt="">
              <p>A nerd on stage</p>
            </div>
            <div class="body">
              <h2>Girl Code @ Nerds on Stage</h2>
              <p>Nerds on Stage, a yearly tech event for Dutch high school
                students, describes itself as a place to 'Meet the brightest
                minds in technology and creativity'. So when we were asked to
                give two mini lectures there, we simply couldn't refuse. And
                we're glad we didn't, because we had a blast!
              </p>
              <p><a href="https://q42.nl/blog/post/134796783753/girl-code-nerds-on-stage">
                Read about our day at Nerds on Stage (Dutch)
              </a></p>
            </div>
          </div>
          <div class="block-small">
            <div class="visual caption">
              <img src="{{assetsUrl}}/images/girlcode/girlcodemeetsmeteor.png" alt="">
              <p>"It works!!!"</p>
            </div>
            <div class="body">
              <h2>Girl Code meets Meteor</h2>
              <p>To shake things up a bit we organized a hands-on coding meetup instead of just talks. During Girl Code meets Meteor everyone built their own version of Tic Tac Toe in the good company of other Girl Coders and Meteor tutors.</p>
              <p><a href="https://q42.com/blog/post/139108852893/girl-code-meets-meteor">Read about our night here</a></p>
            </div>
          </div>
          <div class="block-small">
            <div class="visual caption">
              <img src="{{assetsUrl}}/images/girlcode/girlcodererun.png" alt="">
              <p>Glasses-wearing equality</p>
            </div>
            <div class="body">
              <h2>Girl Code meets Meteor rerun</h2>
              <p>A rerun like on tv and as good as any good old Friends rerun. We wanted to offer a second chance to attend this meetup at our Amsterdam office. 50(!) of you did. So the world has gained 50 extra special awesome games of Tic Tac Toe. Wow!</p>
              <p><a href="http://www.meetup.com/girlcode/photos/26824017/">And we've got pictures to prove it</a></p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="block-large right">
          <div class="body">
            <h2>The very first Girl Code meetup</h2>
            <p>Words without action won't change the world. So, to put our money
              where our mouth is, we've organized our first meetup right after we
              started Girl Code. The result was an inspiring night with talks and
              demos from four professional Girl Coders, a talk by Lieke Boon, and
              a very enthusiastic attendance by all sorts of Girl Coders from Girls
              in Tech's and our own network.</p>
            <p>Successful in their work, we think of our four speakers as role
              models to girls who play with the idea to get into tech and an
              inspiration to girls who already are into code. Boys, of course,
              were welcome too!</p>
            <a href="https://q42.com/blog/post/123023600323/girl-code">
              Read more about this night and all of the talks on our blog.
            </a>
          </div>
          <div class="visual caption">
            <img src="{{assetsUrl}}/images/girlcode/meetup.jpg" alt="">
            <p>Girl Code meetup 2015 at Q42</p>
          </div>
        </div>
      </section>
  </div>
</template>
