<!-- girl code page -->
<template name="en_girlcode">
  <div class="container">
    <header class="block-text">
      <h1 style="display: none;">Girl Code at Q42</h1>
      <img src="/images/girlcode/logo-girlcode.png" alt="">
    </header>
    <section>
      <div class="block-large">
        <div class="intro">
          <p>At Q42 we aspire to make the software we build not only useful but
            also friendly; we want to include and make it open to literally
            everyone. The web, tech in general, and code specifically should not
            only be accessible for all to use but also to build. As a company
            comprised mainly of developers, we want to help make that change!</p>
          <p><a href="http://meetup.com/girlcode">Girl Code</a> is our initiative
            to inspire women to get into code and to
            raise awareness, inside and outside our offices, of the gender gap in
            tech. We think the world of software engineering can only benefit from
            having more women on board and creating a more diverse field. We hope
            you'll join us in making this difference.</p>
          <p>
            Interested in talking about anything related to Girl Code?
            <a href="mailto:ineke@q42.nl">Email us</a>!
          </p>
        </div>
        <aside class="block-small subcontent">
          <h2>See also</h2>
          <ul>
            <li><a href="http://meetup.com/girlcode">Girl Code meetup</a></li>
            {{#each post}}{{#if title}}
            <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
            {{/if}}{{/each}}
            <li><a href="http://codeuur.nl">Teaching all kids to code (Dutch)</a></li>
          </ul>
        </aside>
      </div>
    </section>
    <section>
      <div class="block-large left">
        <div class="body">
          <h2>Girl Code at Q42</h2>
          <p>Professional coders aren’t necessarily male. That is what we see as
            an undeniable fact, but also as a statement we want to enforce in the
            real world. So when Lieke Boon offered to give a talk about unconscious
            bias in tech, <a href="https://twitter.com/afkatja">Katja</a> (developer)
            asked <a href="https://twitter.com/FYIneke">Ineke</a> (PR): "Can't we
            make this bigger than just one talk for Q'ers only?". Ineke answered,
            "We can and we should!". And so they did. Girl Code was born and the
            first meetup was planned.</p>
          <p>And in our own world of code? Since last year, the percentage of women
            at Q42 has risen from just 6% to 15%, and we're not done! So, check out
            our <a href="/nl/vacatures">vacancies</a> (Dutch) and send us your code!</p>
        </div>
          <div class="visual caption">
            <img src="http://static.q42.nl/images/girlcode/ineke-katja.jpg" alt="">
            <p>Girl Code event</p>
          </div>
        </div>
      </section>
      <section>
        <div class="block-large">
          <div class="block-small">
            <div class="visual caption">
              <img src="http://static.q42.nl/images/girlcode/sue_g.jpg" alt="Sue Gardner">
              <p>Why women leave tech</p>
            </div>
            <div class="body">
              <h2>Why women leave tech</h2>
              <p>Sue Gardner is a Canadian journalist who's deeply invested in a
                free and open internet for all. She began a collaborative Google
                doc over a year ago to explore what the research says about why
                women are leaving tech in such high numbers. This paper is only
                half finished and already practically a book. It's a must read.
                And yes, you can still comment and contribute!</p>
              <p><a href="https://docs.google.com/document/d/1soIYek-YEIvqtu9brv3ecdPbuVzQKp_GhAozC06UrLo/edit">Visit Why women leave tech: what the research says</a></p>
            </div>
          </div>
          <div class="block-small">
            <div class="visual caption">
              <img src="/public/images/girlcode/girlcodemeetsmeteor.png" alt="">
              <p>Girl Code meets Meteor meetup at Q42</p>
            </div>
            <div class="body">
              <h2>Girl Code meets Meteor</h2>
              <p>To shake things up a bit we organised a hands-on coding meetup instead of just talks. During Girl Code meets Meteor everyone built their own version of Tic Tac Toe in the good company of other Girl Coders and Meteor tutors.</p>
              <p><a href="/blog/post/139108852893/girl-code-meets-meteor">Read more about our night here</a></p>
            </div>
          </div>
          <div class="block-small">
            <div class="visual caption">
              <img src="/public/images/girlcode/nightwatch-female.jpg" alt="Nightwatch">
              <p>The 'New Night Watch'</p>
            </div>
            <div class="body">
              <h2>The 'New Night Watch'</h2>
              <p>This link is not about the gender gap in tech but
                entrepreneurship. We wanted to shared this piece with you because
                it was created with our own <a href="https://twitter.com/duinmarcel">Marcel</a>'s
                <a href="http://micr.io/">high resolution image viewer, Micrio</a>
                and because we are supportive of all women in workplaces where they
                still are underrepresented. This remake of The Night Watch (in Dutch:
                De Nachtwacht) emphasizes influential women who stimulate entrepreneurship.
              </p>
              <p><a href="http://i.micr.io/gXM08">
                See the piece in full detail with Micrio
              </a></p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="block-large right">
          <div class="body">
            <h2>The very first Girl Code meetup</h2>
            <p>Words without action won't change the world. So, to put our money
              where our mouth is, we've organized our first meetup right after we
              started Girl Code. The result was an inspiring night with talks and
              demos from four professional Girl Coders, a talk by Lieke Boon, and
              a very enthusiastic attendance by all sorts of Girl Coders from Girls
              in Tech's and our own network.</p>
            <p>Successful in their work, we think of our four speakers as role
              models to girls who play with the idea to get into tech and an
              inspiration to girls who already are into code. Boys, of course,
              were welcome too!</p>
            <a href="/blog/post/123023600323/girl-code">
              Read more about this night and all of the talks on our blog.
            </a>
          </div>
          <div class="visual caption">
            <img src="http://static.q42.nl/images/girlcode/meetup.jpg" alt="">
            <p>Girl Code meetup 2015 at Q42</p>
          </div>
        </div>
      </section>
      <section>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/girlcode/male-female.jpg" alt="Bias test">
            <p>Implicit bias test</p>
          </div>
          <div class="body">
            <h2>Implicit bias test</h2>
            <p>Unconscious bias not only plays a role in the tech world but in
              almost every aspect of our lives. The underlying nuance in our
              daily terminology does influence whether women think they can have
              a future in STEM fields. Being aware of your own implicit
              biases and trying to reprogram your own brain to change your
              terminology will pay off!</p>
            <p>
              <a href="https://implicit.harvard.edu/implicit/takeatest.html">
                Test your own implicit bias here
              </a>
            </p>
          </div>
        </div>
      </section>
  </div>
</template>
