<template name="en_home">
  {{> en_header}}

  <div class="container">

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Staatsloterij</h2>
          <h3>Completely new website</h3>
          <p>On the new state lottery website you can now purchase practically all products online, and the Staatsloterij has the capability to respond to new developments, campaigns and draws.</p>
          <p>We developed the new site together with Fabrique and the Digital team at the Staatsloterij.</p>
          <p>The site was designed tablet first but thanks to its responsive design, it works perfectly on big screens and all sorts of smartphones.</p>
          <p><a href="http://www.staatsloterij.nl" class="external">Try your luck</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/staats.jpg?w=600" alt="Jackpot!"/>
          <p>Jackpot!</p>
        </div>
      </div>
    </section>

    <section id="q42is-header" class="block-text">
      <h1>
        <div id="q42is-pre">Q42 is </div>
        <div id="q42is">
          <div id="q42is-container">
            <span class="selected">technical web dev agency</span>
            <span>happy place for nerds</span>
            <span>coffee afficionados</span>
            <span>greatest place to work 2013</span>
            <span>programmers</span>
            <span>google CP partner of the year</span>
            <span>iOS developers</span>
            <span>best tosti's in the Netherlands</span>
            <span>interaction engineers</span>
            <span>those guys in the Netherlands</span>
            <span>internet-addicted</span>
            <span>creative coders</span>
            <span>Android developers</span>
            <span>your technology partner</span>
            <span>web developers</span>
          </div>
        </div>
      </h1>
      <div class="block-readmore">
        <a href="/about-q42" class="readmore">More about Q42</a>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/handcraft-small.jpg" alt="Handcraft" />
          <p>Prototyping with HTML is better than without.</p>
        </div>
        <div class="body">
          <h2>Handcraft</h2>
          <h3>October 24th 2013</h3>
          <p>With the new Handcraft you can now create and upload unlimited prototypes and files and the price of a subscription has been lowered to 9 euros a month.</p>
          <p>It's now also possible to create your prototypes with just HTML and the entire app has been given a big visual update.</p>
          <p><a href="http://handcraft.com" class="external">Try Handcraft free</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/rijks.jpg" alt="Rijksmusuem" />
          <p>"The best website ever," according to Vasilis</p>
        </div>
        <div class="body">
          <h2>Rijksmuseum.nl</h2>
          <h3>October 30th 2012</h3>
          <p>In 2004 we built a prize winning website for the Rijksmuseum with our partner Fabrique. But after eight strong years, it was time to renovate.</p>
          <p>The new Rijksmuseum website has been updated with a responsive, tablet first design full of smooth animation. One noteworthy element is the Rijks Studio: your own collection, craft spot and museum store in one. With 125,000 available artworks at a high resolution, you won't be bored any time soon!</p>
          <p><a href="http://rijksmuseum.nl/en">Visit the Rijksmuseum (.nl)</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/huesmall.jpg" alt="Lampen voor nerds." />
          <p>Lighting for nerds.</p>
        </div>
        <div class="body">
          <h2>Philips Hue launches worldwide</h2>
          <h3>October 29th 2012</h3>
          <p>We don't like thumping our own chests (okay, that's a lie, but for the sake of argument), but when you do a project with Philips using Google technology that gets sold exclusively through Apple Stores around the world, and it's covered by Wired, Mashable, Engadget, Gizmodo, 9to5Mac, The Verge and more, then we're allowed to for just this once, right? ;-)</p>
          <p><a href="/blog/post/34827577445/trots-op-philips-hue">Read on (Dutch)</a></p>
        </div>
      </div>
      <div class="block-readmore">
        <a href="/blog" class="readmore">More news</a>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>9292</h2>
          <h3>De whole caboodle: web &amp; apps</h3>
          <p>In close collaboration with Fabrique and 9292, we've converted <a href="http://9292.nl/en" class="external">9292.nl</a> (the premier source of travel information in the Netherlands) from a tool to a good friend. We also built the iPhone, Android, and Windows Phone apps.</p>
          <p>And there's even more great stuff coming!</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/9292.jpg" alt="9292" />
          <p>'Where do you want to go?' Kind of an existential question.</p>
        </div>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/schooltas3.jpg" alt="" />
          <p>If only we were still in school. #jealous</p>
        </div>
        <div class="body">
          <h2>Schooltas</h2>
          <h3>ThiemeMeulenhoff's iPad app</h3>
          <p>1,5 lbs is enough for all your textbooks. Schooltas by ThiemeMeulenhoff combines textbooks, workbooks and notebooks into one, allowing students to work with only an iPad.</p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/uitapp.jpg" alt="" />
          <p>Party time! Excellent!</p>
        </div>
        <div class="body">
          <h2>UIT app</h2>
          <h3>For iPhone and now for Android</h3>
          <p><a href="http://itunes.apple.com/nl/app/uit/id385525154?mt=8" class="external">The Uit app</a> is a must-have app for going out in the Netherlands. We built this app together with Fabrique in only six weeks.</p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/roc2.jpg" alt=""/>
          <p>Beautiful building!</p>
        </div>
        <div class="body">
          <h2>ROC Mondriaan</h2>
          <h3>New website</h3>
          <p>ROC Mondriaan is a Regional Education Centre with locations in The Hague, Delft, Leiden and Naaldwijk. Together with our friends at Fabrique we made them a modern, fresh website!</p>
          <p><a href="http://www.rocmondriaan.nl" class="external">Visit the website!</a> (Dutch)</p>
        </div>
      </div>
      <div class="block-readmore">
        <a href="/projects" class="readmore">More projects</a>
      </div>
    </section>

    <section id="handcraft">
      <div class="block-large">
        <div class="body">
          <h2>Handcraft</h2>
          <h3>Interactive HTML prototypes</h3>
          <p>Handcraft is an online editor founded on our belief in the "design in the browser" principle. We use it ourselves because it's handy for prototyping and helps us easily share our work with colleagues, partners and clients.</p>
          <p><a href="http://handcraft.com/" class="external">Check out Handcraft</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/handcraft.jpg" alt="Handcraft" />
          <p>Craftsmanship FTW!</p>
        </div>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/oculus.jpg" alt=""/>
          <p>Oculus Unrift</p>
        </div>
        <div class="body">
          <h2>w00tcamp</h2>
          <h3>Geeking out for a whole weekend</h3>
          <p>Every year all of us at Q42 get together for two days and do a hackathon competition called w00tcamp. This year we did it again in November. Check out the results.</p>
          <p><a href="/w00tcamp">w00t w00t!</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/gamessmall.jpg" alt="" />
          <p>Playing and making, online and offline.</p>
        </div>
        <div class="body">
          <h2>Games</h2>
          <h3>Digital and analogue</h3>
          <p>Peter Pan will stay young forever. So will Q'ers, probably. Playing games is in our blood and if possible we'll take the time to make our own too.</p>
          <p>To support that creative catalysis, these days we just admit up front that we "make games". It's a kind of therapy by having fun.</p>
          <p><a href="/games">Check out all our games.</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img class="gfyitem" data-id="AngryCookedAdmiralbutterfly" data-controls="false" data-dot="false" alt=""/>
          <p>Post it note, post it note, on the wall...</p>
        </div>
        <div class="body">
          <h2>Scrum for Trello</h2>
          <h3>Must-have Chrome extension for Scrum</h3>
          <p>Jasper and Marcel felt that the super useful <a href="http://trello.com" class="external">Trello</a> was missing something: story points. So they built it in in the form of a Chrome extension.</p>
          <p><a href="https://chrome.google.com/webstore/detail/jdbcdblgjdpmfninkoogcfpnkjmndgje" class="external">Here you go, remote Scrum teams!</a></p>
        </div>
      </div>
      <div class="block-readmore">
        <a href="/products" class="readmore">More products</a>
      </div>
    </section>

  </div>
</template>