<template name="en_home">

  <div class="container">

    <section class="block-full intro-outro invert">
      <h1 class="tagline">What's the big idea?</h1>
      <h2>
        We make friendly software for companies big and small<br>
        in Mountain View, Amsterdam, and The Hague.
      </h2>
    </section>

    <section class="block-large booklet">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/q42hq.jpg" alt="">
          <p>Our offices in the Hague</p>
        </div>
        <div class="body">
          <h2><a href="/projects">Projects</a></h2>
          <p>Teaming up to make the Internet more fun together. Like the Apple Watch app for KLM. Or the services that power the Philips Hue lightbulbs.</p>
          <p>But also PostNL, Staatsloterij, Rijksmuseum, 9292, Van Gogh Museum, Design Museum, Schooltas <a href="/projects">and more</a>.</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/partners_small.jpg" alt="">
          <p>Want to become partners?</p>
        </div>
        <div class="body">
          <h2><a href="/jumpstarts">Jumpstarts</a> &amp; (Ad)ventures</h2>
          <p>During a jumpstart, we'll work with you to flesh out an idea in one week, with a high quality team. When we feel a jumpstart has the power to leave a mark, we may invest in the idea. Ideas we've invested in include our own products, games, and experiments.</p>
          <p>We've done jumpstarts for companies including Shell, Tesloop, Game of Drones, Taxi Electric, Umuntu Media, Bavaria, Spinn Coffee and Swisscom.</p>
          <p><a href="/jumpstarts">More about jumpstarts</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/huesmall.jpg" alt="">
          <p>Philips Hue</p>
        </div>
        <div class="body">
          <h2>Internet of Things</h2>
          <p>We've built up significant experience in connected devices, the smart home, and wearable technology - from in-house experiments to global, large scale products.</p>
          <p>Our ready-made prototyping platform gets you started with connected devices immediately, and as your business scales, our experience will help you face any growth challenges.
          </p>
          <p>Oh yeah. We also love <a href="/vr">VR</a>! :)</p>
        </div>
      </div>
    </section>

    <section class="block-full intro-outro">
      <p>So what do we use? Well, there isn't really anything we don't like!<br>
        But right now we're really into C#, Javascript, HTML5, CSS3,<br>Google Cloud Platform,
        <a href="http://q42.com/swift">Swift</a>, Scala, <a href="http://q42.com/meteor">Meteor</a>, and WebGL.</p>
      <p>Want to know more? Check out our <a href="/toolbox">toolbox</a>.</p>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/projecten/postnl.jpg" alt=""/>
          <p>Bar codes and QR codes: hipster and retro at the same time</p>
        </div>
        <div class="body">
          <h2>PostNL</h2>
          <h3>Post office in your pants pocket</h3>
          <p>A fresh and surprsing vision of the future of mail: that's what we're building with PostNL.
            The first step consists of new apps for iOS and Android.</p>
          <p><a href="http://www.postnl.nl/ontvangen/pakket-ontvangen/postnl-app/" class="external">Install the app</a> (Dutch)</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/huesmall.jpg" alt="">
          <p>Lighting for geeks.</p>
        </div>
        <div class="body">
          <h2>Philips Hue</h2>
          <h3>Control your lights with your smartphone</h3>
          <p>Inventing the future of lighting together with Philips as an Internt of Things product, running it on Google App Engine, and then selling it in the Apple Store. That's Hue.</p>
          <p><a href="/blog/post/34827577445/trots-op-philips-hue">Read more</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/projecten/klm-applewatch.jpg" alt="" />
          <p>Zoveel handiger dan een stapel papier</p>
        </div>
        <div class="body">
          <h2>KLM for Apple Watch</h2>
          <h3>Check in from your watch</h3>
          <p>Together with AKQA we made checking in with KLM even easier!
            Your Apple Watch gives you insight into your next flight, terminal,
            gate, seat and even how long it'll take to walk to your gate.</p>
          <p><a href="/blog/post/125336396528/klms-apple-watch-app-catches-your-plane" class="external">Read how we did it</a></p>
        </div>
      </div>
    </section>

    <section class="block-full intro-outro">
      <p>Our greatest pride are the <a href="/about-q42">{{num_employees}} Q'ers</a> with whom we work to improve the Internet and leave a mark. As a "happy place for nerds" we were awarded the 2013 <a href="http://www.greatplacetowork.nl/publicaties-en-evenementen/klantcases/693-q42" class="external">Great Place to Work award</a>.</p>
      <p>We also love coming up with our own products, experiments and games. And we have our own idea hatchery, Area 42, where we work together with anyone who has a brilliant idea.</p>
    </section>

    <section class="block-large">

      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/codeuur.jpg" alt="">
          <p>Is het al vrijdag?!</p>
        </div>
        <div class="body">
          <h2>CodeUur</h2>
          <h3>One hour of programming every Friday</h3>
          <p>Today, being able to program is just as important of a skill as
            maths and geography. With CodeUur we're teaching every primary
            school pupil in the Netherlands how to code.</p>
          <p><a href="http://q42.nl/blog/post/112612929128/het-is-zover-stichting-codeuur-lanceert">Read more about our mission</a> (Dutch)</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/girlcode.jpg" alt="">
          <p>An alternative to all those BOY CODE meetups</p>
        </div>
        <div class="body">
          <h2>Girl Code</h2>
          <h3>More women in tech</h3>
          <p>Besides getting more kids to code, we also think more women should
            be able to take on more technical roles. As such we're getting
            involved in various ways, including with <a href="/blog/post/123023600323/girl-code">Girl Code</a>,
            a meetup for women who want to learn more about tech.</p>
          <p><a href="/blog/post/123023600323/girl-code">Read more about Girl Code</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/meetups.jpg" alt="">
          <p>What do you mean nerds are antisocial?</p>
        </div>
        <div class="body">
          <h2>Meetups</h2>
          <h3>Sharing our passion</h3>
          <p>Learning with and from each other: what's why we organise meetups,
            including about Meteor, Girl Code, games, and Google Cloud Platform,
            but everything is fair game as far as we're concerned!</p>
          <!-- <p><a href="#">More about our meetups</a></p> -->
        </div>
      </div>

    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/w00tcamp/oculus.jpg" alt="">
          <p>Oculus Unrift</p>
        </div>
        <div class="body">
          <h2>w00tcamp</h2>
          <h3>A weekend of geekery</h3>
          <p>Every year everyone at Q42 comes together to compete at a two day long hackathon called w00tcamp. This year we did it again in November.</p>
          <p><a href="/w00tcamp">See the results!</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/gamessmall.jpg" alt="">
          <p>Playing and creating</p>
        </div>
        <div class="body">
          <h2>Games</h2>
          <h3>Digital and analogue</h3>
          <p>Peter Pan will always be young. And so will the Q'ers. Playing games is in our blood and as such we enjoy making our own games. Sort of like fun therapy.</p>
          <p><a href="/games">Check out all our games</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/ixe/empatio.jpg" alt="">
          <p>Engineering with empathy</p>
        </div>
        <div class="body">
          <h2>Interaction Engineering</h2>
          <h3>Because design is how it works</h3>
          <p>Our obsession with building software that's easy to use is expressed
            in the role we gave a few of our best.</p>
          <p><a href="/interaction-engineering">Read our manifesto</a></p>
        </div>
      </div>
    </section>

  </div>
</template>
