<template name="en_home">

  <div class="container">

    <section class="block-full intro-outro">
      <h1>Creative Technology</h1>
      <p>
        Q42 creates software for the web, mobile and the Internet of Things.<br>
        We're {{num_employees}} nerds programming from offices in The Hague, Amsterdam, and Mountain View together with companies like Google, Philips, the Rijksmuseum and the Dutch State Lottery.
      </p>
    </section>

    <section class="block-large">
      <div class="body">
        <h2>Running jumpstarts with Meteor</h2>
        <h3>All of a sudden, prototypes can be realtime, multiplatform and complete enough to go live</h3>
        <p>Time for a confession: we're in the middle of a love affair with <a href="http://meteor.com">Meteor</a>. So much so that we're <a href="http://www.meetup.com/Meteor-Amsterdam/events/212182012/">organising the Meteor Day meetup at our office in Amsterdam</a>! With over two years of experience developing Meteor apps, it's great to see Meteor 1.0 launch and the community come together to celebrate such a big milestone.</p>
        <p>We've started doing jumpstarts and running all of our internal tools with Meteor and even have a stealth startup running on it.</p>
        <p>Want to learn more? Contact our resident Meteor expert <a href="mailto:rahul@q42.com">Rahul</a> or <a href="mailto:sales@q42.nl">our sales team</a> and we'll chat!</p>
        <p>Or just <a href="/meteor" class="readmore">take a look at what we've done so far with Meteor</a></p>
      </div>
      <div class="visual caption">
        <img data-src="http://static.q42.nl/images/q42meteor.jpg" alt="Meteor Day">
        <p>Confession: we're in love with Meteor</p>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/q42hq.jpg" alt="">
          <p>Our offices in the Hague</p>
        </div>
        <div class="body">
          <h2><a href="/projects">Projects</a></h2>
          <p>Teaming up to make the Internet more fun together. Like the new prize-winning "Staatsloterij" site. Or the services that power the Philips Hue lightbulbs.</p>
          <p>But also the new Rijksmuseum, 9292, Van Gogh Museum, Denhaag.com, Schooltas, UIT app, the Design Museum <a href="/projects">and more</a>.</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/partners_small.jpg" alt="">
          <p>Want to become partners?</p>
        </div>
        <div class="body">
          <h2>Jumpstarts &amp; (Ad)ventures</h2>
          <p>During a jumpstart, we'll work with you to flesh out an idea in one week, with a high quality team. When we feel a jumpstart has the power to leave a mark, we may invest in the idea. Ideas we've invested in include our own products, games, and experiments.</p>
          <p>We've done jumpstarts for companies including Shell, Taxi Electric, Umuntu Media, Nannii, Spinn Coffee and Swisscom.</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/huesmall.jpg" alt="">
          <p>Philips Hue</p>
        </div>
        <div class="body">
          <h2>Internet of Things</h2>
          <p>We've built up significant experience in connected devices, the smart home, and wearable technology - from in-house experiments to global, large scale products.</p>
          <p>Our ready-made prototyping platform gets you started with connected devices immediately, and as your business scales, our experience will help you face any growth challenges.
          </p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large block-no-padding-after right">
        <div class="body">
          <h2>Design Museum</h2>
          <h3>A beautiful exposition of great design</h3>
          <p>The Design Museum in London approached us to find out how we'd feel about building them a new website. Obviously, we said yes, and brought Fabrique with us.</p>
          <p>The result is the new Design Museum website, a gorgeous showcase of the museum's best design, from architecture and fashion to graphics, product and industrial design.</p>
          <p><a href="http://designmuseum.org" class="external">See great design at the Design Museum</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/projecten/designmuseum.jpg" alt="">
          <p>No jank here!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large block-no-padding-after">
        <div class="body">
          <h2>Van Gogh Museum</h2>
          <h3>The story of an historic painter</h3>
          <p>The Van Gogh Museum, one of Amsterdam's most famous, deserves not just a beautiful display of his work, but also an immersive and in-depth exploration of his life. That's the approach we decided to take with Fabrique.</p>
          <p>The new website, once again designed tablet and smart device-first, weaves art and stories together. From Almond Blossom to The Bedroom.</p>
          <p><a href="http://vangoghmuseum.nl" class="external">Experience the Van Gogh Museum</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/projecten/vangoghmuseum.jpg" alt="">
          <p>Meet Vincent</p>
        </div>
      </div>
    </section>

    <section class="block-large block-no-padding-after right">
      <div class="body">
        <h2>Dutch State Lottery</h2>
        <h3>The new prize-winning website</h3>
        <p>The new Staatsloterij website now allows customers to buy virtually all types of tickets.</p>
        <p>We developed the site together with Fabrique and the Digital team at the Staatsloterij.</p>
        <p>The site was developed tablet-first, but thanks to the responsive design also works perfectly on large screens and all types of smartphones.</p>
        <p><a href="http://www.staatsloterij.nl" class="external">Take a chance</a></p>
      </div>
      <div class="visual caption">
        <img data-src="http://static.q42.nl/images/projecten/staatsloterij.jpg" alt="">
        <p>Jackpot!</p>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/rijks.jpg" alt="Rijksmuseum">
          <p>"The best website ever," according to Vasilis</p>
        </div>
        <div class="body">
          <h2>Rijksmuseum</h2>
          <h3>High resolution art</h3>
          <p>Responsive, tablet-first, with nice animations: the new Rijksmuseum website. A noteworthy part of the site is the Rijksstudio: your own collection, workshop and museum shop in one.</p>
          <p><a href="http://rijksmuseum.nl/en" class="external">Visit the Rijksmuseum</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/huesmall.jpg" alt="">
          <p>Lighting for geeks.</p>
        </div>
        <div class="body">
          <h2>Philips Hue</h2>
          <h3>Control your lights with your smartphone</h3>
          <p>Inventing the future of lighting together with Philips as an Internt of Things product, running it on Google App Engine, and then selling it in the Apple Store. That's Hue.</p>
          <p><a href="/blog/post/34827577445/trots-op-philips-hue">Read more</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/schooltas3.jpg" alt="">
          <p>If only we were still in school. #jealous</p>
        </div>
        <div class="body">
          <h2>Schooltas</h2>
          <h3>ThiemeMeulenhoff's iPad app</h3>
          <p>600 grams is enough for any school book. Schooltas, by ThiemeMeulenhoff, is a coursebook, workbook, and notepad in one, allowing pupils to work solely with the iPad.</p>
          <p><a href="http://schooltas.net" class="external">More about Schooltas</a></p>
        </div>
      </div>
    </section>

    <section class="block-full intro-outro">
      <p>Our greatest pride are the <a href="/about-q42">{{num_employees}} Q'ers</a> with whom we work to improve the Internet and leave a mark. As a "happy place for nerds" we were awarded the 2013 <a href="http://www.greatplacetowork.nl/publicaties-en-evenementen/klantcases/693-q42" class="external">Great Place to Work award</a>.</p>
      <p>We also love coming up with our own products, experiments and games. And we have our own idea hatchery, Area 42, where we work together with anyone who has a brilliant idea.</p>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/w00tcamp/oculus.jpg" alt="">
          <p>Oculus Unrift</p>
        </div>
        <div class="body">
          <h2>w00tcamp</h2>
          <h3>A weekend of geekery</h3>
          <p>Every year everyone at Q42 comes together to compete at a two day long hackathon called w00tcamp. This year we did it again in November.</p>
          <p><a href="/w00tcamp">See the results!</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/gamessmall.jpg" alt=""
>
          <p>Playing and creating</p>
        </div>
        <div class="body">
          <h2>Games</h2>
          <h3>Digital and analogue</h3>
          <p>Peter Pan will always be young. And so will the Q'ers. Playing games is in our blood and as such we enjoy making our own games. Sort of like fun therapy.</p>
          <p><a href="/games">Check out all our games</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/handcraft-small.jpg" alt="Handcraft">
          <p>Prototyping with HTML is better than without</p>
        </div>
        <div class="body">
          <h2>Handcraft</h2>
          <h3>HTML prototyping</h3>
          <p>With Handcraft you make prototypes in the browser by just writing code. Unlimited file uploads, easily share your work, and a polished interface.</p>
          <p><a href="http://handcraft.com" class="external">Try Handcraft for free</a></p>
        </div>
      </div>
    </section>

  </div>
</template>
