<template name="en_io">
	<div class="container blog">

    <header class="block-text">
      <h1>Q42 at Google I/O 2014</h1>
    </header>

    <section class="block-large">
      <div class="intro">
        <p>Q42 is at Google I/O! We're in the <a href="https://www.google.com/events/io/sandbox">Sandbox</a> together with Philips to demo our work on the <a href="http://meethue.com">Philips Hue</a> smart lightbulbs. Stop by for a chat if you're at the conference!</p>
        <ol class="qers">
        	{{#each employee}}
        		{{> en_employee}}
        	{{/each}}
        </ol>
      </div>
      <aside class="block-small subcontent">
        <h2>See also</h2>
        <ul>
          <li><a href="http://twitter.com/q42">Follow Q42 on Twitter</a></li>
          <li><a href="http://facebook.com/q42bv">Like Q42 on Facebook</a></li>
        </ul>
      </aside>
    </section>

    <div id="blog-posts">
    {{#each post}}
      <div class="block-large">
        <h1><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></h1>
        {{> en_postDate}}
        {{{intro}}}
        <p class="block-readmore">
          <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Read more</a>
        </p>
      </div>
    {{/each}}
    </div>
    
   </div>
</template>