<template name="en_io">
	<div class="container">

    <header class="block-text">
      <h1>Q42 at Google I/O 2014</h1>
    </header>

    <section class="block-large">
      <div class="intro">
        <a class="visual caption">
          <img src="{{assetsUrl}}/images/wear.jpg" alt="">
          <p>The world's first home automation app for Android wear</p>
        </a>

        <p>Q42 was at <a href="https://www.google.com/events/io">Google I/O</a>, Google's annual developer conference in San Francisco on June 25th and 26th.
        We were part of the <a href="https://www.google.com/events/io/sandbox">sandbox</a> together with our friends from Philips, to answer developer questions about Hue, connected devices and the Internet of Things.</p>

        <p>The result: we had a ton of visitors, Larry Page loved our booth, and we launched one of the very first Android Wear apps, which got featured at the main Android Wear presentation. We met a gazillion awesome fellow nerds and other inspiring people, learned cutting edge stuff at sessions and workshops, got interviewed, and had a lot of fun.</p>

        <p>Read more:</p>
        <ul>
          <!--<li>Hue Control, the world's first home automation app for Android Wear</li>-->
          <li><a href="/blog/post/90135781773/q42-goes-google-i-o">Our Q42/Philips booth at the Google Cloud Platform area</a></li>
          <li><a href="/blog/post/90118275133/android-wear-w00h00-new-toys">Building Android Wear apps: a developer viewpoint</a></li>
          <li><a href="https://www.youtube.com/watch?feature=player_detailpage&amp;v=sha_w3_5c2c&t=250">Hue Control at the Android Wear session at Google I/O [video]</a></li>
        </ul>

      </div>
      <aside class="block-small subcontent">
        <h2>Full coverage</h2>
        <ul>
          {{#each post}}
          <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </aside>
    </section>

    <div class="blog block-large">
      <div class="blog-posts">
      {{#each post}}
        <div class="blog-item">
          <h1><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></h1>
          {{> en_postDate}}
          {{{intro}}}
          <p class="block-readmore">
            <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Read more</a>
          </p>
        </div>
      {{/each}}
      </div>
    </div>

   </div>
</template>
