<template name="en_jumpstarts">
  <div class="container">

    {{> thing id='jumpstarts-header'}}

    {{#block size='large'}}
      {{> thing id='jumpstarts-intro'}}
    {{/block}}

    {{#group ids='printr,stockit,kazoo'}}{{/group}}

    {{#block size='large' align='right'}}{{> thing id='tesloop'}}{{/block}}

    {{#group ids='moti,nexi,locali'}}{{/group}}

    {{#block size='large'}}{{> thing id='spinn'}}{{/block}}

    {{#group ids='taxi-electric,livelearn,umuntu-media'}}{{/group}}

    {{#group ids='paper,shell,benbenet'}}{{/group}}

    {{#block size='large'}}{{> thing id='game-of-drones'}}{{/block}}

    {{#group ids='nannii,swisscom,bavaria'}}{{/group}}

  </div>
</template>
