<template name="en_meteor">
	<div class="container">

    <header class="block-text">
      <h1>Meteor at Q42</h1>
    </header>

    <section class="block-large">
      <div class="intro">
        <a class="visual caption">
          <iframe width="100%" height="300" src="//www.youtube.com/embed/UmUA66jOpzg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          <p>Testing Democracy Lab :)</p>
        </a>

        <p>At Q42 we love <a href="http://meteor.com">Meteor</a>. In fact, we were early adopters of the platform in 2012 when we ported this website from .NET to Meteor, and our interaction engineer Rahul became a recognised "Meteor Captain" when he started <a href="http://meetup.com/meteor-amsterdam">organising Meteor meetups</a> at our offices. These days we even have four groups we help run:</p>

        <ul>
          <li><a href="http://meetup.com/meteor-haag">Meteor the Hague</a></li>
          <li><a href="http://meetup.com/meteor-amsterdam">Meteor Amsterdam</a></li>
          <li><a href="http://meetup.com/meteor-uppsala">Meteor Uppsala</a></li>
          <li><a href="http://meetup.com/meteor-south-bay">Meteor South Bay</a></li>
        </ul>

        <p>Since then, we've continued exploring and it's become one of our go-to platforms for internal apps and jumpstarts. We've started building client projects with Meteor and are now even running a stealth startup on it. See below for a quick overview of what we've built so far.</p>

        <p>Interested in talking to us about a Meteor project? Get in touch with <a href="mailto:rahul@q42.com">Rahul</a> or <a href="mailto:sales@q42.nl">our sales team</a>.</p>

      </div>
      <aside class="block-small subcontent">
        <h2>Blog posts about Meteor</h2>
        <ul>
          {{#each post}}{{#if title}}
          <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
          {{/if}}{{/each}}
        </ul>
      </aside>
    </section>

    <!-- todo: add w00tcamp voting app -->

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <iframe width="100%" height="150" src="//www.youtube.com/embed/gUdpVJ61X9Q?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          <p>So many devices</p>
        </div>
        <div class="body">
          <h2>Democracy Lab</h2>
          <p>Perfect use case for Meteor: an app for high school kids touring an interactive installation about democracy that needs to be configured per session, customisable, reflect in realtime how far along the kids are, and print a certificate at the end of the tour.</p>
          <p>Built by Remco. He had a great time :)</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/thequreapi.jpg" alt="">
          <p>One-line REST API with HTTP.publish!</p>
        </div>
        <div class="body">
          <h2>The Qure API</h2>
          <p>We're working on exposing our internal tools to Q'ers so they can build their own, and guess what! It turns out, building APIs with Meteor is a breeze too!</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/spinncoffee.jpg" alt="">
          <p>"Because life is too short to drink bad coffee"</p>
        </div>
        <div class="body">
          <h2>Spinn Coffee Prototype</h2>
          <p>A wifi-enabled coffee maker that always keeps you stocked up thanks to sensors inside the device. We built this in a week on a jumpstart and ended up getting the client their seed round!</p>
          <p><a href="http://spinn.coffee" class="external">See a preview</a></p>
        </div>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/thequre.png" alt="">
          <p>(Real-)time tracking</p>
        </div>
        <div class="body">
          <h2>The Qure</h2>
          <p>Our internal time tracking tool was built in 2006 on .NET 2.0 and really needed a refresh. But since time tracking tools are no fun to build, we never got around to it... until now ;-)</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/lessonup.jpg" alt="">
          <p>We're taking this project very seriously.</p>
        </div>
        <div class="body">
          <h2>LessonUp!</h2>
          <p>An upcoming stealth educational startup (ad)venture we're working on. Sssh, it's a secret! But suffice to say we're very happy that we decided to build it with Meteor. :)</p>
          <p><a href="http://twitter.com/lessonup" class="external">Follow on Twitter</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-gce.jpg" alt="">
          <p>And then Google announced managed VMs... :|</p>
        </div>
        <div class="body">
          <h2>Meteor on GCE</h2>
          <p>Since we work so much with Google Cloud Platform stuff, we (and by we, we mean Christiaan) wondered if it would be possible to deploy Meteor to Compute Engine. Turns out... it is!</p>
          <p><a href="http://github.com/q42/meteor-on-gce" class="external">Try it out</a> | <a href="http://q42.com/blog/post/98968122208/how-to-deploy-meteor-on-google-compute-engine" class="external">Read the blogpost</a></p>
        </div>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-q42nl.jpg" alt="">
          <p>Insert recursion joke here</p>
        </div>
        <div class="body">
          <h2>Q42.nl</h2>
          <p>Yo dawg, this site was built with Meteor! We've <a href="http://github.com/q42/q42.nl">open-sourced it on Github</a> and host it on the meteor.com servers.</p>
          <p><a href="http://q42.nl">Q42.nl on Meteor</a> | <a href="http://github.com/q42/q42.nl" class="external">Code on Github</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-cube42.jpg" alt="">
          <p>Can you get to level 4-2?</p>
        </div>
        <div class="body">
          <h2>Cube 42</h2>
          <p>An experimental puzzle game using Meteor for server-side logic and accounts and CSS for the rendering. Try it out and see if you can crack it!</p>
          <p><a href="http://cube42.nl" class="external">Play Cube 42</a> | <a href="https://github.com/q42/cube42" class="external">Code on Github</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-worldcup.jpg" alt="">
          <p>Real-time penalty-taking</p>
        </div>
        <div class="body">
          <h2>World Cup Betting Pool</h2>
          <p>The World Cup betting pool at Q42 ran on paper, but of course Meteor is a much better use case for this kind of thing, so Rahul implemented (most of) the logic.</p>
          <p><a href="http://worldcup2014.meteor.com">See the (defunct) app</a> | <a href="http://github.com/primigenus/worldcup2014" class="external">Code on Github</a></p>
        </div>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-bedenktijdjes.jpg" alt="">
          <p>Time to think</p>
        </div>
        <div class="body">
          <h2>Bedenktijdjes</h2>
          <p>Our internal app for submitting and voting on talks and workshops. In use for over a year and still going strong!</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-livelearn.jpg" alt="">
          <p>Real-time teaching with Meteor!</p>
        </div>
        <div class="body">
          <h2>Livelearn Prototype</h2>
          <p>Top secret prototype for an in-classroom education app. We spent a week prototyping and came out with a great result that was functional enough to use for market research.</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-taxielectric.jpg" alt="">
          <p>Upgrading cabs to be more like Uber</p>
        </div>
        <div class="body">
          <h2>Electric Taxi prototype</h2>
          <p>Live data streamed from taxis driving around Amsterdam to a server and displayed in an Android app for the driver and rider to view and use. Super-quick development thanks to Meteor.</p>
        </div>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-incomiiing.jpg" alt="">
          <p>Your base is under attack</p>
        </div>
        <div class="body">
          <h2>Incomiiing</h2>
          <p>We track incoming leads and projects with our own custom-built app, built with Meteor. Because that was the fastest option.</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-cursors.jpg" alt="">
          <p>Beautifully blended CSS gradients</p>
        </div>
        <div class="body">
          <h2>Meteor 102 - Cursors</h2>
          <p>A demo for newbie Meteor students who can use this repository to learn about real-time multi-user environments.</p>
          <p><a href="http://cursors.meteor.com" class="external">Try it</a> | <a href="http://github.com/primigenus/cursors" class="external">Code on Github</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/meteor-universe.png" alt="">
          <p>Prepare to have your mind blown</p>
        </div>
        <div class="body">
          <h2>Meteor 101 - Basics</h2>
          <p>A basic demo of Meteor often used by Rahul at colleges, universities and other places where a quick live coding session is effective.</p>
          <p><a href="http://github.com/primigenus/meteor-demo" class="external">Code on Github</a></p>
        </div>
      </div>
    </section>

   </div>
</template>
