<template name="en_meteor">
	<div class="container">

    <header class="block-text">
      <h1>Meteor at Q42</h1>
    </header>

    <section class="block-large">
      <div class="intro">
        <a class="visual caption">
          <iframe width="100%" height="300" src="//www.youtube.com/embed/UmUA66jOpzg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          <p>Testing Democracy Lab :)</p>
        </a>

        <p>At Q42 we love <a href="http://meteor.com">Meteor</a>.
					In fact, we were early adopters of the platform in 2012 when we ported
					this website from .NET to Meteor, and our interaction engineer Rahul
					became a recognised "Meteor Captain" when he started
					<a href="http://meetup.com/meteor-nl">organising Meteor meetups</a>
					at our offices:</p>

        <ul>
					<li><a href="http://meetup.com/meteor-south-bay">Meteor South Bay</a></li>
          <li><a href="http://meetup.com/meteor-nl">Meteor NL</a></li>
        </ul>

        <p>Since then, we've continued exploring and it's become one of our
					go-to platforms for internal apps and <a href="https://q42.com/jumpstarts">jumpstarts</a>.
					We've started building client projects with Meteor and are now even running a
					startup on it. See below for a quick overview of what we've built so far.</p>

        <p>Interested in talking to us about a Meteor project? Get in touch with
					<a href="mailto:rahul@q42.com">Rahul</a> or
					<a href="mailto:sales@q42.nl">our team</a>.</p>

      </div>
      <aside class="block-small subcontent">
        <h2>Blog posts about Meteor</h2>
        <ul>
          {{#each post}}{{#if title}}
          <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
          {{/if}}{{/each}}
        </ul>

				<h2>Our packages</h2>
				<ul>
					<li>
						<a href="https://atmospherejs.com/q42">Q42 on Atmosphere</a>, including:
						<a href="http://atmospherejs.com/q42/autoform-markdown">q42:autoform-markdown</a>,
						<a href="https://atmospherejs.com/q42/meteor-admin-assetmanager">q42:meteor-admin-assetmanager</a>
						<a href="http://atmospherejs.com/q42/pending-changes">q42:pending-changes</a>
						and <a href="https://atmospherejs.com/q42/dutchman">q42:dutchman</a>!
					</li>
					<li><a href="http://atmospherejs.com/remcoder/chronos">remcoder:chronos</a></li>
					<li><a href="https://www.npmjs.com/package/ddp-server-reactive">ddp-server-reactive</a></li>
					<li><a href="http://atmospherejs.com/remcoder/fix-back-button-android">remcoder:fix-back-button-android</a></li>
					<li><a href="http://atmospherejs.com/rahul/animate-everything">rahul:animate-everything</a></li>
				</ul>
      </aside>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteormeetup1.jpg" alt="">
          <p>#MeteorDay at the Amsterdam meetup</p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteormeetup2.jpg" alt="">
          <p>Remco talking about Democracy Lab</p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteormeetup3.jpg" alt="">
          <p>Over 100 people RSVPed!</p>
        </div>
      </div>
    </section>

		<section class="block-large">
			<div class="body">
				<h2>LessonUp</h2>
				<p>Teachers need an easier way to find great content on the internet and
					use it in class. We're building that platform as a startup, developed
					with Meteor. It's been great!</p>
				<p><a href="http://lessonup.io/en" class="external">Check out LessonUp</a></p>
			</div>
			<div class="visual caption">
				<a href="http://lessonup.io/en">
					<img src="{{assetsUrl}}/images/lessonup.jpg" alt="">
					<p>It's a pun.</p>
				</a>
			</div>
		</section>

		<section class="block-large">
			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-q42app.jpg" alt="">
          <p>In case it was unclear.</p>
				</div>
				<div class="body">
					<h2>Q42 app</h2>
					<p>Tying together lots of office automation and management services like
						scheduling, address books and actual important stuff like being able
						to see who's in the bathroom, it's the Q42 App!</p>
				</div>
			</div>
			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-gameofdrones.jpg" alt="">
          <p>Game of Drones at Maker Faire</p>
				</div>
				<div class="body">
					<h2>Game of Drones</h2>
					<p>Build the software that will run on a radio controller for racing drones
						together with a startup full of hardware people in the Highway One
						accelerator. Do it in one week. Go!</p>
				</div>
			</div>
			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/spinncoffee.jpg" alt="">
					<p>"Because life is too short to drink bad coffee"</p>
				</div>
				<div class="body">
					<h2>Spinn Coffee</h2>
					<p>A wifi-enabled coffee maker that always keeps you stocked up thanks to sensors inside the device. We built this in a week on a jumpstart and ended up getting the client their seed round!</p>
					<p><a href="http://spinn.coffee" class="external">See a preview</a></p>
				</div>
			</div>
		</section>

		<section class="block-large right">
			<div class="body">
				<h2>Tesloop</h2>
				<p>At a recent Tesla shareholders meeting,
					<a href="http://motherboard.vice.com/read/this-bus-line-uses-teslas-only-was-founded-by-a-16-year-old">a 16 year old stood up and
					asked Elon Musk a question</a>: would he be able to use the upcoming
					driver assistance Autopilot feature in his limo service so that he
					could put customers in the driver's seat?</p>
				<p>The teenager turned out to be one of the co-founders of <a href="http://tesloop.com">Tesloop</a>, a startup
					building a sustainable transport platform that shuttles people between
					Tesla Superchargers in a Model S. We hooked up with them in Los Angeles
					and built the first version of their app that went from nothing to
					in production with Meteor in just four and a half days. The goal? Start booking trips!</p>
				<p><a href="http://book.tesloop.com">Book a trip in a Model S</a></p>
			</div>
			<div class="visual caption">
				<img src="{{assetsUrl}}/images/jumpstarts/tesloop.jpg" alt="">
				<p>The first project we've done that Elon Musk personally knows about</p>
			</div>
		</section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <iframe width="100%" height="160" src="//www.youtube.com/embed/gUdpVJ61X9Q?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          <p>So many devices</p>
        </div>
        <div class="body">
          <h2>Democracy Lab</h2>
          <p>Perfect use case for Meteor: an app for high school kids touring an interactive installation about democracy that needs to be configured per session, customisable, reflect in realtime how far along the kids are, and print a certificate at the end of the tour.</p>
          <p>Built by Remco. He had a great time :)</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/thequreapi.jpg" alt="">
          <p>One-line REST API with HTTP.publish!</p>
        </div>
        <div class="body">
          <h2>The Qure API</h2>
          <p>We're working on exposing our internal tools to Q'ers so they can build their own, and guess what! It turns out, building APIs with Meteor is a breeze too!</p>
        </div>
      </div>

			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-gke.png" alt="">
					<p>We are the Kube. You will be assimilated</p>
				</div>
				<div class="body">
					<h2>Meteor on Container Engine</h2>
					<p>Meteor's hosting product, Galaxy, runs on Google's Kubernetes.
						We wrote this script to showcase how Kubernetes works on Container
						Engine. Use it to deploy your app into a Docker-based cluster!</p>
					<p><a href="http://github.com/q42/meteor-gke" class="external">Meteor on GKE</a></p>
				</div>
			</div>
    </section>

		<section class="block-large">
			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-animate-everything.jpg" alt="">
					<p>Slip this into someone else's project without telling them!</p>
				</div>
				<div class="body">
					<h2>rahul:animate-everything</h2>
					<p>The shortest package in the universe at just one line of code. Unsurprisingly, it also does very little...</p>
					<p><a href="http://atmospherejs.com/rahul/animate-everything">meteor add rahul:animate-everything</a></p>
				</div>
			</div>
			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-ezpublish.jpg" alt="">
					<p>So EZ your dad could publish over DDP!</p>
				</div>
				<div class="body">
					<h2>q42:ezpublish</h2>
					<p>Publish a subscription once and let the subscriber determine the details. It's pubsub, but backwards!</p>
					<p><a href="http://atmospherejs.com/q42/ezpublish">meteor add q42:ezpublish</a></p>
				</div>
			</div>
			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-chronos.jpg" alt="">
					<p>Get it?</p>
				</div>
				<div class="body">
					<h2>remcoder:chronos</h2>
					<p>Remco's first Meteor package is a reactive timer and wrapper for momentjs to write time-dependent updates in a Meteoric way.</p>
					<p><a href="http://atmospherejs.com/remcoder/chronos">meteor add remcoder:chronos</a></p>
				</div>
			</div>
		</section>

    <section class="block-large">
			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-thebutton.jpg" alt="">
					<p>It's still going!</p>
				</div>
				<div class="body">
					<h2>/r/thebutton</h2>
					<p>Rahul wrote an article about how to build your own /r/thebutton with Meteor!</p>
					<p><a href="https://medium.com/@Rahul/build-your-own-r-thebutton-with-meteor-d4b878fbb0d2">Read all about it</a></p>
				</div>
			</div>

			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-livelearn.jpg" alt="">
					<p>Real-time teaching with Meteor!</p>
				</div>
				<div class="body">
					<h2>Livelearn</h2>
					<p>Top secret prototype for an in-classroom education app. We spent a week prototyping and came out with a great result that was functional enough to use for market research.</p>
				</div>
			</div>

			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-taxielectric.jpg" alt="">
					<p>Upgrading cabs to be more like Uber</p>
				</div>
				<div class="body">
					<h2>Taxi Electric</h2>
					<p>Live data streamed from taxis driving around Amsterdam to a server and displayed in an Android app for the driver and rider to view and use. Super-quick development thanks to Meteor.</p>
				</div>
			</div>
    </section>

		<section class="block-large">
			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-w00tcampvotingapp.jpg" alt="">
					<p>Real-time humiliation!</p>
				</div>
				<div class="body">
					<h2>w00tcamp voting app</h2>
					<p>For our annual hackathon w00tcamp, we ask teams to pitch their idea, which the rest of the group votes on. We needed an easy way to build a voting tool that supported the features we wanted.</p>
					<p>Of course we did it with Meteor ;-)</p>
				</div>
			</div>

			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/w00tcamp/straightshot.jpg" alt="">
					<p>Our first foray into Meteor back in 2012</p>
				</div>
				<div class="body">
					<h2>Straightshot</h2>
					<p>The best time to try a new technology is a hackathon (of course!), which is why we tried to build the web app component of Straightshot at w00tcamp in November of 2012. It worked out so well that we've been using it ever since! :)</p>
					<p><a href="http://straightshot.meteor.com" class="external">See if it still works</a></p>
				</div>
			</div>

			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-kets.jpg" alt="">
					<p>Could also be called Pong</p>
				</div>
				<div class="body">
					<h2>Kets</h2>
					<p>An internal tool for peer reviews that makes it easier for Q'ers to learn how they can improve from each other. At this point it's a no-brainer: we built it with Meteor because we knew it would be faster!</p>
				</div>
			</div>
		</section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteor-q42nl.jpg" alt="">
          <p>Insert recursion joke here</p>
        </div>
        <div class="body">
          <h2>Q42.nl</h2>
          <p>Yo dawg, this site was built with Meteor! We've <a href="http://github.com/q42/q42.nl">published the source on Github</a>.</p>
          <p><a href="https://q42.nl">Q42.nl on Meteor</a> | <a href="http://github.com/q42/q42.nl" class="external">Code on Github</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteor-cube42.jpg" alt="">
          <p>Can you get to level 4-2?</p>
        </div>
        <div class="body">
          <h2>Cube 42</h2>
          <p>An experimental puzzle game using Meteor for server-side logic and accounts and CSS for the rendering. Try it out and see if you can crack it!</p>
          <p><a href="http://cube42.nl" class="external">Play Cube 42</a> | <a href="https://github.com/q42/cube42" class="external">Code on Github</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteor-worldcup.jpg" alt="">
          <p>Real-time penalty-taking</p>
        </div>
        <div class="body">
          <h2>World Cup Betting Pool</h2>
          <p>The World Cup betting pool at Q42 ran on paper, but of course Meteor is a much better use case for this kind of thing, so Rahul implemented (most of) the logic.</p>
          <p><a href="http://worldcup2014.meteor.com">See the (defunct) app</a> | <a href="http://github.com/primigenus/worldcup2014" class="external">Code on Github</a></p>
        </div>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteor-bedenktijdjes.jpg" alt="">
          <p>Time to think</p>
        </div>
        <div class="body">
          <h2>Bedenktijdjes</h2>
          <p>Our internal app for submitting and voting on talks and workshops. In use for over a year and still going strong!</p>
        </div>
      </div>

			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/thequre.png" alt="">
					<p>(Real-)time tracking</p>
				</div>
				<div class="body">
					<h2>The Qure</h2>
					<p>Our internal time tracking tool was built in 2006 on .NET 2.0 and really needed a refresh. But since time tracking tools are no fun to build, we never got around to it... until now ;-)</p>
				</div>
			</div>

			<div class="block-small">
				<div class="visual caption">
					<img src="{{assetsUrl}}/images/meteor-gce.jpg" alt="">
					<p>And then Google announced managed VMs... :|</p>
				</div>
				<div class="body">
					<h2>Meteor on GCE</h2>
					<p>Since we work so much with Google Cloud Platform stuff, we (and by we, we mean Christiaan) wondered if it would be possible to deploy Meteor to Compute Engine. Turns out... it is!</p>
					<p><a href="http://github.com/q42/meteor-on-gce" class="external">Try it out</a> | <a href="https://q42.com/blog/post/98968122208/how-to-deploy-meteor-on-google-compute-engine" class="external">Read the blogpost</a></p>
				</div>
			</div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteor-incomiiing.jpg" alt="">
          <p>Your base is under attack</p>
        </div>
        <div class="body">
          <h2>Pijplijn</h2>
          <p>We track incoming leads and projects with our own custom-built app, made with Meteor. Because that was the fastest option.</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteor-cursors.jpg" alt="">
          <p>Beautifully blended CSS gradients</p>
        </div>
        <div class="body">
          <h2>Meteor 102 - Cursors</h2>
          <p>A demo for newbie Meteor students who can use this repository to learn about real-time multi-user environments.</p>
          <p><a href="http://cursors.meteor.com" class="external">Try it</a> | <a href="http://github.com/primigenus/cursors" class="external">Code on Github</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/meteor-universe.png" alt="">
          <p>Prepare to have your mind blown</p>
        </div>
        <div class="body">
          <h2>Meteor 101 - Basics</h2>
          <p>A basic demo of Meteor often used by Rahul at colleges, universities and other places where a quick live coding session is effective.</p>
          <p><a href="http://github.com/primigenus/meteor-demo" class="external">Code on Github</a></p>
        </div>
      </div>
    </section>

   </div>
</template>
