<template name="en_about-q42">
  <div class="container">
    <header class="block-text">
      <h1>About <b>Q42</b></h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">
          <p>Some people call us 'a tech-savvy internet agency'. Others just call us nerds. We call ourselves nerds too, to be honest. We just happen to really love good programming.</p>
          <p>But that's not the whole story. Computers are only interesting when they involve people. So even more than programming, we love programming web apps to not just be useful, but also friendly.</p>
        </div>
        <aside class="block-small subcontent">
          <h2>See also</h2>
          <ul>
            <li><a href="http://q42.nl/interaction-engineering">Interaction engineering</a> (Dutch)</li>
            <li><a href="/toolbox">Our toolbox</a></li>
            <li><a href="http://q42.nl/systeembeheersysteem">Our system management system</a> (Dutch)</li>
          </ul>
        </aside>
      </div>
    </section>

    <section id="contact">
      <div class="block-large">
        <div class="block-small block-with-icons">
          <div class="body">
            <h2>Social networking</h2>
            <ul class="iconList">
              <li><i class="fa fa-phone fa-2x"></i><div>Call us: +31 70 445 23 42</div></li>
              <li><i class="fa fa-envelope fa-2x"></i><div>Email us: <a href="mailto:info@q42.nl" title="mail Q42">info@q42.nl</a></div></li>
              <li><i class="fa fa-twitter fa-2x"></i><div>Tweet at us: <a href="http://www.twitter.com/q42" title="Q42 op Twitter" class="external">Twitter</a></div></li>
              <li><i class="fa fa-thumbs-up fa-2x"></i><div>Like us: <a href="http://facebook.com/q42bv" title="Q42 op Facebook" class="external">Facebook</a></div></li>
              <li><i class="fa fa-google-plus fa-2x"></i><div>+1 us: <a href="http://plus.google.com/112933340683830235543" title="Q42 op Google+" class="external">Google+</a></div></li>
              <li><i class="fa fa-linkedin fa-2x"></i><div>Follow us: <a href="http://www.linkedin.com/company/q42" title="Q42 op LinkedIn" class="external">LinkedIn</a></div></li>
            </ul>
          </div>
        </div>

        <div class="block-small block-with-icons">
          <address class="vcard body">
            <h2>Offices</h2>
            <span class="fn hidden">Q42</span>
            <ul class="iconList">
              <li class="adr">
                <i class="fa fa-thumb-tack fa-2x"></i>
                <div>
                  <span class="street-address">Waldorpstraat 17F</span><br>
                  <span class="postal-code">2521CA</span>&#160;<span class="locality">The Hague</span>
                </div>
              </li>
              <li class="adr">
                <i class="fa fa-thumb-tack fa-2x"></i>
                <div>
                  <span class="street-address">Oostelijke Handelskade 749</span><br>
                  <span class="postal-code">1019BW</span>&#160;<span class="locality">Amsterdam</span>
                </div>
              </li>
              <li class="adr">
                <i class="fa fa-thumb-tack fa-2x"></i>
                <div>
                  <span class="street-address">1045A Linda Vista Ave</span><br>
                  <span class="locality">Mountain View</span>, <span class="postal-code">94043</span>, USA
                </div>
              </li>
              <li class="note"><i class="fa fa-dollar fa-2x"></i><div>KvK 30164662 in The Hague</div></li>
            </ul>
          </address>
        </div>

        <div class="block-small block-with-icons">
          <div class="body">
            <h2>How to get here</h2>
            <ul class="iconList">
              <li>
                <i class="fa fa-road fa-2x"></i>
                <div>
                  <span>By car?</span><br>
                  <span><a href="http://maps.google.nl/maps?ie=UTF8&amp;daddr=Q42,+Waldorpstraat+17F,+2521+CA" class="external">To Q42 The Hague.</a></span><br>
                  <span><a href="https://maps.google.nl/maps?ie=UTF8&amp;daddr=oostelijke+handelskade+749+amsterdam" class="external">To Q42 Amsterdam.</a></span><br>
                  <span><a href="https://www.google.com/maps/dir//Design+Spaces+-+Coworking+Office,+1045+Linda+Vista+Ave,+Mountain+View,+CA+94043" class="external">To Q42 Mountain View.</a></span>
                </div>
              </li>
              <li>
                <i class="fa fa-bolt fa-2x"></i>
                <div>
                  <span>By train?</span><br>
                  <span><a href="http://9292.nl/?naar=den-haag_waldorpstraat-17f" class="external">To Q42 The Hague.</a></span><br>
                  <span><a href="http://9292.nl/?naar=amsterdam_oostelijke-handelskade-749" class="external">To Q42 Amsterdam.</a></span>
                </div>
              </li>
              <li>
                <i class="fa fa-fighter-jet fa-2x"></i>
                <div>
                  <span>By fighter jet?</span><br>
                  <span><a href="http://maps.google.nl/maps?ie=UTF8&amp;daddr=Q42,+Waldorpstraat+17F,+2521+CA" class="external">To Q42 The Hague.</a></span><br>
                  <span><a href="https://maps.google.nl/maps?ie=UTF8&amp;daddr=oostelijke+handelskade+749+amsterdam" class="external">To Q42 Amsterdam.</a></span><br>
                  <span><a href="https://www.google.com/flights/" class="external">To Q42 Mountain View.</a></span>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section>

    <section id="locations">
      <div class="block-large">
        <div id="denhaag" class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/q42hq.jpg" alt=""/>
            <p>The clubhouse.</p>
          </div>
          <div class="body">
            <h2>The Hague</h2>
            <p>Right next to Holland Spoor you'll find our base (which are belong to us). Since 2006. Wave if you're in the train. And don't forget to use our free WiFi, or mess around with the Philips Hue lights!</p>
            <p><i class="fa fa-phone"></i> Call Q42 HQ: 070-4452342</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/q020.jpg" alt="" />
            <p>Our hideout in Amsterdam!</p>
          </div>
          <div class="body">
            <h2>Amsterdam</h2>
            <p>The plan was to bring Q closer to the Q'ers. In the meantime, those of us in the Hague are getting pretty jealous, since we have both a slide <em>and</em> a secret room in our Amsterdam office.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/q42us.jpg" alt="">
            <p>Smack dab in the middle of it.</p>
          </div>
          <div class="body">
            <h2>Mountain View</h2>
            <p>Our newest office in Mountain View, south of San Francisco, is only a stone's throw from the Googleplex and Computer History Museum, and in the middle of Silicon Valley. Just the way we like it.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="colleagues">
      <div class="block-full">
        <div class="intro">
          <h2>Hello, we're the Q'ers</h2>
          <ol class="qers">
           	{{> en_employees }}
          </ol>
        </div>
        <div class="clear"></div>
      </div>
    </section>

    <section id="facts">
      <div class="block-large">
        <div class="block-small">
          <div class="body">
            <p>Q42 is more than the sum of</p>
            {{> en_numQers}}
            <p>Q'ers.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="body">
            <p>Today we've already had</p>
            {{> en_koppenKoffie}}
            <p>cups of coffee.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="body">
            <p>And written</p>
            {{> en_regelsCode}}
            <p>lines of code.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="theBeginning">
      <div class="block-large">
        <div class="intro">
          <h2>How it began</h2>
          <p>Co-founder Lon speaks: "On a friday afternoon in the spring of 2000 a phone started ringing. The internet bubble had exploded a few months before, but the bang was yet to reach the Netherlands. Only <a href="http://en.wikipedia.org/wiki/World_Online">Nina Brink</a> had heard the far-off thunder and was busily gathering up her laundry before the storm broke. Nevertheless, a phone was ringing.</p>
          <a class="visual caption">
            <img src="http://static.q42.nl/images/42-douglas-adams-42.jpg" />
            <p>42.</p>
          </a>
          <p>At the time it was ringing I had been working for a rising Dutch internet agency for nearly 3.5 years. After starting on January 1st 1997 as the first employee, I was now the "R&D Manager" of a company of about 150 internet professionals (or so it claimed). It was my phone that was ringing so. A few months before the ringing started, one Kars Veling had become my colleague. Kars proved a fun, direct, but especially smart and honest colleague from day one. It was a match. And it rang. Still. I decided something needed to be done about the ringing. "Hellooo, this is Lon." "Hi, it's Kars, shall we start our own company?" "Yeah, sure."</p>
          <p>Many of us have wondered where the name Q42 comes from. We had decided relatively quickly that "42" had to be a part of our company name. According to "The Hitchhiker's Guide to the Galaxy", an unequaled, hilarious book by the legendary Douglas Adams, 42 is "the answer to the ultimate question of Life, the Universe and Everything". <a href="http://www.google.nl/search?q=the+answer+to+life+the+universe+and+everything" class="external">Google agrees.</a></p>
          <p>We added the "Q" because "42" seemed a little bare. "42" stands for "The Answer" in the same way that our "Q" stands for "The Question".</p>
          <a class="visual caption">
            <img src="http://static.q42.nl/images/q.jpg" />
            <p>Q.</p>
          </a>
          <p>"Q" is, of course, also the man behind James Bond who designs all the technical gadgetry. Additionally, "the Q" are a race of omnipotent beings in the indispensable (for nerds, anyway) Star Trek series.</p>
          <p>And of course the fact that a domain name consisting of purely the number 42 wasn't a valid Dutch domain name at the time had nothing whatsoever to do with any of this. That speaks for itself."</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Did you know...</h2>
          <ul>
            <li>...a rainbow always starts at a 42 degree angle?</li>
            <li>...the 42nd ASCII-character is the *, also known as the "wildcard"?</li>
            <li>...Fox Mulder's apartment is at number 42?</li>
            <li>...Facebook chat has a special emoticon for only the number 42? Type ":42:"</li>
            <li>...a marathon is 42 kilometers long?</li>
            <li>...Microsoft Windows 3.x's logo contains 42 little squares?</li>
            <li>...the first iPhone was presented with 9:42 on screen?</li>
          </ul>
        </aside>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div id="passietijdw00tcamp" class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/kidsplaying.jpg" alt="w00t!"/>
            <p>w00t!</p>
          </div>
          <div class="body">
            <h2>Passietijd &amp; w00tcamp</h2>
            <p>Thursday afternoons are "passietijd" at Q42. Time to do whatever Q'ers are passionate about. Like building an Xbox 360 game or an API to pass instructions to a plastic rabbit so it screams whenever someone breaks the build.</p>
            <p><a href="/w00tcamp">w00tcamp</a>, lowercase w, two zeroes, is our annual two-day hackathon during which we go nuts with our favourite passion projects for a whole Friday and Saturday. A kind of Woodstock for nerds.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/wayfinding.jpg" alt="" />
            <p>Wayfinding.</p>
          </div>
          <div class="body">
            <h2>See also</h2>
            <ul>
              <li><a href="http://q42.nl" class="external">Q42.nl</a> (Dutch)</li>
              <li><a href="http://towelday.nl" class="external">Towelday.nl</a></li>
              <li><a href="/w00tcamp">w00tcamp</a></li>
            </ul>
          </div>
        </div>

      </div>
    </section>

    <section>
      <div class="block-large block-no-padding-after">
        <div class="body">
          <h2>Partners</h2>
          <p>Sometimes we work together with other teams. Because they're good people and understand their trade. Teams where 1 and 1 make 3. The Robin to our Batman. People who always bring their towel. Take a look at these heroes in more depth below.</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/partners.jpg" alt="" />
          <p>Batman &amp; Qobin, the Young and Dynamic Duo</p>
        </div>
      </div>
      <div class="block-large">
        <div class="block-small">
          <a class="visual caption" href="http://fabrique.nl">
            <img src="http://static.q42.nl/images/partner-fabrique.png" alt="Fabrique" style="background-color:white"/>
            <p>And great sausages. Recommended!</p>
          </a>
          <div class="body">
            <h2>Fabrique</h2>
            <p>We've been smitten with <a href="http://www.fabrique.nl/">Fabrique</a> for years. Together we've made a lot of great stuff like Rijksmuseum.nl, the 9292 website and apps, D-reizen.nl and much more.</p>
          </div>
        </div>
        <div class="block-small">
          <a class="visual caption" href="http://google.com">
            <img src="http://static.q42.nl/images/partner-google.png" alt="Google"/>
            <p>Q42 Cloud Platform Partner of the Year</p>
          </a>
          <div class="body">
            <h2>Google</h2>
            <p>Thanks to Google App Engine we don't have to worry about boring hosting stuff and we can build incredibly scalable internet stuff. Like Philips Hue, or Schooltas, or parts of Rijksmuseum.nl.</p>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<template name="en_regelsCode">
  <p id="regels-code" class="counter">{{regelsCode}}</p>
</template>

<template name="en_numQers">
  <p class="counter">{{numQers}}</p>
</template>

<template name="en_koppenKoffie">
  <p id="koppen-koffie" class="counter">{{koppenKoffie}}</p>
</template>

<template name="en_employees">
  {{#each employee}}
    {{> en_employeeView}}
  {{/each}}
</template>

<template name="en_employeeView">
  <li class="qer">
  <span class="name">{{firstname}}</span>
    <span class="contactData">
      <a href="mailto:{{handle}}@q42.nl">{{email}}@q42.nl</a>
      {{#if phone}}
      <a href="tel:{{phone}}">{{phone}}</a>
      {{/if}}
    </span>
    <img class="zw" src="http://static.q42.nl/images/employees/{{avatar_static}}" width="108" alt="{{name}}">
    <div class="polaroid">
      {{#if supportsWebm}}
        <video src="http://static.q42.nl/video/employees/{{handle}}.webm" autoplay loop poster="http://static.q42.nl/images/employees/{{avatar_static}}"></video>
      {{else}}
        <img class="color" src="http://static.q42.nl/images/employees/{{avatar_animated}}" alt="{{name}}">
      {{/if}}
      <h3>{{name}}</h3>
      <p class="contactData">
        <span class="email">
          <a href="mailto:{{handle}}@q42.nl">{{email}}@q42.nl</a>
        </span>
        {{#if phone}}
        <span class="phonenumber">{{phone}}</span>
        {{/if}}
        {{#if web}}
        <span class="website"><a href="{{web}}">website</a></span>
        {{/if}}
        <div class="closePolaroid"></div>
      </p>
    </div>
  </li>
</template>
