<template name="en_about-q42">
  <section>
    <section>
      <header class="block-text">
        <h1>About <b>Q42</b></h1>
      </header>

      <section>
        <article class="block-large">
          <div class="bigText introText">
            <p>Some people call us 'a tech-savvy internet agency'. Others just call us nerds. We call ourselves nerds too, to be honest. We just happen to really love good programming.</p>
            <p>But that's not the whole story. Computers are only interesting when they involve people. So even more than programming, we love programming web apps to not just be useful, but also friendly.</p>
          </div>
          <div class="block-small subcontent">
            <h2>See also</h2>
            <ul>
              <li><a href="/interaction-engineering">Interaction engineering</a> (Dutch)</li>
              <li><a href="/gereedschapskist">Our toolbox</a> (Dutch)</li>
              <li><a href="/systeembeheersysteem">Our system management system</a> (Dutch)</li>
            </ul>
          </div>
        </article>
      </section>

      <section id="contact">
        <section class="block-large">
          <article class="block-small block-with-icons">
            <div class="body">
              <h2>Social networking</h2>
              <ul class="iconList">
                <li><i class="icon-phone icon-2x"></i><div>Call us: 070-4452342</div></li>
                <li><i class="icon-envelope icon-2x"></i><div>Email us: <a href="mailto:info@q42.nl" title="mail Q42">hello@q42.com</a></div></li>
                <li><i class="icon-twitter icon-2x"></i><div>Tweet at us: <a href="http://www.twitter.com/q42" title="Q42 op Twitter" class="external">Twitter</a></div></li>
                <li><i class="icon-thumbs-up icon-2x"></i><div>Like us: <a href="http://facebook.com/q42bv" title="Q42 op Facebook" class="external">Facebook</a></div></li>
                <li><i class="icon-google-plus icon-2x"></i><div>+1 us: <a href="http://plus.google.com/112933340683830235543" title="Q42 op Google+" class="external">Google+</a></div></li>
              </ul>
            </div >
          </article>

          <article class="block-small block-with-icons">
            <address class="vcard body">
              <h2>Address</h2>
              <span class="fn hidden">Q42</span>
              <ul class="iconList">
                <li class="adr">
                  <i class="icon-pushpin icon-2x"></i>
                  <div>
                    <span class="street-address">Waldorpstraat 17F</span><br/>
                    <span class="postal-code">2521CA</span>&#160;<span class="locality">The Hague</span>
                  </div>
                </li>
                <li class="adr">
                  <i class="icon-pushpin icon-2x"></i>
                  <div>
                    <span class="street-address">Vijzelstraat 72, unit 4.23</span><br/>
                    <span class="postal-code">1017HG</span>&#160;<span class="locality">Amsterdam</span>
                  </div>
                </li>
                <li class="note"><i class="icon-sign-blank icon-2x"></i><div>KvK 30164662 in The Hague</div></li>
              </ul>
            </address>
          </article>

          <article class="block-small block-with-icons">
            <div class="body">
              <h2>Accessibility</h2>
              <ul class="iconList">
                <li>
                  <i class="icon-road icon-2x"></i>
                  <div>
                    <span>By car?</span><br/>
                    <span><a href="http://maps.google.nl/maps?ie=UTF8&daddr=Q42,+Waldorpstraat+17F,+2521+CA" class="external">To Q42 The Hague.</a></span><br/>
                    <span><a href="https://maps.google.nl/maps?ie=UTF8&daddr=vijzelstraat72+amsterdam" class="external">To Q42 Amsterdam.</a></span>
                  </div>
                </li>
                <li>
                  <i class="icon-bolt icon-2x"></i>
                  <div>
                    <span>By train?</span><br/>
                    <span><a href="http://9292.nl/?naar=den-haag_waldorpstraat-17f" class="external">To Q42 The Hague.</a></span><br/>
                    <span><a href="http://9292.nl/?naar=amsterdam_vijzelstraat-66-76" class="external">To Q42 Amsterdam.</a></span>
                  </div>
                </li>
                <li>
                  <i class="icon-fighter-jet icon-2x"></i>
                  <div>
                    <span>By fighter jet?</span><br/>
                    <span><a href="http://maps.google.nl/maps?ie=UTF8&daddr=Q42,+Waldorpstraat+17F,+2521+CA" class="external">To Q42 The Hague.</a></span><br/>
                    <span><a href="https://maps.google.nl/maps?ie=UTF8&daddr=vijzelstraat72+amsterdam" class="external">To Q42 Amsterdam.</a></span>
                  </div>
                </li>
              </ul>
            </div>
          </article>

        </section>
      </section>

      <section id="colleagues">
        <article class="block-full">
          <div class="body">
            <h2>Hello, we're the Q-ers</h2>
            <h3>Nice to meet you.</h3>
            <ol>
             	{{> en_employees }}
            </ol>
          </div>
          <div class="clear"></div>
        </article>
      </section>

      <section id="facts1">
        <section class="block-large">
          <article class="block-small">
            <div class="body">
              <p>Q42 is more than the sum of</p>
              {{> en_numQers}}
              <p>Q'ers.</p>
            </div>
          </article>
          <article class="block-small">
            <div class="body">
              <p>Today we've already had</p>
              {{> en_koppenKoffie}}
              <p>cups of coffee.</p>
            </div>
          </article>
          <article class="block-small">
            <div class="body">
              <p>And written</p>
              {{> en_regelsCode}}
              <p>lines of code.</p>
            </div>
          </article>
        </section>
      </section>

      <section id="theBeginning">
        <article class="block-large">
          <div class="bigText">
            <h2>How it began</h2>
            <p>Co-founder Lon speaks: "On a friday afternoon in the spring of 2000 a phone started ringing. The internet bubble had exploded a few months before, but the bang was yet to reach the Netherlands. Only <a href="http://en.wikipedia.org/wiki/World_Online">Nina Brink</a> had heard the far-off thunder and was busily gathering up her laundry before the storm broke. Nevertheless, a phone was ringing.</p>
            <a class="visual caption">
              <img src="/images/42-douglas-adams-42.jpg" />
              <p>42.</p>
            </a>
            <p>At the time it was ringing I had been working for a rising Dutch internet agency for nearly 3.5 years. After starting on January 1st 1997 as the first employee, I was now the "R&D Manager" of a company of about 150 internet professionals (or so it claimed). It was my phone that was ringing so. A few months before the ringing started, one Kars Veling had become my colleague. Kars proved a fun, direct, but especially smart and honest colleague from day one. It was a match. And it rang. Still. I decided something needed to be done about the ringing. "Hellooo, this is Lon." "Hi, it's Kars, shall we start our own company?" "Yeah, sure."</p>
            <p>Many of us have wondered where the name Q42 comes from. We had decided relatively quickly that "42" had to be a part of our company name. According to "The Hitchhiker's Guide to the Galaxy", an unequaled, hilarious book by the legendary Douglas Adams, 42 is "the answer to the ultimate question of Life, the Universe and Everything". <a href="http://www.google.nl/search?q=the+answer+to+life+the+universe+and+everything" class="external">Google agrees.</a></p>
            <p>We added the "Q" because "42" seemed a little bare. "42" stands for "The Answer" in the same way that our "Q" stands for "The Question".</p>
            <a class="visual caption">
              <img src="/images/q.jpg" />
              <p>Q.</p>
            </a>
            <p>"Q" is, of course, also the man behind James Bond who designs all the technical gadgetry. Additionally, "the Q" are a race of omnipotent beings in the indispensable (for nerds, anyway) Star Trek series.</p>
            <p>And of course the fact that a domain name consisting of purely the number 42 wasn't a valid Dutch domain name at the time had nothing whatsoever to do with any of this. That speaks for itself."</p>
          </div>
          <div class="block-small subcontent">
            <h2>Did you know...</h2>
            <ul>
              <li>...a rainbow always starts at a 42 degree angle?</li>
              <li>...the 42nd ASCII-character is the *, also known as the "wildcard"?</li>
              <li>...Fox Mulder's apartment is at number 42?</li>
              <li>...Facebook chat has a special emoticon for only the number 42? Type ":42:"</li>
              <li>...a marathon is 42 kilometers long?</li>
              <li>...Microsoft Windows 3.x's logo contains 42 little squares?</li>
              <li>...the first iPhone was presented with 9:42 on screen?</li>
            </ul>
          </div>
        </article>
      </section>

      <section>
        <section class="block-large">
          <article id="passietijdw00tcamp" class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/images/kidsplaying.jpg" alt="w00t!"/>
                <p>w00t!</p>
              </a>
              <figcaption class="body">
                <h2>Passietijd & w00tcamp</h2>
                <p>Thursday afternoons are "passietijd" at Q42. Time to do whatever Q'ers are passionate about. Like building an Xbox 360 game or an API to pass instructions to a plastic rabbit so it screams whenever someone breaks the build.</p>
                <p><a href="http://www.w00tcamp.nl">w00tcamp</a> (Dutch), lowercase w, two zeroes, is our annual two-day hackathon during which we go nuts with our favourite passion projects for a whole Friday and Saturday. A kind of Woodstock for nerds.</p>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/images/wayfinding.jpg" alt="" />
                <p>Wayfinding.</p>
              </a>
              <figcaption class="body">
                <h2>See also</h2>
                <ul>
                  <li><a href="http://q42.nl" class="external">Q42.nl</a> (Dutch)</li>
                  <li><a href="http://q42games.com" class="external">Q42games.com</a></li>
                  <li><a href="http://www.w00tcamp.nl" class="external">w00tcamp.nl</a></li>
                  <li><a href="http://towelday.nl" class="external">Towelday.nl</a></li>
                </ul>
              </figcaption>
            </figure>
          </article>

        </section>
      </section>

      <section class="projectsSection">
        <article class="block-large">
          <figure>
            <figcaption class="body">
              <h2>Partners</h2>
              <p>Sometimes we work together with other teams. Because they're good people and understand their trade. Teams where 1 and 1 make 3. The Robin to our Batman. People who always bring their towel. Take a look at these heroes in more depth below.</p>
            </figcaption>
            <a class="visual caption">
              <img src="/images/partners.jpg" alt="" />
              <p>Batman &amp; Qobin, the Young and Dynamic Duo</p>
            </a>
          </figure>
        </article>
        <section class="block-large">
          <article class="block-small">
            <figure>
              <a class="visual caption" href="http://fabrique.nl">
                <img src="/images/partner-fabrique.png" alt="Fabrique" style="background-color:white"/>
                <p>And great sausages. Recommended!</p>
              </a>
              <figcaption class="body">
                <h2>Fabrique</h2>
                <p>We've been smitted with <a href="http://www.fabrique.nl/">Fabrique</a> for years. Together we've made a lot of great stuff like Rijksmuseum.nl, the 9292 website and apps, D-reizen.nl and much more.</p>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption" href="http://elasticsearch.org">
                <img src="/images/partner-elasticsearch.png" alt="Elasticsearch"/>
                <p>Wow, Elasticsearch is fast!</p>
              </a>
              <figcaption class="body">
                <h2>Elasticsearch</h2>
                <p>We enjoy solving complex problems with <a href="http://www.elasticsearch.org/">Elasticsearch</a>. Like with the Rijksmuseum. In fact, we enjoy it so much we decided to become partners.</p>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption" href="http://google.com">
                <img src="/images/partner-google.png" alt="Google"/>
                <p>Q42 Cloud Platform Partner of the Year</p>
              </a>
              <figcaption class="body">
                <h2>Google</h2>
                <p>Thanks to Google App Engine we don't have to worry about boring hosting stuff and we can build incredibly scalable internet stuff. Like Philips Hue, or Schooltas, or parts of Rijksmuseum.nl.</p>
              </figcaption>
            </figure>
          </article>
        </section>
      </section>

    </section>
  </section>
</template>

<template name="en_regelsCode">
  <p id="regels-code" class="counter">{{regelsCode}}</p>
</template>

<template name="en_numQers">
  <p class="counter">{{numQers}}</p>
</template>

<template name="en_koppenKoffie">
  <p id="koppen-koffie" class="counter">{{koppenKoffie}}</p>
</template>

<template name="en_employees">
  {{#each employee}}
  <li>
  <span class="name">{{firstname}}</span>
    <span class="contactData">
      <a href="mailto:{{handle}}@q42.nl">{{email}}@q42.nl</a>
      {{#if phone}}
      <a href="tel:{{phone}}">{{phone}}</a>
      {{/if}}
    </span>
    <img class="zw" data-src="/images/employees/{{avatar_static}}" src="/images/employees/{{avatar_static}}" width="108" alt="{{name}}">
    <div class="polaroid">
      <img class="color" data-src="/images/employees/{{avatar_animated}}" src="/images/employees/{{avatar_static}}" width="220" alt="{{name}}">
      <h3>{{name}}</h3>
      <p class="contactData">
        <span class="email">
          <a href="mailto:{{handle}}@q42.nl">{{email}}@q42.nl</a>
        </span>
        {{#if phone}}
        <span class="phonenumber">{{phone}}</span>
        {{/if}}
        {{#if web}}
        <span class="website"><a href="{{web}}">website</a></span>
        {{/if}}
      </p>
    </div>
  </li>

  {{/each}}
</template>