<template name="en_products">
  <div class="container">
    <header class="block-text">
      <h1><b>Products</b> and more of the good stuff</h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">
          <p>Besides our <a href="/projects">project work</a> we sometimes build stuff for ourselves. That often starts during the weekly <a href="/about-q42#passietijdw00tcamp">passietijd</a> ("passion time") and grows into something much bigger, like <a href="#handcraft">Handcraft</a>, <a href="/games#sarien">Sarien.net</a> or the <a href="/games">Games</a> we come up with. Doing this helps us to think from the point of view of the client and gives us another opportunity to seek out technical limits.</p>
          <p>But mostly we just really enjoy it.</p>
        </div>
        <aside class="block-small subcontent">
          <h2>See also</h2>
          <ul>
            <li><a href="http://q42.nl/games">Games</a> (Dutch)</li>
            <li><a href="/toolbox">Our toolbox</a></li>
            <li><a href="http://q42.nl/w00tcamp">w00tcamp</a> (Dutch)</li>
          </ul>
        </aside>
      </div>
    </section>

    <section id="handcraft">
      <div class="block-large">
        <div class="body">
          <h2>Handcraft</h2>
          <h3>Interactive HTML prototypes</h3>
          <p>Handcraft is an online editor founded on our belief in the "design in the browser" principle. We use it ourselves because it's handy for prototyping and helps us easily share our work with colleagues, partners and clients.</p>
          <p><a href="http://handcraft.com/" class="external">Check out Handcraft</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/handcraft.jpg" alt="Handcraft" />
          <p>Craftsmanship FTW!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/soundmatch.png" alt="A sound match."/>
            <p>A sound match.</p>
          </div>
          <div class="body">
            <h2>Soundmatch</h2>
            <h3>Daily recommendations in Spotify</h3>
            <p>Spotify does nearly everything, but it can't generate playlists based on your Last.fm account. Soundmatch can. And because that's extremely useful, Mark, Arian and Jeroen won w00tcamp 2010 with it.</p>
            <p><a href="http://soundmatch.me/" class="external">Do you want a Spotify playlist based on your Last.fm recommendations?</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <video src="http://static.q42.nl/video/trello.webm" autoplay loop>
              <img src="http://static.q42.nl/images/trello.gif">
            </video>
            <p>Post it note, post it note, on the wall...</p>
          </div>
          <div class="body">
            <h2>Scrum for Trello</h2>
            <h3>Must-have Chrome extension for Scrum</h3>
            <p>Jasper and Marcel felt that the super useful <a href="http://trello.com" class="external">Trello</a> was missing something: story points. So they built it in in the form of a Chrome extension.</p>
            <p><a href="https://chrome.google.com/webstore/detail/jdbcdblgjdpmfninkoogcfpnkjmndgje" class="external">Here you go, remote Scrum teams!</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/livejs.jpg" alt="Live JS"/>
            <p>With Live.js, programming becomes like making music.</p>
          </div>
          <div class="body">
            <h2>LiveJS</h2>
            <h3>With Live.js, programming becomes like making music.</h3>
            <p>Martin got tired of constantly hitting Alt-Tab while developing. So he made all of us developers happy with Live.js, a little script that checks whether there are any HTML or CSS changes and then magically makes them appear.</p>
            <p><a href="http://livejs.com" class="external">Download live.js</a></p>
          </div>
        </div>
      </div>
    </section>

    <section id="games">
      <div class="block-large">
        <div class="body">
          <h2>Games</h2>
          <h3>Digital and analogue</h3>
          <p>Peter Pan will stay young forever. So will Q'ers, probably. Playing games is in our blood and if possible we'll take the time to make our own too.</p>
          <p>To support that creative catalysis, these days we just admit up front that we "make games". It's a kind of therapy by having fun.</p>
          <p><a href="/games">Check out all our games.</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/games-q.jpg" alt="" />
          <p>Playing and making, online and offline.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/quek.jpg" alt="Quek"/>
            <p>D'awww, don't you just want to hug them?</p>
          </div>
          <div class="body">
            <h2>Quek</h2>
            <h3>Surfing and moonwalking together.</h3>
            <p>Surfing by yourself is lonely. That's why we made Quek, so you can browse the internet together. And moonwalk.</p>
            <p><a href="http://quek.nl/" class="external">Quek your brains out!</a> (Dutch)</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/htlmorg.png" alt=""/>
            <p>You only need to type.</p>
          </div>
          <div class="body">
            <h2>htlm.org</h2>
            <h3>Because there's always a better way to take notes.</h3>
            <p>You can find a lot of productivity apps on the web. A button here, a feature there, cloud sharing, social media and collaboration everywhere.</p>
            <p>We wanted something simpler, so we made htlm.org. Just browse there and type. Or pick a different URL. Your stuff is auto-saved and you can share the URL so others can write there too.</p>
            <p><a href="http://htlm.org" class="external">You're one click away from typing...</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/linkapp.png" alt=""/>
            <p>Little. Different.</p>
          </div>
          <div class="body">
            <h2>Link</h2>
            <h3>The world's smallest social network</h3>
            <p>Sometimes you're somewhere with a bunch of mates and you just want to know where everyone is and what they're up to. Like when you go skiing, during a company outing, or at an event. No messing around with Facebook or texts, but just a small, temporary network that allows new people to join.</p>
            <p>That's Link. Free for iPhone.</p>
            <p><a href="http://lnkapp.com" class="external">lnkapp.com</a></p>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>