<template name="en_projects">
  <section>
  <section>
    <header class="block-text">
      <h1><b>Projects</b> like</h1>
    </header>
    <section>
      <article class="block-large">
        <div class="bigText introText">
          <p>We really love making stuff for the internet together. For various reasons. Because we love internet-things, whether they're web or mobile apps. Because we love to be challenged and seek out the limits of what's technically possible. Because we get excited by clients who are passionate about their trade. Because we think it's amazing to make people happy with good software that isn't just useful but friendly. And because we're zo proud of everything we've already built.</p>
        </div>
        <div class="block-small subcontent">
          <h2>See also</h2>
          <ul>
            <li><a href="/interaction-engineering">Interaction engineering</a> (Dutch)</li>
            <li><a href="/gereedschapskist">Our toolbox</a> (Dutch)</li>
          </ul>
        </div>
      </article>
    </section>
    <section>
      <article class="block-large right">
        <div class="figure">
          <div class="body">
            <h2>Staatsloterij</h2>
            <h3>Completely new website</h3>
            <p>On the new state lottery website you can now purchase practically all products online, and the Staatsloterij has the capability to respond to new developments, campaigns and draws.</p>
            <p>We developed the new site together with Fabrique and the Digital team at the Staatsloterij.</p>
            <p>The site was designed tablet first but thanks to its responsive design, it works perfectly on big screens and all sorts of smartphones.</p>
            <p><a href="http://www.staatsloterij.nl" class="external">Try your luck</a></p>
          </div>
          <div class="visual">
            <a class="visual caption">
              <img src="http://static.q42.nl/images/staats.jpg?w=600" alt="Jackpot!"/>
              <p>Jackpot!</p>
            </a>
          </div>
        </div>
      </article>
    </section>
    <section>
      <article class="block-large">
        <div class="figure">
          <div class="body">
            <h2>Philips Hue</h2>
            <h3>Lighting for nerds</h3>
            <p>Philips had a cunning plan: something about coloured lighting, iPhone apps, prototyping, a portal and campaign website and whether we'd be interested in joining them in their adventure.</p>
            <p>How do you say no to a proposition like that?</p>
            <p>Our third partnership with Philips became one of the most incredible projects a team of geeks can wish for. We built the first prototypes against an emulator, after which the portal and the promotional site were quick to follow using App Engine. And now the lights are in the Apple Store!</p>
            <p><a href="http://meethue.com" class="external">Read more about Hue</a></p>
          </div>
          <div class="visual">
            <a class="visual caption">
              <img src="http://static.q42.nl/images/hue-Starter-Pack.jpg?w=600" alt="Hue starter pack"/>
              <p>Hue-hoo!</p>
            </a>
          </div>
        </div>
      </article>
    </section>
    <section>
      <article class="block-large right">
        <div class="figure">
          <div class="body">
            <h2>Rijksmuseum</h2>
            <h3>Around 2012</h3>
            <p>In 2004 we built a prize winning website for the Rijksmuseum with our partner Fabrique. But after eight strong years, it was time to renovate.</p>
            <p>The new Rijksmuseum website has been updated with a responsive, tablet first design full of smooth animation. One noteworthy element is the Rijks Studio: your own collection, craft spot and museum store in one. With 125,000 available artworks at a high resolution, you won't be bored any time soon!</p>
            <p><a href="http://www.rijksmuseum.nl/en" class="external">Visit the Rijksmuseum (.nl)</a></p>
          </div>
          <div class="visual">
            <a class="visual caption">
              <img src="http://static.q42.nl/images/rijks.jpg?w=600" alt="The new Rijksmuseum.nl"/>
              <p>Ook de site is echte kunst.</p>
            </a>
          </div>
        </div>
      </article>
    </section>
    <section class="block-large">
      <article class="block-small">
        <div class="figure">
          <a class="visual caption">
            <img src="http://static.q42.nl/images/Dordrechtsmuseum2.jpg" alt=""/>
            <p>A royal site</p>
          </a>
          <div class="body">
            <h2>Dordrechts Museum</h2>
            <h3>Willem II, King of Art</h3>
            <p>A unique exhibition is taking place in March 2014 at the Dordrechts Museum called "Willem II - Kunstkoning". It will be the biggest exhibition ever for the museum and of course that required the creation of a special website.</p>
            <p><a href="http://wii-kunstkoning.nl" class="external">Obviously a great job for Q!</a> (Dutch)</p>
          </div>
        </div>
      </article>
      <article class="block-small">
        <div class="figure">
          <a class="visual caption">
            <img src="http://static.q42.nl/images/spotvogel.jpg" alt=""/>
            <p>Better a bird in the hand...</p>
          </a>
          <div class="body">
            <h2>Spotvogel</h2>
            <h3>The see, search and say game</h3>
            <p>Together with Vroege Vogels (VARA) and the Dutch Institute for Sound and Vision we created Spotvogel, a fun online video game. Players add tags to video material with the goal of increasing searchability. You receive points for entering tags and can collect cool badges.</p>
            <p><a href="http://spotvogel.vroegevogels.vara.nl" class="external">Try it for yourself</a> (Dutch)</p>
          </div>
        </div>
      </article>
      <article class="block-small">
        <div class="figure">
          <a class="visual caption">
            <img src="http://static.q42.nl/images/roc2.jpg" alt=""/>
            <p>Beautiful building!</p>
          </a>
          <div class="body">
            <h2>ROC Mondriaan</h2>
            <h3>New website</h3>
            <p>ROC Mondriaan is a Regional Education Centre with locations in The Hague, Delft, Leiden and Naaldwijk. Together with our friends at Fabrique we made them a modern, fresh website!</p>
            <p><a href="http://www.rocmondriaan.nl" class="external">Visit the website!</a> (Dutch)</p>
          </div>
        </div>
      </article>
    </section>
    <section>
      <article class="block-large">
        <div class="figure">
          <div class="body">
            <h2>Schooltas</h2>
            <h3>ThiemeMeulenhoff's iPad app</h3>
            <p>It turns out "the good old days" isn't always true. We're extremely jealous of the 20 schools (and counting) in which students start their day with an iPad. No heavy book bag full of textbooks, but a modern digital version that has the appropriate name Schooltas (Schoolbag) 2.0.</p>
            <p>Schooltas is under continuous development with ThiemeMeulenhoff, Fabrique and many schools, teachers and students.</p>
            <p><a href="http://www.schooltas.net/" class="external">Read more about Schooltas</a></p>
          </div>
          <div class="visual">
            <a class="visual caption">
              <img src="http://static.q42.nl/images/schooltas3.jpg" alt=""/>
              <p>1,5 lbs is enough for all your textbooks</p>
            </a>
          </div>
        </div>
      </article>
    </section>
    <section id="9292">
      <article class="block-large right">
        <div class="figure">
          <div class="body">
            <h2>9292</h2>
            <h3>De whole caboodle: web &amp; apps</h3>
            <p>In close collaboration with Fabrique and 9292, we've converted <a href="http://9292.nl/en" class="external">9292.nl</a> (the premier source of travel information in the Netherlands) from a tool to a good friend. That starts with the question "where do you want to go" and continues with a smart planning tool with good autosuggest and recognition of places like <a href="http://en.wikipedia.org/wiki/Efteling">The Efteling</a>. Because you wouldn't tell a friend you want to go from Delft station to 1 Europalaan in Kaatsheuvel. No, you're going from your house to the Efteling.</p>
            <p>Besides the website and mobile site we also developed the
                <a href="https://itunes.apple.com/nl/app/9292/id556557690" class="external">iPhone</a>,
                <a href="https://play.google.com/store/apps/details?id=nl.negentwee&hl=nl" class="external">Android</a> and
                <a href="http://www.windowsphone.com/nl-NL/apps/1f4b557a-ed22-47f7-a6e6-8571906a886d" class="external">Windows Phone</a>
                apps. And there's more cool stuff coming!
            </p>
          </div>
          <div class="visual">
            <a class="visual caption">
              <img src="http://static.q42.nl/images/9292.jpg" alt="" />
              <p>"Where do you want to go?" Kind of an existential question.</p>
            </a>
          </div>
        </div>
      </article>
    </section>
    <section>
      <section>
        <section class="block-large">
          <article class="block-small">
            <div class="figure">
              <a class="visual caption">
                <img src="http://static.q42.nl/images/mendo2.jpg" alt=""/>
                <p>I like big books and I cannot lie</p>
              </a>
              <div class="body">
                <h2>Mendo</h2>
                <h3>Exciting HTML5 & CSS3 stuff</h3>
                <p>“MENDO is a candy store for book aficionados,” is how Roy, Joeri and Joost accurately describe their Amsterdam store. Imagine that experience, but online. That was the assignment Perceptor and Q42 were given. A challenge, but with the fantastic content of MENDO and the unique design skills of Perceptor it was a lot of fun enriching it with hip web technologies.</p>
                <p><a href="http://mendo.nl" class="external">Check out Mendo.nl</a> (Dutch)</p>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <a class="visual caption">
                <img src="http://static.q42.nl/images/uitapp.jpg" alt=""/>
                <p>Party time! Excellent!</p>
              </a>
              <div class="body">
                <h2>UIT app</h2>
                <h3>For iPhone and now for Android</h3>
                <p><a href="http://itunes.apple.com/nl/app/uit/id385525154?mt=8" class="external">The Uit app</a> (Dutch) is a must-have app for going out in the Netherland. With "Now and nearby" you can quickly see a list of events in the area. You can also plan your evening further in advance by creating smart lists grouped by date, location, genre or artist. The app guides you to ticket sales and the location of the event with a map.</p>
                <p>We built this app together with Fabrique in only six weeks.</p>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <a class="visual caption">
                <img src="http://static.q42.nl/images/charmquality.jpg" alt=""/>
                <p>Do you feel those holiday jitters yet?</p>
              </a>
              <div class="body">
                <h2>Charme & Quality</h2>
                <h3>Reusable Orchard framework</h3>
                <p>Years since our work for <a href="http://www.vacanceselect.nl" class="external">vacanceselect.nl</a> (Dutch) we got back to work for Viaselect. This time it was their <a href="http://www.charmequality.nl" class="external">Charme & Quality website</a> (Dutch). For this project we immediately set up a framework based on <a href="http://www.orchardproject.net" class="external">Orchard</a> that will be easy to reuse for all future Viaselect websites.</p>
                <p><a href="http://www.charmequality.nl" class="external">Check out these holiday homes with an attitude</a> (Dutch)</p>
              </div>
            </div>
          </article>
        </section>
      </section>

      <section>
        <section class="block-large">
          <article class="block-small">
            <div class="figure">
              <a class="visual caption">
                <img src="http://static.q42.nl/images/digibord.jpg" alt=""/>
                <p>Why didn't we have this growing up?</p>
              </a>
              <div class="body">
                <h2>Malmberg Digibord</h2>
                <h3>From chalk to Youtube</h3>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <a class="visual caption" href="http://schaatsen.nl">
                <img src="http://static.q42.nl/images/schaatsen.jpg" alt=""/>
                <p>Leeeeerooooooy Jenkiiiiins</p>
              </a>
              <div class="body">
                <h2><a href="http://schaatsen.nl" class="external">Schaatsen.nl</a></h2>
                <h3>The ice skating portal of the KNSB</h3>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <a class="visual caption" href="http://www.stedelijk.nl">
                <img src="http://static.q42.nl/images/stedelijkmuseumamsterdam.jpg" alt=""/>
                <p>Remodeled and redesigned</p>
              </a>
              <div class="body">
                <h2><a href="http://www.stedelijk.nl" class="external">Stedelijk Museum</a></h2>
                <h3>The new website</h3>
              </div>
            </div>
          </article>
        </section>
      </section>

      <section>
        <section class="block-large">
          <article class="block-small">
            <div class="figure">
              <a class="visual caption" href="http://www.iemandzoalsik.nl">
                <img src="http://static.q42.nl/images/iemandzoalsik.jpg" alt=""/>
                <p>The site for and by the chronically ill</p>
              </a>
              <div class="body">
                <h2><a href="http://www.iemandzoalsik.nl" class="external">Iemand Zoals Ik</a> (Dutch)</h2>
                <h3>The site for and by the chronically ill</h3>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <a class="visual caption" href="http://woordentikkertje.manbijthond.nl">
                <img src="http://static.q42.nl/images/manbijthond.jpg" alt=""/>
                <p>Make the archive easier to search through with play</p>
              </a>
              <div class="body">
                <h2><a href="http://woordentikkertje.manbijthond.nl" class="external">Woordentikkertje</a> (Dutch)</h2>
                <h3>An online game using videos from Man bijt hond</h3>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <a class="visual caption" href="http://itunes.apple.com/us/app/xwashier/id436744605?mt=8&ls=1">
                <img src="http://static.q42.nl/images/xwashier.jpg" alt=""/>
                <p>X marks the spot.</p>
              </a>
              <div class="body">
                <h2><a href="http://itunes.apple.com/us/app/xwashier/id436744605?mt=8&ls=1" class="external">X Was Hier</a></h2>
                <h3>Rich iPhone app with advanced image recognition</h3>
              </div>
            </div>
          </article>
        </section>
      </section>

      <section>
        <section class="block-large">
          <article class="block-small">
            <div class="figure">
              <a class="visual caption" href="http://www.idealenkompas.nl">
                <img src="http://static.q42.nl/images/kompas.jpg" alt=""/>
                <p>Good idea?</p>
              </a>
              <div class="body">
                <h2><a href="http://www.idealenkompas.nl" class="external">Idealenkompas</a></h2>
                <h3>A social marketplace for good ideas</h3>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <a class="visual caption" href="http://wellant.nl">
                <img src="http://static.q42.nl/images/wellantcollege.jpg" alt=""/>
                <p>Yet another great website made together with Fabrique</p>
              </a>
              <div class="body">
                <h2><a href="http://wellant.nl" class="external">Wellantcollege</a></h2>
                <h3>A great website for a great educational institution</h3>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <a class="visual caption">
                <img src="http://static.q42.nl/images/kindertelefoon2.jpg" alt=""/>
                <p>Find the easter eggs</p>
              </a>
              <div class="body">
                <h2>De Kindertelefoon</h2>
                <h3>A deliciously playful website that just puts a grin on your face</h3>
              </div>
            </div>
          </article>
        </section>
      </section>

    </section>
  </section>
</template>
