<template name="workDetail">
  <div class="container">
    <header class="block-text page-title">
      <h1>{{work.name}}</h1>
    </header>

    <section>
      <div class="block-text">
          {{{work.intro}}}
      </div>
    </section>

    <section>
      <div class="block-large portfolio-meta-header">
        <img src="http://static.q42.nl/images/q42hq.jpg" class="thumb">
          {{#with work.properties}}
          <div class="metadata">dit project ging {{prettifyDate date}} live. wow.</div>
          {{/with}}
      </div>
    </section>

    <section>
      {{#with work.properties}}
        {{#each t in tags}}
          <a href="/work?tag={{t}}">{{t}}</a>
        {{/each}}
        {{#each qer in qers}}
          <img src="http://static.q42.nl/images/employees/{{qer}}.jpg"
               alt="" style="width: 120px; height: 120px">
        {{/each}}
      {{/with}}
    </section>

    {{#with work.properties}}
      <h1>{{prettifyDate date}}</h1>
    {{/with}}

    {{#each t in work.things}}

      {{#block size=t.size align=t.align}}
        {{> thing id=t.thingId}}
      {{/block}}

    {{/each}}

  </div>
</template>
