<template name="en_riddled-you-that">
  <div class="container">

    <header class="block-text">
      <h1>Hey there!</h1>
    </header>

    <section>
      <div class="block-large">
        <div class="body">
          <p>Cool, you made it through our little puzzle. I suppose you are wondering why we've called you here today. You see, we at Q42 like to make cool shit and by the looks of it, you do too! So, if you're into this whole creative technology thingy, we should definitely talk. Give us a call or something!</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/bttf.jpg" alt="">
          <p>But I want to take the DeLorean, not the skateboard!</p>
        </div>
      </div>
    </section>
  </div>
</template>