<template name="en_swift">
	<div class="container">

    <header class="block-text">
      <h1 style="display: none;">Swift at Q42</h1>
    </header>

    <section class="block-large">
      <div class="intro">
        <a class="visual caption">
          <img data-src="http://static.q42.nl/images/swift/SwiftAtQ42@2x.png" alt="Swift at Q42">
          <p>if let swift = q42.fp</p>
        </a>
        <p>
          A considerable portion of the Q-ers is in one way or another involved with iOS development. Another not necessarily overlapping but similar sized portion of the Q-ers is passionate about Functional Programming. So it's fair to say that we've been pretty excited ever since Swift was introduced at WWDC 2014.
        </p>
        <p>
          We've been playing around with Swift a lot, which led to a bunch of interesting and not-so-interesting libraries, code snippets and thoughts. The (hopefully) interesting part is at your disposal here. Fork the code, play around with it and share your thoughts!
        </p>

      </div>
      <aside class="block-small subcontent">
        <h2>Blog posts about Swift</h2>
        <ul>
          {{#each post}}
          <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </aside>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/swift/CoreDataKit@2x.png" alt="CoreDataKit">
          <p>CoreDataKit</p>
        </div>
        <div class="body">
          <h2>CoreDataKit</h2>
          <p>CoreDataKit takes care of the hard and verbose parts of CoreData. It manages child contexts for you and helps to easily fetch, create and delete objects.</p>
          <a href="https://github.com/mac-cain13/CoreDataKit" class="external">Code on Github</a>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/swift/SwiftJsonGen@2x.png" alt="">
          <p>Node.js + Json + Swift = buzzword bingo</p>
        </div>
        <div class="body">
          <h2>Swift JsonGen</h2>
          <p>Automatically generate JSON parsers based on Swift structs. No need to write JSON parsers by hand!</p>
          <p><a href="https://github.com/tomlokhorst/swift-json-gen" class="external">Code on Github</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/swift/SegueManager@2x.png" alt="">
          <p>SegueManager</p>
        </div>
        <div class="body">
          <h2>SegueManager</h2>
          <p>SegueManager makes it easier to perform segues with closures. No longer split your code into two parts when performing the segue and inside of <code>prepareForSegue</code>.</p>
          <a href="https://gist.github.com/tomlokhorst/6ed40e0e00cd2989a282" class="external">Code on Github</a>
        </div>
      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/swift/CancellationToken@2x.png" alt="Swift CancellationToken">
          <p>Swift CancellationToken</p>
        </div>
        <div class="body">
          <h2>CancellationToken</h2>
          <p>A CancellationToken is an object that can be passed to asynchronous tasks to send cancellations. By using a CancellationToken the code for creating, and the code for cancelling an asynchronous task, can be separate from each other.</p>
          <a href="https://github.com/tomlokhorst/swift-cancellationtoken" class="external">Code on Github</a>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/swift/OptionalUnwrap@2x.png" alt="">
          <p>Optional+Unwrap.swift</p>
        </div>
        <div class="body">
          <h2>Optional+Unwrap.swift</h2>
          <p>Unwrap multiple optionals at once:</p>
<pre class="prettyprint lang-swift"><code>if let (first, last) =
  unwrap(optFirst, optLast) {
}</code></pre>
          <a href="https://gist.github.com/tomlokhorst/f9a826bf24d16cb5f6a3" class="external">Code on Github</a>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/swift/NetworkActivityIndicatorManager@2x.png" alt="">
          <p>NetworkActivityIndicatorManager.swift</p>
        </div>
        <div class="body">
          <h2>NetworkActivityIndicator Manager.swift</h2>
          <p>Swift class to manage the <code>UIApplication .networkActivityIndicatorVisible</code> in an effective and simple way.</p>
          <a href="https://gist.github.com/mac-cain13/ab1b9196c99dcc16e5fe" class="external">Code on Github</a>
        </div>
      </div>
    </section>
   </div>
</template>
