<template name="toolbox">
  <div class="container">

    <header class="block-text">
      <h1>Our toolbox</h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">
          <p>Musicians always list which instruments they use on their website. Not that we're suggesting we might be rockstars (not out loud at least), but we like to believe that for some people (potential Q'ers, potential clients, competitors, ...) it may be of interest to see which tools we use at Q42. Amongst others. Because this list is hardly complete. And we don't have any qualms with discovering new things.</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Yes, but Q, tell me, which technology do you use?</h2>
          <p>All sorts. Whatever works for the job at hand. That's often ASP.NET, C#, Javascript, HTML5, CSS3. And often <a href="/swift">Swift</a> or Objective-C. Also often Google App Engine, Play, Java. But also Haskell, Scala, Python, <a href="http://q42.com/meteor">Meteor</a> (used to build this site!), Ruby on Rails, Coffeescript, MSSQL, Angular, MySQL, NoSQL, Autofac, Azure, Elastic Search, jQuery, MongoDB, WebGL and more. Like I said: all sorts.</p>
        </aside>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/google-apps.png" alt=""/>
            <p>Cloud all the things!</p>
          </div>
          <div class="body">
            <h2>Google Apps</h2>
            <h3>All our mail, meetings and documents in the cloud</h3>
            <p>Sometime in the distant past we used Microsoft Outlook. But we erased that time from our memories, because with Google Apps you simply don't look back!</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/github.png" alt=""/>
            <p>Something about branches and merging and conflicts and stuff</p>
          </div>
          <div class="body">
            <h2>Git &amp; Github (&amp; Bitbucket)</h2>
            <h3>Version management for real professionals</h3>
            <p>"I'm working on index.html, everyone keep off!" and "I'll email you a new zip shortly!" have been not done for years. For a while things went alright with SVN, but now Github is the hip, modern thing. So we use that. Take a look: <a href="http://github.com/q42">Q42 on Github</a>, it's even a nice excuse to keep all of our open-source stuff in one place!</p>
            <p>Oh yeah, and you need to use SourceTree if you want a nice Git UI. It's really good.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/ide.png" alt=""/>
            <p>The best IDEs are the least IDE-y</p>
          </div>
          <div class="body">
            <h2>Visual Studio, Sublime Text, Xcode and Handcraft</h2>
            <h3>Our favourite editors. And sometimes we use Eclipse.</h3>
            <p>You have to type your code into something and luckily, these days there are plenty of nice editors to choose from. <a href="/products">Our own Handcraft</a> for the quick HTML prototype/mini-site, XCode for all our iOS projects, Visual Studio if we need .NET, and Sublime Text for everything else.</p>
            <p>Except if it's Java. Then you have to use Eclipse again. And no one wants that. So we just use IntelliJ!</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/slack.png" alt=""/>
            <p>The perfect ironic name</p>
          </div>
          <div class="body">
            <h2>Slack</h2>
            <h3>IRC for the 21st century</h3>
            <p>Now that we have three locations, it's really time for us to keep in touch even when we're not in the same room. That's why we use Slack, by the original creators of Flickr. And it's <em>amazing</em>. With a supersmart adaptive pricing system, so you're never paying too much.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/knowyourcompany.png" alt=""/>
            <p>Yet another product by 37signals...</p>
          </div>
          <div class="body">
            <h2>Know Your Company</h2>
            <h3>Keep getting to know each other better</h3>
            <p>KYC is another tool we started using because we're in The Hague, Amsterdam and Mountain View now. Every week it sends out 3 emails to the whole team and all answers are collated and sent to everyone. This way you keep up to date with what everyone's up to. But also what everyone thinks of various things at Q42, or what they're up to in their private lives. And that really helps when you don't see each other as often as you used to.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/intercom.png" alt=""/>
            <p>I fight for the users!</p>
          </div>
          <div class="body">
            <h2>Intercom</h2>
            <h3>The best way to do customer support</h3>
            <p>Intercom is actually pretty revolutionary, because now you don't have to write any code to keep in touch with your customers. Now you just add a widget to your page, send the right data over the wire, and you can chat seamlessly with users, send emails, and ask questions. All from the Intercom interface. We use it in Handcraft.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/continuous-integration.jpg" alt=""/>
            <p>Continuous integration is the bomb!</p>
          </div>
          <div class="body">
            <h2>Teamcity</h2>
            <h3>Because you can't do without continuous integration</h3>
            <p>Mark is our Teamcity King and you basically can't launch a project without first having it in Teamcity. Or Appveyor or Travis, that's okay too. And then you get your face plastered all over the screen in the garden when you break the build. Part of the deal.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/thequre.png" alt="" />
            <p>Kars built it in a weekend. Pretty neat right?</p>
          </div>
          <div class="body">
            <h2>The Qure</h2>
            <h3>Our homegrown, nice and simple time tracking and planning system</h3>
            <p>Since we like being paid for all the awesome work we do, we have to track our hours and hold ourselves accountable. But most tools for this kind of thing aren't very fun to use. So we built our own. It's called The Qure and it has a very important mission: making sure a programmer spends minimal time filling in her hours.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/trello.png" alt="" />
            <p>That puppy is so cute...</p>
          </div>
          <div class="body">
            <h2>Trello, Fogbugz &amp; Assembla</h2>
            <h3>But mostly Trello.</h3>
            <p>Our bug trackers and whiteboard tools. Before Trello was released we were still searching for the tool that would truly make us happy. But Trello is pretty much it. Now to get rid of the other two! ;-)</p>
            <p>By the way, did you know we built a <a href="https://chrome.google.com/webstore/detail/scrum-for-trello/jdbcdblgjdpmfninkoogcfpnkjmndgje?utm_source=chrome-ntp-icon">Scrum extension for Trello</a>? Super useful.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/dropbox.jpg" alt="" />
            <p>Martin even uses it to host websites!</p>
          </div>
          <div class="body">
            <h2>Dropbox</h2>
            <h3>Fantastic excample of how can take something complex and make it so simple you don't have to think about it.</h3>
            <p>Nearly forgot Dropbox! And oh how useful it is. Spaceventure was made almost entirely with Dropbox. When we work together with Fabrique we have a shared folder of Sketch files. Ask Martin about Dropbox, he's their biggest fan.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/basecamp.png" alt="" />
            <p>You have to use something by Basecamp</p>
          </div>
          <div class="body">
            <h2>Basecamp</h2>
            <h3>Undefeated at project communication</h3>
            <p>We've used Basecamp for a while, but especially now that the new version is out we've noticed that we've started using it again. Useful to organise a Flyby conference, or a Stephen Anderson workshop. Less useful for software development, but that's okay since we have Trello now.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="intro">
          <h2>And also...</h2>
          <h3>Jungle Disk</h3>
          <p>So we don't have to worry about backing things up.</p>
          <h3>LastPass</h3>
          <p>Safely storing passwords and sharing them with people.</p>
          <h3>Exact Online</h3>
          <p>Yep, we even do bookkeeping online.</p>
        </div>
      </div>
    </section>

  </div>
</template>
