<template name="en_vr">
	<div class="container">

    <header class="block-text">
      <h1>VR at Q42</h1>
    </header>

    <section class="block-large">
      <div class="intro">
        <a class="visual caption">
          <img data-src="http://static.q42.nl/images/vr/methcooksim.jpg" alt="Final demo of Meth Cook Simulator 2013"/>
          <p>Meth Cook Simulator 2013, a w00tcamp 2013 entry</p>
        </a>

        <p>The final platform, as it has been deemed by Michael Abrash (Chief Scientist): VR. We've been following it closely since the Palmer Luckey duc taped / John Carmack demo back in 2012 on e3. Seeing it evolve into the Oculus Rift the pre order of the head mounted display wasn't too hard to bargain for. Once it arrived (the DK1) and we've put it on for the first time, we were sold...</p>

        <p>Since then we've done several projects and demo's ourselves of which you find a few examples below here.</p>

        <p>Interested in talking to us about a VR project? Get in touch with <a href="mailto:benjamin@q42.com">Benjamin</a> or <a href="mailto:sales@q42.nl">our team</a>.</p>

      </div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
        <img data-src="http://static.q42.nl/images/vr/googlepartnersummit.jpg" alt="Google partner summit google streetview Game"/>
          <p>And it was enjoyed :)</p>
        </div>
        <div class="body">
          <h2>Google StreetView Game</h2>
          <p>For the Google Partner Summit Google asked us to create something cool. So we did, we created a 'Google StreetView Game', which entails being teleported from place to place all over the world and guessing where you are. You do this by pressing one of the two big arcade buttons where your hands rest on, corresponding with big 3d texts floating in the sky. If you nailed it you stay in the game and earn a star, if not, you lose a life. You've got 3 lives :)</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/vr/methcooksim2.jpg" alt="Final demo of Meth Cook Simulator 2013"/>
          <p>Grind those pill!</p>
        </div>
        <div class="body">
          <h2>Meth Cook Simulator 2013</h2>
          <p>In the line of <a href="http://www.surgeonsim.com/" target="_blank">Surgeon Simulator 2013</a>, we bring you Meth Cook Simulator 2013! After breaking bad having ended, we needed to fill that hole in combination with that years <a href="http://q42.com/w00tcamp"  target="_blank">w00tcamp</a> theme: 'Science!'</p>

          <p>Check out more entries for <a href="http://w00tcamp2013.tumblr.com/" target="_blank">that year</a></p>
        </div>
      </div>

			<div class="block-small">
				<div class="visual caption">
					<img data-src="http://static.q42.nl/images/vr/bigoilcompanyimage.png" alt="A helipad on a ship, with a helicopter.">
					<p>The pilot even talks to you :)</p>
				</div>
				<div class="body">
					<h2>Big oil company ship experience</h2>
					<p>For a big oil company which we may not name, we created a VR experience which flies you around a big ship. After it lands you can walk to and check out the control room.</p>
				</div>
			</div>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/vr/taco.jpg" alt="An oculus rift with webcams mounted on front of it."/>
          <p>You can't look much cooler than that!</p>
        </div>
        <div class="body">
          <h2>Oculus Unrift</h2>
          <p>As close as you can get to being Iron Man, the oculus unrift let's you see the real world again through two camera's, the bonus? You can overlay things in a true AR fashion!</p>
          <p><a href="https://www.youtube.com/watch?v=5hriNoi9fso" target="_blank">See it in action!</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          
        </div>
        <div class="body">
          
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          
        </div>
        <div class="body">
          
        </div>
      </div>
    </section>


   </div>
</template>
