<template name="en_vr">
	<div class="container">

    <header class="block-text">
      <h1>VR at Q42</h1>
    </header>

    <section class="block-large">
      <div class="intro">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/vr/methcooksim.jpg" alt="Final demo of Meth Cook Simulator 2013"/>
          <p>Meth Cook Simulator 2013, a w00tcamp 2013 entry</p>
        </div>

        <p>"The final platform", according to Michael Abrash.
					We've been following VR closely since the Palmer Luckey/John Carmack demos
					back in 2012 at E3. When it evolved into the Oculus Rift, pre-ordering the
					head-mounted display was a no-brainer. And once that first DK1 arrived, and we
					put it on for the first time, we were sold!</p>

        <p>Since then we've done several projects and demos ourselves of which
					you can find a few examples below.</p>

        <p>Interested in talking to us about a VR project? Get in touch with
					<a href="mailto:benjamin@q42.com">Benjamin</a> or
					<a href="mailto:sales@q42.nl">our team</a>.</p>
      </div>
			<aside class="subcontent">
				<h2>Things we think would be better in VR</h2>
				<ul>
					<li>Take a tour of an oil rig</li>
					<li>Jack in to the Matrix</li>
					<li><a href="http://www.polygon.com/2014/3/4/5423330/oculus-rift-vr-gender-swap-girl-mirror-look">Experience being a different gender</a></li>
					<li>Learn to cook crystal meth</li>
					<li>Operate on a person located somewhere else</li>
					<li>Sail the high seas with Lieutenant Worf</li>
					<li>Guess where you are on Earth</li>
					<li>Take a ride on a rollercoaster</li>
					<li><a href="https://www.youtube.com/watch?v=-DmUA9N99X8">Play Portal 2</a></li>
					<li>Control a robot driving around Mars</li>
					<li>Do industrial design of a 3d printable product</li>
					<li>Be John Malkovich</li>
				</ul>
			</aside>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
        <img src="http://static.q42.nl/images/vr/googlepartnersummit.jpg" alt="Google Partner Summit Streetview Game"/>
          <p>And it was enjoyed :)</p>
        </div>
        <div class="body">
          <h2>Google StreetView Game</h2>
          <p>Get teleported from place to place all over the world while guessing where
						you are! You do this by pressing one of the two big arcade buttons
						your hands rest on that correspond with text floating in the sky.
						If you nailed it, you stay in the game and earn a star.
						If not, you lose a try. You've got 3 tries :)</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/vr/methcooksim2.jpg" alt="Final demo of Meth Cook Simulator 2013"/>
          <p>Grind those pills!</p>
        </div>
        <div class="body">
          <h2>Meth Cook Simulator</h2>
          <p>Along the lines of <a href="http://www.surgeonsim.com/">Surgeon Simulator 2013</a>,
						we bring you Meth Cook Simulator 2013! After Breaking Bad ended,
						we needed to fill that hole in combination with that year's
						<a href="/w00tcamp">w00tcamp</a>
						theme: 'Science!'</p>
          <p>Check out <a href="http://w00tcamp2013.tumblr.com/">more entries for that year</a></p>
        </div>
      </div>

			<div class="block-small">
				<div class="visual caption">
					<img src="http://static.q42.nl/images/vr/bigoilcompanyimage.jpg" alt="A helipad on a ship, with a helicopter.">
					<p>The pilot even talks to you :)</p>
				</div>
				<div class="body">
					<h2>Oil Ship Walkthrough</h2>
					<p>For a big oil company (which we can't name),
						we created a VR experience that flies you around a large ship.
						After it lands you can walk to and check out the control room.</p>
				</div>
			</div>
    </section>

    <div class="block-large">
			<div class="body">
				<h2>Oculus Unrift</h2>
				<p>The Oculus Unrift lets you see the real world again through two cameras.
					It's as close as you can get to being Iron Man! The bonus?
					You can overlay things in true AR fashion! Built at <a href="/w00tcamp">w00tcamp</a> 2013.</p>
				<p><a href="https://www.youtube.com/watch?v=5hriNoi9fso">See it in action!</a></p>
			</div>
      <div class="visual caption">
        <img src="http://static.q42.nl/images/vr/taco.jpg" alt="An oculus rift with webcams mounted on front of it."/>
        <p>You can't look much cooler than that!</p>
      </div>
    </div>

   </div>
</template>
