<template name="en_vr">
	<div class="container">

    <header class="block-text">
      <h1>Virtual Reality</h1>
    </header>

		<section>
      <div class="block-large solid">
        <div class="intro">
          <p>VR is hip and happening. No wait, it's actually pretty old.
						We've been building VR things for years now (see below). But it's
						even way older than that. Ever seen the movie
						<a href="http://www.imdb.com/title/tt0104692/">The Lawnmower Man</a>?
						Or <a href=" https://youtu.be/NNiZP2G-nEM">Brainstorm</a>?</p>
          <p>VR is becoming more and more popular though. And easier.
						Interested in talking to us about a VR project?
						<a href="mailto:sales@q42.nl">Get in touch with us!</a></p>
        </div>
        <aside class="block-small subcontent">
          <h2>See also</h2>
          <ul>
            <li><a href="https://www.google.com/get/cardboard/">Google Cardboard</a></li>
						<li><a href="https://www.playstation.com/en-us/explore/playstation-vr/">Playstation VR</a></li>
						<li><a href="https://www.oculus.com/">Oculus Rift</a></li>
						<li><a href="http://www.samsung.com/global/galaxy/wearables/gear-vr/">Samsung Gear VR</a></li>
						<li><a href="http://store.steampowered.com/universe/vr">Steam VR</a></li>
          </ul>
        </aside>
      </div>
    </section>

		<section class="block-large">
      <div class="block-small">
        <div class="visual caption">
        <img src="http://static.q42.nl/images/vr/cardboard.jpg" alt="Q42 Superhero Cardboard VR Viewer"/>
          <p>"Any sufficiently advanced technology…"</p>
        </div>
        <div class="body">
          <h2>Q42 Superhero Cardboard</h2>
          <p>Got your hands on our superhero cardboard VR viewer? <a href="https://youtu.be/7kXBGAPFARY">Here's how to fold it.</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/vr/ssv42.jpg" alt="SuperStreetViewer42"/>
          <p>"…is indistinguishable from magic."</p>
        </div>
        <div class="body">
          <h2>Super Street Viewer 42</h2>
          <p>The first VR app to try with our superhero cardboard is SuperStreetViewer42. We built it in a couple of days, to show building VR apps doesn't have to be complex and expensive.</p>
					<p>
						<a class="store-download-button" href="https://apps.q42.net/ssv42/">
							<img alt="Download on the App Store" src="http://static.q42.nl/images/vr/iphone.png" />
						</a>
					</p>
					<!-- Waiting for App Approval -->
					<!-- <p>
						<a class="store-download-button" href="">
							<img alt="Download on the App Store" src="http://static.q42.nl/images/vr/appstorebutton.png" />
						</a>
					</p> -->
					<p>
						<a class="store-download-button" href="https://play.google.com/store/apps/details?id=com.Q42.SuperStreetViewer42&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1">
							<img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" />
						</a>
					</p>
        </div>
      </div>

			<div class="block-small">
				<div class="visual caption">
					<img src="http://static.q42.nl/images/vr/coaster.jpg" alt="Tips">
					<p>- Arthur C. Clarke, 1973</p>
				</div>
				<div class="body">
					<h2>Tips</h2>
					<p>Other apps to try out with our superhero cardboard are:</p>
 					<ul>
						<li>Google Cardboard<br/><a href="https://itunes.apple.com/us/app/google-cardboard/id987962261?mt=8">iOS</a> | <a href="https://play.google.com/store/apps/details?id=com.google.samples.apps.cardboarddemo">Android</a></li>
 						<li>New York Times VR<br/><a href="https://itunes.apple.com/us/app/nyt-vr/id1028562337?mt=8">iOS</a> | <a href="https://play.google.com/store/apps/details?id=com.im360nytvr">Android</a></li>
						<li>Roller Coaster VR<br/><a href="https://itunes.apple.com/us/app/roller-coaster-vr/id935697665?mt=8">iOS</a> | <a href="https://play.google.com/store/apps/details?id=com.fibrum.roallercoastervr">Android</a></li>
						<li>Titans of Space<br/><a href="https://play.google.com/store/apps/details?id=com.drashvr.titansofspacecb">Android</a></li>
					</ul>
				</div>
			</div>
    </section>

    <section class="block-large">
      <div class="intro">
				<h2>Oil Ship Walkthrough</h2>
				<p><img src="http://static.q42.nl/images/vr/bigoilcompanyimage.jpg" alt="A helipad on a ship, with a helicopter."></p>
				<p>For a big oil company (which we can't name),
					we created an Oculus Rift VR experience that flies you around a large ship.
					After it lands you can walk to and check out the control room.</p>
      </div>
			<aside class="subcontent">
				<h2>Things we think would be better in VR</h2>
				<ul>
					<li>Take a tour of an oil rig</li>
					<li>Jack in to the Matrix</li>
					<li><a href="http://www.polygon.com/2014/3/4/5423330/oculus-rift-vr-gender-swap-girl-mirror-look">Experience being a different gender</a></li>
					<li>Learn to cook crystal meth</li>
					<li>Operate on a person located somewhere else</li>
					<li>Sail the high seas with Lieutenant Worf</li>
					<li>Guess where you are on Earth</li>
					<li>Take a ride on a rollercoaster</li>
					<li><a href="https://www.youtube.com/watch?v=-DmUA9N99X8">Play Portal 2</a></li>
					<li>Control a robot driving around Mars</li>
					<li>Do industrial design of a 3d printable product</li>
					<li>Be John Malkovich</li>
				</ul>
			</aside>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
        <img src="http://static.q42.nl/images/vr/googlepartnersummit.jpg" alt="Google Partner Summit Streetview Game"/>
          <p>And it was enjoyed :)</p>
        </div>
        <div class="body">
          <h2>Google StreetView Game</h2>
          <p>Before we built SuperStreetViewer42 for the cardboard VR viewer,
						we used this concept for an Oculus Rift stand for the Google Partner
						Summit in San Francisco. Players could guess the location by
						pressing one of the two big arcade buttons their hands rested on,
						corresponding with text floating in the sky.</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/vr/methcooksim2.jpg" alt="Final demo of Meth Cook Simulator 2013"/>
          <p>Grind those pills!</p>
        </div>
        <div class="body">
          <h2>Meth Cook Simulator</h2>
          <p>Along the lines of <a href="http://www.surgeonsim.com/">Surgeon Simulator 2013</a>,
						we bring you Meth Cook Simulator 2013! After Breaking Bad ended,
						we needed to fill that hole in combination with that year's
						<a href="/w00tcamp">w00tcamp</a>
						theme: 'Science!'</p>
          <p>Check out <a href="http://w00tcamp2013.tumblr.com/">more entries for that year</a></p>
        </div>
      </div>

			<div class="block-small">
				<div class="visual caption">
					<img src="http://static.q42.nl/images/vr/taco.jpg" alt="An oculus rift with webcams mounted on front of it."/>
	        <p>You can't look much cooler than that!</p>
				</div>
				<div class="body">
					<h2>Oculus Unrift</h2>
					<p>The Oculus Unrift lets you see the real world again through two cameras.
						It's as close as you can get to being Iron Man! The bonus?
						You can overlay things in true AR fashion! Built at <a href="/w00tcamp">w00tcamp</a> 2013.</p>
					<p><a href="https://www.youtube.com/watch?v=5hriNoi9fso">See it in action!</a></p>
				</div>
			</div>
    </section>
   </div>
</template>
