<template name="en_w00tcamp">
  <div class="container">

    <header class="block-text">
      <h1><b>w00tcamp</b>, two days of passion</h1>
    </header>
    <section>
      <div class="block-large">
        <div class="intro">
          <p>Every year we spend two days hacking at w00tcamp. Preliminary to
            w00tcamp we have two pitch rounds where we present each other our
            ideas. During a pitch your audience has to decide if they think an
            idea can and should be built in those two days.</p>
          <p>We also invite some of our friends to join in the w00tcamp fun.
            They need to bring at least one of the following: a brilliant
            idea, fantastic programming or design skills,
            and lots of enthusiasm.</p>
          <p>Over the past few years, a lot of great things have been thought
            out and built. On this page you will find some of them.
            Maybe sometime soon you will encounter one as a real product or
            game. Who knows, maybe you already did!</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Invite only</h2>
          <p>Some of the guests who have joined us:</p>
          <ul>
            <li><a href="http://lighting.philips.com/" class="external">Philips Lighting</a></li>
            <li><a href="http://fabrique.nl/en/" class="external">Fabrique</a></li>
            <li><a href="http://oakandmorrow.com/" class="external">Oak & Morrow</a></li>
            <li><a href="http://unitid.nl/english/" class="external">UNITiD</a></li>
            <li><a href="http://the-incredible-machine.com/" class="external">The incredible machine</a></li>
            <li><a href="http://tweakers.net/" class="external">Tweakers</a></li>
            <li><a href="http://www.elasticsearch.org/" class="external">ElasticSearch</a></li>
            <li><a href="http://studiodumbar.com/" class="external">Studio Dumbar</a></li>
          </ul>
        </aside>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-14.jpg" alt=""/>
            <p>Pitching for w00tcamp</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-13.jpg" alt=""/>
            <p>Pitching for w00tcamp.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-16.jpg" alt=""/>
            <p>Laurens demonstrates his robot arm plan</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>Super Slide Qam!</h2>
          <h3>The webcam for the slide in our Amsterdam office</h3>
          <p>Chances are that whenever you go down a slide in an amusement
            park your picture will be taken. We wanted that, too. For the
            slide in our office in Amsterdam.</p>
          <p>But a system like that will cost you thousands of euros, right?
             Wrong! With some hardware and a bunch of very clever nerds you
             can build it for about €100.</p>
          <p><a href="http://www.superslideqam.nl" class="external">Check the website.</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/superslidecam.jpg" alt="" />
          <p>Yieeehaaaa!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/oculus.jpg" alt=""/>
            <p>Not your average ordinary superhero...</p>
          </div>
          <div class="body">
            <h2>Oculus Unrift</h2>
            <h3>Pretending you are Terminator</h3>
            <p>What happens when you attach two front-facing cameras to
               an Oculus Rift and show a HUD over the resulting view? Yes, exactly!</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/overhere.jpg" alt=""/>
            <p>Huh? Where?</p>
          </div>
          <div class="body">
            <h2>Overhere</h2>
            <h3>Easily sharing your location!</h3>
            <p>A web service that makes it super easy to share your whereabouts.
              No app needed. Just share a link via SMS, Whatsapp, email etc.</p>
            <p><a href="http://www.overhere.io" class="external">Where are you?</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/magic.jpg" alt=""/>
            <p>And it looks good, too...</p>
          </div>
          <div class="body">
            <h2>Magic the Gathering client</h2>
            <h3>Hopefully this will become a Bitcoin exchange</h3>
            <p>An online play environment and a client to play Magic
              against each other. Because all exisitng Magic-client are,
               uhm... well, 'not that good'...</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-04.jpg" alt=""/>
            <p>Don't forget to claim your sleeping spot on time!</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-05.jpg" alt=""/>
            <p>Working from a bean bag chair, because, why not?</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-06.jpg" alt=""/>
            <p>Surprise! It's 3AM, time for gyros!</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Huelands Spoor</h2>
          <h3>Playing with the lights at Q42 from the Den Haag HS train station</h3>
          <p>Winner of w00tcamp 2012! The Philips Hue lights hanging in
            our office can be controlled by a web interface or by
            calling a specific phone number. Try for yourself: +31 85 888 1942.</p>
          <p><a href="http://huelandsspoor.nl" class="external">Switch the lights to your favourite colour!</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/huelandsspoor.jpg" alt="" />
          <p>Disqo-time!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/methcook.jpg" alt=""/>
            <p>Hello?</p>
          </div>
          <div class="body">
            <h2>Meth Cook Simulator</h2>
            <h3>Create the purest Meth without blowing up your laboratory</h3>
            <p>Alright then, you have an Oculus Rift and two days to
              create whatever you want. What are you going to build?
              A Meth Cook Simulator, of course! Like in Breaking Bad.
              With some help of the Razer Hydra to get your hands to
              show up in the game, too.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/cookview.jpg" alt=""/>
            <p>Rob that recipe, yarrr!</p>
          </div>
          <div class="body">
            <h2>Recipe Pirate</h2>
            <h3>Rob that recipe, yarrr!</h3>
            <p>Steal a recipe from any site on cooking and automagically
              change it into a version that is easy to read and scan
              while you're cooking.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/tixi.jpg" alt=""/>
            <p>Open the gates with the right numbers</p>
          </div>
          <div class="body">
            <h2>Tixi</h2>
            <h3>Become a mastrixi of numberixi with Tixi!</h3>
            <p>Learn math in a fun way with this web-based game where you
               are a wizard collecting coin animals ("tixis") to solve the puzzles.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-01.jpg" alt=""/>
            <p>Yes, those are pajama pants you're seeing</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-03.jpg" alt=""/>
            <p>Whisky helps your brain do... something</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-02.jpg" alt=""/>
            <p>It's not about winning. But... well, it kinda is</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large right">
          <div class="body">
            <h2>Castle of Madness!</h2>
            <h3>Wants to be developed for Wii U</h3>
            <p>Four players try to make their way through a dungeon while one
              player makes it very difficult for them by unleashing monsters,
              placing traps and casting magic spells on them.
              Sounds like fun, don't you think?</p>
          </div>
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/castle-of-madness.jpg" alt="" />
            <p>I'll do the three eyes on the left, while you do the three on the right!</p>
          </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/skyroads.jpg" alt=""/>
            <p>Green tiles give you a boost, red tiles explode</p>
          </div>
          <div class="body">
            <h2>Skyroads</h2>
            <h3>Still as addictive as when you were 10</h3>
            <p>Web-based remake of the original game where you race across 3D
               cubes in space. It has a level editor, too!</p>
            <p><a href="http://skyroads.azurewebsites.net/" class="external">Well alright then, one more level!</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/straightshot.jpg" alt=""/>
            <p>What on earth is Christiaan doing?</p>
          </div>
          <div class="body">
            <h2>Straightshot</h2>
            <h3>Superfast screenshot sharing</h3>
            <p>It ain't always easy to show your colleagues what you're doing.
               But Straightshot makes it very easy for you by asking you to
               swipe across your screen every half hour.</p>
            <p><a href="http://straightshot.meteor.com/" class="external">Install the app on your mac</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/touchtable.jpg" alt=""/>
            <p>Needed: beamer, table, saw, ...</p>
          </div>
          <div class="body">
            <h2>w00table</h2>
            <h3>Home-made Microsoft Surface clone</h3>
            <p>The original Surface wasn't that impressive at all.
              We could have done it ourselves with some stuff from Ikea,
              a beamer, an EyeToy, a PC and a mirror!</p>
            <p><a href="https://vimeo.com/54355508" class="external">Watch w00table in action (Vimeo)</a></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-07.jpg" alt=""/>
            <p>Rollin' rollin' rollin'</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-08.jpg" alt=""/>
            <p>Precision work</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-09.jpg" alt=""/>
            <p>It's a dance-off! Featuring robots!</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Tyrian</h2>
          <h3>For Windows Phone!</h3>
          <p>What do you get when you let two Q'ers work on a retro top-down
            shooter for Windows Phone in C#? This is what you get.</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/tyrian.jpg" alt="" />
          <p>want it, need it, got it!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/zien.jpg" alt=""/>
            <p>What if you suffer from deuteranomaly?</p>
          </div>
          <div class="body">
            <h2>SEE</h2>
            <h3>What do people with visual impairments see?</h3>
            <p>Ever wondered what the world looks like to someone with cataract?
               Or to someone who is colorblind? SEE will show you!</p>
            <p><a href="https://chrome.google.com/webstore/detail/see/dkihcccbkkakkbpikjmpnbamkgbjfdcn" class="external">Install the SEE Chrome extension</a></p>
            <p><a href="https://itunes.apple.com/nl/app/bartimeus-zien-app/id485627958?mt=8" class="external">Install the 'Zien' iPhone app (Dutch)</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/carrrds.jpg" alt=""/>
            <p>Off to win l00t!</p>
          </div>
          <div class="body">
            <h2>Carrrds</h2>
            <h3>The card game from Q42 Games, but this time it's digital</h3>
            <p><a href="http://q42games.com/post/31456832291/designing-a-pirate-themed-card-game" class="external">A card game for kids</a> about pirates, treasure maps and mutiny! An instant hit. Sure thing.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/histree.jpg" alt=""/>
            <p>Where was I?</p>
          </div>
          <div class="body">
            <h2>Histree</h2>
            <h3>Navigating through your browser's history in a structured way</h3>
            <p>Your browser history could be so much better.
              What if you had click paths when opening a new tab?
              Histree makes it possible by means of a chrome extension.</p>
            <p><a href="https://chrome.google.com/webstore/detail/histree/lngppkkhjifheiegfeloipgaeomjfgbf" class="external">Install the chrome extension</a></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-11.jpg" alt=""/>
            <p>Good job pitching! Your reward is a mutated dog.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-12.jpg" alt=""/>
            <p>Actually, the reward is all these smiling faces :)</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/w00tcamp-impression-15.jpg" alt=""/>
            <p>Each pitch must include a slide of the A-Team.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Camperrr</h2>
          <h3>Slide presentations 2.0</h3>
          <p>Back from holiday, full of stories you need to tell about all these
            beautiful pictures, but you just can't remember where you took them.</p>
          <p>Argh! With Camperrr these problems are history, as you can record your
            route on a map and attach pictures to any location.
            And then show your slides. Problem solved!</p>
          <p><a href="http://www.camperrr.com" class="external">http://www.camperrr.com</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/camper.jpg" alt="" />
          <p>Look mum, I've been there!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/tinytravel.jpg" alt=""/>
            <p>How do you want to find your next vacation?</p>
          </div>
          <div class="body">
            <h2>Tiny Travel</h2>
            <h3>Holiday websites re-invented</h3>
            <p>Holiday websites in general are outdated,
              so room enough to re-invent them and fill the gap. Tiny Travel
              envisions what these sites could be like.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/gipf.jpg" alt=""/>
            <p>Check mate! Uhhh wrong game...</p>
          </div>
          <div class="body">
            <h2>Gipf</h2>
            <h3>An abstract strategic board game</h3>
            <p>Every nerd with any self respect who gets introduced to
              Gipf automatically starts thinking about data structures and
              algorithms. So, this is what you get.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/soundmatch.png" alt=""/>
            <p>Hey DJ, turn it up!</p>
          </div>
          <div class="body">
            <h2>Soundmatch Spotify app</h2>
            <h3>Your Last.fm recommendations as a playlist! Again!</h3>
            <p>Winner of w00tcamp 2011, Soundmatch, is back for the next round.
              Now as a Spotify app. And it delivered again! Coming soon to a Spotify near you.</p>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>
