<template name="work_en">
  <div class="container">

    <!-- {{#if langEn}}
      {{> thing id='work-intro-en'}}
    {{else}}
      {{> thing id='work-intro-nl'}}
    {{/if}} -->

    <div class="block-text">
      <h1>Ons werk</h1>
      <p class="descriptor">Wij houden erg van samen mooie internetdingen
        maken. Omdat we van internetdingen houden, of het nou webapplicaties
        of mobiele apps zijn. Omdat we graag uitgedaagd worden en de grenzen
        opzoeken van wat technisch mogelijk is.</p>
    </div>

    {{#each items in allWork}}
      <div class="block-large">
        {{#each work in items}}
          {{> workFilterBlock work=work}}
          {{> portfolioItem work=work}}
        {{/each}}
      </div>
    {{else}}
      <div class="block-text">
        <p class="descriptor">No work found for that tag :(</p>
      </div>
    {{/each}}

  </div>
</template>
