<template name="apps">
  <div class="container">

    <header class="block-text">
      <h1>Apps</h1>
    </header>

    <section>
      <div class="block-large">
        <div class="bodytext">
          <h2>Check deze kop yo</h2>
          <p>Muzikanten vermelden altijd op hun website welke instrumenten zij gebruiken. Niet dat wij ons rocksterren wanen (niet hardop tenminste), maar we geloven graag dat het voor sommige mensen (potenti&euml;le Q-ers, potenti&euml;le klanten, concullega's, ...) interessant kan zijn welke tools Q42 gebruikt. Onder andere. Want deze lijst is verre van compleet. En we zijn sowieso niet vies van nieuw spul ontdekken.</p>
          <p>Muzikanten vermelden altijd op hun website welke instrumenten zij gebruiken. Niet dat wij ons rocksterren wanen (niet hardop tenminste), maar we geloven graag dat het voor sommige mensen (potenti&euml;le Q-ers, potenti&euml;le klanten, concullega's, ...) interessant kan zijn welke tools Q42 gebruikt. Onder andere. Want deze lijst is verre van compleet. En we zijn sowieso niet vies van nieuw spul ontdekken.</p>
          <p>Muzikanten vermelden altijd op hun website welke instrumenten zij gebruiken. Niet dat wij ons rocksterren wanen (niet hardop tenminste), maar we geloven graag dat het voor sommige mensen (potenti&euml;le Q-ers, potenti&euml;le klanten, concullega's, ...) interessant kan zijn welke tools Q42 gebruikt. Onder andere. Want deze lijst is verre van compleet. En we zijn sowieso niet vies van nieuw spul ontdekken.</p>

        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small light-background">
          <img src="http://static.q42.nl/images/google-apps.png" alt="" class="block-small-image"/>
          <div class="body">
            <h2>Titel van blokje</h2>
            <h3>Al onze mail, afspraken en documenten in de cloud.</h3>
            <p>Ooit in een ver verleden gebruikten we Microsoft Outlook. Maar die tijd hebben we uit onze geheugens gewist, want met Google Apps kijk je gewoon niet meer terug!</p>
          </div>
        </div>
        <div class="block-small light-background">
            <img src="http://static.q42.nl/images/github.png" alt="" class="block-small-image"/>
          <div class="body">
            <h2>Git &amp; Github (&amp; Bitbucket)</h2>
            <h3>Version management voor echte professionals</h3>
            <p>"Ik werk in index.html, allemaal afblijven!" en "Ik mail je zo een nieuwe zip!" kunnen al jaren niet meer. Een tijdje ging het met SVN nog goed, maar nu is Github het hippe, moderne ding. Dus dan maar die. Kijk maar: <a href="http://github.com/q42">Q42 op Github</a>, het is zelfs een mooi excuus om al onze open-source spullen op &eacute;&eacute;n plek te bewaren!</p>
            <p>Oh ja, en je moet SourceTree gebruiken als je een fijne Git UI wilt. Die is écht goed.</p>
          </div>
        </div>
        <div class="block-small light-background">
            <img src="http://static.q42.nl/images/ide.png" alt="" class="block-small-image"/>
          <div class="body">
            <h2>Visual Studio, Sublime, Xcode</h2>
            <h3>Onze favoriete editors. En soms gebruiken we ook Eclipse.</h3>
            <p>Je moet ergens je code in typen en tegenwoordig zijn er gelukkig meer dan genoeg fijne editors om uit te kiezen. <a href="/producten">Onze eigen Handcraft</a> voor de snelle HTML prototype/mini-site, XCode voor al je iOS projecten, Visual Studio voor als het met .NET moet, en Sublime Text voor everything else.</p>
            <p>Behalve als het Java is. Dan moet je weer Eclipse induiken. En dat wil eigenlijk niemand. Dus daarom gebruiken we meestal IntelliJ!</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>9292</h2>
          <h3>De hele mikmak: web &amp; apps</h3>
          <p><a href="http://9292.nl" class="external">De website van 9292</a> was toe aan een nieuw jasje. Samen met Fabrique en 9292 hebben wij de site omgebouwd van gereedschap naar goede vriend. Dat begint met de vraag ‘waar wil je heen’ en gaat verder met een slimme planner met goede autosuggest en herkenning van plaatsen zoals ‘Efteling’. Tegen een vriend zeg je namelijk niet dat je van station Delft naar Europalaan 1 in Kaatsheuvel reist. Nee, je gaat van je huis naar de Efteling.</p>
          <p>Naast de website en de mobiele variant hebben we ook de <a href="https://itunes.apple.com/nl/app/9292/id556557690" class="external">iPhone</a>, <a href="https://play.google.com/store/apps/details?id=nl.negentwee&amp;hl=nl" class="external">Android</a> en <a href="http://www.windowsphone.com/nl-NL/apps/1f4b557a-ed22-47f7-a6e6-8571906a886d" class="external">Windows Phone</a> apps gebouwd. En er komt nog veel meer mooi spul aan!</p>
        </div>
        <div class="visual">
          <img src="http://static.q42.nl/images/9292.jpg" alt="" />
        </div>
      </div>
    </section>

  </div>
</template>
