<template name="apps">
  <div class="container">

    <header class="block-text">
      <h1>Apps &amp; Wearables</h1>
    </header>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>KLM voor Apple Watch</h2>
          <h3>Inchecken vanaf je horloge</h3>
          <p>Samen met AKQA maakten we inchecken bij KLM nog handiger!
            Je Apple Watch geef je inzicht in je volgende vlucht, terminal, gate, stoel en
            zelfs hoe lang het duurt om naar de gate te lopen.</p>
          <p><a href="/blog/post/125336396528/klms-apple-watch-app-catches-your-plane" class="external">Lees hoe we het deden</a></p>
        </div>
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/projecten/klm-applewatch3.jpg" alt="" />
          <p>Zoveel handiger dan een stapel papier</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large solid">
        <div class="intro">
          <p>Wij houden erg van samen mooie internetdingen maken. Om verschillende redenen. Omdat we van internetdingen houden, of het nou webapplicaties of mobiele apps zijn. Omdat we graag uitgedaagd worden en de grenzen opzoeken van wat technisch mogelijk is. Omdat we enthousiast worden van opdrachtgevers met passie voor hun vak. Omdat we het geweldig vinden om gebruikers blij te maken met mooi spul dat niet alleen nuttig, maar ook vriendelijk is. En omdat we zo trots zijn op alle mooie dingen die we al gebouwd hebben.</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
            <li><a href="https://q42.com/interaction-engineering">Interaction Engineering</a> (Engels)</li>
            <li><a href="/gereedschapskist">Onze gereedschapskist</a></li>
            <li><a href="https://q42.com/swift">Swift</a> (Engels)</li>
          </ul>
        </aside>
      </div>
    </section>

    <div class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/projecten/9292-small.jpg" alt="" />
          <p>'Waar wil je heen?' Existentiële vraag, eigenlijk.</p>
        </div>
        <div class="body">
          <h2>9292</h2>
          <h3>De hele mikmak: web &amp; apps</h3>
          <p><a href="http://9292.nl" class="external">De website van 9292</a>
            was toe aan een nieuw jasje. Samen met Fabrique en 9292 hebben wij
            de site omgebouwd van gereedschap naar goede vriend.</p>
          <p>Naast de website en de mobiele variant hebben we ook de
            <a href="https://itunes.apple.com/nl/app/9292/id556557690"
              class="external">iPhone</a>,
            <a href="https://play.google.com/store/apps/details?id=nl.negentwee&amp;hl=nl" class="external">Android</a>
            en <a href="http://www.windowsphone.com/nl-NL/apps/1f4b557a-ed22-47f7-a6e6-8571906a886d" class="external">Windows Phone</a>
            apps gebouwd.</p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/projecten/subiet.jpg" alt=""/>
          <p>Subiet... vertrekt je trein</p>
        </div>
        <div class="body">
          <h2>Subiet</h2>
          <h3>De app voor de frequente treinreiziger</h3>
          <p>Reis je vaak op vaste trajecten met de trein? Dan is <a href="http://subietapp.nl">Subiet</a> de ideale app voor jou.
            Met Subiet heb je namelijk direct overzicht over de vertrektijden op jouw vaste trajecten.</p>
          <p>We ontwikkelden Subiet samen met onze makkers bij <a href="http://oakandmorrow.com">Oak &amp; Morrow</a>.</p>
          <p><a href="/blog/post/122940751318/subiet-een-app-voor-de-frequente-treinreiziger" class="external">Meer over Subiet</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="{{assetsUrl}}/images/projecten/schooltas3.jpg" alt="600 gram is genoeg voor alle schoolboeken"/>
          <p>600 gram is genoeg voor alle schoolboeken.</p>
        </div>
        <div class="body">
          <h2>Schooltas</h2>
          <h3>ThiemeMeulenhoff's iPad app</h3>
          <p>Het Haagse "Vroegâh was alles betâh" gaat niet altijd op. Stinkend jaloers zijn wij Haagse nerds namelijk op de 20 scholen (and counting) waar leerlingen elke ochtend met een iPad van start gaan. Geen zware schooltas met papieren boeken meer, maar een moderne digitale versie die de toepasselijke naam Schooltas 2.0 draagt.</p>
          <p><a href="http://www.schooltas.net/" class="external">Lees meer over Schooltas</a></p>
        </div>
      </div>
    </div>

    <div class="block-full">
      <p><a href="/projecten">Meer apps &amp; ander werk</a></p>
    </div>

  </div>
</template>
