<template name="blog">
  <div class="container">

    <div class="block-text">
      <h1>Hallo? Met het blog van Q42?</h1>
    </div>

    <div class="blog block-large">
      <div class="blog-posts">
      {{#each post}}
        <div class="blog-item {{#if description}}reblog{{/if}}">
          {{#if typeIs "link"}}
            {{#unless description}}
            <!-- link -->
              <h1><a href="{{url}}">{{title}}</a></h1>
              {{> postDate}}
            {{/unless}}
          {{/if}}
          {{#if player}}
          <!-- video -->
            {{#each player}}
              {{#if widthEquals 500}}
                {{{embed_code}}}
              {{/if}}
            {{/each}}
            {{{caption}}}
            {{> postDate}}
            <p class="block-readmore">
              <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Lees verder</a>
            </p>
          {{/if}}
          {{#if photos}}
          <!-- image(s) -->
            <div class="figure">
            {{#each photos.[0].alt_sizes}}
              {{#if widthEquals 500}}
                <img src="{{url}}" alt="">
              {{/if}}
            {{/each}}
              <div class="figcaption">
                {{{caption}}}
              </div>
            </div>
            {{> postDate}}
            <p class="block-readmore">
              <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Lees verder</a>
            </p>
          {{/if}}
          {{#if text}}
          <!-- quote -->
            <h1>"{{{text}}}"</h1>
            {{#if source}}
            <p>—{{{source}}}</p>
            {{/if}}
          {{/if}}
          {{#if description}}
          <!-- reblog -->
            <h1><a href="{{url}}">{{title}}</a></h1>
            {{#if typeIs "link"}}
              <p>{{{description}}}</p>
            {{/if}}
          {{/if}}
          {{#if intro}}
          <!-- text post -->
            <h1><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></h1>
            {{> postDate}}
            {{{intro}}}
            <p class="block-readmore">
              <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Lees verder</a>
            </p>
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{> blogSidebar}}
    </div>

    <nav id="pageNav">
      <ul>
        {{#each pagination}}
          <li>
            {{#if active}}
            <a href="/blog{{#if tag}}/tagged/{{tag}}{{/if}}/page/{{page}}" class="active">{{label}}</a>
            {{else}}
            <a href="/blog{{#if tag}}/tagged/{{tag}}{{/if}}/page/{{page}}">{{label}}</a>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </nav>

  </div>
</template>

<template name="blogpost">
  <div class="container">
    {{#with post}}
    <section>

      <div class="blog block-large">
        <div class="blog-post">
          {{#if player}}
            <h1>Filmpje</h1>
            {{> postDate}}
            {{#each player}}
              {{#if widthEquals 500}}
                {{{embed_code}}}
              {{/if}}
            {{/each}}
            {{{caption}}}
          {{/if}}
          {{#if photos}}
            <h1>Foto's</h1>
            {{> postDate}}
            {{{caption}}}
            {{#each photos.[0].alt_sizes}}
              <p><div class="figure">
              {{#if widthEquals 500}}
                <img src="{{url}}" alt="">
              {{/if}}
                <div class="figcaption">
                  {{{caption}}}
                </div>
              </div></p>
            {{/each}}
          {{/if}}
          {{#if description}}
            <h1><a href="{{url}}">{{title}}</a></h1>
            {{{description}}}
          {{/if}}
          {{#if body}}
            <h1>{{title}}</h1>
            {{> postDate}}
            {{{body}}}
          {{/if}}
        </div>
        {{> blogSidebar}}
      </div>

      <div class="blog">
        {{#unless isPhantom}}
        <div class="socialShare">
          <div class="twitterShare" style="float: left;">
            <a href="https://twitter.com/share" class="twitter-share-button"
              data-url="http://q42.nl/blog/post/{{id}}/{{slug}}" data-via="q42" data-text="{{title}}">Tweet</a>
          </div>

          <div class="facebookShare" style="float: left;">
            <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          </div>
        </div>
        {{/unless}}

        {{> tags}}
      </div>

    </section>
    {{/with}}
    <section class="comments">
      <h2>{{commentsCount}} reactie{{#unless oneComment}}s{{/unless}}</h2>
      <div class="commentbox">
        <div class="input">
          <img src="{{picture}}">
          <div class="comment">
            <textarea id="comment" placeholder="Reageer..."></textarea>
          </div>
        </div>
        <div class="submit">
          {{#unless loggedin}}
          <button id="addComment" disabled>Reageer</button>
          {{else}}
          <button id="addComment">Reageer</button>
          {{/unless}}
          als {{> loginButtons}}
        </div>
      </div>
      <ul>
        {{#each comments}}
          {{> comment}}
        {{/each}}
      </ul>
    </section>

  </div>
</template>

<template name="postDate">
  <p class="post-date">Geschreven op <abbr>{{prettyDate}}</abbr></p>
</template>

<template name="tags">
{{#if tags}}
  <div class="block-tags">
    <ul class="tags">
      {{#each tags}}
        <li>
          <a href="/blog/tagged/{{this}}">{{this}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
</template>

<template name="otherPosts">
  <h2>Ook op Q42.nl</h2>
  <ul>
    {{#each post}}
      <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
    {{/each}}
  </ul>
</template>

<template name="latestComments">
  <h2>Nieuwste reacties</h2>
  <ul id="latestComments">
    {{#each comment}}
      <li><div><a href="/blog/post/{{blogpostId}}/#comment{{_id}}">{{text}}</a></div></li>
    {{/each}}
  </ul>
</template>

<template name="blogSidebar">
  <aside class="block-small subcontent subcontent-last" id="blog-sidebar">
    <h2><strong>Web</strong>log</h2>
    <p>Dit is het blog van Q42, waarin Q'ers schrijven over hun werk, passie en het leven bij Q42.</p>
    <p>Diezelfde Q'ers zijn ook actief op Twitter. We hebben een lijstje gemaakt, kijk maar: <a href="https://twitter.com/q42/q-ers">Q'ers op Twitter</a>. En je kunt ons natuurlijk ook volgen op <a href="http://twitter.com/q42">@q42</a>.</p>
    {{> otherPosts}}
    {{> latestComments}}
  </aside>
</template>

<template name="pageNav">
  <nav id="pageNav">
    <ul class="clearfix">
      {{#each pagination}}
        <li>
          {{#if active}}
          <a href="/blog{{#if tag}}/tagged/{{tag}}{{/if}}/page/{{page}}" class="active">{{label}}</a>
          {{else}}
          <a href="/blog{{#if tag}}/tagged/{{tag}}{{/if}}/page/{{page}}">{{label}}</a>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </nav>
</template>

<template name="comment">
  <li id="comment{{_id}}">
    <div class="user {{service}}-service">
      <img src="{{picture}}">
      <span class="login-image" id="login-buttons-image-{{service}}"></span>
      <span class="name">{{userName}}</span>
      <span class="meta"> - {{datediff}} geleden</span>
      {{#if ownsComment}}
        <span class="meta"> -
          <a href="#" class="edit-link">wijzig</a>
          <a href="#" class="save-link">opslaan</a>
          - <a href="#" class="delete-link">verwijderen</a>
        </span>
      {{/if}}
    </div>
    <div class="text">{{text}}</div>
    {{#if ownsComment}}<textarea class="edit-area">{{text}}</textarea>{{/if}}
  </li>
</template>
