<template name="games">
  <div class="container">

    <header class="block-text">
      <h1>Games, digitaal en analoog</h1>
    </header>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>Contranoid</h2>
          <h3>The Chaotic Two-Player Telephone Game From 1897!</h3>
          <p>Contranoid is een soort mashup van Pong en Arkanoid.
            Ken je die nog? Martin wel. Hij bouwde Contranoid weer in HTML5, en
            het is beschikbaar voor praktisch alle platforms.</p>
          <p>Het is net als Pong in de zin dat je aan het tennissen bent met twee
            rechthoeken en een bal. Maar het is ook als Arkanoid, omdat je wint
            door langzaamaan een pad te graven door de kleur van de tegenstander.
            En het is multiplayer, dus pak een vriend of vriendin, ga tegenover
            elkaar zitten, en ga los!</p>
          <p><a href="http://contranoid.com" class="external">Download en speel Contranoid gratis!</a></p>
        </div>
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/contranoid-large.jpg" alt="" />
          <p>"Ludicrous!" - Elon Musk</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="intro">
          <p>Peter Pan blijft altijd jong. Q-ers eigenlijk ook. Als grote kinderen bouwen we op "kantoor" met LEGO, beschieten teams elkaar met Nerf guns, spelen we tafelvoetbal, airhockey, Magic, Darten, Minecraft, op de Wii U en PS4, alles wat ons jong houdt.</p>
          <p>Maar we maken ook graag spellen. Om dat creatieve en katalyserende proces gezond in een bedrijf te passen zeggen we voortaan officieel dat we ook "games maken". Een soort pleziertherapie.</p>
          <p>Wat dan zoal? HTML5 games, native voor de iPad, een echt kaartspel en misschien een toekomstige breinkraker voor in de ochtendkrant... we slaan nieuwe wegen in waar we enorm veel van leren, genieten en trots op zijn.</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
            <li><a href="/w00tcamp">w00tcamp</a></li>
          </ul>
        </aside>
      </div>
    </section>

    <div class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/0hn0-large.jpg" alt="0hn0">
          <p>Stond ook bovenaan op Hacker News!</p>
        </div>
        <div class="body">
          <h2>0h n0</h2>
          <h3>It's 0h h1's companion!</h3>
          <p>Alsof <a href="http://0hh1.com">0h h1</a> niet genoeg was, moest Martin
          natuurlijk doorpakken met <a href="http://q42.nl/blog/post/110896968763/0h-n0-een-nieuw-spel-van-q42">
          nóg een puzzelspelletje, ditmaal gebaseerd op Kuromasu</a>.</p>
          <p>Weer gratis, en weer voor alle platformen. Maar nu ook met achievements
            en Game Center en Google Play integratie! Dus nu kun je je verslaving ook
            hard maken tegenover je vrienden.</p>
          <p><a href="http://0hn0.com">Speel 0hn0 nu online!</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/0hh1-large.jpg" alt="0hh1">
          <p>Stond bovenaan op Hacker News!</p>
        </div>
        <div class="body">
          <h2>0h h1</h2>
          <h3>A little logic game</h3>
          <p>0h h1 begon toen Martin een presentatie wilde geven over hoe je een
            puzzle solver schrijft. Dat liep uit de hand. Blijkbaar.</p>
          <p>Daarom hebben we nu 0h h1, een compleet gratis en superverslavend
            spelletje op alle platformen. En met gratis bedoelen we écht gratis:
            geen betaalde versie, geen in-app purchases, geen hints voor micropayments.
            Gewoon. Gratis.</p>
          <p><a href="http://0hh1.com">Speel 0hh1 nu online!</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/quento.jpg" alt="Quento" />
          <p>Plezier voor jong én oud!</p>
        </div>
        <div class="body">
          <h2>Quento</h2>
          <h3>Een grid met nummers</h3>
          <p>In Quento moet je sommetjes bij elkaar swipen. Heel eenvoudig, maar al snel bleek dat een flink aantal Q-ers en hun vrienden en familie verslaafd raakten aan deze op-het-oog simpele breinkraker.</p>
          <p>Het begint makkelijk, maar je kunt zelf instellen hoe lastig je de puzzels wilt krijgen en er is ook een VRIJ SPEL modus waarin je rustig achterover kan leunen en puzzelen hoe jij het wilt.</p>
          <p><a href="http://quento.nl" class="external">Download Quento voor iOS of Android</a></p>
        </div>
      </div>
    </div>

    <div class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/sariennet.jpg" alt="Sarien óp de iPad" />
          <p>Space Quest óp de iPad. Hihi!</p>
        </div>
        <div class="body">
          <h2>Sarien.net</h2>
          <h3>Klassieke adventure games in HTML5</h3>
          <p>Martin's passie voor jaren '80 adventure games van Sierra uit zich in zijn Javascript-versie van de AGI game engine. Het resultaat: sarien.net, een website waarop je allerlei retrogames kunt spelen, van Space Quest tot Leisure Suit Larry.</p>
          <p>Nu ook op iPad!</p>
          <p><a href="http://sarien.net/" class="external">Klik niet op deze link als je vandaag nog iets gedaan wilt krijgen</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/mbb-q-2.png" alt=""/>
          <p>Wat een demo in 2 dagen kan doen</p>
        </div>
        <div class="body">
          <h2>Monolith Burger Boy</h2>
          <h3>Van HTML5 demo naar Kickstarter</h3>
          <p>"We gaan een adventure game maken in twee dagen" zei Martin. "Ok. Wanneer?" vroeg Richard. "Nu". En zo werd spontaan een demo in elkaar gezet om de makers van Space Quest van HTML5 te overtuigen.</p><p><a href="https://chrome.google.com/webstore/detail/monolith-burger-boy/pcbhpogkmlpjhpjmohlnpdojdcmelhfd" class="external">Speel de demo in Chrome</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/spaceventure.jpg" alt=""/>
          <p>Samen met de makers van Space Quest!</p>
        </div>
        <div class="body">
          <h2>SpaceVenture Kickstarter</h2>
          <h3>Adventuregamen in HTML</h3>
          <p>De makers van Space Quest wilden een nieuw avontuur gaan maken. We raadden ze aan om ook HTML5 als techniek te overwegen. Dat leidde tot een samenwerking met onze "oude helden" om tijdens hun Kickstarter campagne vijf speelbare prototypes te maken, ook voor de iPad. En de Kickstarter? Die is gehaald!</p>
          <p><a href="https://chrome.google.com/webstore/detail/spaceventure-living-conce/appnohofkacbfjjfedfapckmagkgbmdo" class="external">Speel prototype 5 direct in Chrome!</a></p>
        </div>
      </div>
    </div>

    <div class="block-large">
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/rgbgame.jpg" alt="">
          <p>Vet moelijk, man!</p>
        </div>
        <div class="body">
          <h2>The RGB Game</h2>
          <h3>Award-winning HTML5 Chrome game</h3>
          <p>Wat krijg je als je wiskunde, een leuk idee en een Chrome Web Store Competition mixt? In het geval van Remco en Elaine: een leuk spel én een gewonnen Chromebook!</p>
          <p><a href="https://chrome.google.com/webstore/detail/hnieofmjopiiifehpejcgcpailcndege" class="external">Installeer de Chrome Web App</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/numolition.jpg" alt="">
          <p>Set up. Add up. Blow up!</p>
        </div>
        <div class="body">
          <h2>Numolition</h2>
          <h3>Ditmaal zonder Wesley Snipes</h3>
          <p>In het verslavende puzzelspel Numolition ga je met Anique en haar bizarre crew op pad om meer dan vijftig levels, torens en andere constructies met de grond gelijk te maken. </p>
          <p>Dat doe je door de getallen 1 t/m 9 te schuiven en te combineren om ze vervolgens te laten exploderen door een tap. Als je denkt dat je een hoge score hebt, check dan je vrienden in de Facebook leaderboards.</p>
          <p><a href="http://numolition.nl" class="external">Numolition is beschikbaar op iOS, Android, Windows Phone en Kindle.</a></p>
        </div>
      </div>
      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/carrrds-q.jpg" alt="" />
          <p>Vanaf 5 jaar. Tot en met 100</p>
        </div>
        <div class="body">
          <h2>Carrrds!</h2>
          <h3>"Kids (ages 5, 7, 11) just don't stop playing it every day for last 2 months"</h3>
          <p>Ga als een van de zes piraten op zoek naar de verloren schatkaarten van Carrrds! Versla je tegenstanders met zwaard of pistool, maar pas op dat de papegaai niks van je steelt! Vind jij het meeste goud?</p>
          <p>Carrrds is een spannend kaartspel voor drie of meer kleine en grote piraten! Het spel is nu te koop bij Amazon, of natuurlijk gewoon bij ons op kantoor!</p>
          <p><a href="http://carrrds.nl">Ga naar carrrds.nl voor meer info</a></p>
        </div>
      </div>
    </div>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/settleit.png" alt=""/>
            <p>Once and for all...</p>
          </div>
          <div class="body">
            <h2>Settle It!</h2>
            <h3>De winnaar van w00tcamp 2011</h3>
            <p>Elk jaar met <a href="/w00tcamp">w00tcamp</a> coden we samen met vrienden zoals Fabrique allerlei games en ander cool spul.</p><p>In 2011 maakten Patrick en Benjamin de iPhone app Settle It! Een terechte winnaar!</p>
            <p><a href="http://settleit.w00tcamp.nl/" class="external">settleit.w00tcamp.nl</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/quest42.png" alt=""/>
            <p>Ons virtuele kantoor in pixels</p>
          </div>
          <div class="body">
            <h2>Quest42</h2>
            <h3>So You Want To Be A Nerd</h3>
            <p>Met de sarien.net engine bouwden we een cadeautje voor onze klanten: een virtueel Q42 waarin ze op zoekgaan naar cadeaus en die ook claimen in real-life. De reacties waren op z'n zachtst gezegd "positief" ;)</p><p><a href="http://soyouwanttobeanerd.q42.com" class="external">Ga naar soyouwanttobeanerd.q42.com</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/peteralexandermemory-q.png" alt=""/>
            <p>Alleen van z'n goede kant natuurlijk</p>
          </div>
          <div class="body">
            <h2>Peter Alexander Memory</h2>
            <h3>Het moeilijkste memoryspel ter wereld</h3>
            <p>In de tijd dat we nog geen Sonos hadden werd de platenspeler veelvuldig gebruikt bij Q. Nog altijd hebben we  de platen van Peter Alexander, en het viel ons op dat zijn hele collectie ongeveer dezelfde foto's op de cover heeft. Sja, daar moesten we wat mee...</p>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>
