<template name="gereedschapskist">
  <div class="container">

    <header class="block-text">
      <h1>Onze <b>gereedschapskist</b></h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">
          <p>Muzikanten vermelden altijd op hun website welke instrumenten zij gebruiken. Niet dat wij ons rocksterren wanen (niet hardop tenminste), maar we geloven graag dat het voor sommige mensen (potenti&euml;le Q-ers, potenti&euml;le klanten, concullega's, ...) interessant kan zijn welke tools Q42 gebruikt. Onder andere. Want deze lijst is verre van compleet. En we zijn sowieso niet vies van nieuw spul ontdekken.</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Ja maar, Q, vertel eens, welke technieken gebruiken jullie?</h2>
          <p>Van alles. Wat het beste bij de klus past. Dat is vaak ASP.NET, C#, JavaScript, HTML5, CSS3. En vaak Objective-C. Ook vaak Google App Engine, Play, Java. Maar ook Haskell, Scala, Python, <a href="http://q42.com/meteor">Meteor</a> (waar deze site in is gebouwd!), Ruby on Rails, Coffeescript, MSSQL, Angular, MySQL, NoSQL, Autofac, Azure, Elastic Search, jQuery, MongoDB, WebGL en meer. Zoals ik al zei, van alles.</p>
        </aside>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/google-apps.png" alt=""/>
            <p>Cloud all the things!</p>
          </div>
          <div class="body">
            <h2>Google Apps</h2>
            <h3>Al onze mail, afspraken en documenten in de cloud.</h3>
            <p>Ooit in een ver verleden gebruikten we Microsoft Outlook. Maar die tijd hebben we uit onze geheugens gewist, want met Google Apps kijk je gewoon niet meer terug!</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/github.png" alt=""/>
            <p>Iets met branches en mergen en conflicten enzo</p>
          </div>
          <div class="body">
            <h2>Git &amp; Github (&amp; Bitbucket)</h2>
            <h3>Version management voor echte professionals</h3>
            <p>"Ik werk in index.html, allemaal afblijven!" en "Ik mail je zo een nieuwe zip!" kunnen al jaren niet meer. Een tijdje ging het met SVN nog goed, maar nu is Github het hippe, moderne ding. Dus dan maar die. Kijk maar: <a href="http://github.com/q42">Q42 op Github</a>, het is zelfs een mooi excuus om al onze open-source spullen op &eacute;&eacute;n plek te bewaren!</p>
            <p>Oh ja, en je moet SourceTree gebruiken als je een fijne Git UI wilt. Die is écht goed.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/ide.png" alt=""/>
            <p>De beste IDE's zijn het minst IDE-ig</p>
          </div>
          <div class="body">
            <h2>Visual Studio, Sublime Text, Xcode en Handcraft</h2>
            <h3>Onze favoriete editors. En soms gebruiken we ook Eclipse.</h3>
            <p>Je moet ergens je code in typen en tegenwoordig zijn er gelukkig meer dan genoeg fijne editors om uit te kiezen. <a href="/producten">Onze eigen Handcraft</a> voor de snelle HTML prototype/mini-site, XCode voor al je iOS projecten, Visual Studio voor als het met .NET moet, en Sublime Text voor everything else.</p>
            <p>Behalve als het Java is. Dan moet je weer Eclipse induiken. En dat wil eigenlijk niemand. Dus daarom gebruiken we meestal IntelliJ!</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/slack.png" alt=""/>
            <p>De perfecte ironische naam</p>
          </div>
          <div class="body">
            <h2>Slack</h2>
            <h3>IRC voor de 21e eeuw</h3>
            <p>Nu dat we drie locaties hebben wordt het toch eens tijd om met elkaar in contact te blijven ook als je niet op dezelfde locatie zit. Daarvoor gebruiken we Slack, van de oorspronkelijke makers van Flickr. En het is <em>bril</em>jant. Met een superslimme adaptieve pricing oplossing, zodat je nooit teveel betaalt.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/knowyourcompany.png" alt=""/>
            <p>Weer een voormalig 37signals product...</p>
          </div>
          <div class="body">
            <h2>Know Your Company</h2>
            <h3>Elkaar steeds beter leren kennen</h3>
            <p>Ook KYC hebben we opgepakt omdat we in Den Haag, Amsterdam en Mountain View zitten. Iedere week 3 mailtjes naar de hele club en dan steeds alle antwoorden weer naar iedereen gestuurd. Zo blijf je op de hoogte van wat iedereen aan het doen is. Maar ook wat iedereen van verschillende Q-dingen vindt, of wat ze in hun privéleven aan het doen zijn. En dat helpt als je elkaar niet meer zo vaak ziet als vroeger.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/intercom.png" alt=""/>
            <p>I fight for the users!</p>
          </div>
          <div class="body">
            <h2>Intercom</h2>
            <h3>De beste manier om customer support te doen</h3>
            <p>Intercom is eigenlijk behoorlijk revolutionair, want nu hoef je geen code meer te schrijven om in contact te blijven met je gebruikers. Nu hang je een widget in je pagina, stuur je de juiste data over de lijn, en kun je naadloos chatten met gebruikers, mails sturen, en vragen stellen. Allemaal vanuit de Intercom interface. We gebruiken het in Handcraft.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/continuous-integration.jpg" alt=""/>
            <p>Continuous integration is de bom!</p>
          </div>
          <div class="body">
            <h2>Teamcity</h2>
            <h3>Want je kunt niet zonder continuous integration</h3>
            <p>Mark is onze Teamcity-koning en je krijgt eigenlijk geen project live zonder dat het eerst in Teamcity staat. Of in AppVeyor of Travis, dat mag ook. En dan natuurlijk met je kop op het scherm in de tuin als je de build gebroken hebt. Hoort erbij.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/thequre.png" alt="" />
            <p>Heeft Kars in een weekend geknutseld. Goed he?</p>
          </div>
          <div class="body">
            <h2>The Qure</h2>
            <h3>Ons zelfgemaakte, lekker simpele urenregistratie- en planningssysteem.</h3>
            <p>Omdat we ook graag betaald worden voor al het toffe werk dat we doen, moeten we onze uren bijhouden en verantwoorden. Maar de meeste tools hiervoor zijn niet echt happy-nerd-makend. Dus we hebben er zelf eentje gebouwd. Dat is The Qure en die heeft een hele belangrijke missie: zorgen dat een programmeur er zo weinig mogelijk tijd aan moet besteden om zijn of haar uren in te vullen.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/trello.png" alt="" />
            <p>Dat hondje is zo schattig...</p>
          </div>
          <div class="body">
            <h2>Trello, Fogbugz &amp; Assembla</h2>
            <h3>Maar eigenlijk voornamelijk Trello</h3>
            <p>Onze bugtrackers en whiteboard-tools. Voor Trello uitkwam was het nog zoeken naar een tool die ons echt blij maakte. Maar Trello is het eigenlijk helemaal. Nu nog van die andere af! ;-)</p>
            <p>Wist je trouwens dat we een <a href="https://chrome.google.com/webstore/detail/scrum-for-trello/jdbcdblgjdpmfninkoogcfpnkjmndgje?utm_source=chrome-ntp-icon">Scrum uitbreiding voor Trello</a> hebben gemaakt? Superhandig.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/dropbox.jpg" alt="" />
            <p>Martin serveert er zelfs websites mee!</p>
          </div>
          <div class="body">
            <h2>Dropbox</h2>
            <h3>Prachtig voorbeeld van hoe je iets complex zo simpel kan maken dat je er niet meer over nadenkt.</h3>
            <p>Bijna Dropbox vergeten! En oh wat is Dropbox handig. Spaceventure werd bijna helemaal met Dropbox gemaakt. Als we samenwerken met Fabrique is er een gedeelde map met Sketch bestanden. Vraag Martin maar eens over Dropbox, hij is hun grootste fan.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/basecamp.png" alt="" />
            <p>Je moet toch iets van Basecamp gebruiken</p>
          </div>
          <div class="body">
            <h2>Basecamp</h2>
            <h3>Ongeslagen goed voor projectcommunicatie</h3>
            <p>Basecamp gebruiken we al langer, maar vooral nu de vernieuwde versie beschikbaar is merken we dat we er weer mee aan de slag zijn gegaan. Handig om een Flyby conference te organiseren, of een Stephen Anderson workshop. Minder handig voor software ontwikkeling, maar daar heb je dan weer Trello voor tegenwoordig.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="intro">
          <h2>En ook...</h2>
          <h3>Jungle Disk</h3>
          <p>Zodat wij ons niet druk hoeven te maken om backuppen.</p>
          <h3>LastPass</h3>
          <p>Veilig wachtwoorden opslaan en met elkaar delen.</p>
          <h3>Exact Online</h3>
          <p>Yup, zelfs boekhouden doen we online.</p>
        </div>
      </div>
    </section>

  </div>
</template>
