<template name="home">

  <div class="container">


    <section class="block-full invert hero">
      <h1 class="tagline">Creative Technology</h1>
      <p>gebouwd met z'n {{num_employees}}-en bij een
        happy place for nerds in Amsterdam, Den Haag en Mountain View.
      </p>
      <p class="startingpoints">
        <span>
          <a href="/apps">apps</a>
        </span>
        <span>
          <a href="/web">web</a>
        </span>
        <span>
          <a href="/iot">internet of things</a>
        </span>
        <span>
          <a href="/games">games</a> &amp; <a href="/vr">VR</a>
        </span>
        <span>
          <a href="/jumpstarts">jumpstarts</a>
        </span>
      </p>
    </section>

    <section class="block-full invert newslist">
      {{#each postWithAuthor}}
        <div class="block-large">
          <div class="newsitem {{isByQer post.authorName}}">
            <p class="date">{{cleanDate post.date}}</p>
            <h2><a href="/blog/post/{{id}}/{{slug}}">{{post.title}}</a></h2>
            <p class="preview">{{cleanIntro post.intro}}</p>
            {{#if isByQer post.authorName}}
            <div class="author">
              <img src="{{gravatar post.authorName}}" alt="{{post.authorName}}" class="gravatar" />
              <p>{{authorName}}</p>
            </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </section>

  </div>
</template>
