<template name="home">

  <div class="container">

    <section class="block-full intro-outro">
      <h1>Creative Technology</h1>
      <p>
        Q42 maakt software voor het web, mobile, en het Internet of Things.<br>
        Onze {{num_employees}} nerds programmeren vanuit Den Haag en Amsterdam samen met bijvoorbeeld Google, Philips, het Rijksmuseum en de Nederlandse Staatsloterij.
      </p>
      <p><a href="/vacatures" data-ignore>Now hiring!</a></p>
    </section>

    <section class="block-large block-no-padding-after">
      <div class="body">
        <h2>Samen met Philips naar Google I/O</h2>
        <h3>In de Sandbox over Hue praten</h3>
        <p>Q42 is op 25 en 26 juni aanwezig op Google's conferentie voor developers in San Francisco, <a href="https://www.google.com/events/io">Google I/O</a>!</p>
        <p>We staan samen met Philips en 11 andere bedrijven, waaronder Pinterest, The Guardian en Duolingo, in de <a href="https://www.google.com/events/io/sandbox">sandbox</a> om vragen van ontwikkelaars te beantwoorden over Hue, connected devices, en het Internet of Things.</p>
        <p>Ben jij er ook? Kom langs bij onze stand!</p>
      </div>
      <div class="visual caption">
        <img data-src="http://static.q42.nl/images/googleio.jpg" alt="">
        <p>Q42 pin</p>
      </div>
    </section>

    <section class="block-large">

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/huesmall.jpg" alt="" />
          <p>Philips Hue</p>
        </div>
        <div class="body">
          <h2><a href="/projecten">Projecten</a></h2>
          <p>Partneren om samen het Internet leuker te maken. Zoals de nieuwe prijswinnende Staatsloterij site. Of de services die de Philips Hue lampen aansturen.</p>
          <p>Maar ook de nieuwe Rijksmuseum, 9292, Van Gogh Museum, Denhaag.com, Schooltas, UIT app, Museum de Lakenhal, <a href="/projecten">en meer</a>.</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/q42hq.jpg" alt="" />
          <p>Ons kantoor in Den Haag</p>
        </div>
        <div class="body">
          <h2>Jumpstarts</h2>
          <p>Soms heb je een idee maar mist het iets. Bij een jumpstart gaan we samen met jou voor een vaste prijs je idee concreet maken. In één week. Met een top-team.</p>
          <p>Jumpstarts deden we o.a. voor Cohere, Taxi-Electric, en Umuntu Media. Word jij de volgende?</p>
          <!-- <p><a href="/jumpstarts">Meer over jumpstarts</a></p> -->
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/partners_small.jpg" alt="" />
          <p>Partners</p>
        </div>
        <div class="body">
          <h2>(Ad)ventures</h2>
          <p>Ondernemen is avontuurlijk. Daarom investeren we ook in ideeën waar we in geloven. Waarmee we een kras op de planeet achterlaten. Soms zijn dat onze eigen producten, ideetjes, games en experimenten. En soms komen we iemand tegen waar we gewoon een klik mee hebben.</p>
          <!-- <p><a href="/avonturen">Meer over onze avonturen</a></p> -->
        </div>
      </div>
    </section>

    {{> block id="staatsloterij" size="large"}}

    <section class="block-large">
      {{> block id="rijksmuseum" size="small"}}
      {{> block id="hue" size="small"}}
      {{> block id="schooltas" size="small"}}
    </section>

    <section class="block-large intro-outro">
      <p>Onze grootste trots zijn de <a href="/over-q42">{{num_employees}} Q'ers</a> waarmee we samen het Internet beter maken en een kras op de planeet achter willen laten. Als "happy place voor nerds" wonnen we in 2013 <a href="http://www.greatplacetowork.nl/publicaties-en-evenementen/klantcases/693-q42" class="external">de Great Place to Work award</a>.</p>
      <p>Ook vinden we het heerlijk om onze eigen producten, experimentjes en games te bedenken. En we hebben een eigen uitvinderij, Area 42, waarvanuit we samenwerken met iedereen die een briljant idee heeft.</p>
    </section>

    <section class="block-large">
      {{> block id="w00tcamp" size="small"}}
      {{> block id="games" size="small"}}
      {{> block id="handcraft" size="small"}}
    </section>

  </div>
</template>

<template name="block">
  {{#with block id}}
    <section class="block-{{../size}} {{../position}}">
      {{#if sizeEquals ../size "small"}}
      <div class="visual caption">
        <img src="http://static.q42.nl/{{image}}" alt="">
        <p>{{imageTitle}}</p>
      </div>
      {{/if}}
      <div class="body">
        <h2>
          {{#if ../titleOnly}}
            {{#if currentUser}}
              <a>{{> editable field="name" value=name}}</a>
              {{> editable field="url" value=url}}
            {{else}}
              <a href="{{url}}" class="external">
                {{> editable field="name" value=name}}
              </a>
            {{/if}}
          {{else}}
            {{> editable field="name" value=name}}
          {{/if}}
        </h2>
        <h3>{{> editable field="subtitle" value=subtitle}}</h3>
        {{#unless ../titleOnly}}
          {{#if sizeEquals ../size "large"}}
            {{> editable field="body" value=body}}
          {{else}}
            {{> editable field="intro" value=intro}}
          {{/if}}
          <p>
            {{#if currentUser}}
              <a>{{> editable field="linkTitle" value=linkTitle}}</a>
              {{> editable field="url" value=url}}
            {{else}}
            <a href="{{url}}" class="external">{{> editable field="linkTitle" value=linkTitle}}</a>
            {{/if}}
          </p>
        {{/unless}}
      </div>
      {{#if sizeEquals ../size "large"}}
      <div class="visual caption">
        <img src="http://static.q42.nl/{{image}}" alt="">
        <p>{{imageTitle}}</p>
      </div>
      {{/if}}
    </section>
  {{/with}}
</template>

<template name="content">
  {{#with content id}}
    {{> editable field="body" value=body}}
  {{/with}}
</template>

<template name="editable">
  {{#if currentUser}}
    <div contenteditable data-field="{{field}}" data-id="{{../_id}}">{{{value}}}</div>
  {{else}}
    {{{value}}}
  {{/if}}
</template>