<template name="home">
  <header id="showreel">
   <div id="showreel-container">
      <div id="showreel-stage">
        <div id="showreel-shape">
          {{> carrousel_items}}
        </div>
      </div>
    </div>

    <div id="indicators"></div>

    {{> header}}

  </header>
  <section id="homecontent">
    <section>

      <!-- NEWS HIGHLIGHTS -->
      <section class="projectsSection">
        <div class="block-large">
          <figure>
            <figcaption class="body">
              <h2>Q42 opent vestiging in Amsterdam</h2>
              <h3>3 mei 2013</h3>
              <p>Het voelt als gisteren dat we met drie man en een goudvis vanuit de zolderkamer van de ouders van Kars ons eerste webspul bouwden. Dertien jaar later zijn we met z’n 50-en, zijn we beste MKB werkgever van Nederland en Google Cloud Platform Partner of the Year, en bouwen we mooie dingen voor het Rijksmuseum, 9292, de Staatsloterij, Philips Hue en nog veel meer. En nu hebben we ook nog een tweede vestiging geopend, in Amsterdam, aan het IJ, tegenover Panama.</p>
              <p><a href="/blog/post/49503089620/q42-opent-vestiging-in-amsterdam">Meer over Q020</a></p>
            </figcaption>
            <a class="visual caption">
              <img src="/images/q020-home.jpg" alt="" />
              <p>Wacht. Is dat een glijbaan? JA DAT IS EEN GLIJBAAN!! :-)</p>
            </a>
          </figure>
        </div>
      </section>

      <section id="q42is-header" class="block-text">
        <h1>
          <div id="q42is-pre">Q42 is </div>
          <div id="q42is">
            <div id="q42is-container">
              <span class="selected">technisch internetbureau</span>
              <span>happy place voor nerds</span>
              <span>koffieliefhebbers</span>
              <span>greatest place to work 2013</span>
              <span>programmeurs</span>
              <span>google CP partner of the year</span>
              <span>iOS-developers</span>
              <span>beste tosti's van Nederland</span>
              <span>interaction engineers</span>
              <span>die gasten in Den Haag</span>
              <span>die gasten in Amsterdam</span>
              <span>internetverslaafd</span>
              <span>creatieve coders</span>
              <span>Android-developers</span>
              <span>meedenkende techneuten</span>
              <span>web ontwikkelaars</span>
            </div>
          </div>
        </h1>
      </section>
      <div class="block-large block-readmore">
        <a href="/over-q42" class="readmore">Meer over Q42</a>
      </div>

      <section>
        <section class="block-large projectsSection">
          <div class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/images/quento.png" alt="Quento" />
                <p>Plezier voor jong én oud!</p>
              </a>
              <figcaption class="body">
                <h2>Quento</h2>
                <h3>25 januari 2013</h3>
                <p>In Quento moet je sommetjes bij elkaar swipen. Heel eenvoudig, maar al snel bleek dat een flink aantal Q-ers en hun vrienden en familie verslaafd raakten aan deze op-het-oog simpele breinkraker.</p>
                <p>Het begint makkelijk, maar je kunt zelf instellen hoe lastig je de puzzels wilt krijgen en er is ook een VRIJ SPEL modus waarin je rustig achterover kan leunen en puzzelen hoe jij het wilt.</p>
                <p><a href="http://quento.nl" class="external">Download Quento voor iOS of Android</a></p>
              </figcaption>
            </figure>
          </div>

          <div class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/images/rijks.jpg" alt="Rijksmusuem" />
                <p>"De beste website ooit," aldus Vasilis</p>
              </a>
              <figcaption class="body">
                <h2>Rijksmuseum.nl</h2>
                <h3>30 oktober 2012</h3>
                <p>In 2004 hebben wij samen met Fabrique een prijswinnende website voor het Rijks neergezet. Deze was inmiddels echter wel toe aan een verbouwing.</p>
                <p>De nieuwe Rijksmuseum website is lekker modern: responsive, tablet-first, fijne animaties. Een opvallend onderdeel van de site is Rijksstudio: jouw eigen verzameling, knutselplek en museumshop in één. Met de 125.000 beschikbare kunstwerken in hoge resolutie hoef je je voorlopig niet te vervelen!</p>
                <p><a href="http://rijksmuseum.nl">Bezoek het Rijksmuseum (.nl)</a></p>
              </figcaption>
            </figure>
          </div>

          <div class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/images/huesmall.jpg" alt="Lampen voor nerds." />
                <p>Lampen voor nerds.</p>
              </a>
              <figcaption class="body">
                <h2>Philips Hue</h2>
                <h3>29 oktober 2012</h3>
                <p>We houden niet van borstklopperij (oké, dat liegen we, maar laten we doen alsof), maar als je samen met Philips een product maakt met Google technologie en dat wereldwijd exclusief in Apple Stores verkocht wordt, én dat wordt dan op Wired, Mashable, Engadget, Gizmodo, 9to5Mac, The Verge, NU.nl en nog veel meer genoemd, dan mag het wel een keertje, toch? ;-)</p>
                <p><a href="/blog/post/34827577445/trots-op-philips-hue">Lees verder</a></p>
              </figcaption>
            </figure>
          </div>
        </section>
        <div class="block-large block-readmore">
          <a href="/blog" class="readmore">Meer nieuws</a>
        </div>

        <!-- PROJECT HIGHLIGHTS -->
        <section id="9292">
          <div class="block-large">
            <figure>
              <figcaption class="body">
                <h2>9292</h2>
                <h3>De hele mikmak: web &amp; apps</h3>
                <p>In nauwe samenwerking met Fabrique en 9292 hebben wij <a href="http://9292.nl" class="external">9292.nl</a> omgebouwd van gereedschap naar goede vriend. Daarnaast hebben we de iPhone, Android en Windows Phone apps gebouwd.</p>
                <p>En er komt nog veel meer mooi spul aan!</p>
              </figcaption>
              <div class="visual">
                <a class="visual caption">
                  <img src="/images/9292.jpg" alt="'Waar wil je heen?' Existentiële vraag, eigenlijk." />
                  <p>'Waar wil je heen?' Existentiële vraag, eigenlijk.</p>
                </a>
              </div>
            </figure>
          </div>
        </section>
        <section class="projectsSection">
          <section class="block-large">
            <div class="block-small">
              <figure>
                <a class="visual caption">
                  <img src="/images/schooltas3.jpg" alt="" />
                  <p>Zaten we zelf nog maar op school. #jaloers</p>
                </a>
                <figcaption class="body">
                  <h2>Schooltas</h2>
                  <h3>ThiemeMeulenhoff's iPad app</h3>
                  <p>600 gram is genoeg voor alle schoolboeken. Schooltas van ThiemeMeulenhoff is leerboek, werkboek en schrift in één waardoor leerlingen volledig via de iPad kunnen werken.</p>
                </figcaption>
              </figure>
            </div>
            <div class="block-small">
              <figure>
                <a class="visual caption">
                  <img src="/images/uitapp.jpg" alt="" />
                  <p>Uitgaand Nederland. In ons hoofd.</p>
                </a>
                <figcaption class="body">
                  <h2>UIT app</h2>
                  <h3>Voor iPhone en nu ook voor Android</h3>
                  <p><a href="http://itunes.apple.com/nl/app/uit/id385525154?mt=8" class="external">De Uit app</a> is een onmisbare app voor uitgaand Nederland. Q42 realiseerde deze iPhone app in de korte periode van zes weken samen met Fabrique.</p></figcaption>
              </figure>
            </div>
            <div class="block-small">
              <figure>
                <a class="visual caption">
                  <img src="/images/nerdsInLove.jpg" alt="" />
                  <p>Liefde is... elkaars inner nerd leuk vinden.</p>
                </a>
                <figcaption class="body">
                  <h2>Pepper</h2>
                  <h3>De nieuwe manier van online daten</h3>
                  <p>RTL zocht naar 'de nieuwe manier van online daten'. 1127 singles hielpen om te achterhalen hoe online daten écht beter kan. Dat resulteerde in een <a href="http://pepper.nl/" class="external">verfrissend datingsiteconcept</a>.</p>
                </figcaption>
              </figure>
            </div>
          </section>
        </section>
        <div class="block-large block-readmore">
          <a href="/projecten" class="readmore">Meer projecten</a>
        </div>

        <!-- PRODUCT HIGHLIGHTS -->
        <section id="handcraft">
          <div class="block-large">
            <figure>
              <figcaption class="body">
                <h2>Handcraft</h2>
                <h3>Interactive HTML prototypes</h3>
                <p>Handcraft is een online editor die voortkomt uit ons geloof in het "design in the browser"-principe. En we vinden het zelf erg handig om mee te prototypen. We kunnen dan lekker makkelijk ons werk delen met collega's, partners en klanten.</p>
                <p><a href="http://handcraft.com/" class="external">Bekijk Handcraft</a></p>
              </figcaption>
              <a class="visual caption">
                <img src="/images/handcraft.jpg" alt="Handcraft" />
                <p>Ambachtelijk handwerk FTW!</p>
              </a>
            </figure>
          </div>
        </section>
        <section class="productSection">
          <section class="block-large">
            <div class="block-small">
              <figure>
                <a class="visual caption">
                  <img src="/images/soundmatch.png" alt="A sound match."/>
                  <p>A sound match.</p>
                </a>
                <figcaption class="body">
                  <h2>Soundmatch</h2>
                  <h3>Dagelijks verse recommendations in Spotify</h3>
                  <p>Spotify doet bijna alles. Maar hij kan geen playlists genereren op basis van je Last.fm account. Dat kan Soundmatch wel. En omdat dat verrekte handig is, wonnen Mark, Arian en Jeroen hiermee w00tcamp 2010.</p>
                  <p><a href="http://soundmatch.me/" class="external">Ook een Spotify playlist van je Last.fm recommendations?</a></p>
                </figcaption>
              </figure>
            </div>
            <div class="block-small">
              <figure>
                <a class="visual caption">
                  <img src="/images/gamessmall.jpg" alt="Spelen en maken. Digitaal en analoog." />
                  <p>Spelen en maken. Digitaal en analoog.</p>
                </a>
                <figcaption class="body">
                  <h2>Games</h2>
                  <h3>Digitaal en analoog</h3>
                  <p>Peter Pan blijft altijd jong. Q-ers eigenlijk ook. Games spelen zit in ons bloed en als we even de tijd ervoor nemen maken we ook graag spellen.</p>
                  <p>En om dat creatieve en katalyserende proces gezond in een bedrijf te passen zeggen we voortaan officieel dat we ook "games maken". Een soort pleziertherapie.</p>
                  <p><a href="/games">Check al onze games.</a></p>
                </figcaption>
              </figure>
            </div>
            <div class="block-small">
              <figure>
                <a class="visual caption">
                  <img src="/images/trello.gif" alt="Geeltje, geeltje aan de wand..." />
                  <p>Geeltje, geeltje aan de wand...</p>
                </a>
                <figcaption class="body">
                  <h2>Trello Scrum</h2>
                  <h3>Onmisbare Chrome extension voor Scrummers</h3>
                  <p>Jasper en Marcel vonden dat het handige <a href="http://trello.com" class="external">Trello</a> iets mistte: story points. Dus hebben ze dat bijgebouwd, als Chrome Extension.</p>
                  <p><a href="https://chrome.google.com/webstore/detail/jdbcdblgjdpmfninkoogcfpnkjmndgje" class="external">Alsjeblieft, digitale Scrummers.</a></p>
                </figcaption>
              </figure>
            </div>
          </section>
          <div class="block-large block-readmore">
            <a href="/producten" class="readmore">Meer producten</a>
          </div>
        </section>
      </section>
    </section>
  </section>
</template>

<template name="carrousel_items">
  {{#each item}}
    <a href="{{url}}" class="item" style="background-image: url({{bg}})">
      <p class="{{pos}}">{{text}}</p>
    </a>
  {{/each}}
  <a href="#" class="item" id="quento">
    <iframe src="http://nrc.quento.nl/#{{todaysDate}}" style="width:100%; height: 100%"></iframe>
  </a>
</template>