<template name="en_interaction-engineering">
  <div class="container">

    <header class="block-text">
      <h1>Interaction Engineering</h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">
          <p>Interaction engineering is a role Q'ers sometimes take on because we
          believe that some design problems can only be solved with a good understanding
          of the underlying engineering.</p>

          <p>In practice, interaction engineers are part of a team. We form a bridge
          between designers and software engineers, improving communication.
          Since we speak the language of both worlds, we can help translate
          and work through challenges that require efforts from both disciplines.</p>

          <p>And because we frequent both worlds, we're also more adept at viewing things
          at a distance. This ability to switch between detail-oriented tasks and high
          level design helps us talk to product stakeholders or clients. We're able to constantly
          re-evaluate decisions, especially as the more technical members
          of the team zoom in on specific engineering challenges.</p>

          <p>Ultimately, understanding the needs of the customer, the end user,
          and the developer puts us in a central role on any team.</p>

          <p>We started doing interaction engineering in 2008. Today, the team consists of
          six people we're very proud to have: Elaine, Frank, Guido, Johan, Rahul, Richard
          and Roelf-Jan. And other Q'ers regularly jump into the role of the interaction
          engineer when necessary. If you have any questions about interaction engineering, you
          should definitely <a href="/about-q42">get in touch with one of us</a> :-)</p>
        </div>

        <aside class="block-small subcontent">

          <h2>More reading</h2>
          <ul>
            <li><a href="http://runemadsen.com/blog/on-meta-design-and-algorithmic-design-systems/">On meta-design and algorithmic design systems</a></li>
            <li><a href="https://signalvnoise.com/posts/1061-why-we-skip-photoshop">Why We Skip Photoshop</a></li>
            <li><a href="http://nerd.vasilis.nl/weg-met-u-vraagt-wij-draaien/">Weg met u vraagt wij draaien (Dutch)</a></li>
            <li><a href="http://nerd.vasilis.nl/toegankelijkheid-een-design-ding/">Toegankelijkheid is een design ding (Dutch)</a></li>
            <li><a href="http://paulstamatiou.com/design-provide-meaning-with-motion/">Provide meaning with motion</a></li>
          </ul>
        </aside>
      </div>
    </section>

    <section class="block-full intro-outro">
      <blockquote>
        <p>Interaction design is engineering: it’s not about finding the perfect design, it’s finding the best compromise.</p>
        <footer>
          &mdash; <cite><a href="https://ia.net/know-how/responsive-typography-the-basics">Oliver Reichenstein</a></cite>
        </footer>
      </blockquote>
    </section>

    <section>
      <div class="block-large block-no-padding-after">
        <div class="body">
          <h2>Engineering with empathy</h2>
          <h3>When just following spec doesn't cut it</h3>

          <p>It turns out that accessibility is actually best seen as an interaction engineering challenge.
            More than just a question of simply implementing the
            <a href="http://www.w3.org/WAI/intro/wcag">Web Content Accessibility Guidelines</a>, making software
            accessible requires knowing how the interface should work for a varied, diverse
            audience. In fact, sometimes web standards aren't the best solution. But
            in order to know how best to tackle the challenge, expertise in both fields is fundamental.</p>

          <p>Because we think accessibility is so important, we've worked to highlight its importance
            with several initiatives.</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/projecten/designmuseum.jpg" alt="">
          <p>No jank here!</p>
        </div>
      </div>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img data-src="http://static.q42.nl/images/ixe/see.jpg" alt="">
            <p>More than meets the eye</p>
          </div>
          <div class="body">
            <h2>SEE Chrome Extension</h2>
            <p>This extension for Google Chrome inserts a layer over the page that
              simulates various visual disabilities such as glaucoma, cataracts
              or colour blindness. It's helped us catch potential issues by
              identifying things like low contrast, small text, unambiguous colours, and more.</p>
            <p><a href="https://chrome.google.com/webstore/detail/see/dkihcccbkkakkbpikjmpnbamkgbjfdcn?hl=en">SEE for yourself</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img data-src="http://static.q42.nl/images/ixe/empatio.jpg" alt="">
            <p>About People</p>
          </div>
          <div class="body">
            <h2>Empat.io</h2>
            <p>An effort to cast a spotlight on the humanity behind accessibility.
              On the website, you can watch short
              videos we've recorded in which people with disabilities talk about what it's like
              to use software. It helps a lot when you can put a face to the otherwise often
              distancing scientific nature of accessibility.</p>
            <p><a href="http://empat.io">Visit Empat.io</a></p>
          </div>
        </div>
      </div>
    </section>

    <section class="block-full intro-outro">
      <blockquote>
        <p>HTML/CSS is real in a way Photoshop will never be.</p>
        <footer>
          &mdash; <cite><a href="https://signalvnoise.com/posts/1061-why-we-skip-photoshop">Jason Fried</a></cite>
        </footer>
      </blockquote>
    </section>

    <section>
      <div class="block-large block-no-padding-after">
        <div class="body">
          <h2>Talks</h2>
          <h3>Nerds on stage!</h3>
          <p>Here are some talks we've given over the years that show off or explain what
          we do and how we do it:</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/projecten/designmuseum.jpg" alt="">
          <p>No jank here!</p>
        </div>
      </div>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img data-src="http://static.q42.nl/images/ixe/talk-roelfjan.jpg" alt="">
            <p>All isn't according to keikaku</p>
          </div>
          <div class="body">
            <h2>Designing for the Unhappy Flow</h2>
            <p>Roelf-Jan really cares about how to design for the "unhappy flow", that is,
              when users come across an unexpected application state.
              So he put together a talk, which you can watch here.</p>
            <p><a href="https://vimeo.com/117372454">Watch Designing for the Unhappy Flow</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img data-src="http://static.q42.nl/images/ixe/talk-elaine.jpg" alt="">
            <p>"iPad First"</p>
          </div>
          <div class="body">
            <h2>A Dive into Rijksmuseum's CSS</h2>
            <p>When Elaine had to implement the new style for <a href="http://rijksmuseum.nl">Rijksmuseum.nl</a>,
              she needed to reconcile an ambitious design with the realities of the technology. She turned to
              objective CSS, and spoke about it at Fronteers 2013.</p>
            <p><a href="https://vimeo.com/78929841">Watch A Dive into Rijksmuseum's CSS</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img data-src="http://static.q42.nl/images/ixe/talk-johan.jpg" alt="">
            <p>It's harder than it seems</p>
          </div>
          <div class="body">
            <h2>Accessibility in a Nutshell (Dutch)</h2>
            <p>Johan learned a lot about accessibility when he built the timetables for the Dutch
              National transit website, <a href="http://9292.nl">9292.nl</a>. In this talk, he
              discusses the challenges, and how he learned that accessibility is really about
              empathy.</p>
            <p><a href="https://vimeo.com/87022794">Watch Accessibility in a Nutshell</a></p>
          </div>
        </div>
      </div>
    </section>

    <section class="block-full intro-outro">
      <blockquote>
        <p>Design is how it works and sketching in code is the only natural way to prototype a dynamic system</p>
        <footer>
          &mdash; <cite><a href="http://runemadsen.com/blog/on-meta-design-and-algorithmic-design-systems/">Rune Madsen</a></cite>
        </footer>
      </blockquote>
    </section>

    <section>
      <div class="block-large block-no-padding-after">
        <div class="intro">
          <h2>Prototyping interaction in code</h2>
          <h3>Who needs WYSIWYG when you can type it all out by hand?</h3>

          <p>Besides helping out with front end engineering and interaction design, we do
          a lot of prototyping. Iterating on an idea is crucial to revealing the best
          solution, so interaction engineers are especially important
          during a jumpstart or during the initial phase of a project when we haven't
          worked out all the details yet. That's when our ability to switch quickly
          between design and implementation helps accelerate the team and figure out
          what we should be building in the first place.</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Prototyping tools we like</h2>
          <p>Framer JS (yay CoffeeScript!), Axure, Balsamiq Mockups, Proto.io, Keynote, and Sketch.</p>
          <p>Know something we should try out? Let us know!</p>
        </aside>
      </div>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img data-src="http://static.q42.nl/images/handcraft-small.jpg" alt="">
            <p>Quplo to the max!</p>
          </div>
          <div class="body">
            <h2>Handcraft</h2>
            <p>Since 2010 we've had a product that encapsulates our vision of interaction
            engineering called Handcraft. It's a web based HTML prototyping tool made
            for designers who can code. We built it to scratch our own itch, but we're
            happy for anyone else to use it. It's great for early stage iteration on
            an idea, but you can also easily host static websites and mockups with it.</p>
            <p><a href="http://handcraft.com">Try Handcraft for free</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img data-src="http://static.q42.nl/images/meteor-universe.png" alt="">
            <p>When the moon is in the seventh house...</p>
          </div>
          <div class="body">
            <h2>Meteor</h2>
            <p>Meteor has allowed us to not only build full-featured apps quickly, but it's the first tool
            with which we can easily take a model and evolve it into a complete app without
            having to discard too much of the initial work. And with a focus on ease of use and
            making programming accessible to a wide audience, there's a huge overlap with
            our philosophy. So we're huge fans.</p>
            <p><a href="/meteor">More about Meteor at Q42</a></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="intro">






          <h2>Design with motion</h2>

          <p>Animation is becoming more and more important. Not just as a way of "spicing up"
          your user experience ("Q-sauce" as we liked to call it back in the day), but as
          a functional element of the user interface that helps communicates transitions or
          context. And animation is another great example of why interaction engineering
          makes sense: there's not much point designing an animation if you can't tweak it,
          and the best way to tweak it is with code. So as far as we're concerned, motion
          design has become another tool in the designer's toolkit.</p>

          <p>We all work with animation, but Richard, a game designer and illustrator, is our
          primary motion engineer. With a healthy obsession with making things bounce and move,
          all at 60 FPS of course, he's upping our game when it comes to creating modern user
          interfaces.</p>

        </div>
      </div>
    </section>

  </div>
</template>
