<template name="en_interaction-engineering">
  <div class="container">

    <header class="block-text">
      <h1>Interaction Engineering at Q42</h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">

          <p>Interaction engineering is a role Q'ers sometimes take on because we
          believe that some design problems can only be solved with a good understanding
          of the underlying engineering.</p>

          <h2>Empathy</h2>

          <p>A good example is accessibility. More than just a
          question of simply implementing Web Content Accessibility Guidelines, making software
          accessible requires knowing how the interface should work for a varied, diverse
          audience. In fact, sometimes web standards aren't the best solution. But
          in order to know how best to tackle the challenge, expertise in both fields is fundamental.</p>

          <blockquote>
            <p>Interaction design is engineering: it’s not about finding the perfect design, it’s finding the best compromise.</p>
            <footer>
              &mdash; <cite><a href="https://ia.net/know-how/responsive-typography-the-basics">Oliver Reichenstein</a></cite>
            </footer>
          </blockquote>

          <p>In practice, interaction engineers are part of a team. We form a bridge
          between designers and software engineers, improving communication.
          Since we speak the language of both worlds, we can help translate
          and work through challenges that require efforts from both disciplines.</p>

          <p>And because we frequent both worlds, we're also more adept at viewing things
          at a distance. This ability to switch between detail-oriented tasks and high
          level design helps us talk to product stakeholders or clients. We're able to constantly
          re-evaluate decisions, especially as the more technical members
          of the team zoom in on specific engineering challenges.</p>

          <p>Ultimately, understanding the needs of the customer, the end user,
          and the developer puts us in a central role on any team.</p>

          <h2>Prototyping</h2>

          <p>Besides helping out with front end engineering and interaction design, we do
          a lot of prototyping. Iterating on an idea is crucial to revealing the best
          solution, so interaction engineers are especially important
          during a jumpstart or during the initial phase of a project when we haven't
          worked out all the details yet. That's when our ability to switch quickly
          between design and implementation helps accelerate the team and figure out
          what we should be building in the first place.</p>

          <blockquote>
            <p>Design is how it works and sketching in code is the only natural way to prototype a dynamic system</p>
            <footer>
              &mdash; <cite><a href="http://runemadsen.com/blog/on-meta-design-and-algorithmic-design-systems/">Rune Madsen</a></cite>
            </footer>
          </blockquote>

          <p>Since 2010 we've had a product that encapsulates our vision of interaction
          engineering called <a href="http://handcraft.com">Handcraft</a>.
          It's a web based HTML prototyping tool made
          for designers who can code. We built it to scratch our own itch, but we're
          happy for anyone else to use it. It's great for early stage iteration on
          an idea, but you can also easily host static websites and mockups with it.</p>

          <p>But Handcraft isn't the only tool we use. We're also big fans of Framer JS,
          a similar prototyping-in-code app by Facebook that uses Coffeescript. And
          of course we dabble in more visually oriented tools like Axure, Balsamiq
          Mockups, Proto.io, Keynote, and Sketch.</p>

          <p>Oh, and <a href="/meteor">Meteor</a>! Meteor has allowed us
          to not only build full-featured apps quickly, but it's the first tool
          with which we can easily take a model and evolve it into a complete app without
          having to discard too much of the initial work.</p>

          <h2>Motion</h2>

          <p>Animation is becoming more and more important. Not just as a way of "spicing up"
          your user experience ("Q-sauce" as we liked to call it back in the day), but as
          a functional element of the user interface that helps communicates transitions or
          context. And animation is another great example of why interaction engineering
          makes sense: there's not much point designing an animation if you can't tweak it,
          and the best way to tweak it is with code. So as far as we're concerned, motion
          design has become another tool in the designer's toolkit.</p>

          <p>We all work with animation, but Richard, a game designer and illustrator, is our
          primary motion engineer. With a healthy obsession with making things bounce and move,
          all at 60 FPS of course, he's upping our game when it comes to creating modern user
          interfaces.</p>

          <p>We started doing interaction engineering in 2008. Today, the team consists of
          six people we're very proud to have: Johan, Elaine, Roelf-Jan, Frank, Guido,
          Richard and Rahul. If you have any questions about interaction engineering, you
          should definitely <a href="/about-q42">get in touch with one of us</a> :-)</p>

          <blockquote>
            <p>HTML/CSS is real in a way Photoshop will never be.</p>
            <footer>
              &mdash; <cite><a href="https://signalvnoise.com/posts/1061-why-we-skip-photoshop">Jason Fried</a></cite>
            </footer>
          </blockquote>
        </div>

        <aside class="block-small subcontent">
          <h2>Talks</h2>
          <p>Here are some talks we've given over the years that show off or explain what
          we do and how we do it:</p>

          <ul>
            <li><a href="https://vimeo.com/117372454">Designing for the Unhappy Flow</a></li>
            <li><a href="https://vimeo.com/78929841">A Dive into Rijksmuseum's CSS</a></li>
            <li><a href="https://vimeo.com/87022794">Accessibility in a Nutshell</a> (Dutch)</li>
            <li><a href="https://www.youtube.com/watch?v=xUIwAxFVj0M">Animate All the Things</a></li>
          </ul>

          <h2>More reading</h2>
          <ul>
            <li><a href="http://runemadsen.com/blog/on-meta-design-and-algorithmic-design-systems/">On meta-design and algorithmic design systems</a></li>
            <li><a href="https://signalvnoise.com/posts/1061-why-we-skip-photoshop">Why We Skip Photoshop</a></li>
            <li><a href="http://nerd.vasilis.nl/weg-met-u-vraagt-wij-draaien/">Weg met u vraagt wij draaien (Dutch)</a></li>
            <li><a href="http://nerd.vasilis.nl/toegankelijkheid-een-design-ding/">Toegankelijkheid is een design ding (Dutch)</a></li>
            <li><a href="http://paulstamatiou.com/design-provide-meaning-with-motion/">Provide meaning with motion</a></li>
          </ul>
        </aside>
      </div>
    </section>

  </div>
</template>
