<template name="over-q42">
  <div class="container">
    <header class="block-text">
      <h1>Over <b>Q42</b></h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">
          <p>Wie zijn Q42? 'Een technisch innovatief internetbureau', zeggen sommigen. 'Nerds', zeggen anderen. Wij zelf bijvoorbeeld, als we eerlijk zijn. We houden namelijk heel erg van goed programmeren.</p>
          <p>Maar dat is niet het hele verhaal. Computers zijn pas interessant met mensen erbij. We vinden het daarom nog leuker om zo te programmeren dat een webapplicatie niet alleen nuttig, maar ook vriendelijk is.</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
            <li><a href="http://q42.com/interaction-engineering">Interaction Engineering</a> (Engels)</li>
            <li><a href="/gereedschapskist">Onze gereedschapskist</a></li>
            <li><a href="/systeembeheersysteem">Ons systeembeheer-systeem</a></li>
          </ul>
        </aside>
      </div>
    </section>

    <section id="contact">
      {{> map}}
      <div class="block-large">
        <div class="block-small block-with-icons">
          <div class="body">
            <h2>Sociaal netwerken</h2>
            <ul class="iconList">
              <li><i class="fa fa-phone-square fa-2x"></i><div>Bel ons: 070-4452342</div></li>
              <li><i class="fa fa-envelope-square fa-2x"></i><div><a href="mailto:info@q42.nl">Mail ons</a></div></li>
              <li><i class="fa fa-twitter-square fa-2x"></i><div><a href="http://www.twitter.com/q42">Tweet ons</a></div></li>
              <li><i class="fa fa-google-plus-square fa-2x"></i><div><a href="http://plus.google.com/112933340683830235543">+1 ons</a></div></li>
              <li><i class="fa fa-linkedin-square fa-2x"></i><div><a href="http://www.linkedin.com/company/q42">Volg ons</a></div></li>
              <li><i class="fa fa-thumbs-o-up fa-2x"></i><div><a href="http://facebook.com/q42bv">Like ons</a></div></li>
            </ul>
          </div>
        </div>

        <div class="block-small block-with-icons">
          <div class="body">
            <h2>Bereikbaarheid</h2>
            <ul class="iconList">
              <li>
                <i class="fa fa-road fa-2x"></i>
                <div>
                  <span>Met de auto?</span><br>
                  <span><a href="http://maps.google.nl/maps?ie=UTF8&amp;daddr=Q42,+Waldorpstraat+17F,+2521+CA" class="external">Naar Q42 Den Haag.</a></span><br>
                  <span><a href="https://maps.google.nl/maps?ie=UTF8&amp;daddr=oostelijke+handelskade+749+amsterdam" class="external">Naar Q42 Amsterdam.</a></span><br>
                  <span><a href="https://www.google.com/maps/dir//Design+Spaces+-+Coworking+Office,+1045+Linda+Vista+Ave,+Mountain+View,+CA+94043" class="external">Naar Q42 Mountain View.</a></span>
                </div>
              </li>
              <li>
                <i class="fa fa-bolt fa-2x"></i>
                <div>
                  <span>Met de trein?</span><br>
                  <span><a href="http://9292.nl/?naar=den-haag_waldorpstraat-17f" class="external">Naar Q42 Den Haag.</a></span><br>
                  <span><a href="http://9292.nl/?naar=amsterdam_oostelijke-handelskade-749" class="external">Naar Q42 Amsterdam.</a></span>
                </div>
              </li>
              <li>
                <i class="fa fa-fighter-jet fa-2x"></i>
                <div>
                  <span>Met de straaljager?</span><br>
                  <span><a href="http://maps.google.nl/maps?ie=UTF8&amp;daddr=Q42,+Waldorpstraat+17F,+2521+CA" class="external">Naar Q42 Den Haag.</a></span><br>
                  <span><a href="https://maps.google.nl/maps?ie=UTF8&amp;daddr=oostelijke+handelskade+749+amsterdam" class="external">Naar Q42 Amsterdam.</a></span><br>
                  <span><a href="https://www.google.com/flights/" class="external">Naar Q42 Mountain View.</a></span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="block-small block-with-icons">
          <div class="body">
            <h2>WC bereikbaarheid</h2>
            <p>Naar Den Haag?</p>
            {{> toilets}}
          </div>
        </div>

      </div>
    </section>

    <section id="locations">
      <div class="block-large">
        <div id="denhaag" class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/q42hq.jpg" alt="">
            <p>Het clubhuis.</p>
          </div>
          <div class="body">
            <h2>Den Haag</h2>
            <address class="vcard body">
              <p class="fn">Q070</p>
              <p class="adr">
                <span class="street-address">Waldorpstraat 17F</span><br>
                <span class="postal-code">2521CA</span>&#160;<span class="locality">Den Haag</span>
              </p>
            </address>
            <p>Direct naast Holland Spoor vind je onze base (die belong to us). Al sinds 2006. Zwaai maar even als je in de trein zit. En vergeet niet gebruik te maken van onze gratis WiFi, of even aan de Philips Hue lampen te zitten!</p>
            <p><i class="fa fa-phone-square"></i> Bel Q42 HQ: 070-4452342</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/q020.jpg" alt="" />
            <p>Ons stekkie in Amsterdam!</p>
          </div>
          <div class="body">
            <h2>Amsterdam</h2>
            <address class="vcard body">
              <p class="fn">Q020</p>
              <p class="adr">
                <span class="street-address">Oostelijke Handelskade 749</span><br>
                <span class="postal-code">1019BW</span>&#160;<span class="locality">Amsterdam</span>
              </p>
            </address>
            <p>Q dichterbij de Q'ers brengen, was het plan. Ondertussen worden de Hagenaren onder ons al behoorlijk jaloers. In de Amsterdamse vestiging hebben we namelijk naast een glijbaan óók een geheime kamer.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/q42us.jpg" alt="">
            <p>Disneyland voor nerds.</p>
          </div>
          <div class="body">
            <h2>Mountain View</h2>
            <address class="vcard body">
              <p class="fn">QSA</p>
              <p class="adr">
                <span class="street-address">1045A Linda Vista Ave</span><br>
                <span class="locality">Mountain View</span>, <span class="postal-code">94043</span>, VS
              </p>
            </address>
            <p>Ons nieuwste kantoor in Mountain View, ten zuiden van San Francisco, is maar een korte wandeling vanaf het Googleplex en het Computer History Museum, en ligt middenin Silicon Valley. Precies zoals we het willen.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="colleagues">
      <div class="block-large">
        <div class="intro">
          <h2>Hallo, wij zijn de Q'ers</h2>
          <ol class="qers">
           	{{> employees }}
          </ol>
        </div>
        <aside class="subcontent block-small">
          {{> filter_employees}}
        </aside>
        <div class="clear"></div>
      </div>
    </section>

    <section id="facts">
      <div class="block-large">
        <div class="block-small">
          <div class="body">
            <p>Q42 is méér dan de som van</p>
            {{> numQers}}
            <p>Q'ers.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="body">
            <p>Vandaag hebben wij al</p>
            {{> koppenKoffie}}
            <p>koppen koffie op.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="body">
            <p>En</p>
            {{> regelsCode}}
            <p>regels code geschreven.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="theBeginning" class="block-large">
      <div class="intro">
        <h2>Hoe het begon</h2>
        <p>Mede-oprichter Lon spreekt: 'Op een vrijdagmiddag in het voorjaar van 2000 rinkelde er een telefoon. De internetbubbel was enkele maanden eerder al ontploft, maar de knal moest Nederland nog bereiken. Alleen Nina Brink had het in de verte horen donderen en was druk bezig haar slappe was binnen te halen voordat de bui los zou barsten. Desalniettemin rinkelde er een telefoon.</p>
        <a class="visual caption">
          <img src="http://static.q42.nl/images/42-douglas-adams-42.jpg" />
          <p>42.</p>
        </a>
        <p>Op het moment van rinkelen werkte ik bijna 3,5 jaar voor een snelgroeiend Nederlands internetburo. Begonnen op 1 januari 1997 als eerste medewerker, was ik nu de 'R&amp;D Manager' van een bedrijf van, naar eigen overdrijven, ongeveer 150 internet professionals. Het was mijn telefoon die zo rinkelde. Een paar maanden voordat het rinkelen begon was ene Kars Veling mijn collega geworden. Kars bleek vanaf dag één een leuke, directe, maar vooral ook een slimme en rechtrapige collega te zijn. Het klikte. En het rinkelde. Nog steeds. Ik besloot dat er iets aan het rinkelen gedaan moest worden. 'Halloo, met Lon'. 'Hoi, met Kars, zullen we een eigen bedrijf beginnen?'. 'Ja, 's goed.'.'</p>
        <p>Velen hebben ons gevraagd waar de naam Q42 vandaan komt. We hadden vrij snel bedacht dat het getal '42' in onze bedrijfsnaam voor moest komen. Volgens 'The Hitchhiker's Guide to the Galaxy', een ongeëvenaard grappig boek van de veel te vroeg overleden Douglas Adams is 42 'the answer to the ultimate question of Life, the Universe and Everything'. <a href="http://www.google.nl/search?q=the+answer+to+life+the+universe+and+everything" class="external">Google beaamt dit.</a></p>
        <p>De 'Q' hebben we toegevoegd omdat '42' ons wat kaal leek. '42' staat voor 'Het Antwoord', zoals onze 'Q' staat voor 'The Question</p>
        <a class="visual caption">
          <img src="http://static.q42.nl/images/q.jpg" />
          <p>Q.</p>
        </a>
        <p>'Q' is natuurlijk ook de man achter James Bond die alle technische wondertjes maakt. Daarnaast zijn 'the Q' een ras van omnipotent wezens in de voor nerds zo onontbeerlijke Star Trek-serie.</p>
        <p>En uiteraard speelde het feit dat destijds een domein uit puur het getal 42 niet aangevraagd kon worden geen enkele rol bij dit alles. Dat spreekt natuurlijk voor zich.</p>
      </div>
      <aside class="block-small subcontent">
        <h2>Wist je dat...</h2>
        <ul>
          <li>...een regenboog altijd begint met een hoek van 42 graden?</li>
          <li>...het 42e ASCII-teken de * is, ook wel bekend als de "wildcard"?</li>
          <li>...het appartement van Fox Mulder nummer 42 heeft?</li>
          <li>...Facebook chat alleen voor het getal 42 een speciale emoticon heeft? Typ ":42:"</li>
          <li>...een marathon 42 kilometer is?</li>
          <li>...Microsoft's Windows 3.x logo 42 kleine vierkantjes bevat?</li>
          <li>...de eerste iPhone werd gepresenteerd met 9:42 in beeld?</li>
        </ul>
      </aside>
    </section>

    <section>
      <div class="block-large">
        <div id="passietijdw00tcamp" class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/kidsplaying.jpg" alt="w00t!"/>
            <p>w00t!</p>
          </div>
          <div class="body">
            <h2>Passietijd &amp; w00tcamp</h2>
            <p>Donderdagmiddag is passietijd bij Q42. Dat is tijd om te doen wat Q-ers passioneert. Zoals het bouwen van een Xbox 360 game, of een API om instructies te geven aan een plastic konijn zodat het schreeuwt als iemand foute code incheckt.</p>
            <p><a href="http://www.w00tcamp.nl">w00tcamp</a>, kleine w, twee nullen, en uitgesproken met een lange oe, is onze jaarlijkse passie-tweedaagse waar wij de hele vrijdag en zaterdag in teamverband losgaan op de populairste passieprojecten. Een soort Lowlands voor nerds, als het ware.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/knappekop.jpg" alt="Knappe kop."/>
            <p>Knappe kop.</p>
          </div>
          <div class="body">
            <h2>Knappe kop?</h2>
            <p>Hou jij van programmeren? En maak jij graag mooi webspul? Dan willen wij graag met jou praten. Want wij zijn altijd op zoek naar een knappe kop.</p>
            <p>Stuur ons een mailtje met waarom jij onze ideale nieuwe collega bent, dat kan naar <a href="mailto:knappekop@q42.nl">knappekop@q42.nl</a>.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/wayfinding.jpg" alt="" />
            <p>Wayfinding.</p>
          </div>
          <div class="body">
            <h2>Zie ook</h2>
            <ul>
              <li><a href="http://q42.com" class="external">Q42.com</a></li>
              <li><a href="http://www.w00tcamp.nl" class="external">w00tcamp.nl</a></li>
              <li><a href="http://towelday.nl" class="external">Towelday.nl</a></li>
            </ul>
          </div>
        </div>

      </div>
    </section>

    <section>
      <div class="block-large block-no-padding-after">
        <div class="body">
          <h2>Partners</h2>
          <p>Soms werken we ook vaker samen met een andere partij. Omdat ze goeie mensen zijn en verstand van hun vak hebben. Partijen waarmee 1 + 1 gelijk is aan 3. De Robin bij onze Batman. Mensen die hun handdoek altijd bij zich hebben. Deze helden lichten we hieronder nog even toe.</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/partners.jpg" alt="" />
          <p>Batman &amp; Qobin, the Young and Dynamic Duo</p>
        </div>
      </div>
      <div class="block-large">
        <div class="block-small">
          <a class="visual caption" href="http://fabrique.nl">
            <img src="http://static.q42.nl/images/partner-fabrique.png" alt="Fabrique" style="background-color:white"/>
            <p>En fenomenale frikandellen. Aanrader!</p>
          </a>
          <div class="body">
            <h2>Fabrique</h2>
            <p>Op <a href="http://www.fabrique.nl/">Fabrique</a> zijn wij al jaren verliefd. Samen hebben we al veel mooi spul gemaakt, zoals Rijksmuseum.nl, de 9292 website en apps, D-reizen.nl, en veel meer.</p>
          </div>
        </div>
        <div class="block-small">
          <a class="visual caption" href="http://google.com">
            <img src="http://static.q42.nl/images/partner-google.png" alt="Google"/>
            <p>Q42 Cloud Platform Partner of the Year</p>
          </a>
          <div class="body">
            <h2>Google</h2>
            <p>Dankzij Google App Engine hoeven wij ons niet druk te maken om saai hosting geneuzel én kunnen we enorm schaalbare internetdingen bouwen. Philips Hue bijvoorbeeld, of Schooltas, of delen van Rijksmuseum.nl.</p>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<template name="regelsCode">
  <p id="regels-code" class="counter">{{regelsCode}}</p>
</template>

<template name="numQers">
  <p class="counter">{{numQers}}</p>
</template>

<template name="koppenKoffie">
  <p id="koppen-koffie" class="counter">{{koppenKoffie}}</p>
</template>

<template name="employees">
  {{#each employee}}
    {{> employeeView}}
  {{else}}
  <li class="qer no-results">Er zijn geen Q'ers getagd met "{{filter}}" :(</li>
  {{/each}}
</template>

<template name="filter_employees">
  <div id="filter-colleagues">
    <h2>Filter de Q'ers</h2>
    <ul id="filter-options">
      {{#each list}}
        <li><a href="#" class="{{selected this}}">{{.}}</a></li>
      {{/each}}
    </ul>
    <h2>Of gebruik regex!</h2>
    <input data-role="filter-qers" placeholder="/.*/" id="filter-qers-input">
  </div>
</template>
