<template name="producten">
  <section>
    <section>
      <header class="block-text">
        <h1><b>Producten</b> en ander mooi spul</h1>
      </header>

      <div>
        <article class="block-large">
          <div class="bigText introText">
            <p>Naast <a href="/projecten">het projectwerk</a> bouwen we soms dingetjes ook voor onszelf. Dat begint vaak in de wekelijkse <a href="/over-q42#passietijdw00tcamp">passietijd</a> en groeit soms uit tot iets veel groters, zoals <a href="#handcraft">Handcraft</a>, <a href="/games#sarien">Sarien.net</a> of de <a href="/games">Games</a> die we bedenken. Het helpt ons te denken vanuit het oogpunt van opdrachtgever en geeft ons de kans om nog net iets meer de technische grenzen op te zoeken.</p>
            <p>Maar we vinden het vooral heel erg leuk.</p>
          </div>
          <div class="block-small subcontent">
            <h2>Zie ook</h2>
            <ul>
              <li><a href="/games">Games</a></li>
              <li><a href="/gereedschapskist">Onze gereedschapskist</a></li>
            </ul>
          </div>
        </article>
      </div>

      <section id="handcraft">
        <article class="block-large">
          <div class="figure">
            <figcaption class="body">
              <h2>Handcraft</h2>
              <h3>Interactive HTML prototypes</h3>
              <p>Handcraft is een online editor die voortkomt uit ons geloof in het "design in the browser"-principe. En we vinden het zelf erg handig om mee te prototypen. We kunnen dan lekker makkelijk ons werk delen met collega's, partners en klanten.</p>
              <p><a href="http://handcraft.com/" class="external">Bekijk Handcraft</a></p>
            </div>
              <a class="visual caption">
                <img src="/images/handcraft.jpg" alt="Handcraft" />
                <p>Ambachtelijk handwerk FTW!</p>
              </a>
          </div>
        </article>
      </section>

      <section>
        <section class="block-large">
          <article class="block-small">
            <div class="figure">
              <a class="visual caption">
                <img src="/images/soundmatch.png" alt="A sound match."/>
                <p>A sound match.</p>
              </a>
              <figcaption class="body">
                <h2>Soundmatch</h2>
                <h3>Dagelijks verse recommendations in Spotify</h3>
                <p>Spotify doet bijna alles. Maar hij kan geen playlists genereren op basis van je Last.fm account. Dat kan Soundmatch wel. En omdat dat verrekte handig is, wonnen Mark, Arian en Jeroen hiermee w00tcamp 2010.</p>
                <p><a href="http://soundmatch.me/" class="external">Ook een Spotify playlist van je Last.fm recommendations?</a></p>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <a class="visual caption">
                <img src="/images/trello.gif" alt="Trello Scrum"/>
                <p>Geeltje, geeltje, aan de wand...</p>
              </a>
              <figcaption class="body">
                <h2>Trello Scrum</h2>
                <h3>Onmisbare Chrome extension voor Scrummers</h3>
                <p>Jasper en Marcel vonden dat <a href="http://trello.com" class="external">Trello</a> iets mistte: story points. Dus hebben ze dat bijgebouwd, als Chrome Extension.</p>
                <p><a href="https://chrome.google.com/webstore/detail/jdbcdblgjdpmfninkoogcfpnkjmndgje" class="external">Alsjeblieft, digitale Scrummers</a></p>
              </div>
            </div>
          </article>
          <article class="block-small">
            <div class="figure">
              <!-- TODO: werkend maken -->
              <a class="visual caption">
                <img src="/images/livejs.jpg" alt="Live JS"/>
                <p>Met Live.js wordt programmeren als musiceren.</p>
              </a>
              <figcaption class="body">
                <h2>LiveJS</h2>
                <h3>Met Live.js wordt programmeren als musiceren</h3>
                <p>Martin werd moe van steeds Alt+Tab doen tijdens het ontwikkelen. Dus maakte hij ons ontwikkelaars allemaal blij met Live.js, een scriptje dat checkt of er HTML of CSS wijzigingen zijn en die dan automatisch tevoorschijn tovert.</p>
                <p><a href="http://livejs.com" class="external">Download live.js</a></p>
              </div>
            </div>
          </article>
        </section>

        <section id="games">
          <article class="block-large">
            <div class="figure">
              <figcaption class="body">
                <h2>Games</h2>
                <h3>Digitaal en analoog</h3>
                <p>Peter Pan blijft altijd jong. Q-ers eigenlijk ook. Games spelen zit in ons bloed en als we even de tijd ervoor nemen maken we ook graag spellen.</p>
                <p>En om dat creatieve en katalyserende proces gezond in een bedrijf te passen zeggen we voortaan officieel dat we ook "games maken". Een soort pleziertherapie.</p>
                <p><a href="/games">Check al onze games</a></p>
              </div>
              <div class="visual">
                <a class="visual caption">
                  <img src="/images/games-q.jpg" alt="Spelen en maken. Digitaal en analoog." />
                  <p>Spelen en maken. Digitaal en analoog.</p>
                </a>
              </div>
            </div>
          </article>
        </section>

        <section>
          <section class="block-large">
            <article class="block-small">
              <div class="figure">
                <a class="visual caption">
                  <img src="/images/quek.jpg" alt="Quek"/>
                  <p>Ze zijn om te knuffelen!</p>
                </a>
                <figcaption class="body">
                  <h2>Quek</h2>
                  <h3>Samen surfen. En moonwalken.</h3>
                  <p>In je eentje surfen is eenzaam. Daarom hebben we Quek gemaakt, waarmee je samen kunt internetten. En moonwalken.</p>
                  <p><a href="http://quek.nl/" class="external">Quek er op los!</a></p>
                </div>
              </div>
            </article>
            <article class="block-small">
              <div class="figure">
                <a class="visual caption">
                  <img src="/images/htlmorg.png" alt="Je hoeft alleen nog te typen."/>
                  <p>Je hoeft alleen nog maar te typen.</p>
                </a>
                <figcaption class="body">
                  <h2>htlm.org</h2>
                  <h3>Omdat een kladje schrijven altijd makkelijker kan</h3>
                  <p>Er zijn een hoop productiviteitstools te vinden op het web. Hier een knop, daar een feature, cloud sharing, social media en collaboratie alom.</p>
                  <p>Wij wilden het eens simpeler maken. Daarom: htlm.org. Surf erheen en begin te typen. Of kies een andere URL. Het wordt direct opgeslagen en je kunt de URL delen met anderen zodat zij er ook kunnen schrijven.</p>
                  <p><a href="http://htlm.org" class="external">Nog 1 klik en je kunt typen...</a></p>
                </div>
              </div>
            </article>
            <article class="block-small">
              <div class="figure">
                <a class="visual caption">
                  <img src="/images/linkapp.png" alt="Klein maar fijn."/>
                  <p>Klein maar fijn.</p>
                </a>
                <figcaption class="body">
                  <h2>Link</h2>
                  <h3>World's smallest social network</h3>
                  <p>Soms ben je ergens met een groep vrienden en wil je gewoon even weten wie waar is, wat ze doen, etc. Wintersport bijvoorbeeld, een bedrijfsuitje of een event. Niet gedoe met Facebook of SMS, maar een klein tijdelijk netwerkje waar ook nieuwe mensen op aan mogen haken.</p>
                  <p>Dat is Link. Gratis, voor op je iPhone.</p>
                  <p><a href="http://lnkapp.com" class="external">lnkapp.com</a></p>
                </div>
              </div>
            </article>
          </section>
        </section>

      </section>
    </section>
  </section>
</template>