<template name="projecten">
  <div class="container">

    <header class="block-text">
      <h1>Projecten</h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">
          {{> content id="projects-intro"}}
        </div>
        <aside class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
            <li><a href="/interaction-engineering">Interaction engineering</a></li>
            <li><a href="/gereedschapskist">Onze gereedschapskist</a></li>
          </ul>
        </aside>
      </div>
    </section>

    {{> block id="staatsloterij" size="large" position="right"}}
    {{> block id="hue" size="large"}}
    {{> block id="rijksmuseum" size="large" position="right"}}

    <section class="block-large">
      {{> block id="dordrechtsmuseum" size="small"}}
      {{> block id="spotvogel" size="small"}}
      {{> block id="rocmondriaan" size="small"}}
    </section>

    {{> block id="lakenhal" size="large" position="right"}}
    {{> block id="schooltas" size="large"}}
    {{> block id="9292" size="large" position="right"}}

    <section class="block-large">
      {{> block id="mendo" size="small"}}
      {{> block id="uitapp" size="small"}}
      {{> block id="charmequality" size="small"}}
    </section>

    <section class="block-large">
      {{> block id="digibord" size="small" titleOnly="true"}}
      {{> block id="schaatsen" size="small" titleOnly="true"}}
      {{> block id="stedelijk" size="small" titleOnly="true"}}
    </section>

    <section class="block-large">
      {{> block id="xwashier" size="small" titleOnly="true"}}
      {{> block id="idealenkompas" size="small" titleOnly="true"}}
      {{> block id="wellantcollege" size="small" titleOnly="true"}}
    </section>

  </div>
</template>
