<template name="projecten">
  <div class="container">

    <header class="block-text">
      <h1><b>Projecten</b> zoals</h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">
          <p>Wij houden erg van samen mooie internetdingen maken. Om verschillende redenen. Omdat we van internetdingen houden, of het nou webapplicaties of mobiele apps zijn. Omdat we graag uitgedaagd worden en de grenzen opzoeken van wat technisch mogelijk is. Omdat we enthousiast worden van opdrachtgevers met passie voor hun vak. Omdat we het geweldig vinden om gebruikers blij te maken met mooi spul dat niet alleen nuttig, maar ook vriendelijk is. En omdat we zo trots zijn op alle mooie dingen die we al gebouwd hebben.</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
            <li><a href="http://q42.com/interaction-engineering">Interaction Engineering</a> (Engels)</li>
            <li><a href="/gereedschapskist">Onze gereedschapskist</a></li>
          </ul>
        </aside>
      </div>
    </section>

    <section>
      <div class="block-large block-no-padding-after right">
        <div class="body">
          <h2>Design Museum</h2>
          <h3>Een briljante expositie van fantastisch ontwerp</h3>
          <p>Het Design Museum in Londen benaderde ons met de vraag of wij hun nieuwe site wilden bouwen. Uiteraard wilden we dat, dus we vlogen naar Londen met Fabrique.</p>
          <p>Het resultaat is de nieuwe Design Museum website, een schitterende showcase van het beste uit de collectie, van architectuur en mode tot grafisch, product- en industrieel ontwerp.</p>
          <p><a href="http://designmuseum.org" class="external">Bekijk geweldig design bij het Design Museum</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/projecten/designmuseum.jpg" alt="">
          <p>Jank-free!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Van Gogh Museum</h2>
          <h3>Het verhaal van een historische schilder</h3>
          <p>Het Van Gogh Museum is natuurlijk niet zomaar een museum. Het is het museum over één van de meest wereldberoemde schilders ooit. En daar hoort niet alleen een prachtige uitlichting van zijn kunst bij, maar ook een diepgaande en immersieve ervaring die zijn leven naar voren brengt.</p>
          <p>Met de nieuwe vangoghmuseum.nl besloten wij samen met Fabrique dat maar eens te doen. En het resultaat mag er wezen: kunst en verhalen lopen door elkaar, van Amandelbloesem tot De slaapkamer.</p>
          <p>Wederom is de site ontwikkeld met een focus op tablets en smart devices, waardoor je ook vanaf de bank of in de trein eens lekker weg kunt lezen en zoomen over Van Gogh en zijn unieke kijk op de wereld.</p>
          <p><a href="http://vangoghmuseum.nl" class="external">Beleef het Van Gogh Museum</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/projecten/vangogh-vincent.jpg" alt="">
          <p>Ontmoet Vincent</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>Staatsloterij</h2>
          <h3>De nieuwe website</h3>
          <p>Op de nieuwe Staatsloterij website kun je nu vrijwel alle producten online kopen. Daarnaast heeft de Staatsloterij de mogelijkheid om flexibel in te spelen op nieuwe ontwikkelingen, campagnes en trekkingen.</p>
          <p>We ontwikkelden de nieuwe site in samenwerking met Fabrique en het Digital team van de Staatsloterij.</p>
          <p>De site is tablet first ontwikkeld, maar werkt door het responsive design ook perfect op hele grote schermen en alle gangbare smartphones.</p>
          <p><a href="http://www.staatsloterij.nl" class="external">Waag eens een gokje</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/projecten/staatsloterij.jpg" alt=""/>
          <p>Jackpot!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Philips Hue</h2>
          <h3>Lampen voor nerds</h3>
          <p>Philips had een cunning plan: Iets met gekleurde lampen, iPhone apps, prototyping, een portal plus campagnesite en of wij met ze op avontuur wilden gaan.</p>
          <p>Hoe zeg je nee tegen zo'n voorstel?</p>
          <p>Onze derde samenwerking met Philips werd een van de meest fantastische projecten die een club techneuten zich wensen kan. We bouwden de eerste prototypes tegen een emulator, waarna de portal en de promotiesite volgden in Google App Engine. En nu liggen de lampen in Apple Stores!</p>
          <p><a href="http://meethue.com" class="external">Lees meer over Hue</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/hue-Starter-Pack.jpg" alt=""/>
          <p>Hue-hoo!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>Rijksmuseum</h2>
          <h3>Anno 2012</h3>
          <p>In 2004 hebben wij samen met Fabrique een prijswinnende website voor het Rijks neergezet. Deze was inmiddels echter wel toe aan een verbouwing.</p>
          <p>De nieuwe Rijksmuseum website is lekker modern: responsive, tablet-first, fijne animaties. Een opvallend onderdeel van de site is Rijksstudio: jouw eigen verzameling, knutselplek en museumshop in één. Met de 125.000 beschikbare kunstwerken in hoge resolutie hoef je je voorlopig niet te vervelen!</p>
          <p><a href="http://www.rijksmuseum.nl" class="external">Bezoek het Rijksmuseum (.nl)</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/rijks.jpg?w=600" alt=""/>
          <p>Ook de site is echte kunst.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/Dordrechtsmuseum2.jpg" alt=""/>
            <p>Een koninklijke site</p>
          </div>
          <div class="body">
            <h2>Dordrechts Museum</h2>
            <h3>Willem II Kunstkoning</h3>
            <p>In maart 2014 vindt een unieke tentoonstelling plaats in het Dordrechts Museum, ‘Willem II - Kunstkoning’. Het wordt de grootste tentoonstelling die ooit in het museum heeft plaatsgevonden en daar moest een speciale website voor ontwikkeld worden.</p>
            <p><a href="http://wii-kunstkoning.nl" class="external">Mooie klus voor Q dus!</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/spotvogel2.jpg" alt=""/>
            <p>Beter een vogel in de hand...</p>
          </div>
          <div class="body">
            <h2>Spotvogel</h2>
            <h3>Het zie, zoek en zeg spel</h3>
            <p>In samenwerking met Vroege Vogels (VARA) en het Nederlands Instituut voor Beeld en Geluid maakten we Spotvogel, een toffe online game voor video. Spelers voegen trefwoorden (tags) aan het videomateriaal toe met als doel de doorzoekbaarheid van het videomateriaal te verbeteren. Voor het invoeren van de tags ontvang je punten en kun je coole badges verzamelen.</p>
            <p><a href="http://spotvogel.vroegevogels.vara.nl" class="external">Probeer het zelf</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/roc2.jpg" alt=""/>
            <p>Prachtig gebouw!</p>
          </div>
          <div class="body">
            <h2>ROC Mondriaan</h2>
            <h3>Nieuwe website</h3>
            <p>ROC Mondriaan is een Regionaal Opleidingen Centrum met vestigingen in Den Haag, Delft, Leiden en Naaldwijk. Samen met onze vrienden van Fabrique maakten we een moderne, frisse website voor ze!</p>
            <p><a href="http://www.rocmondriaan.nl" class="external">Bekijk de website!</a></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>Museum de Lakenhal</h2>
          <h3>Met Ruby on Rails</h3>
          <p>Leiden heeft een rijk kunstenaarsverleden. Niemand minder dan Rembrandt van Rijn, Jan Steen en Gerrit Dou waren van Leidse komaf. Naast stukken van deze en andere Leidse kunstenaars vind je in Museum de Lakenhal stukken over de Leidse geschiedenis en de kunstnijverheid in de stad.</p>
          <p>In samenwerking met Fabrique maakten wij de nieuwe website, ditmaal (voor het eerst!) met Ruby on Rails.</p>
          <p><a href="http://lakenhal.nl" class="external">Bekijk de verhalen</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/projecten/lakenhal.jpg" alt="">
          <p>Beter dan "dekenhal"!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Schooltas</h2>
          <h3>ThiemeMeulenhoff's iPad app</h3>
          <p>Het Haagse "Vroegâh was alles betâh" gaat niet altijd op. Stinkend jaloers zijn wij Haagse nerds namelijk op de 20 scholen (and counting) waar leerlingen elke ochtend met een iPad van start gaan. Geen zware schooltas met papieren boeken meer, maar een moderne digitale versie die de toepasselijke naam Schooltas 2.0 draagt.</p>
          <p>Wij ontwikkelen Schooltas met veel plezier samen met ThiemeMeulenhoff, Fabrique en vele scholen, docenten en leerlingen.</p>
          <p><a href="http://www.schooltas.net/" class="external">Lees meer over Schooltas</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/schooltas3.jpg" alt="600 gram is genoeg voor alle schoolboeken"/>
          <p>600 gram is genoeg voor alle schoolboeken.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>9292</h2>
          <h3>De hele mikmak: web &amp; apps</h3>
          <p><a href="http://9292.nl" class="external">De website van 9292</a> was toe aan een nieuw jasje. Samen met Fabrique en 9292 hebben wij de site omgebouwd van gereedschap naar goede vriend. Dat begint met de vraag ‘waar wil je heen’ en gaat verder met een slimme planner met goede autosuggest en herkenning van plaatsen zoals ‘Efteling’. Tegen een vriend zeg je namelijk niet dat je van station Delft naar Europalaan 1 in Kaatsheuvel reist. Nee, je gaat van je huis naar de Efteling.</p>
          <p>Naast de website en de mobiele variant hebben we ook de <a href="https://itunes.apple.com/nl/app/9292/id556557690" class="external">iPhone</a>, <a href="https://play.google.com/store/apps/details?id=nl.negentwee&amp;hl=nl" class="external">Android</a> en <a href="http://www.windowsphone.com/nl-NL/apps/1f4b557a-ed22-47f7-a6e6-8571906a886d" class="external">Windows Phone</a> apps gebouwd. En er komt nog veel meer mooi spul aan!</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/9292.jpg" alt="" />
          <p>'Waar wil je heen?' Existentiële vraag, eigenlijk.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/mendo2.jpg" alt="Een site waar je boeken kunt shizzlen."/>
            <p>Een site waar je boeken kunt shizzlen.</p>
          </div>
          <div class="body">
            <h2>Mendo</h2>
            <h3>Spannend HTML5 & CSS3 spul</h3>
            <p>“MENDO is a candy store for book aficionados,” is hoe Roy, Joeri en Joost hun Amsterdamse winkel treffend omschrijven. Die beleving, maar dan online. Dat was de opdracht die Perceptor en Q42 kregen. Een uitdaging, maar met de fantastische content van MENDO en de unieke ontwerp-skills van Perceptor was het voor ons een feest om dat te verrijken met hippe web-technologieën.</p>
            <p><a href="http://mendo.nl" class="external">Bekijk Mendo.nl</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/uitapp.jpg" alt="Er op uit."/>
            <p>Uitgaand Nederland ziet er zo uit. In ons hoofd.</p>
          </div>
          <div class="body">
            <h2>UIT app</h2>
            <h3>Voor iPhone en nu ook voor Android</h3>
            <p><a href="http://itunes.apple.com/nl/app/uit/id385525154?mt=8" class="external">De Uit app</a> is een onmisbare app voor uitgaand Nederland. Met "Nu & Dichtbij" vraag je direct de evenementen in de buurt op. Je kan ook langer van tevoren een avondje plannen door slimme lijsten te maken op datum, locatie, genre of artiest. De app loodst je naar de ticketverkoop en via de kaart naar de plek van het evenement.</p>
            <p>Q42 realiseerde deze iPhone app in de korte periode van zes weken samen met Fabrique.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/charmquality.jpg" alt="Voel je de vakantiekriebels al?"/>
            <p>Voel je de vakantiekriebels al?</p>
          </div>
          <div class="body">
            <h2>Charme & Quality</h2>
            <h3>Herbruikbaar Orchard framework</h3>
            <p>Jaren na ons werk voor <a href="http://www.vacanceselect.nl" class="external">vacanceselect.nl</a> mochten wij weer voor Viaselect aan de slag. Ditmaal voor hun <a href="http://www.charmequality.nl" class="external">Charme & Quality website</a>. We hebben daarmee meteen een op <a href="http://www.orchardproject.net" class="external">Orchard</a> gebaseerd framework neergezet dat makkelijk herbruikbaar is voor alle komende Viaselect websites.</p>
            <p><a href="http://www.charmequality.nl" class="external">Bekijk de vakantiehuizen met karakter</a></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/digibord.jpg" alt="Waarom hadden wij dit vroeger niet?"/>
            <p>Waarom hadden wij dit vroeger niet?</p>
          </div>
          <div class="body">
            <h2>Malmberg Digibord</h2>
            <h3>Van krijtjes naar YouTube</h3>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption" href="http://www.stedelijk.nl">
            <img src="http://static.q42.nl/images/stedelijkmuseumamsterdam.jpg" alt="In een nieuw jasje."/>
            <p>In een nieuw jasje.</p>
          </div>
          <div class="body">
            <h2><a href="http://www.stedelijk.nl" class="external">Stedelijk Museum</a></h2>
            <h3>De nieuwe website</h3>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption" href="http://www.iemandzoalsik.nl">
            <img src="http://static.q42.nl/images/iemandzoalsik.jpg" alt="Waarom hadden wij dit vroeger niet?"/>
            <p>Dé site voor en door chronisch zieken.</p>
          </div>
          <div class="body">
            <h2><a href="http://www.iemandzoalsik.nl" class="external">Iemand Zoals Ik</a></h2>
            <h3>Dé site voor en door chronisch zieken</h3>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption" href="http://itunes.apple.com/us/app/xwashier/id436744605?mt=8&ls=1">
            <img src="http://static.q42.nl/images/xwashier.jpg" alt=""/>
            <p>X marks the spot.</p>
          </div>
          <div class="body">
            <h2><a href="http://itunes.apple.com/us/app/xwashier/id436744605?mt=8&ls=1" class="external">X Was Hier</a></h2>
            <h3>Rijke iPhone app met geavanceerde beeldherkenning</h3>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption" href="http://wellant.nl">
            <img src="http://static.q42.nl/images/wellantcollege.jpg" alt="Alwéér een mooie site met Fabrique."/>
            <p>Alwéér een mooie site met Fabrique.</p>
          </div>
          <div class="body">
            <h2><a href="http://wellant.nl" class="external">Wellantcollege</a></h2>
            <h3>Een grote website voor een grote onderwijsinstelling</h3>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>
