<template name="staatsloterij-website">
  <div class="container">
    <section>
      <header class="block-text page-title">
        <h1>Staatsloterij Website</h1>
      </header>
    </section>

  <section>
    <div class="block-large portfolio-meta-header">
      <img src="http://static.q42.nl/images/q42hq.jpg" class="thumb">
      <div class="metadata">blabla dit is metadata
      </div>
    </div>
  </section>

    <section>
      <div class="block-text">
          <p>blablabla beafeaw f Een technisch innovatief internetbureau', zeggen sommigen. 'Nerds', zeggen anderen. Wij zelf bijvoorbeeld, als we eerlijk zijn. We houden namelijk heel erg van goed programmeren.</p>
      </div>
    </section>

  </div>
</template>
