<template name="vacatures">
	<div class="container">

    <header class="block-text">
      <h1>Vacatures</h1>
    </header>

		<section>
      <div class="block-large">
        <div class="intro">
          <p>We zijn altijd op zoek naar knappe koppen van elk pluimage. Of je nu front-ender, back-ender,
          	interaction engineer of gewoon overal van bent, je bent altijd van harte welkom om een mailtje te sturen naar <a href="mailto:knappekop@q42.nl">knappekop@q42.nl</a>.</p>
          <p>Bekijk hieronder onze huidige vacatures. Is de lijst leeg? Never fear, bookmark deze pagina gewoon, want over een poosje hebben we vast wel weer iemand nodig!</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
          	<li><a href="/over-q42">Over Q42</a></li>
            <li><a href="http://q42.com/interaction-engineering">Interaction Engineering</a> (Engels)</li>
          </ul>
        </aside>
      </div>
    </section>

    <div class="blog block-large">
      <div class="blog-posts">
      {{#each post}}
        <div class="blog-item">
  	      <h1><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></h1>
  	      {{> postDate}}
  	      {{{intro}}}
  	      <p class="block-readmore">
  	        <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Read more</a>
  	      </p>
        </div>
      {{/each}}
      </div>
  	</div>

	</div>
</template>
