<template name="vr">
	<div class="container">

    <header class="block-text">
      <h1>Virtual Reality</h1>
    </header>

    <div class="block-large solid">
      <div class="intro">
				<p>VR is hip en happening. Nee, wacht, het is eigenlijk al best oud.
					Wij bouwen inmiddels al jaren VR dingen (zie hieronder). Maar het is
					nog veel ouder dan dat. Ooit de film
					<a href="http://www.imdb.com/title/tt0104692/">The Lawnmower Man</a>
					gezien? Of <a href=" https://youtu.be/NNiZP2G-nEM">Brainstorm</a>?</p>
				<p>VR is wel steeds populairder aan het worden. En laagdrempeliger.
					Interesse in met ons een VR project doen?
					<a href="mailto:sales@q42.nl">Neem contact met ons op!</a></p>
      </div>
      <aside class="block-small subcontent">
        <h2>Zie ook</h2>
        <ul>
          <li><a href="https://www.google.com/get/cardboard/">Google Cardboard</a></li>
					<li><a href="https://www.playstation.com/en-us/explore/playstation-vr/">Playstation VR</a></li>
					<li><a href="https://www.oculus.com/">Oculus Rift</a></li>
					<li><a href="http://www.samsung.com/global/galaxy/wearables/gear-vr/">Samsung Gear VR</a></li>
					<li><a href="http://store.steampowered.com/universe/vr">Steam VR</a></li>
        </ul>
      </aside>
    </div>

		<section class="block-large">
      <div class="block-small">
        <div class="visual caption">
        <img src="http://static.q42.nl/images/vr/cardboard.jpg" alt="Q42 Superhero Cardboard VR Viewer"/>
          <p>"Any sufficiently advanced technology…"</p>
        </div>
        <div class="body">
          <h2>Q42 Superhero Cardboard</h2>
          <p>Heb jij één van onze superhero cardboard VR viewers? <a href="https://youtu.be/7kXBGAPFARY">Zo vouw je 'm in elkaar.</a></p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/vr/ssv42.jpg" alt="SuperStreetViewer42"/>
          <p>"…is indistinguishable from magic."</p>
        </div>
        <div class="body">
          <h2>Super Street Viewer 42</h2>
          <p>De eerste VR app om te proberen met onze superhero cardboard is SuperStreetViewer42. We hebben deze VR game in een paar dagen gebouwd om te laten zien dat het ontwikkelen van VR apps niet complex en duur hoeft te zijn.</p>
					<p>
						<a class="store-download-button" href="https://itunes.apple.com/us/app/superstreetviewer42/id1068108878?mt=8">
							<img alt="Download on the App Store" src="http://static.q42.nl/images/vr/appstorebutton.png" />
						</a>
					</p>
					<p>
						<a class="store-download-button" href="https://play.google.com/store/apps/details?id=com.Q42.SuperStreetViewer42&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1">
							<img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" />
						</a>
					</p>
        </div>
      </div>

			<div class="block-small">
				<div class="visual caption">
					<img src="http://static.q42.nl/images/vr/coaster.jpg" alt="Tips">
					<p>- Arthur C. Clarke, 1973</p>
				</div>
				<div class="body">
					<h2>Tips</h2>
					<p>Andere apps om uit te proberen met onze superhero cardboard zijn:</p>
 					<ul>
						<li>Google Cardboard<br/><a href="https://itunes.apple.com/us/app/google-cardboard/id987962261?mt=8">iOS</a> | <a href="https://play.google.com/store/apps/details?id=com.google.samples.apps.cardboarddemo">Android</a></li>
 						<li>New York Times VR<br/><a href="https://itunes.apple.com/us/app/nyt-vr/id1028562337?mt=8">iOS</a> | <a href="https://play.google.com/store/apps/details?id=com.im360nytvr">Android</a></li>
						<li>Roller Coaster VR<br/><a href="https://itunes.apple.com/us/app/roller-coaster-vr/id935697665?mt=8">iOS</a> | <a href="https://play.google.com/store/apps/details?id=com.fibrum.roallercoastervr">Android</a></li>
						<li>Titans of Space<br/><a href="https://play.google.com/store/apps/details?id=com.drashvr.titansofspacecb">Android</a></li>
					</ul>
				</div>
			</div>
    </section>

    <section class="block-large">
			<div class="intro">
				<h2>Olietanker walkthrough</h2>
				<p class="visual"><img src="http://static.q42.nl/images/vr/bigoilcompanyimage.jpg"></p>
				<p>Voor een groot oliebedrijf (die we niet mogen noemen) maakten we
					een VR ervaring waarmee je om dit grote schip vliegt en erop landt.
					Vervolgens kun je rondlopen en de controlekamer bekijken.</p>
      </div>
			<aside class="subcontent">
				<h2>Dingen die beter zouden zijn in VR</h2>
				<ul>
					<li>Een tour rond een olietanker maken</li>
					<li>Inpluggen in de Matrix</li>
					<li><a href="http://www.polygon.com/2014/3/4/5423330/oculus-rift-vr-gender-swap-girl-mirror-look">Ervaren hoe het is om een ander gender te zijn</a></li>
					<li>Leren hoe je meth kookt</li>
					<li>Opereren op iemand in een andere locatie</li>
					<li>Ga zeilen met Lieutenant Worf</li>
					<li>Gokken waar je op Aarde nou weer bent</li>
					<li>Een ritje nemen op alle achtbanen in de wereld</li>
					<li><a href="https://www.youtube.com/watch?v=-DmUA9N99X8">Portal 2 spelen</a></li>
					<li>Een robot op Mars besturen</li>
					<li>Industrieel ontwerp van een 3d-printbaar product doen</li>
					<li>John Malkovich zijn</li>
				</ul>
			</aside>
    </section>

    <section class="block-large">
			<div class="block-small">
        <div class="visual caption">
        <img src="http://static.q42.nl/images/vr/googlepartnersummit.jpg"
						 alt="">
          <p>En er werd van genoten :)</p>
        </div>
        <div class="body">
          <h2>Google StreetView Game</h2>
					<p>Jaren voor we SuperStreetViewer42 voor de cardboard VR viewer
						bouwden, gebruikten we dit concept voor een Oculus Rift stand voor
						de Google Partner Summit in San Francisco. Spelers konden de
						locatie raden door één van twee grote arcadebuttons waar hun
						handen op lagen in te rammen, corresponderend met grote teksten
						in de virtuele lucht.</p>
        </div>
      </div>

			<div class="block-small">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/vr/methcooksim2.jpg">
          <p>Slijp die pillen!</p>
        </div>
        <div class="body">
          <h2>Meth Cook Simulator</h2>
					<p>Volgens het voorbeeld van <a href="http://www.surgeonsim.com/">Surgeon Simulator 2013</a>,
						introduceren we Meth Cook Simulator 2013! Sinds Breaking Bad is afgelopen
						moesten we tijdens <a href="/w00tcamp">w00tcamp</a> dat jaar het gat maar vullen.</p>
        </div>
      </div>

			<div class="block-small">
				<div class="visual caption">
					<img src="http://static.q42.nl/images/vr/taco.jpg" alt="An oculus rift with webcams mounted on front of it."/>
        	<p>Veel cooler dan dit word je niet!</p>
				</div>
				<div class="body">
					<h2>Oculus Unrift</h2>
					<p>De Oculus Unrift helpt je om de echte wereld te zien met twee camera's.
						Dichter bij Iron Man zijn kom je niet! En de bonus?
						Je kunt dingen in ware AR stijl over je scherm heen leggen!
						Gebouwd tijdens <a href="/w00tcamp">w00tcamp</a> 2013.</p>
					<p><a href="https://www.youtube.com/watch?v=5hriNoi9fso">Bekijk het in actie!</a></p>
				</div>
			</div>
    </section>
   </div>
</template>

<template name="vraad">
	<div class="container">

    <header class="block-text">
      <h1>VR</h1>
    </header>

    <section class="block-large solid">
      <div class="intro">
        <div class="visual caption">
          <img src="http://static.q42.nl/images/vr/methcooksim.jpg"
               alt=""/>
          <p>Meth Cook Simulator 2013, een w00tcamp 2013 inzending</p>
        </div>

				<p>"Het laatste platform", volgens Michael Abrash.
					We volgen VR al van dichtbij sinds de Palmer Luckey/John Carmack demo's
					uit 2012 bij E3. Toen het evolueerde tot de Oculus Rift werd het
					preorderen van de headset een no-brainer. En zodra de eerste DK1
					arriveerde en we'm opzetten, waren we verkocht!</p>

				<p>Sinds die tijd hebben we een aantal projecten en demo's gedaan waarvan
					je hieronder wat voorbeelden ziet.</p>

        <p>Interesse in met ons een VR project doen? Neem contact op met
					<a href="mailto:benjamin@q42.com">Benjamin</a> of
					<a href="mailto:sales@q42.nl">ons team</a>.</p>
      </div>
			<aside class="subcontent">
				<h2>Dingen die beter zouden zijn in VR</h2>
				<ul>
					<li>Een tour rond een olietanker maken</li>
					<li>Inpluggen in de Matrix</li>
					<li><a href="http://www.polygon.com/2014/3/4/5423330/oculus-rift-vr-gender-swap-girl-mirror-look">Ervaren hoe het is om een ander gender te zijn</a></li>
					<li>Leren hoe je meth kookt</li>
					<li>Opereren op iemand in een andere locatie</li>
					<li>Ga zeilen met Lieutenant Worf</li>
					<li>Gokken waar je op Aarde nou weer bent</li>
					<li>Een ritje nemen op alle achtbanen in de wereld</li>
					<li><a href="https://www.youtube.com/watch?v=-DmUA9N99X8">Portal 2 spelen</a></li>
					<li>Een robot op Mars besturen</li>
					<li>Industrieel ontwerp van een 3d-printbaar product doen</li>
					<li>John Malkovich zijn</li>
				</ul>
			</aside>
    </section>

    <section class="block-large">
			<div class="block-small">
				<div class="visual caption">
					<img src="http://static.q42.nl/images/vr/bigoilcompanyimage.jpg">
					<p>De piloot praat zelfs tegen je :)</p>
				</div>
				<div class="body">
					<h2>Olietanker walkthrough</h2>
					<p>Voor een groot oliebedrijf (die we niet mogen noemen) maakten we
						een VR ervaring waarmee je om dit grote schip vliegt en erop landt.
						Vervolgens kun je rondlopen en de controlekamer bekijken.</p>
				</div>
			</div>
    </section>

    <div class="block-full">
      <p><a href="/projecten">Meer VR &amp; ander werk</a></p>
    </div>

   </div>
</template>
