<template name="vr">
	<div class="container">

    <header class="block-text">
      <h1>VR bij Q42</h1>
    </header>

    <div class="block-large">
			<div class="body">
				<h2>Oculus Unrift</h2>
				<p>De Oculus Unrift helpt je om de echte wereld te zien met twee camera's.
					Dichter bij Iron Man zijn kom je niet! En de bonus?
					Je kunt dingen in ware AR stijl over je scherm heen leggen!
					Gebouwd tijdens <a href="/w00tcamp">w00tcamp</a> 2013.</p>
				<p><a href="https://www.youtube.com/watch?v=5hriNoi9fso">Bekijk het in actie!</a></p>
			</div>
      <div class="visual caption">
        <img data-src="http://static.q42.nl/images/vr/taco.jpg">
        <p>Veel cooler dan dit word je niet!</p>
      </div>
    </div>

    <section class="block-large solid">
      <div class="intro">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/vr/methcooksim.jpg"
               alt=""/>
          <p>Meth Cook Simulator 2013, een w00tcamp 2013 inzending</p>
        </div>

				<p>"Het laatste platform", volgens Michael Abrash.
					We volgen VR al van dichtbij sinds de Palmer Luckey/John Carmack demo's
					uit 2012 bij E3. Toen het evolueerde tot de Oculus Rift werd het
					preorderen van de headset een no-brainer. En zodra de eerste DK1
					arriveerde en we'm opzetten, waren we verkocht!</p>

				<p>Sinds die tijd hebben we een aantal projecten en demo's gedaan waarvan
					je hieronder wat voorbeelden ziet.</p>

        <p>Interesse in met ons een VR project doen? Neem contact op met
					<a href="mailto:benjamin@q42.com">Benjamin</a> of
					<a href="mailto:sales@q42.nl">ons team</a>.</p>
      </div>
			<aside class="subcontent">
				<h2>Dingen die beter zouden zijn in VR</h2>
				<ul>
					<li>Een tour rond een olietanker maken</li>
					<li>Inpluggen in de Matrix</li>
					<li><a href="http://www.polygon.com/2014/3/4/5423330/oculus-rift-vr-gender-swap-girl-mirror-look">Ervaren hoe het is om een ander gender te zijn</a></li>
					<li>Leren hoe je meth kookt</li>
					<li>Opereren op iemand in een andere locatie</li>
					<li>Ga zeilen met Lieutenant Worf</li>
					<li>Gokken waar je op Aarde nou weer bent</li>
					<li>Een ritje nemen op alle achtbanen in de wereld</li>
					<li><a href="https://www.youtube.com/watch?v=-DmUA9N99X8">Portal 2 spelen</a></li>
					<li>Een robot op Mars besturen</li>
					<li>Industrieel ontwerp van een 3d-printbaar product doen</li>
					<li>John Malkovich zijn</li>
				</ul>
			</aside>
    </section>

    <section class="block-large">
      <div class="block-small">
        <div class="visual caption">
        <img data-src="http://static.q42.nl/images/vr/googlepartnersummit.jpg"
						 alt="">
          <p>En er werd van genoten :)</p>
        </div>
        <div class="body">
          <h2>Google StreetView Game</h2>
					<p>Word overal ter wereld geteleporteerd terwijl je moet gokken waar je bent!
						Dat doe je door één van twee grote arcadebuttons waar je handen op liggen
						in te rammen die horen bij grote teksten die in de lucht hangen.
						Heb je het goed, dan blijf je spelen en krijg je een ster.
						Niet? Dan punt eraf. Je krijgt drie pogingen :)</p>
        </div>
      </div>

      <div class="block-small">
        <div class="visual caption">
          <img data-src="http://static.q42.nl/images/vr/methcooksim2.jpg">
          <p>Slijp die pillen!</p>
        </div>
        <div class="body">
          <h2>Meth Cook Simulator</h2>
					<p>Volgens het voorbeeld van <a href="http://www.surgeonsim.com/">Surgeon Simulator 2013</a>,
						introduceren we Meth Cook Simulator 2013! Sinds Breaking Bad is afgelopen
						moesten we tijdens <a href="/w00tcamp">w00tcamp</a> dat jaar het gat maar vullen.</p>
        </div>
      </div>

			<div class="block-small">
				<div class="visual caption">
					<img data-src="http://static.q42.nl/images/vr/bigoilcompanyimage.jpg">
					<p>De piloot praat zelfs tegen je :)</p>
				</div>
				<div class="body">
					<h2>Olietanker walkthrough</h2>
					<p>Voor een groot oliebedrijf (die we niet mogen noemen) maakten we
						een VR ervaring waarmee je om dit grote schip vliegt en erop landt.
						Vervolgens kun je rondlopen en de controlekamer bekijken.</p>
				</div>
			</div>
    </section>

    <div class="block-full">
      <p><a href="/projecten">Meer VR &amp; ander werk</a></p>
    </div>

   </div>
</template>
