<template name="werk">
  <div class="container light-background">

    <section>
      <div class="block-text page-title">
        <h1>Mooi spul</h1>
      </div>
    </section>

    <section>
      <div class="block-text">
        <p class="descriptor">Wij houden erg van samen mooie internetdingen maken. Omdat we van internetdingen houden, of het nou webapplicaties of mobiele apps zijn. Omdat we graag uitgedaagd worden en de grenzen opzoeken van wat technisch mogelijk is.</p>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="portfolio-thumb"><a href="/work/klm-for-apple-watch">
          <img src="http://static.q42.nl/images/github.png" alt="" class="block-small-image"/>
          <h2>Philips Hue backend</h2>
          <p class="descriptor">Hoe krijg je die fucking lampen fatsoenlijk stabiel connected?</p>
          <div class="tech-icons"><img src="/images/ico-meteor.png"><img src="/images/ico-appengine.png"><img src="/images/ico-html5.png"><img src="/images/ico-asp.png"></div>
          </a>
        </div>
        <div class="portfolio-thumb"><a href="/work/klm-for-apple-watch">
          <img src="http://static.q42.nl/images/github.png" alt="" class="block-small-image"/>
          <h2>Philips Hue backend</h2>
          <p class="descriptor">Hoe krijg je die fucking lampen fatsoenlijk stabiel connected?</p>
          </a>
        </div>
        <div class="portfolio-thumb"><a href="/work/klm-for-apple-watch">
          <img src="http://static.q42.nl/images/github.png" alt="" class="block-small-image"/>
          <h2>Philips Hue backend</h2>
          <p class="descriptor">Hoe krijg je die fucking lampen fatsoenlijk stabiel connected?</p>
          </a>
        </div>
      </div>
    </section>
    <section>
      <div class="block-large">
        <div class="portfolio-thumb"><a href="/work/klm-for-apple-watch">
          <img src="http://static.q42.nl/images/github.png" alt="" class="block-small-image"/>
          <h2>Philips Hue backend</h2>
          <p class="descriptor">Hoe krijg je die fucking lampen fatsoenlijk stabiel connected?</p>
          </a>
        </div>
        <div class="portfolio-thumb"><a href="/work/klm-for-apple-watch">
          <img src="http://static.q42.nl/images/github.png" alt="" class="block-small-image"/>
          <h2>Philips Hue backend</h2>
          <p class="descriptor">Hoe krijg je die fucking lampen fatsoenlijk stabiel connected?</p>
          </a>
        </div>
        <div class="portfolio-thumb"><a href="/work/klm-for-apple-watch">
          <img src="http://static.q42.nl/images/github.png" alt="" class="block-small-image"/>
          <h2>Philips Hue backend</h2>
          <p class="descriptor">Hoe krijg je die fucking lampen fatsoenlijk stabiel connected?</p>
          </a>
        </div>
    </div>
    </section>

    <section>
      <div class="block-text">
        <h2>Ja maar, ik wil ook zo'n vet project</h2>
        <p class="descriptor">Dat snappen we. Bel of mail Stef op 06 12 34 56 78 of <a href="stef@q42.nl">stef@q42.nl</a></p>

      </div>
    </section>

  </div>
</template>
