<template name="workDetail">
<style>
  body { background-color: {{portfolioItemBgColor}} };
</style>
  <div class="container" style="background-color: {{portfolioItemBgColor}}">
    <header class="block-text portfolio-hero">
      <p class="clientName">{{work.clientName}}</p>
      <h1>{{work.name}}</h1>
      <p class="slogan">{{work.slogan}}</p>
    </header>
  </div>

  <div class="container portfolio-container">
    <div class="portfolio-content-container tldr">
      <div class="tldr-image"><img src="{{work.image.url}}"></div>
      <div class="tldr-textbox">
        <div class="tldr-text">{{{work.intro}}}</div>
      </div>
    </div>
  </div>

  <div class="container portfolio-container">
    <div class="portfolio-content-container chapter">
      <h2>hier komt de verdieping</h2>
      {{#with work.properties}}
      <p>{{prettifyDate date}}</p>
      <p>{{#each t in tags}}<a href="/work?tag={{t}}">{{t}}</a>, {{/each}}</p>
      {{/with}}
    </div>
  </div>

  <div class="container portfolio-container alternate-container">
    <div class="portfolio-content-container team">
      <h2>Meet the team</h2>
      {{#with work.properties}}
      <p>{{#each qer in this.qers}}<img src="{{assetsUrl}}/images/employees/{{qer}}.jpg" alt="">, {{/each}}</p>
      {{/with}}
    </div>
  </div>

    {{#each t in work.things}}

      {{#block size=t.size align=t.align}}
        {{> thing id=t.thingId}}
      {{/block}}

    {{/each}}

</template>
