<template name="work">
  <div class="container">

    <!-- {{#if langEn}}
      {{> thing id='work-intro-en'}}
    {{else}}
      {{> thing id='work-intro-nl'}}
    {{/if}} -->

    <div class="block-text block-top">
      <h1>Mooi Spul</h1>
      <p class="descriptor">Check hieronder een greep uit de toffe klussen die we doen. Insert toffe christekst</p>
    </div>

    <div class="block-large">
      {{> workTagBlock}}
    </div>

    {{#each work in allWork}}
      <div class="block-large">
      {{> portfolioItem work=work}}
      </div>
    {{else}}
      <div class="block-text">
        <p class="descriptor">No work found for that tag :(</p>
      </div>
    {{/each}}

  </div>
</template>
