<nav class="dynamic">
  <div class="pos">
    <ul>
      <li><a href="/projecten">Projecten</a></li>
      <li><a href="/producten">Producten</a></li>
    </ul>
    <a href="/" class="logo">
      <img src="/Static/Images/q42-logo2.png" />
    </a>
    <ul>
      <li><a href="http://blog.q42.nl">Blog</a></li>
      <li><a href="/over-q42">Over Q42</a></li>
    </ul>
  </div>
</nav>