<template name="en_footer">
  <footer>
    <div id="footer">
      <section>
        <section class="block-large">
          <article class="vcard block-small">
            <h2>Contact</h2>
            {{#unless isPhantom}}
              <video type="framebase" data-video="91f192d4-4b89-4c85-bfd9-680f9f5ff415"></video>
            {{/unless}}
            <p>Whether you're a client or want to become one, looking for an awesome job or just want to get to know us, drop by! We're in The Hague and Amsterdam.</p>
            <p class="fn hidden">Q42</p>
            <p>
              <a class="email" href="mailto:hello@q42.com">hello@q42.com</a>
            </p>
            <p class="adr" style="1 px solid red">
              <span class="street-address"><a href="http://maps.google.nl/maps?hl=nl&q=Q42,+Den+Haag">Waldorpstraat 17F</a></span>
              <span class="postal-code">2521CA <span class="locality">The Hague</span></span>
              <span>Phone: <span class="tel">070-4452342</span></span>
            </p>
            <p class="adr" style="1 px solid red">
              <span class="street-address"><a href="https://maps.google.nl/maps?hl=nl&q=vijzelstraat72+amsterdam" >Vijzelstraat 72</a>, unit 4.23</span>
              <span class="postal-code">1017HG <span class="locality">Amsterdam</span></span>
            </p>
            <p><span class="note kvk">KvK 30164662 in The Hague</span></p>
          </article>

          <article class="block-small">
            <h2>Social networking</h2>
            <div id="fb-root"></div>
            <div class="fb-like-box" data-href="http://www.facebook.com/q42bv" data-width="300" data-height="160" data-colorscheme="dark" data-show-faces="true" data-border-color="#444" data-stream="false" data-header="false"></div>
            <ul class="iconList">
              <li class="twitter-icon listIcon"><img src="/images/icon-twitter-grey.png" width="30" /><div><a href="https://twitter.com/q42" class="external">Q42 on Twitter</a></div></li>
              <li class="linkedin-icon listIcon"><img src="/images/icon-linkedin-grey.png" width="30" /><div><a href="http://www.linkedin.com/company/q42" class="external">Q42 on LinkedIn</a></div></li>
              <li class="vimeo-icon listIcon"><img src="/images/icon-vimeo-grey.png" width="30" /><div><a href="http://vimeo.com/q42" class="external">Q42 on Vimeo</a></div></li>
              <li class="youtube-icon listIcon"><img src="/images/icon-youtube-grey.png" width="30" /><div><a href="http://www.youtube.com/user/Q42TV" class="external">Q42 on YouTube</a></div></li>
              <li class="github-icon listIcon"><img src="/images/icon-github-grey.png" width="30" /><div><a href="http://github.com/q42" class="external">Q42 on Github</a></div></li>
            </ul>
          </article>

          <article class="block-small">
            <h2>But who are Q42?</h2>
            <a class="visual caption">
              <img src="/images/lukasschietend.jpg" alt=""/>
              <p>Who wants to know?!</p>
            </a>
            <p>Some people call us 'a tech-savvy internet agency'. Others just call us nerds. We call ourselves nerds too, to be honest. We just happen to really love good programming.</p>
            <p>But that's not the whole story. Computers are only interesting when they involve people. So even more than programming, we love programming web apps to not just be useful, but also friendly.</p>
          </article>
        </section>
      </section>
      <div id="endtag">&lt;/body&gt;</div>
    </div>
  </footer>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2714808-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</template>