<template name="error404">
  <section>
  <section>
    <header class="block-text">
      <h1>Don't <b>panic!</b></h1>
    </header>

    <article id="theBeginning">
      <article class="block-large">
        <div class="bigText">
          <h2>But I stiiiiiill haven't foooouuuund, what I'm lookin foooooor...</h2>
          <p>Daar schiet jij natuurlijk niets mee op. Maar je hebt nu wel lekker de rest van de dag U2 in je hoofd. Geniet ervan!</p>

          <p>Of misschien vind je hier wat je zoekt: <a href="/blog/tagged{{url}}">/blog/tagged{{url}}</a></p>
        </div>
      </article>
    </article>
  </section>
  </section>
</template>