<template name="chat">
  <div id="chat">
    <div class="title"><h1>Je berichten worden naar onze <a href="http://slack.com">Slack</a> channel gestuurd!</h1></div>
    <div class="flex-stretch">
      <ul>
      {{#each message}}
        <li><span class="user">{{user}}:</span> {{msg}}</li>
      {{/each}}
      </ul>
    </div>
    <div class="flex-end">
      {{#if currentUser}}
        <p><input type="text"><button>Versturen</button></p>
      {{else}}
      <p>Log in om te chatten:</p>
        {{> loginButtons}}
      {{/if}}
    </div>
  </div>
</template>