<template name="footer">
  <footer>
    <div id="footer">

      <section>

        <div class="block-large">
          <div class="vcard block-small">
            <h2>Contact</h2>
            {{#unless isPhantom}}
            <iframe src="http://player.vimeo.com/video/47226129" height="160" frameborder="0"></iframe>
            {{/unless}}
            <p>Of je nu klant bent of wilt worden, een toffe baan zoekt of zomaar eens kennis wilt maken, kom langs! We zitten in Den Haag en Amsterdam.</p>
            <p class="fn hidden">Q42</p>
            <p>
              <a class="email" href="mailto:info@q42.nl">info@q42.nl</a>
            </p>
            <p class="adr" style="1 px solid red">
              <span class="street-address"><a href="http://maps.google.nl/maps?hl=nl&q=Q42,+Den+Haag" >Waldorpstraat 17F</a></span>
              <span class="postal-code">2521CA <span class="locality">Den Haag</span></span>
              <span>Telefoon: <span class="tel">070-4452342</span></span>
            </p>
            <p class="adr" style="1 px solid red">
              <span class="street-address"><a href="https://maps.google.nl/maps?hl=nl&q=Oosterlijke+Handelskade+749,1019+Zeeburg,Amsterdam" >Oostelijke Handelskade 749</a></span>
              <span class="postal-code">1019BW <span class="locality">Amsterdam</span></span>
            </p>
            <p><span class="note kvk">KvK 30164662 te Den Haag</span></p>
          </div>

          <div class="block-small">
            <h2>Maar wie zijn Q42?</h2>
            <a class="visual caption">
              <img src="http://static.q42.nl/images/lukasschietend.jpg" alt=""/>
              <p>Who wants to know?!</p>
            </a>
            <p>'Een technisch innovatief internetbureau', zeggen sommigen. 'Nerds', zeggen anderen. Wij zelf bijvoorbeeld, als we eerlijk zijn. We houden namelijk heel erg van goed programmeren.</p>
            <p>Maar dat is niet het hele verhaal. Computers zijn pas interessant met mensen erbij. We vinden het daarom nog leuker om zo te programmeren dat een webapplicatie niet alleen nuttig, maar ook vriendelijk is.</p>
            <p><a href="/over-q42">Meer over Q42</a></p>
          </div>

          <div class="block-small">
            <h2>Sociaal netwerken</h2>
            <div class="fb-like-box" data-href="http://www.facebook.com/q42bv" data-width="300" data-height="400" data-show-faces="true" data-header="false" data-border-color="#444" data-show-border="false"></div>
            <ul class="iconList no-text">
              <li><a href="https://twitter.com/q42"><i class="fa fa-twitter fa-2x"></i><div>Q42 op Twitter</div></a></li>
              <li><a href="http://google.com/+Q42DenHaag"><i class="fa fa-google-plus fa-2x"></i><div>Q42 op Google+</div></a></li>
              <li><a href="http://github.com/q42"><i class="fa fa-github fa-2x"></i><div>Q42 op Github</div></a></li>
              <li><a href="http://www.linkedin.com/company/q42"><i class="fa fa-linkedin fa-2x"></i><div>Q42 op LinkedIn</div></a></li>
              <li><a href="http://www.youtube.com/user/Q42TV"><i class="fa fa-youtube fa-2x"></i><div>Q42 op YouTube</div></a></li>
              <li><a href="http://vimeo.com/q42"><i class="fa fa-vimeo-square fa-2x"></i><div>Q42 op Vimeo</div></a></li>
            </ul>
          </div>
        </div>

      </section>

      <div id="endtag">&lt;/body&gt;</div>

    </div>
  </footer>
</template>