<template name="footer">
  <footer>
    <div id="footer">
      <div class="block-large">

        <div class="vcard block-small">
          <h2>Contact</h2>
          <div class="visual caption">
            <img src="http://static.q42.nl/images/q42hq.jpg" alt="">
          </div>
          <div class="body">

            <p>Bel ons op <strong class="tel">070-4452342</strong> of
              <a class="email" href="mailto:info@q42.nl">stuur een mailtje</a>!
              We zitten in:</p>

            <ul>
              <li>
                <h3><span class="locality"><a href="https://www.google.com/maps/place/Q42/@52.069291,4.323498,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5b6e1dbe89f37:0x69602b11196a7df8" target="_new">Den Haag</a></span></h3>
                <address class="vcard body footer">
                  <p class="adr">
                    <span class="fn">Q070</span>
                    <span class="street-address">Waldorpstraat 17F</span>,
                    <span class="postal-code">2521CA</span>
                  </p>
                </address>
              </li>
              <li>
                <h3><span class="locality"><a href="https://www.google.com/maps/place/Q42/@52.375273,4.930484,17z/data=!3m1!4b1!4m2!3m1!1s0x47c6090f52229d1d:0x899366c2c023ec28" target="_new">Amsterdam</a></span></h3>
                <address class="vcard body footer">
                  <p class="adr">
                    <span class="fn">Q020</span>
                    <span class="street-address">Oostelijke Handelskade 749</span>,
                    <span class="postal-code">1019BW</span>
                  </p>
                </address>
              </li>
              <li>
                <h3><span class="locality"><a href="https://www.google.com/maps/place/Q42/@37.409115,-122.075142,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb75032dd31db:0x10044425cf6e9f60" target="_new">Mountain View</a></span></h3>
                <address class="vcard body footer">
                  <p class="adr">
                    <span class="fn">QSA</span>
                    <span class="street-address">1045A Linda Vista Ave</span>,
                    <span class="postal-code">94043</span>, USA
                  </p>
                </address>
              </li>
            </ul>
          </div>
        </div>

        <div class="block-small">
          <h2>Maar wie zijn Q42?</h2>
          <div class="visual caption">
            <img src="http://static.q42.nl/images/kristin-jaap.jpg" alt="">
          </div>
          <div class="body">
            <p>'Een technisch innovatief internetbureau', zeggen sommigen. <a href="/over-q42">'Nerds'</a>, zeggen anderen. Wij zelf bijvoorbeeld, als we eerlijk zijn. We houden namelijk heel erg van goed programmeren.</p>
            <p>Maar dat is niet het hele verhaal. Computers zijn pas interessant met mensen erbij. We vinden het daarom nog leuker om zo te programmeren dat een webapplicatie niet alleen nuttig, maar ook vriendelijk is.</p>
          </div>
        </div>

        <div class="block-small">
          <h2>Ja maar ik verveel me</h2>

          <div class="visual caption">
            <img src="http://static.q42.nl/images/0hh1.png" alt="">
          </div>
          <div class="body">
            <p>
              Speel dan <a href="http://0hh1.com">0h h1</a> of <a href="http://0hn0.com">0h n0</a>, onze nieuwste spelletjes!
              (Ook beschikbaar op iOS, Android, Windows Phone en Chrome)
              Gegarandeerd dat je de rest van de dag niks meer productiefs doet.
            </p>
            <p>
              Of check onze andere <a href="/games">games</a>, waaronder Quento,
              Numolition en Carrrds!
            </p>
          </div>
        </div>

      </div>

      <div class="block-full intro-outro">
        <p>Vind nog meer Q42 op:</p>

        <p>
          <a href="https://twitter.com/q42"><i class="fa fa-twitter-square fa-2x"></i> Twitter</a>
          <a href="http://google.com/+Q42DenHaag"><i class="fa fa-google-plus-square fa-2x"></i> Google+</a>
          <a href="http://github.com/q42"><i class="fa fa-github-square fa-2x"></i> Github</a>
          <a href="http://www.linkedin.com/company/q42"><i class="fa fa-linkedin-square fa-2x"></i> LinkedIn</a>
          <a href="http://www.youtube.com/q42bv"><i class="fa fa-youtube-square fa-2x"></i> Youtube</a>
          <a href="http://vimeo.com/q42"><i class="fa fa-vimeo-square fa-2x"></i> Vimeo</a>
        </p>

        <p>Ajeto!</p>

        <p class="q42-logo"><a href="/">
          <object data="http://static.q42.nl/images/q42-logo-white.svg" type="image/svg+xml">
            <img src="http://static.q42.nl/images/q42-logo-white.png" alt="Q42">
          </object>
        </a></p>

        <p><span class="note kvk">KvK 30164662 te Den Haag</span></p>
      </div>
    </div>
  </footer>
</template>
