<template name="header">

  <nav>
    <div id="mobile-menu-icon">menu</div>
    <div class="q42-logo">
      <a href="/">
        <object data="http://static.q42.nl/images/q42-logo-white.svg" type="image/svg+xml">
          <img src="http://static.q42.nl/images/q42-logo-white.png" alt="Q42">
        </object>
      </a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projecten">Werk</a></li>
      <li>
        <div class="q42-logo">
          <a href="/">
            <object data="http://static.q42.nl/images/q42-logo-white.svg" type="image/svg+xml">
              <img src="http://static.q42.nl/images/q42-logo-white.png" alt="Q42">
            </object>
          </a>
        </div>
      </li>
      <li><a href="/over-q42">Over</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
    {{> buttons}}
  </nav>
</template>
