<template name="header">

  <div id="headergame">
    {{#if headerGameActive}}
      {{> headergame}}
    {{/if}}
  </div>

  <nav>
    <div id="mobile-menu-icon">menu</div>
    <div class="q42-logo">
      <a href="/">
        <object data="http://static.q42.nl/images/q42-logo-white.svg" type="image/svg+xml">
          <img src="http://static.q42.nl/images/q42-logo-white.png" alt="Q42">
        </object>
      </a>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projecten">Projecten</a></li>
      <li><a href="/producten">Producten</a></li>
      <li><a href="/over-q42">Over Q42</a></li>
      <!-- <li><a href="/vacatures">Werken bij</a></li> -->
      <li><a href="/blog">Blog</a></li>
      <li id="lang-switch">
        <a href="http://q42.com">English</a>
      </li>
      {{#if dev}}
        <li id="toggle-lang"><a href="#">Toggle</a></li>
      {{/if}}
    </ul>
  </nav>
  {{> headerlights}}
  <div id="chat-toggle"></div>
  {{> micrioButton}}
</template>
