<template name="header">
  <nav>
    <div class="pos">
      <div id="logo">
        <a href="/">
          {{#if supportsSVG}}
            <img src="http://static.q42.nl/images/q42-logo.svg" />
          {{else}}
            <img src="http://static.q42.nl/images/q42-logo.png" />
          {{/if}}
        </a>
      </div>
      <ul>
        <li><a href="/projecten">Wat</a></li>
        <li><a href="/diensten">Hoe</a></li>
        <li><a href="/over-q42">Wie</a></li>
        <li><a href="/producten">Waarom</a></li>
        <li><a href="/blog">Hallo?</a></li>
      </ul>
    </div>
  </nav>
</template>