<template name="w00tcamp">
  <div class="container">

    <header class="block-text">
      <h1><b>w00tcamp</b>, twee dagen vol passie</h1>
    </header>

    <section>
      <div class="block-large">
        <div class="intro">
          <p>Ieder jaar hebben we twee dagen lang <a href="http://w00tcamp.nl" class="external">w00tcamp</a>. In twee pitchrondes presenteren we onze ideeën aan elkaar, waarna de ideeën die het beste met de groep reageren worden gekozen en teams worden gevormd.</p>
          <p>Tijdens w00tcamp worden veel leuke dingen bedacht en gebouwd. Op deze pagina hebben we er aantal voor je tentoongesteld.
          En misschien kom je ze binnenkort nog wel eens tegen als echt spel of product!</p>
        </div>
        <aside class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
            <li><a class="external" href="http://w00tcamp2013.tumblr.com">w00tcamp 2013 blog</a></li>
            <li><a class="external" href="http://w00tcamp.tumblr.com/">w00tcamp 2012 blog</a></li>
            <li><a class="external" href="http://w00tcamp2011.tumblr.com">w00tcamp 2011 blog</a></li>
          </ul>
        </aside>
      </div>
    </section>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>w00tcamp 2014 komt eraan</h2>
          <h3>Pitches on the beach</h3>
          <p>Op 28 en 29 november vindt w00tcamp 2014 plaats. En we zijn er al behoorlijk druk mee. Want tijdens het jaarlijkse Q-uitje werd de eerste pitch-ronde gehouden op het strand. Ja, op het strand! Tussen het volleyballen en frisbeeën door en met een biertje in de hand of een sardientje van de BBQ werden de eerste ideeën al gepitcht.</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/hot_pitch.jpg" alt="" />
          <p>Hot pitch on the beach</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Filther.io</h2>
          <h3>De zoekmachine voor NSFW plaatjes waar de SFW plaatjes uitgefiltherd zijn.</h3>
          <p>Winnaar van w00tcamp 2013! Een “verbeterde” image search. Dus uitgaande van de NSFW plaatjes waar de SFW plaatjes uitgefilterd zijn. Google Search voor images, maar dan “beter”! ;D </p>
          <p>Kijken er kinderen mee op je scherm? Stuur ze dan nu maar even weg.</p>
          <p><a href="http://www.filther.io" class="external">Zijn ze weg? Ok, klik dan maar verder.</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/filther2.jpg" alt="" />
          <p>Filthy!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/oculus.jpg" alt=""/>
            <p>Not your average ordinary superhero...</p>
          </div>
          <div class="body">
            <h2>Oculus Unrift</h2>
            <h3>Zelf Terminator spelen</h3>
            <p>Wat gebeurt er als je twee camera's op een Oculus Rift vastbindt en eroverheen een HUD projecteert? Precies ja.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/overhere.jpg" alt=""/>
            <p>Huh? Waar?</p>
          </div>
          <div class="body">
            <h2>Overhere</h2>
            <h3>Eenvoudig je locatie delen!</h3>
            <p>Een webservice waarmee je super eenvoudig je locatie kan delen. Je hebt geen aparte app nodig, je kunt simpelweg een linkje delen via SMS, Whatsapp, email etc.</p>
            <p><a href="http://www.overhere.io" class="external">Waar zit je dan?</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/magic.jpg" alt=""/>
            <p>Ziet er nog eens vet uit ook...</p>
          </div>
          <div class="body">
            <h2>Magic the Gathering client</h2>
            <h3>Hopelijk wordt dit ook een Bitcoin exchange</h3>
            <p>Een online spelomgeving, een client, om tegen elkaar te Mááágiccen. Omdat al bestaande Magic-clients uhm ‘niet zo goed’ zijn...</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>Super Slide Qam!</h2>
          <h3>De webcam voor de glijbaan van het Q42-kantoor in Amsterdam.</h3>
          <p>Als je in een pretpark in een achtbaan gaat, wordt er vaak een foto van je gemaakt. Zo'n systeem wilden wij ook hebben, maar dan voor de glijbaan op ons kantoor in Amsterdam.</p><p>Zo'n systeem kost vast duizenden euro's, maar met wat hardware hebben wij het voor ongeveer 100 euro voor elkaar gekregen.</p>
          <p><a href="http://www.superslideqam.nl" class="external">Check de website.</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/superslidecam.jpg" alt="" />
          <p>Yieeehaaaa!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/methcook.jpg" alt=""/>
            <p>Hallo?</p>
          </div>
          <div class="body">
            <h2>Meth Cook Simulator</h2>
            <h3>Maak de puurste Crystal Meth zonder het lab op te blazen</h3>
            <p>OK, je hebt een Oculus Rift en twee dagen om te maken wat je maar wil. Wat ga je dan maken? Een Meth Cook Simulator zoals in Breaking Bad, natuurlijk! Met behulp van de Razer Hydra om je handen ook in het spel te kunnen laten terugkomen.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/pamela.jpg" alt=""/>
            <p>PAMela regelt het voor je...</p>
          </div>
          <div class="body">
            <h2>PAMela</h2>
            <h3>De presence awareness machine die weet waar je bent en jou verwent met allerlei extra’s</h3>
            <p>Als ze weet dat je binnen bent zet ze jouw favoriete muziek in de playlist op de Sonos en zet ze de lampen aan in de kleuren die jij mooi vindt.</p>
            <p><a href="https://pamela.q42.net" class="external">Check de website!</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/asshole.jpg" alt=""/>
            <p>Up... And down...</p>
          </div>
          <div class="body">
            <h2>A.S.S.H.O.L.E.</h2>
            <h3>Camper. iPhone. Bluetooth. Arduino. Pneumatische shizzle.</h3>
            <p>Een app die je camper kan levelen. Leg je iPhone op de vloer van je camper en met een druk op de knop wordt je camper waterpas gezet. Dat kan op een gentle manier (lekker smoooooth), maar ook op de YOLO manier (the bumpy way).</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Huelands Spoor</h2>
          <h3>Vanaf Den Haag HS met de lampen van Q spelen</h3>
          <p>Winnaar van w00tcamp 2012! Philips Hue lampen die door ons hele pand hangen zijn bestuurbaar via een web interface of door een telefoonnummer te bellen. Probeer het zelf maar: 085 888 1942.</p>
          <p><a href="http://huelandsspoor.nl" class="external">Zet je de lichten naar je favoriete kleur?</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/huelandsspoor.jpg" alt="" />
          <p>Disqo-time!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/cookview.jpg" alt=""/>
            <p>Rob that recipe, yarrr!</p>
          </div>
          <div class="body">
            <h2>Recipe Pirate</h2>
            <h3>Rob that recipe, yarrr!</h3>
            <p>Jat een recept van een willekeurig receptensite en tover het om naar een leesbare, scanbare versie die je tijdens het koken kunt gebruiken.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/tixi.jpg" alt=""/>
            <p>Open de poorten met de juiste getallen</p>
          </div>
          <div class="body">
            <h2>Tixi</h2>
            <h3>Word een meestrixi van getallixi met Tixi!</h3>
            <p>Leer op een leuke manier rekenen met deze web-based game waarin je als tovenaar muntdiertjes ("tixi's") verzamelt om puzzels op te lossen.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/skyroads.jpg" alt=""/>
            <p>Groene tegels boosten, rode ontploffen</p>
          </div>
          <div class="body">
            <h2>Skyroads</h2>
            <h3>Net zo verslavend als toen je 10 jaar oud was</h3>
            <p>Web-based remake van de original waarin je in een simpele 3d omgeving racet over kubussen die in de ruimte hangen. Met level editor!</p>
            <p><a href="http://skyroads.azurewebsites.net/" class="external">Nou okay, een leveltje dan!</a></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large right">
        <div class="body">
          <h2>Castle of Madness!</h2>
          <h3>Wil heel graag voor de Wii U worden gemaakt</h3>
          <p>Vier spelers banen zich een weg door een dungeon en één speler werkt ze tegen door de kasteel zelf te zijn en monsters, vallen, en magische effecten op de groep los te laten. Klinkt leuk, toch?</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/castle-of-madness.jpg" alt="" />
          <p>Ik pak z'n linker drie ogen, jij z'n rechter drie!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/straightshot.jpg" alt=""/>
            <p>Waar is Christiaan mee bezig?</p>
          </div>
          <div class="body">
            <h2>Straightshot</h2>
            <h3>Superfast screenshot sharing</h3>
            <p>Makkelijk laten zien waar je aan werkt aan je collega's is niet zo makkelijk. Straightshot maakt het simpel door je ieder half uur te vragen een veeg over je beeldscherm te maken.</p>
            <p><a href="http://straightshot.meteor.com/" class="external">Installeer de app op je mac</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/touchtable.jpg" alt=""/>
            <p>Benodigd: beamer, tafel zaag, ...</p>
          </div>
          <div class="body">
            <h2>w00table</h2>
            <h3>Home-made Microsoft Surface kloon</h3>
            <p>Die originele Surface was helemaal niet zo indrukwekkend. Hadden we ook zelf kunnen bouwen met wat Ikea spullen, een beamer, een EyeToy, een PC en een spiegel!</p>
            <p><a href="https://vimeo.com/54355508" class="external">Zie de w00table in actie (Vimeo)</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/Fuq42.jpg" alt=""/>
            <p>Try to cheat death!</p>
          </div>
          <div class="body">
            <h2>FUQ42</h2>
            <h3>Een w00tcamp project zonder Q'ers!</h3>
            <p>Het doel: een spel maken zonder te programmeren. Want programmeren is overrated. Het resultaat: euhh... dat laten we aan jou over.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Tyrian</h2>
          <h3>Voor Windows Phone!</h3>
          <p>Hoever kom je als je twee Q'ers twee dagen lang aan een retro top-down shooter op Windows Phone laat werken in C#? Nou, zo ver dus.</p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/tyrian.jpg" alt="" />
          <p>ikwillum ikwillum ikwillum!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/zien.jpg" alt=""/>
            <p>Wat als je deuteranomalie hebt?</p>
          </div>
          <div class="body">
            <h2>Zien</h2>
            <h3>Inzicht in hoe mensen met visuele beperkingen zien</h3>
            <p>Heb je je ooit afgevraagd hoe de wereld eruit ziet voor iemand met staar? Of iemand die kleurenblind is? Met Zien kom je daarachter!</p>
            <p><a href="https://itunes.apple.com/nl/app/bartimeus-zien-app/id485627958?mt=8" class="external">Installeer de Zien iPhone app</a></p>
            <p><a href="https://chrome.google.com/webstore/detail/see/dkihcccbkkakkbpikjmpnbamkgbjfdcn" class="external">Of installeer de Chrome extensie</a></p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/carrrds.jpg" alt=""/>
            <p>Off to win l00t!</p>
          </div>
          <div class="body">
            <h2>Carrrds</h2>
            <h3>Het kaartspel van Q42 Games, maar dan digitaal</h3>
            <p><a href="http://q42games.com/post/31456832291/designing-a-pirate-themed-card-game" class="external">Een kaartspel voor kinderen</a> over piraten, schatkaarten en muiterij! Kan niet misgaan.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/histree.jpg" alt=""/>
            <p>Waar was ik ookalweer?</p>
          </div>
          <div class="body">
            <h2>Histree</h2>
            <h3>Gestructureerd navigeren door je browser history</h3>
            <p>Je browser history zou beter kunnen. Wat als je klikpaden zou hebben op basis van wanneer je bijv. een nieuw tab opent? Histree doet dat in de vorm van een Google Chrome extensie.</p>
            <p><a href="https://chrome.google.com/webstore/detail/histree/lngppkkhjifheiegfeloipgaeomjfgbf" class="external">Installeer de chrome extensie</a></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="body">
          <h2>Camperrr</h2>
          <h3>Diapresentaties 2.0</h3>
          <p>Terug van vakantie en je wilt enthousiast vertellen over al die mooie foto's die je gemaakt hebt, maar je kunt je niet herinneren wáár je ze nou gemaakt had.</p>
          <p>Argh! Met Camperrr heb je dat probleem nooit meer, want nu kun je je route vastleggen op een kaart en bij iedere locatie foto's uploaden. En dan de presentatie geven. Probleem opgelost!</p>
          <p><a href="http://www.camperrr.com" class="external">http://www.camperrr.com</a></p>
        </div>
        <div class="visual caption">
          <img src="http://static.q42.nl/images/w00tcamp/camper.jpg" alt="" />
          <p>Kijk mam, daar was ik!</p>
        </div>
      </div>
    </section>

    <section>
      <div class="block-large">
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/tinytravel.jpg" alt=""/>
            <p>Hoe wil jij je vakantie zoeken?</p>
          </div>
          <div class="body">
            <h2>Tiny Travel</h2>
            <h3>Vakantiewebsites opnieuw uitgedacht</h3>
            <p>Vakantiewebsites zijn in het algemeen nogal achterhaald, dus dan is er natuurlijk alle ruimte om er opnieuw mee aan de slag te gaan. Tiny Travel is een concept van hoe dat dan zou kunnen.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/w00tcamp/gipf.jpg" alt=""/>
            <p>Schaak mat! Uhhh verkeerde spel...</p>
          </div>
          <div class="body">
            <h2>Gipf</h2>
            <h3>Een abstract strategisch bordspel</h3>
            <p>Iedere zichzelf-respecterende nerd zit bij eerste introductie aan Gipf natuurlijk meteen te denken aan de benodigde datastructuur en algoritmiek. En dan krijg je dit.</p>
          </div>
        </div>
        <div class="block-small">
          <div class="visual caption">
            <img src="http://static.q42.nl/images/soundmatch.png" alt=""/>
            <p>Hey DJ, turn it up!</p>
          </div>
          <div class="body">
            <h2>Soundmatch Spotify app</h2>
            <h3>Je Last.fm recommendations als playlist! Alweer!</h3>
            <p>Winnaar van w00tcamp 2009, Soundmatch, is terug voor de volgende ronde. Nu als Spotify app. En ja hoor, het is ze weer gelukt om er iets vets van te maken! Coming soon to a Spotify near you.</p>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>
