
#micrio
  position absolute
  height 100vh
  width 100%
  background #333
  // opacity .5
  overflow hidden
  top 0
  left 0
  transition opacity .2s ease

  &.hidden
    opacity 0

  & > .micrio
    position absolute
    top 0
    left 0
    transition opacity 4s ease-in-out
    opacity 0
    &.shown
      opacity .5

#micrio-button
  background url(http://static.q42.nl/images/micrio.png) no-repeat
  background-size 32px
