bodyFontFallback = "Helvetica Neue", Helvetica, Arial, sans-serif
bodyFont = RobotoDraft, bodyFontFallback
titleFont = bodyFont
serifTitleFontFallback = Georgia, Times, serif
serifTitleFont = "Arbutus Slab", RobotoDraft, Lato, serifTitleFontFallback
cursiveTitleFont = Satisfy, titleFont

colorGreen = #80BD42

displayFlex()
	display -webkit-flex
	display -ms-flex
	display flex

justifyContent()
	-webkit-justify-content arguments
	-ms-justify-content arguments
	justify-content arguments

doFlex()
	-webkit-flex arguments
	-ms-flex arguments
	flex arguments

alignItems()
	-webkit-align-items arguments
	-ms-align-items arguments
	align-items arguments

flexFlow()
	-webkit-flex-flow arguments
	-ms-flex-flow arguments
	flex-flow arguments

order()
	-webkit-order arguments
	-ms-order arguments
	order arguments

flexDirection()
	-webkit-flex-direction arguments
	-ms-flex-direction arguments
	flex-direction arguments

flexWrap()
	-webkit-flex-wrap arguments
	-ms-flex-wrap arguments
	flex-wrap arguments

transform()
	-webkit-transform arguments
	transform arguments

transformOrigin()
	-webkit-transform-origin arguments
	transform-origin arguments

animation()
	-webkit-animation arguments
	animation arguments

transition()
	-webkit-transition arguments
	transition arguments

animationFillMode()
	-webkit-animation-fill-mode arguments
	animation-fill-mode arguments

animationDelay()
	-webkit-animation-delay arguments
	animation-delay arguments

fontSmoothing()
	-webkit-font-smoothing arguments
	-moz-font-smoothing arguments
	-ms-font-smoothing arguments
	font-smoothing arguments

filter()
	-webkit-filter arguments
	filter arguments

perspective()
	-webkit-perspective arguments
	perspective arguments

smallcaps()
	text-transform uppercase
	letter-spacing 1px
	fontSmoothing antialiased

gradient-box()
	background-image -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#0e8ff5, #64b7fb 90%)
	background-image -moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-moz-linear-gradient(108deg,#0e8ff5, #64b7fb 90%)
	background-image -ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-ms-linear-gradient(108deg,#0e8ff5, #64b7fb 90%)
	background-image radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),linear-gradient(108deg,#0e8ff5, #64b7fb 90%)
	background-color rgb(39, 127, 168)
	fontSmoothing antialiased
	text-shadow 0 1px 0 rgba(0,0,0,.3)
