bodyFontFallback = "Helvetica Neue", Helvetica, Arial, sans-serif
bodyFont = RobotoDraft, bodyFontFallback
titleFont = bodyFont
serifTitleFontFallback = Georgia, Times, serif
serifTitleFont = "Arbutus Slab", RobotoDraft, serifTitleFontFallback
monoFont = "Roboto Mono", titleFont
assetsUrl = "https://storage.googleapis.com/static.q42.nl"

qColor = #84bc2d
titleColor = #315011

smallcaps()
	text-transform uppercase
	-webkit-font-smoothing antialiased
