/* FOOTER */

#footer {
  width: 100%;
  min-height: 400px;
  padding: 40px 0;
  margin-top: 40px;
  clear: both;
  background: #222;
  color: #eee;
  -webkit-font-smoothing: antialiased;
}
#footer p {
  font-size: 14px;
}
#footer .social {
  margin: 0; padding: 0;
}
#footer .social li {
  margin: 0; padding:0;
  list-style: none;
  float:left;
}
#footer > section {
  width: 940px;
  margin: 0 auto;
}
#footer .block-small {
  border-top: none;
}
#footer a {
  color: #9ef;
  text-decoration: underline;
}
#footer h2 {
  margin: 0 0 20px 0;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}
#footer .block-large {
  border: none;
}
#footer p span {
  display: block;
}
#footer p span span {
  display: inline;
}
#footer .visual img {
  width: 100%;
  height: auto;
}
#footer .visual.caption {
  display: block;
  margin-bottom: 1em;
}

#footer .iconList {
  padding: 0;
}
#footer .iconList .listIcon {
  padding: 5px 0px 7px 0px;
}

#footer .twitter-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }
#footer .linkedin-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }
#footer .youtube-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }
#footer .vimeo-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }

#footer .block-large {
  padding: 0;
}

#facebookLikeBox {
  height: 400px;
  opacity: 0;
  overflow: hidden;
  margin: -9px -10px;
  -webkit-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  -ms-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}
#facebookLikeBox.visible { opacity: 1; }
