#footer
  padding 40px 0
  background #222
  color #eee
  -webkit-font-smoothing antialiased
  p
    font-size 14px
    span
      display block
      span
        display inline
  .social
    margin 0
    padding 0
    li
      margin 0
      padding 0
      list-style none
      float left
  & > section
    width 940px
    margin 0 auto
  .block-small
    border-top none
  a
    color #9ef
    text-decoration underline
  h2
    margin 0 0 20px 0
    color #eee
    text-transform uppercase
    letter-spacing 1px
    font-size 18px
  .block-large
    border none
    padding 0
  .visual
    img
      width 100%
      height auto
    &.caption
      margin-bottom 1em
  .iconList
    padding 0

#facebookLikeBox
  height 400px
  opacity 0
  overflow hidden
  margin -9px -10px
  transition ease-in-out .2s
  &.visible
    opacity 1

