@import "0_variables.styl"

#footer
  background #222
  color rgba(255,255,255,.9)
  fontSmoothing antialiased
  font-size .9rem
  font-weight 400

  .fn
    display none

  @media (max-width 940px)
    .visual
      width 100%

  .block-large
    margin 0 auto
    @media all and (min-width: 941px)
      width 940px
    @media all and (max-width: 940px)
      width 620px
    @media (max-width: 480px)
      width 90%
      min-width 300px

  @media all and (max-width: 620px)
    .block-small,
    .block-small .body,
    .block-small .visual
      width 460px

  a
    color #88c546
    &:hover
      border-bottom-color rgba(207, 239, 173, 0.3)

  h2, h3
    smallcaps()
    font-size 18px
    margin-top 0
  h3
    color white
    font-size 12px
    margin 0

  ul
    list-style none
    margin 0
    padding 0
  li
    margin 0 0 .3rem 0

  .note.kvk
    color rgba(255,255,255,.3)

  .q42-logo
    object, img
      width 50px
      height 70px

  .block-large
    padding 32px 0
    border-bottom solid 1px rgba(255,255,255,.3)

  .block-small
    &:not(:last-child)
      margin-right 20px
      border-right none
    & > .body
      padding 32px 0

  .block-full
    padding 2rem 0

    p
      font-size .8rem
      color rgba(255,255,255,.7)

    a
      text-decoration none
      color rgba(255,255,255,.7)
      white-space nowrap
      &:not(:last-child)
        margin 0 1rem 0 0
      &:hover
        color white

    .fa
      vertical-align middle
