@import "0_variables.styl"

#footer
  padding 32px 0
  background #222
  color #eee
  fontSmoothing antialiased
  p
    font-size .9rem
    span
      display block
      span
        display inline
  & > section
    width 940px
    margin 0 auto
  a
    color #88c546
    text-decoration underline
  h2
    font-family bodyFont
    text-transform uppercase
    letter-spacing 1px
    font-size 18px
  .block-large
    padding 0
  .visual
    img
      width 100%
      height auto
  .iconList
    padding 0

#facebookLikeBox
  opacity 0
  transition ease-in-out .2s
  &.visible
    opacity 1

