@import "0_variables.styl"

#header
  width 100%
  position relative
  margin 0 auto
  background-image -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#26d0ce,#1a2980 90%)
  background-image -moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-moz-linear-gradient(108deg,#26d0ce,#1a2980 90%)
  background-image -ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-ms-linear-gradient(108deg,#26d0ce,#1a2980 90%)
  background-image radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),linear-gradient(108deg,#26d0ce,#1a2980 90%)
  background-color rgb(39, 127, 168)
  transition ease-in-out .3s
  fontSmoothing antialiased
  &.cover
    position fixed
    z-index 9999
    height 100%
  nav
    li:first-child
      display none

#particles
  position absolute
  top 0
  width 100%
  height 100%
  z-index 2
  overflow hidden
  pointer-events none
  opacity .25
  filter blur(10px)
  perspective 2000px

  .particle
    position absolute
    border-radius 50%

nav
  .pos
    displayFlex()
    flexDirection column
    alignItems center
    position relative
    width 100%
    height 100%
    z-index 4
    padding 16px 0
  ul
    displayFlex()
    justifyContent center
    list-style none
    margin 16px 0
    padding 0
    li
      display inline-block
      margin 0 8px
      font bold .8rem bodyFont
      text-transform uppercase
      a
        color #fff
        text-shadow 0 1px rgba(0,0,0,.3)
        text-decoration none
        letter-spacing 1px
        fontSmoothing antialiased
        &:hover, &.selected
          color #fff
          text-decoration none
          border-bottom solid 1px rgba(255,255,255,.8)

#mobile-menu-icon
  display none

#logo
  a
    display inline-block

  object, img
    width 129px
    height 180px
    pointer-events none
