@import "0_variables.styl"

.q-logo-svg
  fill colorQgreen

#header
  // animation fadeInHeader 1.2s cubic-bezier(0.770, 0.000, 0.175, 1.000)
  // animationFillMode forwards !important
  position relative
  z-index 99
  background colorLight

  nav
    displayFlex()
    flexDirection column
    justify-content center
    padding 16px 0
    position relative
    z-index 5

  ul
    displayFlex()
    list-style none
    padding 0
    align-content center
    justify-content center

    @media (max-width: 480px)
      position absolute
      top 100px
      width 150px
      margin-top 0
      transform translateX(-100%)
      transition ease-in-out -webkit-transform .2s
      flexDirection column
      li:first-child
        display block

  li.q42-logo
    margin 0 24px;

  li
    font-family: 'Roboto Mono'
    text-transform: uppercase
    font-size: 24px
    margin 30px 24px

    @media (max-width: 480px)
      margin 0

    a
      color colorDark

      @media (max-width: 480px)
        display block
        padding 10px
        color #000
    a:hover
      color colorQgreen

#buttons
  position absolute
  top 1rem
  right 1rem
  z-index 9

  .button
    width 32px
    height 32px
    overflow hidden
    border-radius 50%
    vertical-align middle
    cursor pointer
    background-color white
    transition ease opacity .25s
    margin-bottom .5rem
    &:hover
      opacity .7
    &:active
      transform scale(0.9)

  .explanation
    position absolute
    right 3rem
    font-size 12px
    color white
    text-shadow 0 1px rgba(0,0,0,.3)
    text-align right
    width 200px
    padding 5px 15px
    background rgba(0,0,0,.4)
    border-radius 15px
    transition linear .2s
    opacity 0
    pointer-events none

    a
      color white
      text-decoration underline

#mobile-menu-icon
  display none

  @media (max-width: 480px)
    display block
    position absolute
    left 1rem
    color white
    cursor pointer
    font-weight 500
    padding 8px
    border solid 1px rgba(255,255,255,.8)
    border-radius 8px
    &:active
      transform scale(0.9)

.q42-logo

  a
    display inline-block
    position relative
    z-index 20
    pointer-events all
    border-bottom none

  object, img
    width 60px
    //height 180px
    pointer-events none

    @media (max-width: 480px)
      height 110px

#page.home
  background none

#page.home nav a
  color white

#page.home #header
  background none
