@import "0_variables.styl"

body
  font 300 1rem bodyFont
  margin 0
  background-color #eee

  @media (max-width: 480px)
    &.show-mobile-menu
      overflow-x hidden
      #page
        transform translateX(150px)

p, ol, ul
  line-height 1.5em
  margin 1.5rem 0

p
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

iframe
  border none

address
  font-style normal

figure
  margin 1.5rem 0

blockquote
  margin 0

  &:before
    content: "“"
    font-size 3rem
    font-family serifTitleFont
    float left

  p
    font-family serifTitleFont
    padding 0 2.5rem

cite
  font-style normal

a
  color #000
  text-decoration none
  font-weight 500
  border-bottom solid 1px rgba(0,0,0,.2)
  &:hover
    color #419aff
    border-bottom-color #419aff

#page
  transition transform .2s ease
  box-shadow -2px 0 20px rgba(0,0,0,.2)

  &.visible-backgrounds
    #backgrounds
      opacity 1
    #micrio
      opacity 0
  &.visible-micrio
    #micrio
      opacity 1
    #backgrounds
      opacity 0

#not-found
  margin 40px auto
  text-align center
  background #d33
  color white
  border solid 20px white
  box-shadow 0 0 4px rgba(0,0,0,.4)
  padding 80px
  text-transform uppercase

  @media (max-width 480px)
    padding 32px
    a
      border none
      padding 0

  img
    width 100%
  p
    font-size 24px
  a
    border solid 1px white
    border-radius 25px
    padding 5px 15px
    color white
  h1
    font-size 72px
    margin 0

#loading
  text-align center
  padding 100px 0
  height 1000px

  img
    opacity 0
    width 128px
    animation fadeIn ease .2s
    animationDelay .2s
    animationFillMode forwards

.block-readmore
  text-align center
  a
    border-radius 16px
    background-color #cef
    padding .4rem 1rem
    &:hover
      background-color #def

.container
  @media (max-width 940px)
    margin 0 auto
    width 620px
  @media (max-width 620px)
    width 460px
  @media (max-width 480px)
    width 90%
    min-width 300px

header
  padding 40px 0
  margin 20px 0
  text-align center
  margin 0 auto
  @media (max-width: 480px)
    padding 0
  @media all and (max-width: 620px)
    padding 40px 0
  h1
    font 500 4rem cursiveTitleFont
    color white
    margin 0
    fontSmoothing antialiased
    b
      font-weight 400
      text-shadow 0 1px 0 rgba(0,0,0,.5), 0 0 10px #ffd100

    @media (max-width 480px)
      font-size 3rem
  h2
    font-size 3rem

.block-full
  display block
  position relative
  margin 0 auto
  padding 80px 0
  text-align center

  @media all and (max-width: 620px)
    padding 20px 0
    display block

    &.right .body
      margin-left 0

  &.invert
    color white
    fontSmoothing antialiased
    text-shadow 0 1px 0 rgba(0,0,0,.4)

  p
    font-size 1.3rem

  h1
    font-size 3rem
    text-align center
    margin 0
  h2
    font-family cursiveTitleFont
  h1, h2
    font-weight 500

  blockquote p
    font-size 2rem

  .tagline
    font-family "Permanent Marker", titleFont
    transform rotate(-4deg)
    display inline-block
    background-color white
    padding 0 1rem
    box-shadow 0 2px 4px rgba(0,0,0,.4)
    color black
    text-shadow none
    margin -2rem 0 1rem 0

.block-large
  displayFlex()

  &.block-no-padding-after
    padding-bottom 0

  & > .body
    doFlex 2

    h2
      margin-bottom 0
      & + h3
        margin-top 0

    h3
      font normal 14px/1.5 bodyFont
      color rgba(0,0,0,.5)
    p
      &:last-child
        margin-bottom 1.5rem

  .visual
    doFlex 3

  .intro
    doFlex 5
    padding 32px
    h3
      font-weight normal
    .visual
      margin-bottom 15px

.block-large > .body h2
  margin-top 0

// http://stackoverflow.com/q/8720931/16308
.block-large > .block-small:first-child:nth-last-child(2),
.block-large > .block-small:first-child:nth-last-child(2) ~ div
  max-width 33.3333%

.block-small
  doFlex 1
  &:not(:last-child)
    border-right solid 1px rgba(0,0,0,.1)
  & > .body
    padding 32px
    h2
      font-weight 900
      background-color #222
      color white
      fontSmoothing antialiased
      padding 12px 0
      text-align center
      font-size 1.2rem
      margin -32px -32px 32px -32px
      a
        color white
        font-weight inherit
  h2
    a
      color black
  h3
    font-weight 400
    font-size 1.2rem
    color black

.subcontent
  padding 32px
  gradient-box()
  doFlex 2
  color white
  font-family serifTitleFont
  h2
    font-weight normal
    &:first-child
      margin-top 0
  a
    color white
    opacity .8
    border-bottom none
    &:hover
      border-bottom solid 1px rgba(255,255,255,.7)
  ul
    margin 0
    padding 0 0 0 1rem

.visual
  display block
  border-bottom none
  position relative
  width 100%
  img, video, iframe
    width 100%
    vertical-align middle
  img, video
    height auto
  .hover
    position absolute
    top 0
    left 0
    opacity 0
    z-index 1
    transition opacity ease .2s
  &.swap-hover:hover .hover
    opacity 1

  &.caption
    overflow hidden

    @media (min-width 941px)
      p, img, video
        transition all .2s ease-out
      &:hover
        img, video
          transform scale(1.02)
        p
          transform translateY(-25px)

    p
      position absolute
      z-index 999
      margin 0
      width 100%
      padding 4px 8px
      color #FFF
      font-size .8rem
      font-weight 500
      background-color #000
      fontSmoothing antialiased

.block-with-icons
  ul
    padding 0
    margin-bottom 0
  li
    displayFlex()
    alignItems center
    &:not(:last-child)
      padding 0 0 8px 0px
    i
      min-width 40px
    div
      margin-left 12px
  h2
    margin-top 0

.censored
  color black
  background black
  padding 0 4px
