@import "0_variables.styl"

html, body
  width 100%
  min-height 100%
  font 16px bodyFont
  -webkit-transition ease-in-out background-color .3s
  -moz-transition ease-in-out background-color .3s

body
  margin 0
  padding 0
  background white

h1, h2, h3
  font-family titleFont

p, ol, ul
  line-height 1.5em
  margin 1.5em 0

p
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

ul
  list-style-type square

span
  -webkit-transition all .3s ease-out
  -moz-transition all .3s ease-out

img
  vertical-align middle

iframe
  border none

address
  font-style normal

button
  color #000
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.75)
  margin 2px 0px
  padding 4px 1em
  border-radius 4px
  border 1px solid #ccc
  background-image linear-gradient(to bottom, #ffffff, #e6e6e6)

button:hover, button[disabled]
  background-image linear-gradient(to bottom, #f0f0f0, #e6e6e6)

button:active, button:focus
  background-image linear-gradient(to bottom, #e0e0e0, #d6d6d6)

button[disabled]
  cursor default
  color #999

textarea
  resize vertical
  margin 2px 0px
  padding 0.5em
  border-radius 4px
  border 1px solid #ccc
  box-shadow inset 0 1px 2px rgba(0,0,0,.1)

a
  color #1D78B4
  text-decoration none
  &:hover
    color #1D78B4
    text-decoration underline

#page
  box-shadow -2px 0 20px rgba(0,0,0,.2)
  background white
  -webkit-transition ease-in-out .2s
  -moz-transition ease-in-out .2s
  transition ease-in-out .2s

.container
  width 940px
  margin 0 auto
  & > .block-large
    &:last-child
      border none

#not-found
  text-align center
  background #d33
  color white
  border solid 20px white
  box-shadow 0 0 4px rgba(0,0,0,.4)
  margin 40px 0
  padding 80px
  font-family titleFont
  text-transform uppercase
  -webkit-animation .3s flash infinite ease-in-out alternate
  img
    width 100%
  p
    font-size 24px
  a
    border solid 1px white
    border-radius 25px
    padding 5px 15px
    color white
  h1
    font-size 72px
    margin 0

.hidden
  display none !important
  visibility hidden

.nowrap
  white-space nowrap

.external
  background url(http://static.q42.nl/images/external_link_icon.png) no-repeat center right
  padding-right 18px

.readmore
  transition all .2s ease-out
  -webkit-transition all .2s ease-out
  -moz-transition all .2s ease-out
  &:before
    content ""
  &:after
    content " »"
    margin-left 6px
    display inline-block

.block-text
  padding 40px 0
  border-bottom solid #ccc 1px
  h1
    b
      color #232323
      font-weight normal

.block-text h1,
.blog h1
  font normal 2.84em titleFont
  letter-spacing -1px
  margin 20px 0

.block-full
  position relative
  border-bottom solid #ccc 1px
  padding 80px 0

.intro-outro
  display block
  text-align center
  padding 80px 0
  p
    font-size 1.3em
  h1
    font-size 3em
    text-align center
    margin 0
    & + p
      color #777

.block-large
  border-bottom solid #ccc 1px
  padding 80px 0
  displayFlex()

  &.block-no-padding-after
    padding-bottom 0
    border-bottom none
    & + .block-large
      padding-top 40px

  & > .body
    flex 2
    margin-right 20px

    h2
      margin-bottom 0
      & + h3
        margin-top 0

    h3
      font 14px/1.5 titleFont
      color #777
    p
      &:last-child
        margin-bottom 1.5em

  .visual
    flex 3
    position relative

  &.right
    .body
      flex 2
      order 2
      margin-right 0
      margin-left 20px
    .visual
      flex 3

  .intro
    width 600px
    margin 0 20px 0 0
    h3
      font-weight normal
    .visual
      margin-bottom 15px

section h1,
.block-large h1
  text-align left

section h2,
.block-large > .body h2
  font normal 40px titleFont
  margin-top 0
  letter-spacing -1px

.block-readmore
  text-align right

// http://stackoverflow.com/questions/8720931/can-css-detect-the-number-of-children-an-element-has
.block-large > .block-small:first-child:nth-last-child(2),
.block-large > .block-small:first-child:nth-last-child(2) ~ div
  max-width 33.3333%

.block-small
  flex 1
  margin 0 20px 0 0
  &:last-child
    margin-right 0
    padding 0

  h2
    font-size 26px
    padding-top 20px
    margin 0
    a
      color black
  h3
    font 14px/1.5 titleFont
    padding 0
    margin-top 0
    color #777
  .visual
    position relative
    width 300px
    overflow hidden
    img
      width 300px
      height 160px

.subcontent
  padding 20px
  color #777
  h2
    padding-top 0

#loading
  text-align center
  padding 100px 0
  position fixed
  top 260px
  left 0
  right 0
  bottom 0
  z-index 99999
  background #fff

#nprogress
  .bar
    background-color #c00
  .spinner
    display none

.visual
  img
    width 100%
  &.caption
    display block
    overflow hidden
    p
      position absolute
      z-index 999
      margin 0
      padding 4px 12px
      width 100%
      background-color #232323
      color #FFF
      font-size 80%
      text-decoration none

a.caption,
.visual.caption, .visual.caption p, .visual.caption img
  text-decoration none

.block-with-icons
  ul
    margin-bottom 0px
    li
      &:last-child
        padding-bottom 0px
  h2
    margin-top 0px
  .iconList
    padding 0

.iconList
  li
    displayFlex()
    alignItems center
    overflow hidden
    padding 0 0 20px 0px
    list-style-type none
    i
      min-width 40px
      text-align center
    div
      margin-left 10px
  &.no-text
    displayFlex()
    justifyContent space-between
    li
      div
        display none
        padding 0
    a
      color inherit !important
      &:hover
        color #88c546 !important
        text-decoration none !important



@-webkit-keyframes flash
  from
    -webkit-filter unquote("invert(100%)")