@import "0_variables.styl"

.post-date
  color rgba(0,0,0,.7)
  margin-top 0
  font-size .9rem

.socialShare
  width 50%
  div
    margin-right 1rem

.block-tags
  font-size smaller

.tags
  padding 0
  list-style-type none
  displayFlex()
  justifyContent flex-end
  flexWrap wrap
  margin 0
  li
    margin-left 4px

.reblog
  background url('http://static.q42.nl/images/reblog.svg') 95% 16px no-repeat
  background-size 24px

.blog
  displayFlex()
  justifyContent space-between
  margin 0 auto

  h1
    margin 0
    font-size 2rem
    a
      border-bottom none
    @media (max-width: 480px)
      font-size 1.5rem

  img
    max-width 100%
    border solid 5px white
    box-shadow 0 0 4px rgba(0,0,0,.4)
    margin-left 2px
    box-sizing border-box

  @media (max-width 480px)
    img, iframe
      max-width 100%

  .blog-posts, .blog-post
    doFlex 5
    padding 32px

  .blog-post
    h2
      font-size 1.3rem

  .blog-item
    padding 32px
    margin 0 -32px
    border-bottom solid 1px #ccc
    &:first-child
      padding-top 0
    &:last-child
      border-bottom none

.comments
  padding 40px 0
  margin 0 auto

  .input
    displayFlex()

  .add-comment
    margin-left 4px
    doFlex 99
    displayFlex()

  .submit-comment
    margin-left 44px
    font-size .9rem

  .text
    doFlex 4

  button
    cursor pointer
    color #000
    text-shadow 0 1px 1px rgba(255, 255, 255, 0.75)
    margin 2px 0px
    padding 4px 1rem
    border-radius 4px
    border 1px solid #ccc
    background-image linear-gradient(to bottom, #ffffff, #e6e6e6)

    &:hover, &[disabled]
      background-image linear-gradient(to bottom, #f0f0f0, #e6e6e6)

    &:active, &:focus
      background-image linear-gradient(to bottom, #e0e0e0, #d6d6d6)

    &[disabled]
      cursor default
      color #999

  textarea
    flex 5
    resize vertical
    margin 0
    padding 0.5rem
    border-radius 4px
    border 1px solid #ccc
    box-shadow inset 0 1px 2px rgba(0,0,0,.1)
    font-size 1rem
    line-height 1.5rem
    &:focus
      min-height 128px

  ul
    padding 0
    list-style none
  li
    margin 1rem 0 0 0
    padding 1rem 0 0 0
    border-top 1px solid #d7d7d7
    displayFlex()

  .user
    doFlex 1
    margin-right 16px
    min-width 160px
  .login-image
    display inline-block
    width 16px
    height 16px
    vertical-align -2px
  .profile
    displayFlex()
    img
      margin-right 4px
      min-width 40px
  .name-date
    font-size 14px
    line-height 1rem
    display flex
    flex-direction column
    justify-content center
    overflow hidden
    text-overflow ellipsis
  .meta
    display block
    color rgba(0,0,0,.7)
    font-size smaller
    span
      font-weight 500
      border-bottom solid 1px rgba(0,0,0,.5)
      cursor pointer
      &:hover
        color rgba(0,0,0,.4)

.comments .user img, .comments .commentbox img
  width 40px
  height 40px
  border-radius 4px

#latestComments
  // to prevent bullets from being hidden when text exceeds width
  list-style-position inside
  padding-left 0
  div
    white-space nowrap
    overflow-x hidden
    text-overflow ellipsis

#pageNav
  margin 32px 0
  ul
    displayFlex()
    justifyContent center
    list-style none
    margin 0
    padding 0
  a
    color #1D78B4
    border none
    padding 16px
    &:hover
      background #d7d7d7
  .active
    border-bottom 5px solid #ccc
