#nprogress .bar {
  height: 65px;
  opacity: .7;
  z-index: 2;
  background-color: rgba(0,0,0,.3);
}
#nprogress .peg {
  box-shadow: none;
}
.scrolled #nprogress .bar {
  height: 2px;
  background: #29d;
}
.scrolled #nprogress .peg {
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
}
.page-home #nprogress .bar, #nprogress .peg {
  display: none;
}

/* SHOWREEL */

#showreel
{
  background-color: #000;
  position: relative;
  height: 630px;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px -20px 70px 40px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px -20px 70px 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -20px 70px 40px;
}
#showreel-container {
  width: 100%;
  height: 100%;
  -webkit-perspective: 2000;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
#showreel-stage {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#showreel-stage.transition {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
#showreel-shape {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#showreel-shape.transition {
  -webkit-transition: -webkit-transform 2s ease-in-out;
  -moz-transition: -moz-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}
#showreel .item {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  z-index: 42;
  opacity: 0;
}
#showreel-stage.transition.transitioningBySwipe #showreel-shape.transition,
#showreel-stage.transition.transitioningBySwipe .item {
  -webkit-transition-duration: 0.5s !important;
  -moz-transition-duration: 0.5s !important;
  transition-duration: 0.5s !important;
}
#showreel-stage.transitioningByClick .item,
#showreel-stage.transitioningByDoubleSwipe .item {
  opacity: 1;
}
#showreel .active-item {
  z-index: 43;
  opacity: 1;
}

#showreel .item p {
  opacity: 1;
  position: absolute;
  top: 40px;
  right: 5%;
  width: 50%;
  max-width: 450px;
  z-index: 43;
  color: #FFF;
  font-weight: bold;
  font: 70px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right;
  text-shadow: 0px 1px 1px rgba(0,0,0,.6);
  -webkit-font-smoothing: antialiased;
}
#showreel .item p.left {
  left: 5%;
  text-align: left;
}

#showreel .active-item p {
  opacity: 1;
}

#showreel-stage a {
  text-decoration: none;
}

#showreel #indicators {
  opacity: 0;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: #FFF;
  z-index: 45;

  font-size: 142%;
  letter-spacing: 3px;

  text-shadow: 0 0 3px #000;
  cursor: pointer;
}
#showreel #indicators span {
  opacity: 0.4;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay: 0.2s;
}
#showreel #indicators .active {
  opacity: 1;
}


/* Q42is */
#q42is-header h1 {
  font: 80px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

#q42is-pre {
  display: inline-block;
  color: #000;
}

#q42is {
  height: 1em;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  margin-left: 10px;
  white-space: nowrap;
  max-width: calc(100% - 150px);
}
#q42is span {
  display: block;
  color: #DDD;
  -webkit-transition: -webkit-transform linear .2s;
  -webkit-transform: rotateX(180deg);
}
#q42is span.selected {
  color: #888;
  -webkit-transform: rotateX(0deg);
}

/* NAVIGATION */

nav {
  width: 100%;
  height: 95px;
  font: 2.7em bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header nav, #showreel nav {
  z-index: 44;
  position: absolute;
  bottom: 0;
  text-align: center;
}

#header {
  width: 100%; height: 65px;
  position: relative;
  margin: 0 auto 0 auto;
  background-color: rgb(205,255,105);
  box-shadow: rgba(0, 0, 0, 0.15) 0px -20px 70px 40px;
  -webkit-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  -webkit-font-smoothing: antialiased;
}
#header-bg-gradient {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1;
  -webkit-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}
#showreel #header-bg-gradient {
  display: none;
}

#header nav {
  -webkit-transition: ease-in-out background .3s;
  -moz-transition: ease-in-out background .3s;
  transition: ease-in-out background .3s;
  background: rgba(0,0,0,.2) -webkit-linear-gradient(top, rgba(0,0,0,.9), rgba(0,0,0,.3));
  background: -moz-linear-gradient(top, rgba(0,0,0,.9), rgba(0,0,0,.3));
}
#header:hover nav {
  background: rgba(0,0,0,0) -webkit-linear-gradient(top, rgba(0,0,0,.9), rgba(0,0,0,.1));
  background: -moz-linear-gradient(top, rgba(0,0,0,.9), rgba(0,0,0,.1));
}

nav,
nav ul,
nav ul li { height: 65px; line-height: 70px; }

nav .pos
{
  position: relative;
  margin: 0 auto;
  width: 940px;
}

nav ul {
  width: 100%;
  margin: 0; padding: 0;
}

nav ul li {
  float: left;
  margin: 0 0 0 40px;
  list-style: none;
  padding: 0;
}

nav ul li.right {
  position: relative;
  float: right;
  margin-left: 20px;
}

#logo {
  margin: 0;
  text-align: left;
}
#logo img {
  height: 53px;
}
#lights-toggle a {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(0,0,0,.7);
  height: 30px;
  line-height: 150%;
  border-radius: 10px;
}
#lights-toggle a:hover {
  text-decoration: none;
  color: #ff9;
  background-color: rgba(255,255,150,.4);
}

nav ul li a,
nav ul li a:visited
{
  color: #FFF;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.6);
  -webkit-font-smoothing: antialiased;
}
nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

/* VISUAL */
a.caption,
.visual.caption, .visual.caption p, .visual.caption img
{ text-decoration: none; }

.visual.caption {
  overflow: hidden;
}
.visual.caption:hover {
  box-shadow: 0 0 8px 0 black;
}
.visual.caption:hover img, .visual.caption:hover video {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
}
.visual.caption p {
  position: absolute;
  z-index: 999;
  margin: 0;
  padding: 4px 12px;
  width: 100%;
  background-color: #232323;
  color: #FFF;
  font-size: 80%;
  text-decoration: none;
}
.visual.caption:hover p {
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px);
}
.visual.caption, .visual.caption p, .visual.caption img, .visual.caption video {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

/* Icon boxes */
.block-with-icons ul {
  margin-bottom: 0px;
}

.block-with-icons ul li:last-child {
  padding-bottom: 0px;
}

.block-with-icons h2 {
  margin-top: 0px;
}

.block-with-icons .iconList {
  padding: 0;
}

.iconList li {
  overflow: hidden;
  padding: 5px 0 19px 0px;
  list-style-type: none;
}

.iconList li img { float: left; }
.iconList li i {
  vertical-align: middle;
  display: block;
  float: left;
  min-width: 40px;
  text-align: center;
}
.iconList li div { display: inline-block; padding: 4px 0px 0px 9px; }

.iconList.no-text li {
  display: inline-block;
}
.iconList.no-text li div {
  display: none;
  padding: 0;
}
.iconList.no-text a {
  color: inherit !important;
}
.iconList.no-text a:hover {
  color: #88c546 !important;
  text-decoration: none !important;
}

/* Big text block */
.block-large {}
.block-large .bigText { width: 600px; margin: 0 20px 0 0; float: left; }
.block-large .bigText .visual { margin-bottom: 15px; }
.block-large .introText { font-size: 17px; }

/* Qers */
#colleagues .block-full {
  overflow: visible;
}

#colleagues ol {
  margin: 0;
  padding: 0;
}

#colleagues ol li {
  width: 108px;
  height: 108px;
  list-style: none;
  float: left;
  position: relative;
  margin: 0px 30px 30px 0;
}

#colleagues ol li.no-results {
  display: block;
  clear: left;
  float: none;
  width: auto; height: auto;
  margin: 0;
  text-align: center;
  padding: 30px 0;
  background-color: #999;
}

#colleagues ol li > .name {
  z-index: 9;
  position: absolute;
  bottom: 3px;
  left: 3px;
  color: black;
  display: inline-block;
  padding: 0 3px;
  line-height: 1.3em;
  font: 18px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 0 1px 1px black;
  letter-spacing: 1px;
  background-color: #000;
  background-color: rgba(0,0,0,.3);
}

#colleagues ol li > .contactData {
  display: none;
}

#colleagues ol li > img {
  position: absolute; top: 0px; left: 0px;
  width: 108px; height: 108px;
}

#colleagues ol li .polaroid {
  position: absolute;
  top: -88px;
  background-color: #fff;
  z-index: 9;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 13px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 13px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 13px rgba(0,0,0,0.4);
}

.polaroid img {
  width: 150px; height: 150px;
}

#colleagues ol .hover { overflow: visible;  }
#colleagues ol .polaroid {
  opacity: 0;
  margin: 42px 0px 0px -33px;
  left: -3000px;
  width: 174px;
  -webkit-transform: rotate(0deg) translate3d(0,0,0);
  -webkit-transform: scale(0.71) translate3d(0,0,0);
  -webkit-transition-property: opacity, margin, -webkit-transform, left;
  -webkit-transition-duration: .05s, .05s, .05s, 0s;
  -webkit-transition-timing-function: linear, linear, linear, linear;
  -webkit-transition-delay: 0s, 0s, 0s, 3.05s;
  -moz-transform: rotate(0deg);
  -moz-transform: scale(0.71);
  -moz-transition-property: opacity, margin, -moz-transform, left;
  -moz-transition-duration: .05s, .05s, .05s, 0s;
  -moz-transition-timing-function: linear, linear, linear, linear;
  -moz-transition-delay: 0s, 0s, 0s, 3.05s;
}

#colleagues ol .hover .polaroid {
  opacity: 1;
  left: 0px;
  margin: 50px 0px 0px -31px;
  -webkit-transform: scale(1.0) rotate(-5deg);
  -webkit-transform-origin: center center;
  -webkit-transition-property: opacity, margin, -webkit-transform, left;
  -webkit-transition-duration: .1s, .1s, .1s, 0s;
  -webkit-transition-timing-function: linear, linear, linear, linear;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;

  -moz-transform: scale(1.0) rotate(-5deg);
  -moz-transform-origin: center center;
  -moz-transition-property: opacity, margin, -moz-transform, left;
  -moz-transition-duration: .1s, .1s, .1s, 0s;
  -moz-transition-timing-function: linear, linear, linear, linear;
  -moz-transition-delay: 0s, 0s, 0s, 0s;
}

#colleagues ol li .polaroid .closePolaroid {
  width: 30px;
  height: 30px;
  background: url('http://static.q42.nl/images/closebox.png') no-repeat;
  position: absolute;
  top: -16px;
  right: -16px;
}

#filter-colleagues {
  margin: 0 0 30px 0;
}

#filter-colleagues input {
  display: block;
  width: 100%;
  font-size: 16px;
}

.polaroid h3 {
  font: 16px/1.3em 'Permanent Marker', cursive;
  margin: 5px 0px -7px;
  text-align: center;
}

.polaroid .contactData {
  margin: 6px 0px;
  font-size: 14px;
}

.polaroid .contactData span {
  text-align: center;
  display: block;
}

#facts section { text-align: center; }
.counter { font-size: 78px; margin: 0;}

/* FOOTER */

#footer {
  width: 100%;
  min-height: 400px;
  background: #232323;
  color: #aaa;
  padding: 40px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .8);
  clear: both;
  -webkit-font-smoothing: antialiased;
}
#footer p {
  font-size: 14px;
}
#footer .external {
  background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right;
  padding-right: 18px;
}
#footer .social {
  margin:0; padding:0;
}
#footer .social li {
  margin:0; padding:0;
  list-style: none;
  float:left;
}
#footer .social li img {
  width:90px;
  cursor:pointer;
}
#footer > section {
  width: 940px;
  margin: 0 auto;
  overflow: auto;
}
#footer > section > h1 {
  font: 80px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px 0;
}
#footer .block-small {
  border-top: none;
}
#footer > section {
  overflow: visible;
}
#footer h2 {
  font: normal 40px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px 0;
  color: #FFF;
}
#footer .block-large {
  border: none;
}
#footer p span {
  display: block;
}
#footer p span span {
  display: inline;
}
#footer .visual.caption {
  display: block;
  margin-bottom: 1em;
}
#footer .visual.caption:hover {
  -webkit-box-shadow: 0 0 8px 0 white;
  -moz-box-shadow: 0 0 8px 0 white;
  box-shadow: 0 0 8px 0 white;
}
#footer .visual.caption:hover p {
  background-color: #FFF;
  color: #232323;
}
#footer a {
  color:#88c546;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}

#footer .iconList {
  margin-left: -20px;
}

#footer .iconList .listIcon {
  padding: 5px 0px 7px 0px;
}

#footer .twitter-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }
#footer .linkedin-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }
#footer .youtube-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }
#footer .vimeo-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }

#footer #endtag {
  font: 40px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 40px;
  text-align: center;
}

#footer .block-large {
  padding: 0;
}

/* Tumblr */
#pageNav {
  background: none;
  text-align: center;
  margin-top: 15px;
}

nav#pageNav ul:nth-of-type(1) {
  width: 100%;
}

#pageNav ul li {
  margin: 0 40px 0 0;
}

#pageNav ul li a {
  color: #1D78B4;
  text-shadow: none;
}

#pageNav .active {
  border-bottom: 5px solid #ccc;
}
.blog #pageNav ul {
  display: inline-block;
}
.blog #pageNav {
  clear: both;
}

.tags {
  padding: 0px;
  list-style-type: none;
  margin-top: 12px;
}
.tags li {
  display: block; float: left;
}
.tags li a {
  float: left;
}
.tags li:after {
  content: "\002C\00a0";
}
.tags li:last-child:after {
  content: "";
}

/* lights color picker */
#lights-color {
border: none;
border-radius: 30px;
width: 30px; height: 30px;
display: inline-block;
vertical-align: middle;
cursor: pointer;
text-indent: -900px;
-webkit-transition: ease-in-out opacity .3s;
-moz-transition: ease-in-out opacity .3s;

/* experimental Chrome/Firefox gradient that looks like a color picker */
background: radial-gradient(circle closest-corner at 0% 50%, rgba(0,255,255,1), rgba(0,255,255,0)),
  radial-gradient(circle closest-corner at 50% 100%, rgba(255,0,255,1), rgba(255,0,255,0)),
  radial-gradient(circle at 0% 100%, rgba(0,0,255,1), rgba(0,0,255,0) 50%, rgba(0,0,255,0)),
  linear-gradient(135deg, #00ff00, #ffff00, #ff0000)
}
#lights-color:hover {
  opacity: .7;
}
#lights-color::-webkit-color-swatch-wrapper {
  display: none;
}
#lights-color::-webkit-color-swatch {
  display: none;
}

#colorpicker {
  display: none;
  z-index: 99;
  position: absolute;
  left: -185px;
  background: white;
  padding: 5px;
  border: solid 2px #ccc;
  border-radius: 5px;
  border-top-right-radius: 2px;
  box-shadow: 0 4px 4px rgba(0,0,0,.4);
}
#colorpicker svg {
  display: block;
}
.show-colorpicker #colorpicker {
  display: block;
}

#colorpicker:after, #colorpicker:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#colorpicker:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  left: 95%;
  margin-left: -10px;
}
#colorpicker:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 13px;
  left: 95%;
  margin-left: -13px;
}