/* NAVIGATION */

#header {
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-image: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#26d0ce,#1a2980 90%);
  /*background-color: rgb(205,255,105);
  box-shadow: rgba(0, 0, 0, 0.15) 0px -20px 70px 40px;*/
  -webkit-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  -webkit-font-smoothing: antialiased;
}

nav .pos {
  position: relative;
  margin: 0 auto;
  height: 100%;
  z-index: 4;
  padding-top: 20px;
}

#mobile-menu-icon { display: none; }

#logo {
  text-align: center;
  margin: 0 auto;
}
#logo img {
  height: 100px;
}

nav ul {
  margin: 0 auto; padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 20px 0 0;
  list-style: none;
  padding: 0;
  font: bold .8em/65px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
nav ul li:last-child { margin: 0;}

nav ul li.right {
  position: relative;
  float: right;
  margin-left: 20px;
}

#lights-toggle a {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(0,0,0,.7);
  height: 30px;
  line-height: 150%;
  border-radius: 10px;
}
#lights-toggle a:hover {
  text-decoration: none;
  color: #ff9;
  background-color: rgba(255,255,150,.4);
}

nav ul li a,
nav ul li a:visited
{
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.3);
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
nav ul li a:hover {
  text-decoration: none;
  border-bottom: solid 1px rgba(255,255,255,.8);
}

/* VISUAL */
a.caption,
.visual.caption, .visual.caption p, .visual.caption img
{ text-decoration: none; }

.visual.caption {
  display: block;
  overflow: hidden;
}
.visual.caption:hover {
  box-shadow: 0 0 8px 0 black;
}
.visual.caption:hover img, .visual.caption:hover video {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);
}
.visual.caption p {
  position: absolute;
  z-index: 999;
  margin: 0;
  padding: 4px 12px;
  width: 100%;
  background-color: #232323;
  color: #FFF;
  font-size: 80%;
  text-decoration: none;
}
.visual.caption:hover p {
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px);
}
.visual.caption, .visual.caption p, .visual.caption img, .visual.caption video {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

/* Icon boxes */
.block-with-icons ul {
  margin-bottom: 0px;
}

.block-with-icons ul li:last-child {
  padding-bottom: 0px;
}

.block-with-icons h2 {
  margin-top: 0px;
}

.block-with-icons .iconList {
  padding: 0;
}

.iconList li {
  overflow: hidden;
  padding: 5px 0 19px 0px;
  list-style-type: none;
}

.iconList li img { float: left; }
.iconList li i {
  vertical-align: middle;
  display: block;
  float: left;
  min-width: 40px;
  text-align: center;
}
.iconList li div { display: inline-block; padding: 4px 0px 0px 9px; }

.iconList.no-text li {
  display: inline-block;
}
.iconList.no-text li div {
  display: none;
  padding: 0;
}
.iconList.no-text a {
  color: inherit !important;
}
.iconList.no-text a:hover {
  color: #88c546 !important;
  text-decoration: none !important;
}

.block-large .intro {
  width: 600px;
  margin: 0 20px 0 0;
  float: left;
}
.block-large .intro .visual { margin-bottom: 15px; }

/* Qers */
#colleagues .block-full {
  overflow: visible;
}

#colleagues ol {
  margin: 0;
  padding: 0;
}

#colleagues ol li {
  width: 108px;
  height: 108px;
  list-style: none;
  float: left;
  position: relative;
  margin: 0px 10px 10px 0;
}

#colleagues ol li.no-results {
  display: block;
  clear: left;
  float: none;
  width: auto; height: auto;
  margin: 0;
  text-align: center;
  padding: 30px 0;
  background-color: #999;
}

#colleagues ol li > .name {
  z-index: 1;
  position: absolute;
  bottom: 3px;
  left: 3px;
  color: black;
  display: inline-block;
  padding: 0 3px;
  line-height: 1.3em;
  font: 18px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 0 1px 1px black;
  letter-spacing: 1px;
  background-color: #000;
  background-color: rgba(0,0,0,.3);
}

#colleagues ol li > .contactData {
  display: none;
}

#colleagues ol li > img {
  position: absolute; top: 0px; left: 0px;
  width: 108px; height: 108px;
}

#colleagues ol li .polaroid {
  position: absolute;
  top: -88px;
  background-color: #fff;
  z-index: 9;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 13px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 4px 13px rgba(0,0,0,0.4);
  box-shadow: 0px 4px 13px rgba(0,0,0,0.4);
}

.polaroid img {
  width: 150px; height: 150px;
}

#colleagues ol .hover { overflow: visible;  }
#colleagues ol .polaroid {
  opacity: 0;
  margin: 42px 0px 0px -33px;
  left: -3000px;
  width: 174px;
  -webkit-transform: rotate(0deg) translate3d(0,0,0);
  -webkit-transform: scale(0.71) translate3d(0,0,0);
  -webkit-transition-property: opacity, margin, -webkit-transform, left;
  -webkit-transition-duration: .05s, .05s, .05s, 0s;
  -webkit-transition-timing-function: linear, linear, linear, linear;
  -webkit-transition-delay: 0s, 0s, 0s, 3.05s;
  -moz-transform: rotate(0deg);
  -moz-transform: scale(0.71);
  -moz-transition-property: opacity, margin, -moz-transform, left;
  -moz-transition-duration: .05s, .05s, .05s, 0s;
  -moz-transition-timing-function: linear, linear, linear, linear;
  -moz-transition-delay: 0s, 0s, 0s, 3.05s;
}

#colleagues ol .hover .polaroid {
  opacity: 1;
  left: 0px;
  margin: 50px 0px 0px -31px;
  -webkit-transform: scale(1.0) rotate(-5deg);
  -webkit-transform-origin: center center;
  -webkit-transition-property: opacity, margin, -webkit-transform, left;
  -webkit-transition-duration: .1s, .1s, .1s, 0s;
  -webkit-transition-timing-function: linear, linear, linear, linear;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;

  -moz-transform: scale(1.0) rotate(-5deg);
  -moz-transform-origin: center center;
  -moz-transition-property: opacity, margin, -moz-transform, left;
  -moz-transition-duration: .1s, .1s, .1s, 0s;
  -moz-transition-timing-function: linear, linear, linear, linear;
  -moz-transition-delay: 0s, 0s, 0s, 0s;
}

#colleagues ol li .polaroid .closePolaroid {
  width: 30px;
  height: 30px;
  background: url('http://static.q42.nl/images/closebox.png') no-repeat;
  position: absolute;
  top: -16px;
  right: -16px;
}

#filter-colleagues {
  margin: 0 0 30px 0;
}

#filter-colleagues input {
  margin: 20px 0 0 0;
  font-size: 16px;
}

#filter-options, #filter-options ul {
  list-style: none;
  margin: 0; padding: 0;
}
#filter-options > li ul li {
  display: inline-block;
}
#filter-options > li ul li a {
  padding: 0 6px 1px 6px;
  background: #ddd;
  border-radius: 15px;
  font-size: smaller;
}
#filter-options > li ul li a:hover {
  text-decoration: none;
  background-color: #eee;
}
#filter-options > li ul li a:active {
  background-color: #ccc;
}

.polaroid h3 {
  font: 16px/1.3em 'Permanent Marker', cursive;
  margin: 5px 0px -7px;
  text-align: center;
}

.polaroid .contactData {
  margin: 6px 0px;
  font-size: 14px;
}

.polaroid .contactData span {
  text-align: center;
  display: block;
}

#facts .body { text-align: center; }
.counter { font-size: 78px; margin: 0;}

/* FOOTER */

#footer {
  width: 100%;
  min-height: 400px;
  padding: 40px 0;
  clear: both;
}
#footer p {
  font-size: 14px;
}
#footer .social {
  margin: 0; padding: 0;
}
#footer .social li {
  margin: 0; padding:0;
  list-style: none;
  float:left;
}
#footer > section {
  width: 940px;
  margin: 0 auto;
}
#footer > section > h1 {
  font: 80px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px 0;
}
#footer .block-small {
  border-top: none;
}
#footer h2 {
  font: normal 40px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px 0;
  color: #666;
}
#footer .block-large {
  border: none;
}
#footer p span {
  display: block;
}
#footer p span span {
  display: inline;
}
#footer .visual.caption {
  display: block;
  margin-bottom: 1em;
}

#footer .iconList {
  margin-left: -20px;
}

#footer .iconList .listIcon {
  padding: 5px 0px 7px 0px;
}

#footer .twitter-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }
#footer .linkedin-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }
#footer .youtube-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }
#footer .vimeo-icon a { background: url(http://static.q42.nl/images/external_link_icon_green.png) no-repeat center right; }

#footer #endtag {
  font: 40px bebas-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: #666;
  text-align: center;
}

#footer .block-large {
  padding: 0;
}

/* Tumblr */
#pageNav {
  background: none;
  text-align: center;
  margin-top: 15px;
}

nav#pageNav ul:nth-of-type(1) {
  width: 100%;
}

#pageNav ul li {
  margin: 0 40px 0 0;
}

#pageNav ul li a {
  color: #1D78B4;
  text-shadow: none;
}

#pageNav .active {
  border-bottom: 5px solid #ccc;
}
.blog #pageNav ul {
  display: inline-block;
}
.blog #pageNav {
  clear: both;
}

.tags {
  padding: 0px;
  list-style-type: none;
  margin-top: 12px;
}
.tags li {
  display: block; float: left;
}
.tags li a {
  float: left;
}
.tags li:after {
  content: "\002C\00a0";
}
.tags li:last-child:after {
  content: "";
}

/* lights color picker */
#hue {
  position: absolute;
  top: 1em; right: 1em;
  z-index: 6;
}
#lights-color {
  border: none;
  border-radius: 30px;
  width: 30px; height: 30px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-indent: -900px;
  -webkit-transition: ease-in-out opacity .3s;
  -moz-transition: ease-in-out opacity .3s;

  /* experimental Chrome/Firefox gradient that looks like a color picker */
  background: radial-gradient(circle closest-corner at 0% 50%, rgba(0,255,255,1), rgba(0,255,255,0)),
    radial-gradient(circle closest-corner at 50% 100%, rgba(255,0,255,1), rgba(255,0,255,0)),
    radial-gradient(circle at 0% 100%, rgba(0,0,255,1), rgba(0,0,255,0) 50%, rgba(0,0,255,0)),
    linear-gradient(135deg, #00ff00, #ffff00, #ff0000)
}
#lights-color:hover {
  opacity: .7;
}
#lights-color:active {
  -webkit-transform: scale(0.9);
}
#lights-color::-webkit-color-swatch-wrapper {
  display: none;
}
#lights-color::-webkit-color-swatch {
  display: none;
}
#backgrounds {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  z-index: 0;
}
#backgrounds div {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  opacity: 0;
  -webkit-transition: ease-in-out opacity 3s;
}
#bg1 { z-index: 1;}
#bg2 { z-index: 0; -webkit-transition-delay: .2s;}
#backgrounds.showBg1 #bg1, #backgrounds.showBg2 #bg2 {
  opacity: 1;
}

#colorpicker {
  display: none;
  z-index: 99;
  position: absolute;
  left: -185px;
  background: white;
  padding: 5px;
  border: solid 2px #ccc;
  border-radius: 5px;
  border-top-right-radius: 2px;
  box-shadow: 0 4px 4px rgba(0,0,0,.4);
}
#colorpicker svg {
  display: block;
}
.show-colorpicker #colorpicker {
  display: block;
}

#colorpicker:after, #colorpicker:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#colorpicker:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  left: 95%;
  margin-left: -10px;
}
#colorpicker:before {
  border-color: rgba(204, 204, 204, 0);
  border-bottom-color: #ccc;
  border-width: 13px;
  left: 95%;
  margin-left: -13px;
}

.intro-outro {
  text-align: center;
}
.intro-outro img {
  width: 100px;
}
.intro-outro h1 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 0;
}
.intro-outro p {
  font-size: 1.3em;
  margin: 1em;
}
.intro-outro ul {
  list-style: none;
  margin: 0 auto; padding: 0;
  width: 485px;
}
.intro-outro ul:after {
  content: ".";
  color: transparent;
  clear: both;
  display: block;
}
.intro-outro li {
  float: left;
  width: 150px;
  margin: 0 1em 0 0;
}
.intro-outro li:last-child {
  margin: 0;
}
.intro-outro li img {
  display: block;
  width: 150px;
  margin: 0 0 10px 0;
}
