@import "0_variables.styl"

@media (min-width: 941px)
  .blog,
  .comments,
  #not-found,
  .block-text,
  .block-large,
  .block-full
    width 940px

@media (max-width: 620px)

  .visual iframe,
  .blog-item iframe
    width 100%

  .fb_iframe_widget,
  .fb_iframe_widget > span,
  .fb-comments iframe
    width 100% !important
