@import "0_variables.styl"

@media all and (max-width: 1024px) {
  /* Links always have an underline, because there is no hover state. */
  a, a:visited, a:hover { text-decoration: underline; }
}



@media all and (min-width: 941px) {
  .readmore:hover {
    background-color: #1D78B4;
    color: white;
    text-decoration: none;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
  }
  .visual.caption:hover img, .visual.caption:hover video {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  .visual.caption:hover p {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  .visual.caption, .visual.caption p, .visual.caption img, .visual.caption video {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
}



@media all and (max-width: 940px)

  .block-large > .body > h2 { font-size: 30px; }

  .container,
  #footer > section { width: 620px; }

  .block-large .visual { width: 300px; }
  .block-small:nth-of-type(2) { margin-right: 0 }

  .block-large .intro
    width 300px

  #facts .block-small { width: 200px; }
  #facts .block-small .body { width: 100%; }

  .block-large
    flexWrap wrap

  .block-small
    min-width 300px
    &:nth-child(3):last-child
      margin-top 40px


@media all and (max-width: 620px) {

  .block-large { padding: 20px 0; }

  .block-text h1 { font-size: 37px; }

  section h2,
  .block-large > .body h2 {
    margin: 20px 0;
  }

  .container,
  #footer > section,
  #footer .block-small,
  #footer .block-small .body,
  #footer .block-small .visual { width: 460px; }
  #footer .block-small:nth-of-type(3) { width: 460px; padding-top: 0;}

  .block-large .visual { width: 300px; }

  .block-large .body,
  .block-large .visual,
  .block-large .block-small,
  .block-large .block-small .body,
  .block-large .block-small .visual,
  .block-large .intro { width: 460px; }
  .block-large .body { width: 100%; }
  .container .block-large > div.visual {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
  }

  .block-small:nth-of-type(1),
  .block-small:nth-of-type(2) { margin-right: 0 }
  .block-small { float: none; }
  .block-small .visual img { width: 100%; height: auto; }
  .block-small:first-child h2 { margin-top: 0; }

  .block-with-icons:nth-of-type(3) { padding-bottom: 0px; }

  p:first-child { margin-top: 1.5em; }
  .block-small p:last-child { margin-bottom: 1.5em; }
  .block-small:nth-of-type(3), #footer .block-small:nth-of-type(3),
  .block-large.block-no-padding-after + .block-large {
    padding-top: 0;
  }

  .block-full {
    border: none;
  }

  #colleagues {
    margin-right: 0px;
  }

  .qer {
    width: 100%;
    height: auto;
    padding-left: 70px;
  }

  .qer img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0; left: 0;
  }
  .qer .name {
    color: #000;
    text-shadow: none;
    top: 0; left: 0;
    background: none;
    font: 25px 'Permanent Marker', cursive;
    position: relative;
  }

  .qer .contactData {
    position: relative;
    display: block;
    font-size: 12px;
  }

  .visual iframe, #blog-posts iframe { width: 100%; }

  .fb_iframe_widget,
  .fb_iframe_widget > span,
  .fb-comments iframe[style],
  .fb-comments iframe {width: 100% !important;}

  .subcontent {
    width: 100%;
    border-top: none;
    margin: 0;
    padding: 0;
  }

  .subcontent h2 {
    float: none;
  }

  .subcontent p,
  .subcontent ul {
    float: none;
    width: auto;
  }

  #facts .block-small { width: 100%; }

  .intro-outro { padding: 40px 0; }
  .intro-outro ul { width: 450px;}
  .intro-outro li { margin: 0;}

  /* end 620 */
}



@media all and (max-width: 480px) {

  body {
    background: #eee;
  }


  #loading {
    top: 114px;
  }

  #mobile-menu-icon {
    display: block;
    position: absolute;
    z-index: 5;
    top: 1em; left: 1em;
    color: white;
    cursor: pointer;
  }
  #mobile-menu-icon:hover { color: #ffc;}
  #mobile-menu-icon:active { -webkit-transform: scale(0.9);}
  #header ul {
    position: absolute;
    top: 0; left: 0;
    z-index: 6;
    width: 150px;
    margin-top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: ease-in-out -webkit-transform .2s;
    -moz-transition: ease-in-out -moz-transform .2s;
    -ms-transition: ease-in-out -ms-transform .2s;
    transition: ease-in-out transform .2s;
  }
  /* show Home link */
  header ul li:first-child { display: block; }
  body.show-mobile-menu {
    overflow-x: hidden;
  }
  body.show-mobile-menu #page {
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
  }
  #header li {
    display: block;
    margin: 0;
    line-height: 25px;
  }
  #header li a {
    display: block;
    padding: 10px;
    color: #000;
    text-shadow: none;
    border-bottom: solid 1px #ccc;
    text-align: left;
  }
  #header li a:hover {
    background-color: #fff;
    color: #555;
  }
  #header li a:active {
    background: -webkit-linear-gradient(top, #ccc, #eee);
    color: #555;
  }
  .lights-off #header li a:hover {
    background-color: #444;
    color: #ddd;
  }
  .lights-off #header li a {
    border-bottom-color: #444;
  }

  #particles { display: none; }
  #header li:last-child { margin: 0; }
  #logo img, #logo object { height: 80px;}

  header h1,
  .body,
  .block-small > p,
  .block-small > ul,
  .block-large .intro
  { padding: 0px 16px; }

  .block-large { padding: 0; }
  .block-text h1 { font-size: 39px; }
  .block-large .intro { float: none; }

  .block-large h2 { padding-left: 0; }
  section h2, .block-large > .body h2 {
    margin-top: 20px;
  }

  .block-small > ul, #blog-sidebar ul {
    padding-left: 40px;
  }

  body section,
  .block-large .body,
  .block-large .visual,
  .block-large .block-small,
  .block-large .block-small .body,
  .block-large .intro,
  .block-large .block-small .visual { width: 100%; }

  .blog .block-text h1, .subcontent h2, .socialShare {
    padding: 0 16px;
  }

  .container,
  #footer > section { width: 100%; }
  .readmore { margin-right: 10px; }

  #footer section,
  #footer .block-small,
  #footer .block-small .body,
  #footer .block-small .visual { width: 100%; }
  #footer .block-small:nth-of-type(3) { width: 100%; padding-top: 0;}
  #footer > section > h1 { font-size: 40px; }
  #footer h2  { padding-left: 16px; }
  #facebookLikeBox { margin: 16px;}
  #footer .iconList { margin: 16px; }

  #blog-posts { float: none;}
  #blog-posts img { max-width: 100%;}
  #blog-posts h1 { font-size: 1.5em;}
  .blog .comments { padding: 0 16px 40px 66px; }


  .intro-outro h1 { font-size: 2em; }
  .intro-outro p { font-size: 1em; }
  .intro-outro ul { width: 150px; }
  .intro-outro li { float: none; margin-bottom: 1em;}

  #colleagues .intro + aside { display: none; }

  .qer {
    padding-left: 70px;
  }

}
/* end 480 */
