/* A dark style for the Q42 site */

.lights-off

  color #efefef
  background-color #222
  -webkit-font-smoothing antialiased

  .block-text h1 b, .blog h1 b, article h2, .block-large > figure > .body > h2
    color #efefef

  a:link, a:visited
    color rgb(0, 154, 255)

  nav a:link, nav a:visited
    color white

  .block-text, .block-large, .block-full
    border-bottom-color #444

  .block-readmore
    background transparent

  .polaroid h3
    color #222