@import "0_variables.styl"

body, #loading
  background #eee

#page
  background transparent

#header
  nav ul li
    font-size .9rem
    font-weight 500

gradient-box()
  position relative
  z-index 0
  background-image -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#0e8ff5, #64b7fb 90%)
  background-image -moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-moz-linear-gradient(108deg,#0e8ff5, #64b7fb 90%)
  background-image -ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-ms-linear-gradient(108deg,#0e8ff5, #64b7fb 90%)
  background-image radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),linear-gradient(108deg,#0e8ff5, #64b7fb 90%)
  background-color rgb(39, 127, 168)
  color white
  fontSmoothing antialiased
  box-shadow 0 2px 2px rgba(0,0,0,.18)
  text-shadow 0 1px 0 rgba(0,0,0,.3)
  &:after
    display block
    content ""
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index -1
  // &:only-of-type:after
  //   background-image radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),linear-gradient(108deg,#26d0ce,#1a2980 90%)
  // &:nth-child(2n):after
  //   background radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)), linear-gradient(108deg,#7f1475,#FF4475 90%)
  // &:nth-child(3n):after
  //   background radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)), linear-gradient(108deg,#2AC1BD,#65CC4B 90%)
  // &:nth-child(5n):after
  //   background radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)), linear-gradient(108deg,#632AC1,#B791F4 90%)

blockquote
  margin 0

  &:before
    content: "“"
    font-size 3rem
    font-family serifTitleFont
    float left

  p
    font-family serifTitleFont
    padding 0 2.5rem

  cite
    font-style normal

.container
  .block-large, .block-full, .block-text
    border-bottom none
  .block-large
    background #fff
    padding 32px
    margin 0 0 16px 0
    box-shadow 0 1px 1px rgba(0,0,0,.18)
    border-radius 3px
    &.block-no-padding-after
      margin-bottom 0
      border-bottom solid 2px #eee
      border-bottom-left-radius 0
      border-bottom-right-radius 0
      & + .block-large
        border-top-left-radius 0
        border-top-right-radius 0
    &.block-no-padding
      padding 0
      & + .block-large
        border-top-left-radius 0
        border-top-right-radius 0
    &.blog:first-child
      margin-top 64px
  .block-full.intro-outro
    blockquote p
      font-size 2rem !important

  .visual
    position relative
    width 100%
    img, video, iframe
      width 100%
    img, video
      height auto
    .hover
      position absolute
      top 0
      left 0
      opacity 0
      z-index 1
      transition opacity ease .2s
    &.swap-hover:hover
      .hover
        opacity 1

  section h2, .block-large > .body h2
    font-size 1.5rem

  .block-large > .body
    margin -32px 32px -32px -32px
    padding 32px
    background aliceblue
    & + .visual
      margin -32px
      height 100%

  .block-large.right > .body
    margin-right -32px
    margin-left 32px

  aside.subcontent
    padding 32px
    margin-top -64px
    gradient-box()

    a
      color white
      opacity .7

    ul
      margin 0
      padding 0 0 0 1rem

    h2
      margin 1.5rem 0
      &:first-child
        margin-top 0

  #colleagues
    .intro
      width inherit
      margin 0
      doFlex 13

      .qer
        margin 0 8px 8px 0

    aside
      margin-right 0
      doFlex 5

      #filter-options
        margin inherit
        padding inherit
        a
          background-color rgba(255,255,255,.2)
          &:hover
            color white
            background-color rgba(255,255,255,.3)

  .censored
    color black
    background black
    padding 0 4px

#footer
  .fn
    display none

@media (max-width 940px)

  .block-large
    flexDirection column

  .container

    .block-small
      &:first-child
        margin-right 0
      &:not(:first-child)
        margin-top 32px

    .block-large
      .intro
        margin-right 0
        width inherit

    .block-large.blog
      flexWrap inherit
      flexDirection column

    .blog .blog-posts, .blog .blog-post
      margin-right 0
      max-width 100%

    .block-large > .block-small:first-child:nth-last-child(2), .block-large > .block-small:first-child:nth-last-child(2) ~ div
      max-width inherit

    aside.subcontent
      margin 32px -32px -32px -32px

    .block-large > .body + .visual
      margin 64px 0 0 0

    .block-large.right .body
      order inherit
      margin-left -32px

    .block-large > .body
      margin-right -32px

  #footer
    .visual
      width 100%


@media (max-width 620px)

  .block-small
    min-width inherit

  .container aside.subcontent
    margin-top inherit
    width inherit

  .container
    #colleagues
      aside
        margin-right -32px

@media (max-width 480px)

  .container .block-large.blog:first-child
    margin-top 32px

  .block-small > ul, #blog-sidebar ul
    padding-left 0

  .container .block-large .body
    width 100%
