@import "0_variables.styl"

.container

  // we need to apply position: relative or the elements
  // will be hidden beneath the backgrounds in firefox
  .block-text
    position relative

  .block-large
    position relative
    margin 0 auto 16px auto
    &.solid
      background #fff
      box-shadow 0 1px 1px rgba(0,0,0,.18)
    &.block-no-padding-after
      margin-bottom 0
    &.block-no-padding
      padding 0
    &.blog
      // to accommodate tumblr's weird image width
      @media (min-width 540px)
        width 540px
      @media (max-width 539px)
        max-width 100%

    @media (max-width 940px)
      flexDirection column
      .intro
        margin-right 0
        width inherit
      &.blog
        flexWrap inherit
        flexDirection column
      &.right .body
        order inherit

    @media (max-width 480px)
      &.blog:first-child
        margin-top 32px

    & > .body
      margin 0
      padding 32px
      background-color rgba(0,0,0,.8)
      color white

      @media (min-width 940px)
        position absolute
        width 40%
        z-index 99
        bottom 0
        left 1rem

      & + .visual
        height 100%
      h2
        font-size 2rem
        text-align center
        smallcaps()
        font-style italic
      h3
        text-align center
        color rgba(255,255,255,.7)
        fontSmoothing antialiased
      a
        color white
        border-color rgba(255,255,255,.7)
        &:hover
          border-color white

    &.right > .body
      right 1rem
      left inherit

@media (max-width 940px)

  .blog .blog-posts,
  .blog .blog-post
    margin-right 0
    max-width 100%

  .block-large > .block-small:first-child:nth-last-child(2),
  .block-large > .block-small:first-child:nth-last-child(2) ~ div
    max-width inherit
