@import "0_variables.styl"

.container

  // we need to apply position: relative or the elements
  // will be hidden beneath the backgrounds in firefox
  .block-text
    position relative

  .block-large
    position relative
    margin 0 auto 16px auto
    background #fff
    box-shadow 0 1px 1px rgba(0,0,0,.18)
    &.block-no-padding-after
      margin-bottom 0
    &.block-no-padding
      padding 0
    &.blog:first-child
      margin-top 64px

    @media (max-width 940px)
      flexDirection column
      .intro
        margin-right 0
        width inherit
      &.blog
        flexWrap inherit
        flexDirection column
      &.right .body
        order inherit

    @media (max-width 480px)
      &.blog:first-child
        margin-top 32px

    & > .body
      margin 0
      padding 32px
      background-image radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)), linear-gradient(0deg, rgba(0,0,0,.9), rgba(0,0,0,0.5))
      color white

      @media (min-width 940px)
        position absolute
        width 40%
        z-index 99
        bottom 0
        left 1rem

      & + .visual
        height 100%
      h2
        font-size 2rem
        text-align center
      h3
        text-align center
        color rgba(255,255,255,.7)
        fontSmoothing antialiased
      a
        color white
        border-color rgba(255,255,255,.7)
        &:hover
          border-color white

    &.right > .body
      right 1rem
      left inherit

@media (min-width 940px)
  .booklet
    margin-top 32px
    margin-bottom 32px
    perspective 2000px

    .block-small
      background white
      &:first-child
        transformOrigin right
        box-shadow -10px 0 20px rgba(0,0,0,.1)
        transform rotateY(15deg)
      &:last-child
        transformOrigin left
        transform rotateY(-15deg)
        box-shadow 10px 0 20px rgba(0,0,0,.1)



@media (max-width 940px)

  .blog .blog-posts,
  .blog .blog-post
    margin-right 0
    max-width 100%

  .block-large > .block-small:first-child:nth-last-child(2),
  .block-large > .block-small:first-child:nth-last-child(2) ~ div
    max-width inherit
