@import "variables.styl"

.post-date
  color rgba(0,0,0,.7)
  margin-top .5rem
  margin-bottom 0
  font-size .9rem

.socialShare
  margin 64px auto
  white-space nowrap
  div:not(:last-child)
    margin-right 1rem

.block-tags
  font-size smaller

.tags
  padding 0
  list-style-type none
  display flex
  flex-wrap wrap
  margin 0
  li
    margin-right 4px

.reblog
  background url(assetsUrl + '/images/reblog.svg') 98% 16px no-repeat
  background-size 24px

.blog
  display flex
  justify-content space-between
  margin 0 auto

  // prevent the facebook like box from appearing behind "other posts"
  position relative
  z-index 99

  h1
    margin 0
    font-size 2rem
    a
      border-bottom none
    @media (max-width: 480px)
      font-size 1.5rem

  img
    max-width 100%
    box-sizing border-box

  @media (max-width 480px)
    img, iframe
      max-width 100%

.blog-posts, .blog-post
  flex 5
  padding 32px
  @media (min-width 480px)
    padding 0
    width 100%

.blog-post
  h2
    font-size 1.3rem

.blog-item
  padding 32px
  margin 0 -16px
  @media (min-width 480px)
    padding 64px 128px
    margin 0 -128px
  border-bottom solid 1px #ccc
  &:first-child
    padding-top 0
  &:last-child
    border-bottom none

#other-posts
  h2
    text-transform none
    font-style normal

#pageNav
  margin 32px 0
  ul
    display flex
    justify-content center
    list-style none
    margin 0
    padding 0
  a
    color qColor
    border none
    padding 16px
    &:hover
      background #fff
  .active
    border-bottom 5px solid #ccc
