/* Syntax hightlighting */
/* Vibrant Ink Theme */
/* Original theme - http://alternateidea.com/blog/articles/2006/1/3/textmate-vibrant-ink-theme-and-prototype-bundle */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
  color: white;
}

@media screen {
  /* string content */
  .str {
    color: #88c546;
  }

  /* a keyword */
  .kwd {
    color: #ff9900;
  }

  /* a comment */
  .com {
    color: #9933cc;
  }

  /* a type name */
  .typ {
    color: rgb(95, 179, 255);
  }

  /* a literal value */
  .lit {
    color: #8899cc;
  }

  /* punctuation */
  .pun {
    color: white;
  }

  /* lisp open bracket */
  .opn {
    color: white;
  }

  /* lisp close bracket */
  .clo {
    color: white;
  }

  /* a markup tag name */
  .tag {
    color: white;
  }

  /* a markup attribute name */
  .atn {
    color: #99cc99;
  }

  /* a markup attribute value */
  .atv {
    color: #66ff00;
  }

  /* a declaration */
  .dec {
    color: white;
  }

  /* a variable name */
  .var {
    color: white;
  }

  /* a function name */
  .fun {
    color: #ffcc00;
  }
}

/* Style */
pre.prettyprint {
  color: white;
  background: #222;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
  font-size: 14px;
  line-height: 1.2;
  padding: 10px;
  overflow-x: hidden;
}
pre.prettyprint code {
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace !important;
}

pre code span:first-child {
  white-space: nowrap;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}