@import "../../../styles/variables.styl"

@media (min-width 620px)
  .block-full:first-child
    margin-top 100px
    margin-bottom 100px

.startingpoints
  span
    margin 0 1rem
  a
    font-weight 500
    border none
    text-decoration underline

.newslist
  width 600px
  margin 0 auto 3rem auto
  border-bottom solid 1px rgba(255,255,255,.3)

  & > h2, & > p, & > p a
    color white
  & > p
    margin 40px 0 !important
  & > h2, & > p
    text-align center
  & > h2
    font-weight 300
    font-style italic
    smallcaps()

  @media (max-width 600px)
    width 100%

.newsitem
  perspective 2000px
  animation-fill-mode forwards !important
  animation scaleUp 0.6s cubic-bezier(.34,.91,.62,1.09)
  border-bottom solid 1px #555
  // font-family monoFont

  for i in (2..10)
    &:nth-child({i})
      animation-delay 0.1s * i

  .col:last-child
    flex 4

  h2
    font-size 24px
    color qColor
    margin-top 0

  a
    display flex
    justify-content space-between
    align-items center
    border none
    color white
    background-color #222
    padding 2rem
    font-weight 300
    &:hover
      color white
      h2
        text-decoration underline
        color qColor + #333


  p
    margin-top 0

  .metadata
    display flex
    justify-content space-between
    align-items center
    font-size .8rem
    color rgba(255,255,255,.7)

  .author
    float right
    img
      vertical-align middle
      border-radius 50%
      object-fit cover
      width 32px
      height 32px

  .image
    width 150px
    height 150px
    margin-left -120px
    margin-right 1rem
    overflow hidden
    border solid 10px #333
    border-radius 50%
    img
      object-fit cover
      width 150px
      height 150px
