<template name="blog">
  <section class="blog">
    <header class="block-text loading"><h1>We<b>blog</b></h1></header>

    <div id="blog-posts">
    {{#each post}}
      <article class="block-large {{#if description}}reblog{{/if}}">
        <div class="bigText">
          <!-- video -->
          {{#if player}}
            <h1><a href="/blog/post/{{id}}/{{slug}}">Filmpje</a></h1>
            {{> postDate}}
            {{#each player}}
              {{#ifWidthEquals 250}}
                {{{embed_code}}}
              {{/ifWidthEquals}}
            {{/each}}
            {{{caption}}}
          {{/if}}
          <!-- image(s) -->
          {{#if photos}}
            <h1><a href="/blog/post/{{id}}/{{slug}}">Foto's</a></h1>
            {{{caption}}}
          {{/if}}
          <!-- quote -->
          {{#if text}}
            <h1>"{{{text}}}"</h1>
            {{#if source}}
            <p>—{{{source}}}</p>
            {{/if}}
          {{/if}}
          <!-- reblog -->
          {{#if description}}
            <h1><a href="{{url}}">{{title}}</a></h1>
          {{/if}}
          <!-- text post -->
          {{#if intro}}
            <h1><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></h1>
            {{> postDate}}
            {{{intro}}}
            <p class="block-readmore">
              <a href="/blog/post/{{id}}/{{slug}}" class="readmore">Lees verder</a>
            </p>
          {{/if}}
        </div>
      </article>
    {{/each}}
    </div>

    {{> blogSidebar}}

    <nav id="pageNav" class="loading">
      <ul class="clearfix">
        {{#each pagination}}
          <li>
            <a href="/blog{{#if tag}}/tagged/{{tag}}{{/if}}/page/{{page}}"
              {{#if active}} class="active"{{/if}}>{{label}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>
  </section>
</template>

<template name="blogpost">
  {{#with post}}
    <section class="blog">
      <article>
        <article class="block-large">
          <div class="bigText">
            <div style="width:100%;height:1px"></div>
            {{#if player}}
              <h1><b>Filmpje</b></h1>
              {{> postDate}}
              {{#each player}}
                {{#ifWidthEquals 500}}
                  {{{embed_code}}}
                {{/ifWidthEquals}}
              {{/each}}
              {{{caption}}}
            {{/if}}
            {{#if photos}}
              <h1><b>Foto's</b></h1>
              {{> postDate}}
              {{{caption}}}
              {{#each photos}}
                <p><figure>
                {{#each alt_sizes}}
                  {{#ifWidthEquals 500}}
                    <img src="{{url}}">
                  {{/ifWidthEquals}}
                {{/each}}
                  <figcaption>
                    {{{caption}}}
                  </figcaption>
                </figure></p>
              {{/each}}
            {{/if}}
            {{#if description}}
              <h1><b><a href="{{url}}">{{title}}</a></b></h1>
              {{{description}}}
            {{/if}}
            {{#if body}}
              <h1><b>{{title}}</b></h1>
              {{> postDate}}
              {{{body}}}
            {{/if}}
          </div>
          {{> blogSidebar}}
        </article>

        {{#unless isPhantom}}
          <div class="socialShare" style="margin: 10px 0 40px; height: 50px;">
            <div class="twitterShare" style="float: left;">
              <a href="https://twitter.com/share" class="twitter-share-button"
                data-url="http://q42.nl/blog/post/{{id}}/{{slug}}" data-via="q42">Tweet</a>
            </div>
          </div>
        {{/unless}}

        {{> tags}}

      </article>

      {{#unless isPhantom}}
      <div id="disqus_thread" style="margin-top: 1em"></div>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      {{/unless}}

    </section>
  {{/with}}
  {{{debug post}}}
</template>

<template name="postDate">
  <p class="post-date">Geschreven op <abbr>{{prettyDate}}</abbr></p>
</template>

<template name="tags">
{{#if tags}}
  <div class="block-tags">
    <ul class="tags">
      {{#each tags}}
        <li>
          <a href="/blog/tagged/{{this}}">{{this}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
</template>

<template name="otherPosts">
  <h2>Ook op Q42.nl</h2>
  <ul>
    {{#each post}}
      <li><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></li>
    {{/each}}
  </ul>
</template>

<template name="blogSidebar">
  <div class="block-small subcontent loading" id="blog-sidebar">
    <h2><strong>Web</strong>log</h2>
    <p>Dit is het blog van Q42, waarin Q'ers schrijven over hun werk, passie en het leven bij Q42.</p>
    <p>Diezelfde Q'ers zijn ook actief op Twitter. We hebben een lijstje gemaakt, kijk maar: <a href="https://twitter.com/q42/q-ers">Q'ers op Twitter</a>. En je kunt ons natuurlijk ook volgen op <a href="http://twitter.com/q42">@q42</a>.</p>
    {{#unless isPhantom}}
      <iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="128" src="http://platform.tumblr.com/v1/follow_button.html?button_type=1&tumblelog=q42nl&color_scheme=light"></iframe>
    {{/unless}}
    <br/><br/>
    {{> otherPosts}}
  </div>
</template>