<template name="blog">
  <section class="blog">
    <header class="block-text"><h1>We<b>blog</b></h1></header>
    {{#each postGroup}}
      <section class="block-large index-page">
        {{#each this}}
          <article class="block-small">
            <figure>
              <figcaption class="body">
                <h2><a href="/blog/post/{{id}}/{{slug}}">{{title}}</a></h2>
                <h3><abbr>{{prettyDate}}</abbr></h3>
                {{{intro}}}
              </figcaption>
              <a href="/blog/post/{{id}}/{{slug}}" class="big_ass_button">Lees verder</a>
            </figure>
          </article>
        {{/each}}
      </section>
    {{/each}}
  </section>
</template>

<template name="blogpost">
  {{#with post}}
    <section class="blog">
      <article>
        <article class="block-large">
          <div class="bigText">
            <h1><b>{{title}}</b></h1>
            {{{body}}}
          </div>
          <div class="block-small subcontent">
            <p>Geschreven op <abbr>{{prettyDate}}</abbr></p>
            {{#if tags}}
              <h2>Tags</h2>
              <ul class="tags">
                {{#each tags}}
                  <li>
                    <a href="/blog/tagged/{{this}}">{{this}}</a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </article>
      </article>
    </section>
  {{/with}}
</template>