<template name="games">
<section>
<section>
  <header class="block-text">
      <h1><b>Games</b>, digitaal en analoog</h1>
    </header>
    
    <article>
      <article class="block-large">
        <div class="bigText introText">
          <p>Peter Pan blijft altijd jong. Q-ers eigenlijk ook. Als grote kinderen bouwen we op "kantoor" met LEGO, beschieten teams elkaar met Nerf guns, spelen we tafelvoetbal, airhockey, Magic, Darten, Minecraft, op de Wii en Xbox 360, alles wat ons jong houdt.</p>
          <p>Maar we maken ook graag spellen. Om dat creatieve en katalyserende proces gezond in een bedrijf te passen zeggen we voortaan officieel dat we ook "games maken". Een soort pleziertherapie.</p>
          <p>Wat dan zoal? HTML5 games, native voor de iPad, een echt kaartspel en misschien een toekomstige breinkraker voor in de ochtendkrant... we slaan nieuwe wegen in waar we enorm veel van leren, genieten en trots op zijn.</p>
        </div>
        <div class="block-small subcontent">
          <h2>Zie ook</h2>
          <ul>
            <li><a class="external" href="http://q42games.com">Q42games.com</a></li>
            <li><a class="external" href="http://w00tcamp.nl">w00tcamp.nl</a></li>
            <li><a class="external" href="http://w00tcamp2011.tumblr.com">w00tcamp 2011</a></li>
          </ul>
        </div>
      </article>
    </article>
    

    <section id="catquest">
      <article class="block-large">
        <figure>
          <figcaption class="body">
            <h2>Cat Quest</h2>
            <h3>Puzzelen met Qwerty op de iPad voor jong en oud</h3>
            <p>Wat begon als een HTML5 game werd een ambitieus creatief iPad-only puzzelspel voor iedereen die van spelen en creëren houdt. Ga met de kleine, charismatische en vooral eenzame alien Qwerty op zoek naar gezelschap voor bij hem thuis op de bank, in de vorm van... katten.</p>
            <p>Spelers kunnen het verhaal volgen, zelf levels maken, delen en die van anderen spelen.</p>
            <p><a href="http://q42games.com/post/28627642073/our-ipad-game-has-a-name" class="external">Lees meer over Cat Quest.</a></p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/images/catquest.png" alt="Daar heb je Qwerty in z'n ruimteschip." />
              <p>Daar heb je Qwerty in z'n ruimteschip.</p>
            </a>
          </div>
        </figure>
      </article>
    </section>
    
    <section>
      <section class="block-large">
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/images/monkeykong2.png" alt="Volgens ons had Nintendo een spelfout."/>
              <p>Volgens ons had Nintendo een spelfout.</p>
            </a>
            <figcaption class="body">
              <h2>Monkey Kong II</h2>
              <h3>Een oude Nintendo remake</h3>
              <p>Nog vóór het bestaan van de Gameboy maakte Nintendo al spellen voor onderweg: "Game &amp; Watch" LCD spellen. Nostalgische fans die we zijn hebben we de klassieker Donkey Kong II nagemaakt in HTML5 voor op de iPad en iPhone. Alleen met een andere naam...</p>
              <p><a href="http://q42games.com/post/19776919740/donkey-kong-ii-on-ipad-in-html5" class="external">Toch maar een letter veranderd...</a></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/images/outnumbered-q.png" alt="Een getallenbrei. Of toch niet?"/>
              <p>Een getallenbrei. Of toch niet?</p>
            </a>
            <figcaption class="body">
              <h2>Outnumbered</h2>
              <h3>Met pen en papier door een getallenbrei</h3>
              <p>Een gepatenteerd puzzelspel wat je met pen en papier kunt spelen, maar natuurlijk ook op iPhone en iPad. We gaan binnenkort eens kijken in welke ochtendkrant we hem krijgen...</p>
              <!--<p><a href="http://attackoftheblockingissu.es/" class="external">Knallen maarrrr!</a></p>-->
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/images/spaceventure.png" alt="Samen met de makers van Space Quest!"/>
              <p>Samen met de makers van Space Quest!</p>
            </a>
            <figcaption class="body">
              <h2>SpaceVenture Kickstarter</h2>
              <h3>Adventuregamen in HTML</h3>
              <p>De makers van Space Quest wilden een nieuw avontuur gaan maken. We raadden ze aan om ook HTML5 als techniek te overwegen. Dat leidde tot een samenwerking met onze "oude helden" om tijdens hun Kickstarter campagne vijf speelbare prototypes te maken, ook voor de iPad. En de Kickstarter? Die is gehaald!</p>
              <p><a href="https://chrome.google.com/webstore/detail/spaceventure-living-conce/appnohofkacbfjjfedfapckmagkgbmdo" class="external">Speel prototype 5 direct in Chrome!</a></p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>
    
    <section id="carrrds">
      <article class="block-large right">
        <figure>
          <figcaption class="body">
            <h2>Carrrds!</h2>
            <h3>Een kaartspel voor piraten, jong en oud</h3>
            <p>Als Piraat M/V strijd je tegen één of meer tegenstanders om de meeste schatkaarten te veroveren en zo de rijkste landrot aan tafel te worden. Maar pas op, want ze vechten terug - met zwaarden, pistolen, voodoo-poppen en papegaaien!</p>
            <p>Dat is waar het in ons kaartspel Carrrds! om draait. We leggen de hand aan de laatste kaarten, gaan daarna de eerste test-decks laten drukken en we zien wel waar het avontuur ons brengt. Ons doel: Bart Smit en Bol.com!</p>
            <p><a href="http://q42games.com/post/33424222988/carrrds-the-gun-and-the-gunslinger" class="external">Lees meer over de ontwikkeling van Carrrds!</a></p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/images/carrrds-q.png" alt="Vanaf 5 jaar. Tot en met 100" />
              <p>Vanaf 5 jaar. Tot en met 100</p>
            </a>
          </div>
        </figure>
      </article>
    </section>

    <section>
      <section class="block-large">
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/images/mbb-q-2.png" alt="Wat een demo in 2 dagen kan doen"/>
              <p>Wat een demo in 2 dagen kan doen</p>
            </a>
            <figcaption class="body">
              <h2>Monolith Burger Boy</h2>
              <h3>Van HTML5 demo naar Kickstarter</h3>
              <p>"We gaan een adventure game maken in twee dagen" zei Martin. "Ok. Wanneer?" vroeg Richard. "Nu". En zo werd spontaan in een demo in elkaar gezet om de makers van Space Quest van HTML5 te overtuigen.</p>
              <p><a href="https://chrome.google.com/webstore/detail/monolith-burger-boy/pcbhpogkmlpjhpjmohlnpdojdcmelhfd" class="external">Speel de demo in Chrome</a></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/images/rgbgame.png" alt="The RGB Game"/>
              <p>Vet moelijk, man!</p>
            </a>
            <figcaption class="body">
              <h2>The RGB Game</h2>
              <h3>Award-winning HTML5 Chrome game</h3>
              <p>Wat krijg je als je wiskunde, een leuk idee en een Chrome Web Store Competition mixt? In het geval van Remco en Elaine: een vette game én een gewonnen Chromebook!</p>
              <p><a href="https://chrome.google.com/webstore/detail/hnieofmjopiiifehpejcgcpailcndege" class="external">Installeer de Chrome Web App</a></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/images/attackoftheblockingissues.png" alt="Attack of the Blocking Issues"/>
              <p>Game + schieten + space + 3D = retegoed idee!</p>
            </a>
            <figcaption class="body">
              <h2>Attack of the blocking issues</h2>
              <h3>HTML5 WebGL 3D space shooter. Omdat het kan.</h3>
              <p>Onze klanten moeten tegenwoordig wel even de moeite doen om een nieuwjaarscadeautje van ons te mogen ontvangen. In 2011 konden ze zich helemaal los laten gaan met Attack of the Blocking Issues, een HTML5 space shooter in 3D.</p>
              <p><a href="http://attackoftheblockingissu.es/" class="external">Knallen maarrrr!</a></p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>

    <section id="sarien">
      <article class="block-large">
        <figure>
          <figcaption class="body">
            <h2>Sarien.net</h2>
            <h3>Klassieke adventure games in HTML5</h3>
            <p>Martin's passie voor jaren '80 adventure games van Sierra uit zich in zijn Javascript-versie van de AGI game engine. Het resultaat: sarien.net, een website waarop je allerlei retrogames kunt spelen, van Space Quest tot Leisure Suit Larry.</p>
            <p>Nu ook op iPad!</p>
            <p><a href="http://sarien.net/" class="external">Klik niet op deze link als je vandaag nog iets gedaan wilt krijgen.</a></p>
          </figcaption>
          <div class="visual">              
            <a class="visual caption">
              <img src="/images/sariennet.png" alt="Sarien óp de iPad" />
              <p>Space Quest óp de iPad. Hihi!</p>
            </a>
          </div>
        </figure>
      </article>
    </section>

    <section>
      <section class="block-large">
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/images/settleit.png" alt="Once and for all..."/>
              <p>Once and for all...</p>
            </a>
            <figcaption class="body">
              <h2>Settle It!</h2>
              <h3>De winnaar van w00tcamp 2011</h3>
              <p>Elk jaar met <a href="/w00tcamp">w00tcamp</a> coden we samen met vrienden zoals Fabrique allerlei games en ander cool spul.</p>
              <p>In 2011 maakten Patrick en Benjamin de iPhone app Settle It! Een terechte winnaar!</p>
              <p><a href="http://settleitapp.com" class="external">settleitapp.com</a></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/images/quest42.png" alt="Ons virtuele kantoor in pixels"/>
              <p>Ons virtuele kantoor in pixels</p>
            </a>
            <figcaption class="body">
              <h2>Quest42</h2>
              <h3>So You Want To Be A Nerd</h3>
              <p>Met de sarien.net engine bouwden we een cadeautje voor onze klanten: een virtueel Q42 waarin ze op zoek konden gaan naar cadeaus en die ook claimen in real-life. De reacties waren op z'n zachtst gezegd "positief" ;)</p>
              <p><a href="http://quest42.nl" class="external">Ga naar quest42.nl</a></p>
            </figcaption>
          </figure>
        </article>
        <article class="block-small">
          <figure>
            <a class="visual caption">
              <img src="/images/peteralexandermemory-q.png" alt="Alleen van z'n goede kant natuurlijk"/>
              <p>Alleen van z'n goede kant natuurlijk</p>
            </a>
            <figcaption class="body">
              <h2>Peter Alexander Memory</h2>
              <h3>Het moeilijkste memoryspel ter wereld</h3>
              <p>In de tijd dat we nog geen Sonos hadden werd de platenspeler veelvuldig gebruikt bij Q. Nog altijd hebben we de platen van Peter Alexander, en het viel ons op dat zijn hele collectie ongeveer dezelfde foto's op de cover heeft. Sja, daar moesten we wat mee...</p>
              <p><a href="http://q42.nl/demos/201/" class="external">Gemaakt in 2001 en het werkt nog!</a></p>
            </figcaption>
          </figure>
        </article>
      </section>
    </section>
    
      <section>
        <section class="block-large">
          <article class="block-small">
            <figure>
              <a class="visual caption" href="http://www.youtube.com/watch?v=72HEef9XZdA">
                <img src="/images/jamesbondgame.png" alt="De James Bond Game was echt vet."/>
                <p>De James Bond Game was echt vet.</p>
              </a>
              <figcaption class="body">
                <h2><a href="http://www.youtube.com/watch?v=72HEef9XZdA" class="external">James Bond Game</a></h2>
                <h3>Voor Veronica. Helaas offline :(</h3>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption" href="http://www.youtube.com/watch?v=ecXrdlW-t5A">
                <img src="/images/blackbeard.png" alt="Ken je de film The Game. Zoiets was dit!"/>
                <p>Ken je de film The Game. Zoiets was dit!</p>
              </a>
              <figcaption class="body">
                <h2><a href="http://www.youtube.com/watch?v=ecXrdlW-t5A" class="external">Blackbeard Connection</a></h2>
                <h3>Een spannende cross-media reality game in Nederland met een echte schat van 50k. Ook helaas offline :(</h3>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <span class="visual caption">
                <img src="/images/cash.png" alt="Serious Games"/>
                <p>Zoals leren om met geld omgaan...</p>
              </span>
              <figcaption class="body">
                <h2>Serious Games</h2>
                <h3>Staan we altijd voor open.</h3>
              </figcaption>
            </figure>
          </article>
        </section>
      </section>
</section>
</section>
</template>