<template name="employees">
{{#each employee}}
<li>
<span class="name">{{name}}</span>
	<span class="contactData">
		<a href="mailto:alexander@q42.nl"><email>{{handle}}@q42.nl</email></a>
		<a href="tel:"><phone>{{phone}}</phone></a>
	</span>
	<img class="zw" src="/images/{{avatar_static}}" width="108" alt="{{name}}" title="{{name}}">
	<div class="polaroid">
		<a class="insetshadow">
			<img class="color" src="/images/{{avatar_animated}}" width="220" alt="{{name}}" title="{{name}}">
		</a>
		<h3><name>{{name}}</name></h3>
		<p class="contactData">
			<span class="email">
				<a href="mailto:{{handle}}@q42.nl"><email>{{handle}}@q42.nl</email></a>
			</span>
			<span class="phonenumber"><phone>{{phone}}</phone></span>
		</p>
	</div>
</li>
 
{{/each}}
</template>


<template name="over-q42">
  <section>
    <section>
      <header class="block-text">
        <h1>Over <b>Q42</b></h1>
      </header>
      
      <section>
        <article class="block-large">
          <div class="bigText introText">
            <p>Wie zijn Q42? 'Een technisch innovatief internetbureau', zeggen sommigen. 'Nerds', zeggen anderen. Wij zelf bijvoorbeeld, als we eerlijk zijn. We houden namelijk heel erg van goed programmeren.</p>
            <p>Maar dat is niet het hele verhaal. Computers zijn pas interessant met mensen erbij. We vinden het daarom nog leuker om zo te programmeren dat een webapplicatie niet alleen nuttig, maar ook vriendelijk is.</p>
          </div>
          <div class="block-small subcontent">
            <h2>Zie ook</h2>
            <ul>
              <li><a href="/interaction-engineering">Interaction engineering</a></li>
              <li><a href="/gereedschapskist">Onze gereedschapskist</a></li>
              <li><a href="/systeembeheersysteem">Ons systeembeheersysteem</a></li>
            </ul>
          </div>
        </article>
      </section>
      
      <section id="contact">
        <section class="block-large">
          <article class="block-small block-with-icons">
            <div class="body">
              <h2>Sociaal netwerken</h2>
              <ul class="iconList">
                <li class="phone-icon listIcon"><img src="/images/icon-phone.png" width="30" /><div>Bel ons: 070-4452342</div></li>
                <li class="mail-icon listIcon"><img src="/images/icon-email.png" width="30" /><div>Mail ons: <a href="mailto:info@q42.nl" title="mail Q42">info@q42.nl</a></div></li>
                <li class="twitter-icon listIcon"><img src="/images/icon-twitter.png" width="30" /><div>Tweet ons: <a href="http://www.twitter.com/q42" title="Q42 op Twitter" class="external">Twitter</a></div></li>
                <li class="like-icon listIcon"><img src="/images/icon-like.png" width="30" /><div>Like ons: <a href="http://facebook.com/q42bv" title="Q42 op Facebook" class="external">Facebook</a></div></li>
                <li class="googleplus-icon listIcon"><img src="/images/icon-googleplus.png" width="30" /><div>+1 ons: <a href="http://plus.google.com/112933340683830235543" title="Q42 op Google+" class="external">Google+</a></div></li>
              </ul>
            </div >
          </article>
          
          <article class="block-small block-with-icons">
            <address class="vcard body">
              <h2>Adres</h2>
              <span class="fn hidden">Q42</span>
              <ul class="iconList">
                <li class="adr address-icon listIcon">
                  <img src="/images/icon-address.png" width="30" />
                  <div>
                    <span class="street-address">Waldorpstraat 17F</span><br/>
                    <span class="postal-code">2521CA</span>&#160;<span class="locality">Den Haag</span>
                  </div>
                </li>
                <li class="adr address-icon listIcon">
                  <img src="/images/icon-address.png" width="30" />
                  <div>
                    <span class="street-address">Vijzelstraat 72, unit 4.23</span><br/>
                    <span class="postal-code">1017HG</span>&#160;<span class="locality">Amsterdam</span>
                  </div>
                </li>
                <li class="note kvk-icon listIcon"><img src="/images/icon-kvk.png" width="30" /><div>KvK 30164662 te Den Haag</div></li>
              </ul>
              <span class="hidden email"><img src="/images/icon-email.png" width="30" /><div>info@q42.nl</div></span>
                <span class="hidden tel"><img src="/images/icon-phone.png" width="30" /><div>070-4452342</div></span>
            </address>
          </article>
          
          <article class="block-small block-with-icons">
            <div class="body">
              <h2>Bereikbaarheid</h2>
              <ul class="iconList">
                <li class="car-icon listIcon">
                  <img src="/images/icon-car.png" width="30" />
                  <div>
                    <span>Met de auto?</span><br/>
                    <span><a href="http://maps.google.nl/maps?ie=UTF8&daddr=Q42,+Waldorpstraat+17F,+2521+CA" class="external">Naar Q42 Den Haag.</a></span><br/>
                    <span><a href="https://maps.google.nl/maps?ie=UTF8&daddr=vijzelstraat72+amsterdam" class="external">Naar Q42 Amsterdam.</a></span>
                  </div>
                </li>
                <li class="train-icon listIcon">
                  <img src="/images/icon-train.png" width="30" />
                  <div>
                    <span>Met de trein?</span><br/>
                    <span><a href="http://9292.nl/?naar=den-haag_waldorpstraat-17f" class="external">Naar Q42 Den Haag.</a></span><br/>
                    <span><a href="http://9292.nl/?naar=amsterdam_vijzelstraat-66-76" class="external">Naar Q42 Amsterdam.</a></span>
                  </div>
                </li>
              </ul>
            </div>
          </article>
          
        </section>
      </section>
      
      <section id="colleagues">
        <article class="block-full">
          <div class="body">
            <h2>Hallo, wij zijn de Q-ers</h2>
                <h3>Aangenaam kennis te maken.</h3>
                <ol>
                 	{{> employees }}  
                </ol>
          </div>
          <div class="clear"></div>
        </article>
      </section>
      
      <section id="facts1">
        <section class="block-large">
          <article class="block-small">
            <div class="body">
              <p>Q42 is méér dan de som van</p>
              <p class="counter">48</p>
              <p>Q'ers.</p>
            </div>
          </article>
          <article class="block-small">
            <div class="body">
              <p>Vandaag hebben wij al</p>
              <p id="koppen-koffie" class="counter">0</p>
              <p>koppen koffie op.</p>
            </div>
          </article>
          <article class="block-small">
            <div class="body">
              <p>En</p>
              <p id="regels-code" class="counter">0</p>
              <p>regels code geschreven.</p>
            </div>
          </article>
        </section>
      </section>
      
      <section id="theBeginning">
        <article class="block-large">
          <div class="bigText">
            <h2>Hoe het begon</h2>
            <p>Mede-oprichter Lon spreekt: 'Op een vrijdagmiddag in het voorjaar van 2000 rinkelde er een telefoon. De internetbubbel was enkele maanden eerder al ontploft, maar de knal moest Nederland nog bereiken. Alleen Nina Brink had het in de verte horen donderen en was druk bezig haar slappe was binnen te halen voordat de bui los zou barsten. Desalniettemin rinkelde er een telefoon.</p>
            <a class="visual caption">
              <img src="/images/42-douglas-adams-42.jpg" />
              <p>42.</p>
            </a>
            <p>Op het moment van rinkelen werkte ik bijna 3,5 jaar voor een snelgroeiend Nederlands internetburo. Begonnen op 1 januari 1997 als eerste medewerker, was ik nu de 'R&D Manager' van een bedrijf van, naar eigen overdrijven, ongeveer 150 internet professionals. Het was mijn telefoon die zo rinkelde. Een paar maanden voordat het rinkelen begon was ene Kars Veling mijn collega geworden. Kars bleek vanaf dag één een leuke, directe, maar vooral ook een slimme en rechtrapige collega te zijn. Het klikte. En het rinkelde. Nog steeds. Ik besloot dat er iets aan het rinkelen gedaan moest worden. 'Halloo, met Lon'. 'Hoi, met Kars, zullen we een eigen bedrijf beginnen?'. 'Ja, 's goed.'.'</p>
            <p>Velen hebben ons gevraagd waar de naam Q42 vandaan komt. We hadden vrij snel bedacht dat het getal '42' in onze bedrijfsnaam voor moest komen. Volgens 'The Hitchhiker's Guide to the Galaxy', een ongeëvenaard grappig boek van de veel te vroeg overleden Douglas Adams is 42 'the answer to the ultimate question of Life, the Universe and Everything'. <a href="http://www.google.nl/search?q=the+answer+to+life+the+universe+and+everything" class="external">Google beaamt dit.</a></p>
            <p>De 'Q' hebben we toegevoegd omdat '42' ons wat kaal leek. '42' staat voor 'Het Antwoord', zoals onze 'Q' staat voor 'The Question</p>
            <a class="visual caption">
              <img src="/images/q.jpg" />
              <p>Q.</p>
            </a>
            <p>'Q' is natuurlijk ook de man achter James Bond die alle technische wondertjes maakt. Daarnaast zijn 'the Q' een ras van omnipotent wezens in de voor nerds zo onontbeerlijke Star Trek-serie.</p>
            <p>En uiteraard speelde het feit dat destijds een domein uit puur het getal 42 niet aangevraagd kon worden geen enkele rol bij dit alles. Dat spreekt natuurlijk voor zich.</p>
          </div>
          <div class="block-small subcontent">
            <h2>Wist je dat...</h2>
            <ul>
              <li>...een regenboog altijd begint met een hoek van 42 graden?</li>
              <li>...het 42e ASCII-teken de * is, ook wel bekend als de "wildcard"?</li>
              <li>...het appartement van Fox Mulder nummer 42 heeft?</li>
              <li>...Facebook chat alleen voor het getal 42 een speciale emoticon heeft? Typ ":42:"</li>
              <li>...een marathon 42 kilometer is?</li>
              <li>...Microsoft's Windows 3.x logo 42 kleine vierkantjes bevat?</li>
              <li>...de eerste iPhone werd gepresenteerd met 9:42 in beeld?</li>
            </ul>
          </div>
        </article>
      </section>
      
      <section>
        <section class="block-large">
          <article id="passietijdw00tcamp" class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/images/kidsplaying.jpg" alt="w00t!"/>
                <p>w00t!</p>
              </a>
              <figcaption class="body">
                <h2>Passietijd & w00tcamp</h2>
                <p>Donderdagmiddag is passietijd bij Q42. Dat is tijd om te doen wat Q-ers passioneert. Zoals het bouwen van een Xbox 360 game, of een API om instructies te geven aan een plastic konijn zodat het schreeuwt als iemand foute code incheckt.</p>
                <p><a href="http://www.w00tcamp.nl">w00tcamp</a>, kleine w, twee nullen, en uitgesproken met een lange oe, is onze jaarlijkse passie-tweedaagse waar wij de hele vrijdag en zaterdag in teamverband losgaan op de populairste passieprojecten. Een soort Lowlands voor nerds, als het ware.</p>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/images/wayfinding.jpg" alt="" />
                <p>Wayfinding.</p>
              </a>
              <figcaption class="body">
                <h2>Zie ook</h2>
                <ul>
                  <li><a href="http://q42.com" class="external">Q42.com</a></li>
                  <li><a href="http://q42games.com" class="external">Q42games.com</a></li>
                  <li><a href="http://www.w00tcamp.nl" class="external">w00tcamp.nl</a></li>
                  <li><a href="http://towelday.nl" class="external">Towelday.nl</a></li>
                </ul>
              </figcaption>
            </figure>
          </article>
          <article class="block-small">
            <figure>
              <a class="visual caption">
                <img src="/images/knappekop.jpg" alt="Knappe kop."/>
                <p>Knappe kop.</p>
              </a>
              <figcaption class="body">
                <h2>Knappe kop?</h2>
                <p>Hou jij van programmeren? En maak jij graag mooi webspul? Dan willen wij graag met jou praten. Want wij zijn altijd op zoek naar een knappe kop.</p>
                <p>Stuur een mailtje naar Kars (<a href="mailto:kars@q42.nl">kars@q42.nl</a>) of Chris (<a href="mailto:chris@q42.nl">chris@q42.nl</a>), of bel 070-4452342.</p>
              </figcaption>
            </figure>
          </article>
        </section>
      </section>
    </section>
  </section>
</template>
